[2017-12-04 05:31] yurem commented on #391
Added docs to UMA token introspection endpoint

[2017-12-04 05:31] #391 closed

[2017-12-04 17:02] willow9886 commented on #637
@arvindsinghtomar please ping me on skype to discuss

[2017-12-04 17:06] dropped opened #710 "Problem to add users at the first time of login"
Hi there.

Always at the first time after login when I try to add users I got the screen attached.
![screenshot-1](https://user-images.githubusercontent.com/574533/33565422-3a2c9c36-d904-11e7-8c9e-843717357e7c.png)

I can fill all the form at the first time, and click in Add. So far it's ok, the issue happens when I try to add a second user clicking in "Add user" at left menu.

I got that error on

[2017-12-05 09:49] yuriyz commented on #688
Documentation is added with this link https://github.com/GluuFederation/docs-ce-prod/commit/c04a231691cf5328829aca0ea15637a30f57caf7

[2017-12-05 09:49] #688 closed

[2017-12-05 12:05] arvindsinghtomar commented on #637
@willow9886
ok

[2017-12-05 16:23] dmogn commented on #657
@yurem
I do not sure that we can implement it before this:
https://github.com/GluuFederation/oxShibboleth/issues/10

It is planned for 3.2.0. At now our SAML/CAS filter does not keep any IDP-side session, so I cannot redirect logout to CAS SP.
But by default - CAS mast be server-side session in Shib IDP. So, with fully supported flow we can implement the issue.

[2017-12-06 02:31] #699 closed

[2017-12-06 19:15] aliaksander-samuseu opened #717 "oxTrust need to display and log explicit warnings about email non-uniqueness"
Environment:
Ubuntu 14.04, gluu-server-3.1.1-1-8~trusty+Ub14.04

Preconditions:

1.  A valid xls file ready to be imported via oxTrust "Import People" feature, containing 5-10 people with unique usernames, but at least some of them containing non-unique emails (either the file itself contains duplicate email, or such email is already assigned to some user entry existing in Gluu's LDAP)

Steps to r

[2017-12-07 04:01] aliaksander-samuseu commented on #717
Created here by mistake, moved to oxTrust branch

[2017-12-07 04:01] #717 closed

[2017-12-07 22:16] #707 closed

[2017-12-13 21:14] qbert2k opened #719 "Allow to update oxDisabled attribute using Dynamic Client Registration endpoint"
1. Allow to update oxDisabled attribute using Dynamic Client Registration endpoint.
2. Add an automated test to validate the client is being disabled/enabled.

[2017-12-13 21:25] aliaksander-samuseu opened #720 "Add support for DELETE request to OIDC Dynamic Registration endpoint"
(Created per Javier's suggestion)
At the moment the only way to delete some client's registration via DynReg protocol seems to be to set its "client_secret_expires_at" metadata property to some data in the past, what triggers its autoremoval shortly. Supporting officially defined flow of deleting it would probably be a more clean approach.

Related RFC's section is [here](https://tools.ietf.org/ht

[2017-12-14 08:11] arvindsinghtomar opened #721 "New Passport login page with Saml Support"
Redesigned  for inbound saml external idp providers support ..

[2017-12-20 03:52] arvindsinghtomar commented on #267
@nynymike @yurem can you please explain what we are trying to achieve here?

[2017-12-20 04:49] arvindsinghtomar commented on #267
I talked to will regarding this issue.
As far I understand requirements we need to achieve similar functionality like the inbound-saml  passport .I think instead of creating new script again we can use the passport for this.

[2017-12-21 03:25] sahiliamsso commented on #692
Changes are not reflected in 3.1.2

[2017-12-21 03:57] arvindsinghtomar commented on #721
Implemented

[2017-12-21 03:57] #721 closed

[2017-12-21 03:59] sahiliamsso commented on #658
useCacheForAllImplicitFlowObjects is not showing up in oxAuth JSON configuration.

[2017-12-21 10:05] yuriyz commented on #658
@sahiliamsso not sure where you checking it but here is screen from ce-dev4 where `useCacheForAllImplicitFlowObjects` is present.

![implicitallobj](https://user-images.githubusercontent.com/2013070/34250975-2b7d4190-e647-11e7-9156-9255dfac7cae.png)

[2017-12-21 10:05] #658 closed

[2017-12-21 12:33] jgomer2001 commented on #692
Script was fixed in oxAuth and not transferred to community-edition
https://github.com/GluuFederation/community-edition-setup/commit/f2bc7c2e762d639cfce486d44a14b77f5b9d649a

[2017-12-21 14:38] yuriyz commented on #658
Default value has to be added in order to render it by oxtrust. It was added here
https://github.com/GluuFederation/community-edition-setup/commit/6dc75bc707da485d0dfc3d4805c77831f5542ce1

[2017-12-21 23:24] sahiliamsso opened #722 "Gluu3.1.2 QA - Passport page is broken"
1. Enable Passport Authentication,
2. Setup Configuration > Manage Authentication to use passport and try to login

Page shows broken links, and facbook/google icons are missing
![image](https://user-images.githubusercontent.com/21104811/34278941-dcbb1fb8-e6d3-11e7-9085-c33a2c09b35d.png)

[2017-12-22 00:05] sahiliamsso opened #723 "Gluu 3.1.2 QA - Not able to register user"
Enable "User Registration" and "Confirm User Registration" custom scripts, and try to register a user

Error
![image](https://user-images.githubusercontent.com/21104811/34279882-c504866a-e6d9-11e7-88eb-6f0d33283b6f.png)

Logs

2017-12-21 23:59:56,935 ERROR [qtp985655350-14] [org.gluu.oxtrust.action.RegisterPersonAction] (RegisterPersonAction.java:205) - Failed to register new user. Please make sur

[2017-12-22 00:37] willow9886 commented on #722
@arvindsinghtomar the design for this page **should not be hardcoded**.

1. if there are no external IDPs configured, the page should display the standard Gluu Server login page.

2. Only if there are external IDPs configured and accessible should we show the `External Providers` widget.

3. Only those external IDPs that are configured and accessible should be displayed in the External Providers w

[2017-12-22 07:15] arvindsinghtomar commented on #722
![enable_passport](https://user-images.githubusercontent.com/18719003/34288909-d6ac1a04-e715-11e7-9110-37d42c0b214c.png)

that time i have make that page dynamic with Enable passport support can't be visible social Icon

[2017-12-22 14:48] sahiliamsso commented on #723
Not an issue, It is working fine after solserver restart

[2017-12-22 14:48] #723 closed

[2018-01-03 23:32] qbert2k opened #724 "Improve JwtClaims.setClaim() to support types JSONObject and List<Object>"
https://support.gluu.org/customization/4917/what-types-are-allowed-in-for-claims-in-dynamic-scopes/#at28657

[2018-01-04 00:24] qbert2k commented on #724
Fixed for branches:
- master (3.2.0-SNAPSHOT)
- version_3.1.2
- version_3.1.1-Improve_JwtClaims_setClaim

[2018-01-04 00:24] #724 closed

[2018-01-06 03:15] sahiliamsso commented on #662
@aliaksander-samuseu checked, and it seems not yet fixed.

[2018-01-08 12:55] jgomer2001 opened #725 "UmaRptIntrospectionService returning expiration time different than umaRptLifetime"
Related to https://github.com/GluuFederation/SCIM-Client/issues/66

When doing

[code]

`rptStatus.getExpiresAt()` returns an offset of 300 seconds, but `oxAuthConfDynamic` LDAP entry has
"umaRptLifetime": 3600. May be returning the exp. time of PAT?

[2018-01-08 13:57] yuriyz commented on #725
Fixed in https://github.com/GluuFederation/oxAuth/commit/6c673ac73f31c3670d5c083b9d61f5c6ad8b4c24#diff-d9c0f3b3f695faf7b36579468c706c9d

[2018-01-08 13:57] #725 closed

[2018-01-11 21:30] nynymike opened #727 "U2F not working on reboot"
When I restart my server, I get this screen:

![image](https://user-images.githubusercontent.com/3717101/34848414-46ab44b4-f6e4-11e7-9ab7-237f2cb12671.png)

[tar of oxauth logs ](https://github.com/GluuFederation/oxAuth/files/1624165/oxauth_logs.gz)
[o=gluu LDIF](https://github.com/GluuFederation/oxAuth/files/1624164/gluu.ldif.gz)

[2018-01-12 06:31] qbert2k opened #728 "Username remember me feature in login page"
See support ticket: https://support.gluu.org/authentication/4526/username-remember-me-feature-in-login-page/

[2018-01-12 14:29] yurem commented on #727
According to this U2F can't load oxAuth metadata within 30 seconds:
[code]

30 seconds is not enough for your VM to start oxAuth. Can you apply [this ](https://github.com/GluuFederation/oxAuth/commit/3b7c6c3d65a06fec17fc40f87fb158b247ef032b) update to script. It increase timeout to 60 seconds

[2018-01-12 14:29] #727 closed

[2018-01-13 03:32] qbert2k commented on #728
Fixed in branches: master and version_3.1.2

[2018-01-13 03:32] #728 closed

[2018-01-16 17:42] #722 closed

[2018-01-16 17:43] #692 closed

[2018-01-16 21:12] amitbajaj45 opened #731 "First time browser access error"
Installed Gluu Server as per instructions on Ubuntu server . And first time browser access throw an error -
Please help with it.

ERROR [qtp212628335-19] [org.xdi.oxauth.exception.UncaughtException] (UncaughtException.java:41) - Jersey error
java.lang.NullPointerException: null
        at org.xdi.net.InetAddressUtility.getMACAddressOrNullImpl(InetAddressUtility.java:57) ~[oxcore-util-3.1.1.Final.j

[2018-01-16 21:19] #731 closed

[2018-01-17 08:16] qbert2k commented on #662
The problem can be reproduced with a specific configuration when pre-authz is false and persist is also set to false. #441

[2018-01-17 09:32] #662 closed

[2018-01-22 21:08] qbert2k commented on #728
Also fixed in branch: version_3.1.1-username_remember_me_feature_in_login_page

[2018-01-23 14:08] mzico opened #734 "`uniqueIdentifier` removal in replicated server / clustered Gluu Server"
In cluster; sometime we get error message in oxauth.log like below:

[code]

It might happen due to below reason:

1. both cluster read list of expired sessions from LDAP
2. One start to do this quicker by few seconds / ms
3. As result second throws error when it attempt to clean up session

We need to check LDAP exception error code. If it returns entry not exists error code we need to not log th

[2018-01-24 17:33] yurem opened #735 "Allow to customize messages.properties"
oxAuth/oxTrust should try to load message from folder ${server.base}/custom/messages first

Here is sample: https://stackoverflow.com/questions/35086113/how-to-put-jsf-message-bundle-outside-of-war-so-it-can-be-edited-without-redeplo

[2018-01-25 05:53] cstpraveen opened #736 "Gluu is not logging out if I call end_session endpoint"
User logged in to a OpenId Connect RP (or more) with a registered logout url at the OP.

Calling OpenID Connect end_session logout url with the id_token_hint BEFORE session timeout

If I call the above URL still the gluu is logged in.

I've just tried to view the Gluu server. It is still logging in.

[2018-01-25 17:57] nynymike commented on #736
Please move your issue to https://support.gluu.org

Make sure you include the logout request and ldif for the client.

[2018-01-25 17:57] #736 closed

[2018-01-26 10:03] yuriyz opened #737 "oxd 3.1.2 is compatible only with oxauth 3.1.2 and later. Need workaround for it and make it compatible with earlier version."
oxd 3.1.2 is compatible only with oxauth 3.1.2 and later because introspection format was changed. Need workaround for it and make it compatible with earlier version.
https://github.com/GluuFederation/oxauth/issues/696

[2018-01-26 15:31] yuriyz commented on #737
opened ticket on wrong project https://github.com/GluuFederation/oxd/issues/145

[2018-01-26 15:31] #737 closed

[2018-01-26 18:31] qbert2k commented on #677
Clarifying the above change, oxAuth is URL decoding the clientId and clientSecret so it will work with both cases:
[code]

https://github.com/GluuFederation/oxAuth/commit/6431ada6ede8fa2e338b0f40896bf3f31a473333
[code]

Also to make it more clear, I have added now a new test case using HTTP Basic Authentication in oxAuth with Url encoding client Id and client secret before perform the Base 64 enco

[2018-01-29 04:55] nynymike commented on #207
This should probably be implemented as a SCIM extension in oxTrust.

[2018-01-29 04:55] #207 closed

[2018-01-29 04:57] nynymike commented on #519
I'm closing this issue. A dynamic scope should not have sub-claims.

[2018-01-29 05:08] nynymike opened #738 "Subject controlled scope"
![image](https://user-images.githubusercontent.com/3717101/35494387-e738a6c6-047f-11e8-8e06-cdff1558d8bc.png)

An oxAuth admin should have the ability to specify that the release of a Scope is under the control of the subject. This is especially interesting in combination with "persist client authorizations"

[2018-01-30 02:46] nynymike commented on #738
nevermind... default scope already does this.

[2018-01-30 02:46] #738 closed

[2018-01-30 03:55] qbert2k opened #739 "Fix the list of scopes in the authorization page"
A dynamically registered client only gets the `openid` scope. Yet oxAuth is prompting for release of scopes like `profile` and `email` based on client request.   Although data is not being leaked, it oxAuth is presenting the wrong authorization message to the user.

We should also add a _**negative test**_ to reflect the above case.

[2018-01-30 05:54] yurem commented on #719
We have gluuStatus (active/inactive) in schema already. Can we use it?

[2018-01-30 20:15] #739 closed

[2018-02-01 01:54] qbert2k opened #742 "Update Dynamic Registration Management"
Update Dynamic Client Registration to rfc7591 and rfc7592.

- [OAuth 2.0 Dynamic Client Registration Protocol](https://tools.ietf.org/html/rfc7591)
- [OAuth 2.0 Dynamic Client Registration Management Protocol](https://tools.ietf.org/html/rfc7592)
- [OpenID Connect Dynamic Client Registration 1.0](http://openid.net/specs/openid-connect-registration-1_0.html)

Also check issues:
https://github.com/G

[2018-02-05 17:18] nynymike opened #743 "Add JSON property to enable admin to turn off authz for openid scope"
If a client has only openid scope and pairwise id, person should not have to authorize

[2018-02-09 21:24] aliaksander-samuseu opened #745 "Allow user to select type of cookie used by oxAuth"
Type of cookie (its expiration method, specifically) used by oxAuth has been changed recently:
![cookies_type_select](https://user-images.githubusercontent.com/11802046/36050630-496fcbc2-0df8-11e8-8daf-779e6e06d71a.png)
This changes the way of how at least some of browsers treat it, and we've already had complaints from users who were relying on this behaviour in 2.4.4 Per Yuriy M's suggestion, wo

[2018-02-12 17:10] yuriyz opened #746 "add client_id to RPT introspection"
add client_id to RPT introspection

![image](https://user-images.githubusercontent.com/3717101/36119952-35d7257c-1007-11e8-899a-b36bea2794bb.png)

[2018-02-13 08:30] yuriyz commented on #746
added for 3.1.3

[2018-02-13 08:30] #746 closed

[2018-02-14 09:15] yuriyz opened #747 "RPT introspection : we must keep it compatible with OAuth2 introspection and return seconds in exp"
RPT introspection : we must keep it compatible with OAuth2 introspection and return seconds in exp

[2018-02-14 09:54] yuriyz opened #748 "UMA RPT Policy evaluator : if no policies it grants access. We have to make it configurable (e.g. deny instead of grant)"
Right now evaluator scans for policies associated with scopes. If there is no any policy (list is blank) then we do not invoke evaluator at all and grant access directly.

From one side it is ok because protection is made by policy. No policy - no protection -> Granted.
But from other side I guess we have to forbid access because we will grant access even if admin for forget to specify policy.

[2018-02-14 09:54] yuriyz commented on #748
@nynymike what do you think ?

[2018-02-15 13:23] yuriyz commented on #747
done in 3.1.3 branch and in master

[2018-02-15 13:23] #747 closed

[2018-02-15 17:07] nynymike commented on #748
Perhaps this should be configurable in the JSON properties?

[2018-02-15 18:40] yuriyz commented on #748
Agreed, lets make it configurable.

[2018-02-15 20:47] nynymike opened #749 "Enable client to restrict javascript origin"
Google's allows developers to manage Javascript origins on a per client basis:

![js-origin](https://user-images.githubusercontent.com/3717101/36280135-f1672842-125e-11e8-92f4-b742aecd2c93.png)

We need to do this too.

[2018-02-15 22:13] nynymike opened #750 "Add CIBA support to oxAuth"
Client initiated Backchannel Authentication Flow specifies a new authentication flow, by means of which the RP's that know the user identifier they want to authenticate (e-mail, phone number), will be able to initiate an interaction flow to authenticate their users without having end-user interaction from the consumption device. The flow is a direct communication from the Client to the OpenID Prov

[2018-02-16 17:03] yurem opened #751 "Update Saml script to allow sign request"
I merged [this ](https://github.com/GluuFederation/oxCore/pull/14) pull request into oxCore. Now we need to apply small update to Saml script. Here is part of description from pull request:
[code]

[2018-02-23 18:35] aliaksander-samuseu opened #752 "It seems oxAuth doesn't return claims in id_token when "response_type=id_token" is used"
Environment:
CentOS 7.3, gluu-server-3.1.2-1-4.centos7

According to [OIDC core spec](http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims):

My tests seem to show that when "response_type=id_token" is used by RP/client, `id_token` returned in a response still contains only basic set of mandatory claims.

For example, request like this:
[code]
...triggers response like this:
[code]
Dec

[2018-02-23 19:20] nynymike commented on #752
[code]

Try changing it to `true` ?

[2018-02-23 20:51] afroDC opened #753 "Create Authorization Script to check BCrypt Hash"
Our default encryption method for stored passwords in OpenLDAP from 3.0.* to 3.1.2 is BCrypt. OpenDJ does not support BCrypt, so we need to develop an authorization script that utilizes a python library that can verify the passwords using this hashing algorithm.

Here is one example:

http://passlib.readthedocs.io/en/stable/index.html

http://passlib.readthedocs.io/en/stable/lib/passlib.hash.bcryp

[2018-02-24 18:53] yurem commented on #735
Now oxAuth/oxTrust reads messages from: `/opt/gluu/jetty/<oxauth|identity>/custom/i18n

[2018-02-24 18:53] #735 closed

[2018-02-25 18:05] nynymike opened #754 "Add description and oxdID to client metadata"
1. Add `description` and `oxdID` to LDAP objectclass `oxAuthClient`.
2. Add an optional `description` and `oxdID` parameter to client registration / client update API's
3. Add `description` and `oxdID` field to oxTrust form

[2018-02-25 19:09] nynymike opened #755 "Add creation and expiration dates to UMA resource entry"
We should track resources creation date, and having an expiration date could help with housecleaning.  There is a [corresponding oxTrust issue](https://github.com/GluuFederation/oxTrust/issues/864) to display the creation date which would need to be adjusted if we save a more permanent creation date.

[2018-02-25 20:28] nynymike opened #756 "OAuth Scope Refactoring"
We should combine all scopes under `ou=scopes,o=(org-inum),o=gluu`

The current implementation results in an **Inconsistent primary key**--for OpenID scopes, the primary key is 'displayName'... in UMA scopes the primary key is `oxID`.

`displayName` should not be the primary key for the scope... this is contrary to the meaning of the attribute's name, which implies that it is for display purposes

[2018-02-26 15:37] yurem commented on #753
We also can try to use this method during user entries migration to LDAP server which not supports BCrypt

[2018-02-26 15:38] yurem commented on #519
Here is support ticket related to with this issue: https://support.gluu.org/access-management/5139/gluu-312-dynamic-scopes-missing-oxauthclaimss-values-on-scope/

We need to re-open issue again and move to 3.1.3 and try to fix solution for this.

[2018-02-26 16:12] nynymike commented on #753
![image](https://user-images.githubusercontent.com/3717101/36681182-84a1a1d8-1add-11e8-96ea-7a6dddb4bac6.png)

[code]

[2018-02-26 18:21] yurem commented on #706
It's configurable via: https://github.com/GluuFederation/community-edition-setup/blob/master/static/auth/conf/otp_configuration.json#L5

[2018-02-26 18:21] #706 closed

[2018-02-27 12:45] yuriyz commented on #566
done

[2018-02-28 16:13] yurem opened #758 "FIDO U2F application id should be either IP/DNS"
Current Gluu FIDO U2F API expects that `application id` is DNS name. But Gluu CE can be installed for testing purposes with IP instead of hostname. As result FIDO U2F not works well. In [U2F spec](https://fidoalliance.org/specs/fido-u2f-v1.2-ps-20170411/fido-u2f-overview-v1.2-ps-20170411.html#expanding-u2f-to-non-browser-apps) there is no information that `application id` should not be IP. I think

[2018-02-28 16:19] #758 closed

[2018-03-01 15:27] yuriyz commented on #687
done in master and 3.1.3 branches

[2018-03-01 15:27] #687 closed

[2018-03-02 14:44] LorisBachert opened #759 "Scopes from request object get compared to reduced list of scopes during authorization"
When passing a request object during authorization the scopes i passed as query parameter and the scopes i passed inside my request object get compared. Unfortunately the scopes i passed as query parameter get filtered by checking the policy. Therefore the scopes differ and i get an exception.
So, for example, if i pass the scopes "profile email" as url paramter and in my request object i have `sc

[2018-03-02 14:46] LorisBachert opened #760 "Audience passed via the request object during authorization is ignored"
While parsing the request object in the constructor of `JwtAuthorizationRequest` the audience member of the object is ignored.
While building the user info response jwt the audience is set by using:
[code]
Therefore it doesn't matter which audience i'd pass via the request object, i'd still get the client id as my audience.

[2018-03-05 21:36] nynymike commented on #750
May need to break this into several sub-tickets.

[2018-03-06 08:01] yurem opened #762 "Multi LDAP basic authenticaton script should update authentication metrics"
This script creates LdapEntrymanagers and call authentication methods directly without updating authentication counters. It should update statistics to allow build right diagram in oxTrust home page.

[2018-03-06 15:33] yurem commented on #762
Implemented

[2018-03-06 15:33] #762 closed

[2018-03-07 12:41] yuriyz commented on #755
done

[2018-03-07 12:41] #755 closed

[2018-03-07 14:44] yuriyz commented on #664
Extra parameter should be possible to sent via `params` json key, sample json
[code]
[code]

[2018-03-07 16:51] aliaksander-samuseu opened #763 "Allow to provide list of possible claims bound to a specific dynamic scope in corresponding OP's metadata elements"
This is a suggestion from a customer. Prior to Gluu CE 3.x it was possible to easily add a static claim/attribute to the list of claims displayed on the properties page of dynamic scope in web UI. This static list wasn't used for actual claims' release (this still was handled by corresponding Jython script), but was adding all those claims to OP's metadata's "scope_to_claims_mapping" element in ne

[2018-03-08 21:47] afroDC opened #764 "Create oxAuth JSON property to disable fido u2f endpoints"
Administrators need to be able to disable fido u2f explicitly inside oxTrust's `JSON Configuration`

[2018-03-13 09:43] syntrydy opened #765 "In oxauth-rp the authorization code is not copied into the code input field of the token endpoint section"
The javascript code provide at the bottom of [this ](https://github.com/GluuFederation/oxAuth/blob/master/RP/src/main/webapp/home.xhtml)page is not working any more on Gluu Server 3.1.2. Hence the fields that were supported to get their value from this script aren't populated.

This is due to the fact that the current script is looking for hash sign (#) in url to extracts url parameters. The hash

[2018-03-13 10:01] #765 closed

[2018-03-13 10:01] syntrydy commented on #765
Fixed here https://github.com/GluuFederation/oxAuth/pull/766

[2018-03-13 17:09] syntrydy opened #767 "Could you add these authorization code request and response sections in a future version of oxauth-rp"
Authorization Endpoint is not followed like the others by a "Code Request" and "Code Response": it looks like it was overlooked. In this case it would have been useful in order to copy manually the code from the response.

It would be useful for a newbie to see the HTTP exchange related to the Authorization Endpoint form.

[2018-03-14 16:09] yuriyz commented on #664
done

[2018-03-14 16:09] #664 closed

[2018-03-14 16:14] qbert2k commented on #752
oxIncludeClaimsInIdToken=true solves it.

[2018-03-14 16:14] #752 closed

[2018-03-14 17:12] yurem commented on #754
1. Added new attributes to OC: https://github.com/GluuFederation/community-edition-setup/commit/8d2165c79e4da8cc588393846b92eb0a1e5e15b2
2. Client Registration API already supports custom attributes already. Here is example: https://github.com/GluuFederation/oxAuth/blob/master/Server/src/test/java/org/xdi/oxauth/ws/rs/ClientInfoRestWebServiceEmbeddedTest.java#L78

[2018-03-14 17:33] yurem commented on #754
3. oxTrust changes: https://github.com/GluuFederation/oxTrust/commit/fc9bb465c25b1cc2a5f72bbb62906474bebe56c8

[2018-03-14 17:33] #754 closed

[2018-03-14 19:45] wasiqulhuq opened #768 "oxAuth showing error when trying to SSO using SAML SP"
Perform following steps to reproduce,
1. Install 3.1.3 with Shibboleth
2. Create trust relationship with sample SP ( in this case, I used a shibboleth sp )
3. Try to do SSO.

Observe that login page not coming and oxAuth throwing following error,

`{"error":"unsupported_response_type","error_description":"The authorization server does not support obtaining an access token using this method.","stat

[2018-03-14 19:47] wasiqulhuq commented on #768
[code]

[2018-03-15 19:33] yurem commented on #768
I applied changes to conform current data set. Can you try to deploy latest: http://ox.gluu.org/maven/org/xdi/oxshibbolethIdp/3.1.3-SNAPSHOT/oxshibbolethIdp-3.1.3-SNAPSHOT.war ?

[2018-03-16 17:40] yurem commented on #768
I'm closing it. Please, reopen it after testing if needed.

[2018-03-16 17:40] #768 closed

[2018-03-16 20:43] wasiqulhuq commented on #768
issue retested and found fixed

[2018-03-17 15:37] yurem opened #769 "Restore authentication script parameters from session with right simple java type"
There is simple API which allows to put parameters in session in multi steps flow. Also authenticator restores them automatically from session before calling authenticate/prepareForStep. There is one issue. It restores all parameters as strings. It should restore them as Integer, Date, String. Without this we need to use explicit type convertations like we do [there](https://github.com/GluuFederat

[2018-03-19 16:06] mtgluu commented on #720
Will this feature be something that can be disabled via oxtrust such that if disabled, it will throw a 403/405 back to the client? or, if dynamic registration is already disabled in whole would this already fail?

[2018-03-20 15:12] yuriyz commented on #748
done

[2018-03-20 15:12] #748 closed

[2018-03-23 02:35] aliaksander-samuseu opened #770 "Fields don't match in userinfo and entrospection endpoints' responses"
#Environment:

CentOS 7.4, gluu-server-3.1.2-1-4.centos7

Preconditions:

1. A test Gluu instance is deployed
2. A test OIDC RP is deployed
3. The RP is configured to use the Gluu Server and any OIDC flow which assumes `userinfo` endpoint will be contacted. Client's properties at Gluu are more or less standard.
4. Means to recover `access_token` and see full `userinfo` response  to use in subseque

[2018-03-23 07:53] yuriyz commented on #770
Fixed in 3.1.3

[2018-03-23 07:53] #770 closed

[2018-03-26 13:41] yurem commented on #519
I've alternative solution:
Instead of adding list of claims to dynamic scope we can make this more smarter.
We can add one additional method to dynamic scope script:
`List<String> getSupportedClaims()`
This will conform dynamic_scopes scopes idea. And not requires any GUI changes.

[2018-03-27 05:50] yurem opened #772 "UMA Introspection endpoint throw NPE when access sub claim"
[oxauth.log](https://github.com/GluuFederation/oxAuth/files/1850578/oxauth.log)

[2018-03-27 08:53] yuriyz commented on #772
fixed in 3.1.3 and master

[2018-03-27 08:53] #772 closed

[2018-03-27 20:33] willow9886 commented on #141
Still marked as Draft: https://tools.ietf.org/html/draft-ietf-oauth-device-flow-08

[2018-03-28 03:21] #749 closed

[2018-03-28 05:22] pfeliprada opened #773 "Persist Client Authorizations"
Hi I posted in Gluu forums about an issue regarding Persist Client Authorizations and I was advised by Michael to bring it here. Here is the link referring to my post in Gluu https://support.gluu.org/single-sign-on/5281/persist-client-authorizations/.

I would like to persist my users before proceeding to the "main page" which is the page I put in my Redirect Login URI. I can do this by setting th

[2018-03-28 06:03] pfeliprada commented on #773
**UPDATES**

Correction: It does not redirect to the post logout redirect URI instead it proceeds to the "main page" followed with this error in the url: error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request.&state=1elzooc#

[2018-03-28 09:25] pfeliprada commented on #773
**UPDATES**

Hi I would also like to ask is the "Persist Client Authorizations" page can be localized based on our language? lets say French language. I tried to change my language to Russian but the "Persist Client Authorizations" page is still english.

THANKS AGAIN!

[2018-03-28 13:19] nynymike commented on #773
agreed

[2018-03-29 02:14] pfeliprada commented on #773
Thank you!

[2018-03-30 08:35] yurem commented on #519
Implemented

[2018-03-30 08:35] #519 closed

[2018-03-30 08:58] yurem commented on #763
Implemented alternative solution which conform dynamic copes idea. New dynamic scope script should has new method `getSupportedClaims`. Example:
[code]
Plus to tell Script Manager that it's new script version you should increase version number in `getApiVersion` method. Example:
[code]

[2018-03-30 08:58] #763 closed

[2018-03-30 13:37] critchie55 opened #774 "School Dude Work Center Login"
My Company uses School Dude to manage our work order and Pm's and I use the Work Center App on my Android phone to login. We'll at some point the Management Team added this SSO software and has been working fine until the other week. Now, I cannot login with my phone. The message I get is as follows;

"SSL Error - Android detected a problem with the SSL certificate on your Single Sign-On page and

[2018-03-30 14:07] willow9886 commented on #774
Hi Carl,

We have no control over it... so there's not much we can do. Gluu publishes open source software, and organizations use it as they see fit.

Best of luck!

[2018-03-30 14:07] #774 closed

[2018-04-02 21:36] jgomer2001 opened #777 "Misnomers in passport icons prevents usage of certain social strategies of passport"
Rename passport icons (in `oxAuth/Server/src/main/webapp/auth/passport/img`) or fix passport login form to properly show the images.

![missing twitter icon](https://user-images.githubusercontent.com/5444180/38217397-d61ca77a-3693-11e8-9940-0dc47220f736.png)

When the image is not found, one cannot click on the corresponding link, and thus, that particular integration becomes useless.

It seems th

[2018-04-03 05:02] qbert2k commented on #743
Added new configuration entry:
"skipAuthorizationForOpenIdScopeAndPairwiseId": true

[2018-04-03 05:02] #743 closed

[2018-04-03 20:34] qbert2k commented on #773
See ticket: https://support.gluu.org/single-sign-on/5281/persist-client-authorizations/

[2018-04-04 16:32] yurem opened #778 "Update crypto-js to latest version"

[2018-04-09 18:21] nynymike opened #779 "OpenID configuration: frontchannel_logout_supportedreturns value as string, not boolean"
[code]

This should be a boolean, like

[code]

[2018-04-11 03:43] qbert2k commented on #779
Fixed in master and version_3.1.3 branches.

[2018-04-11 03:43] #779 closed

[2018-04-11 09:51] ptsankov opened #780 "Use of SHA-1 in JweEncrypterImpl.java and JweDecrypterImpl.java"
The above implementations use the older SHA-1 hash function:

[code]

SHA-1 is considered insecure and it is suggested to switch to a newer version.

[2018-04-12 20:20] willow9886 opened #781 "Add new endpoints for FIDO 2 / W3C web authentication"
https://fidoalliance.org/specs/fido-v2.0-ps-20170927/fido-client-to-authenticator-protocol-v2.0-ps-20170927.html

[2018-04-13 10:08] yurem commented on #780
@qbert2k can you review this update. I've changed SHA-1 -> SHA-256

[2018-04-13 22:02] nynymike opened #782 "Import clients with existing client_ids"
If an organizations already has existing OAuth clients, and these need to be imported, there should be a way. See [5246](https://support.gluu.org/5246) and [4310](https://support.gluu.org/single-sign-on/4310/how-to-customize-client_id/)

[2018-04-13 22:12] mtgluu commented on #782
Ticket 5246 referenced above is not visible. It puts a red banner at the top of the page:
"You are not authorized to view this ticket. If you think this is a mistake, please email support@gluu.org."

[2018-04-13 22:15] willow9886 commented on #782
Yep, private tickets visible to gluu staff and customer named contact only.

[2018-04-13 22:44] mtgluu commented on #782
Ah OK. I assume 5246 is related to the export from the existing system? I can't see that tkt but I had to do the same thing recently which is why I this github ticket was interesting. It was a pretty clean process to export from one system and import into the other.

The noteworthy items after importing to the new system:

I did have to reset the pwd so it was encrypted using the keys on the new g

[2018-04-14 02:25] qbert2k commented on #780
@yurem: It's working fine.

[2018-04-15 12:27] jgomer2001 opened #783 "pairwiseIdentifiers branch does not appear when using persistent strategy"
Using 3.1.3 RC4 (centos 6)

When setting the oxAuth JSON property for pairwisetype to "persistent"

![persistent](https://user-images.githubusercontent.com/3717101/34447064-1233edb4-eca6-11e7-88f3-2deded622813.png)

The sub-tree under the person entry: `ou=pairwiseIdentifiers,inum=(person-inum),ou=people,o=(org-inum),o=gluu` does not appear when logging in to applications.

[2018-04-16 19:27] yurem commented on #780
@qbert2k Thank you for feedback.

[2018-04-16 19:27] #780 closed

[2018-04-16 19:36] qbert2k opened #784 "Add support for Token Revocation"
OAuth 2.0 Token Revocation
https://tools.ietf.org/html/rfc7009

[2018-04-16 19:36] yurem commented on #783
Why it should persist algorithmic identifiers? According to the code there is no random part in it. Hence this [method](https://github.com/GluuFederation/oxAuth/blob/08f9e4cf379aca47becf4ef769722849def47e48/Server/src/main/java/org/xdi/oxauth/service/PairwiseIdentifierService.java#L84) looks like regenerate same identifier.

[2018-04-17 00:55] nynymike commented on #783
If you don't persist the pairwise id, it will not be searchable. In some cases, we need to remember which ppid is associated with a person. Also, if the client_ids in the sector_identifier_uris change, it may change the ppid?

[2018-04-17 06:42] yurem commented on #783
We already persist in LDAP `persistent` pairwise Id. This ID is GUID. And it's easy to use it in search, etc.. Also it's not dependents on any keys, client inum, etc... It's associated with specific hostname only.

`algorithmic` is the HMACSHA256 signature. Since it's byte based signature it's not very useful to use it in search. Also it's easy to change it. Admin just need to change pairwiseCalcu

[2018-04-17 16:10] yurem commented on #783
@jgomer2001 to enable `pairwise:persistent` you should do:

1. Enable `persistent` pairwise id type in oxAuth JSON config.
2. In client specify `Subject Type: pairwise`

[2018-04-17 16:10] #783 closed

[2018-04-17 19:23] mzico opened #785 "Add support for CacheProvider/Redis authentication"
Right now the CacheProvider(**) is only accepting `hostname:6379` to connect Redis server.
A request came from customer to add authentication section for Redis server.

(**)

[code]

[2018-04-17 19:32] yurem commented on #785
According to the Redis library code it's possible to implement.
1. RedisStandaloneProvider should use constructor with password to create pool.
2. JedisShardInfo uses URI which contains password too. Example:
[code]

What do you think to use this URI instead of server:port?

[2018-04-17 21:02] #785 closed, assigned to yuriyz

[2018-04-18 06:43] mzico commented on #785
Noted... thanks @yuriyz

[2018-04-19 18:35] jgomer2001 opened #787 "Supply more external methods for client operations"
Allow to call external logic when client updates take place

Currently we have [ExternalDynamicClientRegistrationService](https://github.com/GluuFederation/oxAuth/blob/version_3.1.3/Server/src/main/java/org/xdi/oxauth/service/external/ExternalDynamicClientRegistrationService.java) but it’s only called upon client registration.

We should add more methods.

[2018-04-23 16:35] mzico opened #788 "twilio 3.1.3 not working"
Twilio not working in 3.1.3 ( Error at the time of authentication ).

Here are what we tried:

- Properties:
![twilio313properties](https://user-images.githubusercontent.com/7156097/39140462-3bb5169c-46ea-11e8-925c-d3d7e1dabca3.png)

- Script using: https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/twilio_sms/twilio2FA.py

- Error in oxauth_script.log:

[code]

- Script:

[c

[2018-04-23 16:47] leheljozsef opened #789 "Add support for id token upon token refresh"
It is not mandatory but it's used more and more by applications doing OIDC integration (example: Kubernetes). It would be a great addition to the oxAuth token refresh capability.

[2018-04-23 17:48] bhammond604 opened #790 "ID token's audience claim should be a string when there is only one value"
The value of the ID token's audience claim is currently represented as an array (['AUDTOKEN']), even if there is only one value, which has been causing errors when testing against OpenID's certification testing tool (https://github.com/openid-certification/oidctest).

Instead of an array, the value of the audience token should be a string ('AUDTOKEN') when there is only one value.

[2018-04-23 18:05] syntrydy commented on #788
The user use to test twillio OTP should have at least on phone number registered and his attribute phoneNumberVerified should be set to true.

https://gluu.org/docs/ce/authn-guide/sms-otp/#using-sms-otp

[2018-04-23 19:30] mzico commented on #788
Confirming the fix, @yurem

[2018-04-23 19:30] #788 closed

[2018-04-23 20:55] qbert2k opened #791 "Dynamic Registration: Minor request - add new info logger"
Request from ticket #5371
https://support.gluu.org/access-management/5371/dynamic-registration-minor-request-add-new-info-logger/

[2018-04-25 02:44] qbert2k opened #795 "Allow to set the pairwiseIdType (algorithmic/persistent) on a client basis"
If it were changed to client we would still need the ability to prevent clients from registering with "public" like we can today.

See ticket: https://support.gluu.org/identity-management/5362/pairwise-identifier-bugnew-default-behavior/
See #294

[2018-04-25 12:32] syntrydy opened #796 "User should be redirect to error page instead of login when an exception occurs during external authentication"
# Description

Currently user is redirected to login page when exception occurs during external authentication.
Normally, user should be redirected  to error page.

[code]

https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/auth/Authenticator.java#L324

[2018-04-25 18:17] yurem opened #797 "Implemented migration password script from BCRYPT to SSHA"
User passwords migration from 3.0.x-3.1.2 isn't possible because OpenDJ 3.0 not supports BCRYPT passwords scheme.
We need to do next:
1. Add new custom script `pwd_migration`
2. I should check if user password in BCRUPT format.
3. If the password is bcrypted it should check submitted password with hash from LDAP.
4. Send user LDAP request to persist password to store it in new format.

[2018-04-26 08:51] mzico commented on #796
@yurem @syntrydy : Do you think it's possible to patch 2.4.4 sp3 ? We need that one customer's production.

[2018-04-26 14:13] syntrydy commented on #796
For me yes, since the adjustment we have to do don't have touch their custom custom code. We can provide a patch.

Currently [this customer](https://support.gluu.org/identity-management/5085/redirect-to-oxauthloginhtm/#at32801) need the patch .

[2018-04-26 14:44] jgomer2001 opened #798 "Relax log level when claims gathering script name is blank"
In UMA, when the corresponding authz script returns an empty name in `getClaimsGatheringScriptName` method, we are [logging](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/uma/service/UmaNeedsInfoService.java#L87) an error statement.

Some users getting confused with this error when the interactive claims gathering does not apply as in the case of SCIM or

[2018-04-26 15:19] yurem opened #799 "If custom script getPageForStep throws error Authenticator shoudl redirect to error page"
According to current code Authenticator redirects to login page instead of error page on `getPageForStep ` method execution error:
[code]

It should redirect to `erorr` page.

We also need to check if other script which provides page has sum issue.

[2018-04-26 15:31] yurem commented on #799
issue #796 already exists

[2018-04-26 15:31] #799 closed

[2018-04-26 16:14] yuriyz commented on #798
@jgomer2001 'getClaimsGatheringScriptName' returns script name which will be invoked when need_info error is returned. It means that it is runtime information. If we have situation when we don't neeed claims gathering maybe we can introduce constant, like 'NO_SCRIPT' which makes it very verbose to end-user that no claims gathering is involved. What do you think?

[2018-04-26 17:14] jgomer2001 commented on #798
I agree, it's a more expressive way

[2018-05-02 18:29] aliaksander-samuseu opened #800 "Userinfo can't be contacted with access_token issued during resource owner creds grant flow if redirect_uri is not specified for the client"
Environment:

CentOS 6.9, gluu-server-3.1.3-1-2.RC6.centos6

Steps to reproduce:

1. Login to web UI as admin user and create an OIDC client's registration with properties similar to provided in the LDIF dump below; at least "openid" scope must be attached to it; **do not specify any `redirect_uri`**:
[code]
2. Follow resource owner's credentials grant's flow to acquire `access_token`; next reques

[2018-05-08 08:32] burcinbozkurt commented on #442
Hello,

I have encountered with the same problem, did you already fix the problem? we have been using Gluu 2.4.4.sp2 on Centos 7. We do not want to upgrade to 3.0.0 since we do not have experience on Jetty?
It seems the milestone is added to 2.4.4.3 and modified to CE 3.0.0??
Is there a way to fix the problem in 2.4.4.sp2 with library upgrade or so??

[2018-05-08 10:44] yurem commented on #267
We can implement next flow which uses Gluu-Passport:
![inbound saml](https://user-images.githubusercontent.com/6104200/39752768-19d3190c-52c5-11e8-878f-e3338733b03f.png)
[code]
Here si plan:
1. Add new enpoint to trigger Inbound SAML flow,
2. RequestingPartyId -> OpenID client mapping. We need new json config file:
[code]
3. Prepare AuthZ request and send user profile as signed JWT via custom para

[2018-05-09 13:07] ashtexsolutions opened #801 "Getting NullPointerException whlie authorizing user"
Hi,

I am trying to integrate oxd-https extension while authorizing the users from OP, but getting error when trying to authorize the user i.e I am using get-auhtorization-url endpoint but when click on login button on AS(Authorization Server) then it gives NullPointerException error.

Then i figured out that `skipAuthorizationForOpenIdScopeAndPairwiseId` configuration property on oxauth was set t

[2018-05-09 17:50] yurem opened #802 "NPE during end_session if client is expired and does not exist in LDAP anymore"
The more information with stack trace is here: https://github.com/GluuFederation/gluu-gateway/issues/94

NPE occurs here:
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/session/ws/rs/EndSessionRestWebServiceImpl.java#L203-203

[2018-05-11 20:44] aliaksander-samuseu opened #803 ""acr_values" contains "null" in introspection endpoint's response"
Environment:

CentOS 6.9, gluu-server-3.1.3-final

Preconditions:

1. A fully configured OP(Gluu)+RP setup using authz code OIDC flow
2. "uma_protection" scope is amongst scopes requested by RP
3. Specific auth method is requested by RP with `acr_values=` parameter

Steps to reproduce:

1. After a successful OIDC flow harvest issued `access token`
2. Use `access token` at introspection endpoint. B

[2018-05-11 21:03] mzico opened #804 "pre-fix value for access token"
A customer has two instances of Gluu (one employee and one for citizens & enterprise). For token validation and data retrieval from the backend, they need to know where the taken came from, so as not to duplicate every call. Can we create an oxAuth JSON property that enables a string to be prefixed to each access token?

When complete, update private support ticket 5444

[2018-05-12 09:59] yuriyz commented on #803
Fixed for 3.1.4 and in master.

[2018-05-12 09:59] #803 closed

[2018-05-12 10:56] yuriyz commented on #798
Done for 3.1.4 amd master. Added 'no_script' check. It is possible to return this value inlined or otherwise constant from 'UmaConstants'.

[2018-05-12 10:56] #798 closed

[2018-05-15 10:18] yuriyz commented on #802
Fixed in 3.1.4 and in master.

[2018-05-15 10:18] #802 closed

[2018-05-15 16:44] nynymike commented on #801
Yuriy, can you take a look at this. I'm not sure if  it's a bug.

[2018-05-16 08:57] yuriyz commented on #801
@nynymike fixed. @qbert2k Please make sure you check on null configuration properties otherwise we can get NPE as described in this ticket.

[2018-05-16 08:57] #801 closed

[2018-05-16 09:37] syntrydy opened #807 "OTP 2FA / enrollment page + login page"
see https://github.com/GluuFederation/oxTrust/issues/970

[2018-05-16 09:58] syntrydy commented on #807
![screenshot from 2018-05-16 10-55-47](https://user-images.githubusercontent.com/7513418/40110499-01b44088-58f8-11e8-972d-8a68bcf5c9ae.png)

[2018-05-16 12:33] syntrydy commented on #807
![screenshot from 2018-05-16 13-31-48](https://user-images.githubusercontent.com/7513418/40117015-8ec45f5c-590d-11e8-90c9-659d6dbb66d3.png)

I think it is okay for this page

[2018-05-16 20:46] qbert2k opened #809 "Add support for account switching"
Add support for prompt = select_account

See ticket: https://support.gluu.org/access-management/5403/authorize-with-select-account/

[2018-05-16 21:07] mtgluu commented on #809
Javier is this related to account chooser? (http://openid.net/wg/ac/)

[2018-05-21 08:56] yurem opened #810 "Add Opentracing support"
Check this out: http://opentracing.io/documentation/pages/instrumentation/instrumenting-frameworks
opentracing.io
Instrumenting Frameworks · Opentracing

[2018-05-22 06:58] yuriyz opened #811 "Upgrade to Jackson 2.x (from current Jackson 1.x)"
oxauth is using old Jackson 1.x while most of the newest libs sticks to Jackson 2.x. It leads to conflicts and dependency redundancy.

[2018-05-22 19:14] qbert2k opened #812 "Restrict requesting claims individually"
Allow to configure restrictions (per client) to request claims individually.

[2018-05-22 20:12] yuriyz opened #813 "CleanupTimer has to run in own connection pool to not effect oxauth performance"
Background are described in this support ticket.
https://support.gluu.org/access-management/5456/uma-ticket-cleanup-strategy-in-ldap/

[2018-05-23 15:30] syntrydy opened #814 "Pass-social didn't fill all user information"
# Description

When login using passport social, the user created in Gluu ldap don't contains all information required and provide in json user profile object.

[2018-05-25 07:58] syntrydy opened #816 "Review the prepareForStep method of passport social script"
# Description
 Currently the method prepareForStep of passport script seems useless.

That method is https://github.com/GluuFederation/oxAuth/blob/version_3.1.4/Server/integrations/passport/PassportExternalAuthenticator.py#L277

1. It return true even in case of error
1. The execution of that method always throw an exception on the third line after the try catch block
1. Removing the try catch blo

[2018-05-25 10:50] mzico opened #817 "Add startSession and endSession methods to application_session script"
`application_session` script. Here is [sample](https://github.com/GluuFederation/community-edition-setup/blob/master/static/extension/application_session/SampleScript.py#L35).

oxAuth calls it after getting `end_session` request. In 3.1.4 we can add additional method to this interface to call it on `authenticated` session creation. Both method will get SessionId object with all attributes includin

[2018-05-25 20:11] yuriyz commented on #694
@afroDC @isman @nynymike Standalone connection connects to one single redis server. If we add failover then it will be implemented programatically on oxcore project and means following:
1. if connection is to server1 and server2 then oxcore will connect to server1 first.
2. if server1 is unavailable then to server2.
3. if oxauth is connected to server1 during some time and then crashed then it mea

[2018-05-26 00:16] nynymike commented on #694
Let's hold on this. I thought we were using a redis proxy, so we don't need failover. Can't this be handled at the network level (i.e. use a virtal IP for the redis proxy which can route to one or more servers).

[2018-05-30 01:48] afroDC commented on #694
@nynymike giving cache redundancy by having some sort of replication topology requires a smarter jedis client to handle one of the servers throwing an error and refusing connections. As it stands, twemproxy can't route traffic to a redis-cluster topology and using something like dynomitedb for replicating data instead doesn't give twemproxy the necessary signals it needs to know a redis-server is

[2018-05-30 01:50] afroDC commented on #694
Alternatively, we could try to build something if we don't want to modify oxCore.

[2018-06-01 15:07] yuriyz opened #819 "UMA 2 : restrict access to resource by associated client (make it configurable)"
UMA 2 : restrict access to resource by associated client (make it configurable)
`RestrictResourceSetToAssociatedClient`

[2018-06-05 14:04] yurem commented on #230
It's 2 years old issue. And I'm not sure that it's actual since we not implemented it already.

This grant type is not very popular.In this flow RP asks user for password and send it directly to RS
As far as I remember it uses endpoint without browser to get token.
The only one place which we can cover with scripts here is user and client password validation. oxAuth can call script with `service`

[2018-06-05 19:56] nynymike commented on #230
OpenID Connect CIBA from the MODRNA group also addresses back channel authentication, which would be preferred.

[2018-06-06 14:33] mzico opened #820 "Stack trace on 'Failed to load session from LDAP'"
As we don't store session in LDAP now I think it will be better if we can remove stack trace like below from code.

[code]

[2018-06-06 16:00] yurem opened #821 "Remove hardcoded code from passport page"
We have this problematic [line](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/webapp/auth/passport/passportlogin.xhtml#L313). I think instead of checking if there are only hard-coded methods it should just check if this is `idp` provide and use for it specif redirect url.

Also we can't use hard-coded image names [here](https://github.com/GluuFederation/oxAuth/blob/master/Se

[2018-06-06 16:38] yuriyz commented on #820
While message is correct the word `LDAP` is mis-leading here indeed. Fixed in 3.1.4 and master.

[2018-06-06 16:38] #820 closed

[2018-06-13 21:28] aliaksander-samuseu opened #822 "Add a new attribute's type to handle attributes containing JSON data more gracefully in OIDC flows"
**A bit of context:**

Currently, if an attribute's type is text, and a JSON object is stored in it, when this attribute's value is included in JSON object of `/userinfo` response during an OIDC flow, it's re-encoded as a regular string value.

Example:
A JSON object like below
[code]
...is changed into this:
[code]

Even if this attribute's value is set via web UI, it's still represented as an JS

[2018-06-14 20:10] yurem opened #823 "Authenitcator should not use "@!" to distingusih use/client credentials."
In [this](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/auth/Authenticator.java#L145) line there is hardcore rule about client/user names convention. I think we can update code to avoid this hard coded convention.

[2018-06-14 20:10] yurem commented on #823
@qbert2k Do you think it's possible to do?

[2018-06-16 19:33] yuriyz opened #824 "UMA : Introduce separate ticket lifetime configuration"
Introduce separate ticket lifetime configuration

[2018-06-16 20:58] yurem commented on #824
I've one idea for 3.2.0. There are many lifetime configuration option. I offer to group them in one bean to make configuration list more user friendly.

[2018-06-17 07:46] yuriyz commented on #824
it should go also to 3.1.4. Also maybe we can group other options too.

[2018-06-17 20:17] yuriyz opened #825 "Group configuration properties to make it more user-friendly"
Yura M : I've one idea for 3.2.0. There are many lifetime configuration option. I offer to group them in one bean to make configuration list more user friendly.
https://github.com/GluuFederation/oxAuth/issues/824

TODO: define groups:
- lifetime group
- ?

[2018-06-17 20:18] yuriyz commented on #824
@yurem created ticket for it https://github.com/GluuFederation/oxAuth/issues/825

[2018-06-18 14:45] mzico commented on #753
@sahiliamsso : Changing the priority of this issue... couple of customers are waiting for this.

[2018-06-18 15:17] colonha commented on #753
Maybe upgrade Opendj to version 3.5 which support Bcrypt?

`OpenDJ directory server now implements a Bcrypt password storage scheme that uses the bcrypt message digest algorithm `

https://bugster.forgerock.org/jira/browse/OPENDJ-2435

[2018-06-18 15:21] afroDC commented on #753
@colonha As far as I know, OpenDJ 3.5 is not open source,.

[2018-06-18 15:25] colonha commented on #753
I read this on their website.

`OpenDJ is free to download, evaluate, and use for developing your applications and solutions. You can obtain and modify the source code to build your own version. ForgeRock offers training and support subscriptions to help you get the most out of your deployment.`

[2018-06-18 15:32] afroDC commented on #753
@colonha can you link to the source for OpenDJ 3.5 or greater?

[2018-06-18 15:54] colonha commented on #753
I tried but a subscriptions is required. Since they claim you can obtain and modify by your own i'm trying to contact them.

`This version can only be downloaded with an active subscription`

[2018-06-18 16:57] willow9886 commented on #797
@yurem is this related or duplicate to https://github.com/GluuFederation/oxAuth/issues/753  ?

[2018-06-18 17:10] nynymike commented on #753
Another option, I added an issue to [gluu-opendj](https://github.com/GluuFederation/gluu-opendj/)

[Add Bcrypt](https://github.com/GluuFederation/gluu-opendj/issues/2)

[2018-06-19 04:31] yurem commented on #797
@willow9886 yes, it's about same issue

[2018-06-19 10:37] yuriyz opened #826 "UMA 2 : Fix NPE if required claims_redirect_uri is not passed"
2018-06-19 10:25:47,353 ERROR [qtp1190524793-25] [org.xdi.oxauth.uma.service.UmaGatherer] (UmaGatherer.java:124) - Exception during gather() method call.
java.lang.NullPointerException: null
	at org.xdi.oxauth.uma.service.UmaGatherer.addQueryParameter(UmaGatherer.java:160) ~[classes/:?]
	at org.xdi.oxauth.uma.service.UmaGatherer.constructRedirectUri(UmaGatherer.java:143) ~[classes/:?]
	at org.xdi.

[2018-06-19 10:58] yuriyz commented on #826
Fixed in 3.1.4 and master.

[2018-06-19 10:58] #826 closed

[2018-06-19 14:59] aliaksander-samuseu opened #827 "oxAuth authorization page throws error when French locale is used for it"
Environment:
CentOS 7.4, Gluu CE 3.1.3

Issue in a nutshell (exact steps to reproduce it are unkonw, but one user somehow managed to trigger it; but its cause is now clear):

French localization file located at `/WEB-INF/classes/oxauth_fr.properties` in oxAuth.war contains dubious command in one of strings used on the oxAuth's authz page: `authorize.requestingPermissionForScopes=#{client.getClient

[2018-06-19 16:12] aliaksander-samuseu commented on #827
Next line may be related/need to be fixed:
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/resources/oxauth_fr.properties#L16

[2018-06-19 16:32] jgomer2001 commented on #821
Fixed (see https://github.com/GluuFederation/gluu-passport/issues/34)

[2018-06-19 16:32] #821 closed

[2018-06-19 16:39] syntrydy commented on #827
Fixed in 3.1.4 branch

[2018-06-19 20:21] jgomer2001 commented on #816
You are right, that `prepareForStep` is trying to do a flow similar to [saml](https://gluu.org/docs/ce/authn-guide/inbound-saml-passport/#sequence-diagram) one

but the social should be like [this](https://github.com/GluuFederation/gluu-passport#sequence-diagram), which is actually implemented doing web browser redirects (for instance see function `idp_redirect` in `passportlogin.xhtml`). That's w

[2018-06-19 20:21] #816 closed

[2018-06-20 02:39] sahiliamsso commented on #753
I have verified [this](https://github.com/afroDC/Dev/blob/master/Gluu/bcryptAuthScript.py) script is working fine. Below are the steps I followed
- Installed Gluu 3.0.2
- Imported 20 test users
- Followed upgrade steps from 3.0.2 to 3.1.3
- Verified all users are available in 3.1.3
- Tried to login with test users -> FAILED authentication
- Enabled Bicrypt Authentication script
- Verified all test

[2018-06-20 09:26] yuriyz opened #829 "It is possible to invoke refresh_token flow with access_token (instead of refresh_token)"
Reported in support ticket: https://support.gluu.org/authentication/5635/invoke-refresh_token-grant-type-with-an-access-token/

Currently it is possible to invoke the refresh_token grant type with an access_token. We used password grant_type to obain an access_token and a refresh_token. Afterwards we don NOT use the refresh_token but the access_token to invoke the refresh_token grant type.

Is thi

[2018-06-20 19:56] nynymike opened #830 "Client-specific access token expiration"
Enable client-specific access token expiration.

Need a corresponding issue in [oxTrust](https://github.com/GluuFederation/oxTrust)

[2018-06-22 05:18] aliaksander-samuseu opened #831 "A few issues with OIDC logout flow"
Environment:
CentOS 7.2, gluu-server--3.1.3-1-4.centos7

Per @qbert2k  request I'm posting my report on issues with OIDC logout flow

Preamble:

According to [the OIDC session management spec](http://openid.net/specs/openid-connect-session-1_0.html#RPLogout), `id_token_hint` is recommended parameter (not a mandatory), and `post_logout_redirect_uri` and `session_id` are optional.

Findings:

**1) I

[2018-06-22 20:49] jgomer2001 opened #832 "JKS expiration should be checked"
It seems oxauth is not checking expiration of keys. This is an excerpt of a conversation with yurem:

[2018-06-23 07:09] yurem commented on #832
@qbert2k it's about client keys which we use to get tokens

[2018-06-25 13:58] yuriyz commented on #831
@nynymike @aliaksander-samuseu @qbert2k

**1. post_logout_redirect_uri**
`post_logout_redirect_uri` is not mandatory but if it is provided then we must validate it. From [spec](http://openid.net/specs/openid-connect-session-1_0.html#RPLogout) `The value MUST have been previously registered with the OP`. It means that we have kind of dual behavior description directly in specification:

a) case A -

[2018-06-25 14:03] nynymike commented on #831
Agreed on points 1 and 2. We need to update the docs so we can point to it when people inevitably ask questions.

[2018-06-25 14:11] yuriyz commented on #829
done in 3.1.4 and master

[2018-06-25 14:11] #829 closed

[2018-06-27 07:15] yuriyz opened #833 "Set default values for RPT and PCT expiration"
"umaRptLifetime": 3600,
"umaPctLifetime": 2592000,

[2018-06-27 07:19] yuriyz commented on #833
done for 3.1.4 and master

[2018-06-27 07:19] #833 closed

[2018-06-29 09:06] syntrydy opened #834 "Remove the sign up link present in the login page for passport"
When the authentication method is set to **passport_saml** or **passport_social**,  there is a link on the login page that throws an error when a click is perform on it.

That link is a die link and is not related to the **Registration feature**.

![image](https://user-images.githubusercontent.com/7513418/42083255-43f2c03a-7b82-11e8-8f37-c3f94bbd2555.png)

A click on it shows this:
![image](https:

[2018-06-29 21:06] qbert2k opened #836 "Certification for the FormPost Response Mode Implementation"

[2018-06-30 15:12] qbert2k opened #837 "Different clients must receive a different sub value also when the sector identifier is the same"
subject_type = pairwise
Each client must receive a different sub value.
Test with pairwiseIdType persistent and algorithmic.

See ticket https://support.gluu.org/identity-management/5652/subpairwise-identifier-leak-between-clients/

[2018-07-01 20:57] nynymike opened #839 "Support for spontaneous scopes"
There is a requirement for payments to send a transaction id as part of the scope. For example:
`pis:4685456787` (where 4685456787 is the id of a certain resource)
or
`sign:MmU5OTc1ODU0ODk3MmE4ZTg4MjJhZDQ3ZmExMDE3ZmY3MmYwNmYzZmY2YTAxNjg1MWY0NWMzOTg3MzJiYzUwYw==,RXhhbXBsZSBDb250cmFjdA==`

Where the first parameter has a base64url encoded has value, second parameter after, is a label of the document

[2018-07-02 14:07] #313 closed

[2018-07-02 14:08] #308 closed

[2018-07-02 14:18] nynymike opened #840 "OpenID Connect Token Bound Authentication 1.0"
http://openid.net/specs/openid-connect-token-bound-authentication-1_0-03.html

[2018-07-02 17:39] nynymike commented on #800
I would not say this is a bug. RO password credential grant is not a supported Openid Connect grant type, so it makes sense you can't call Userinfo.

[2018-07-02 18:51] #812 closed

[2018-07-03 10:24] natt-tester opened #841 "Bug: extra error string"
Please refer to the GIF: there's an extra string upon using invalid credentials in https://ce-dev6.gluu.org/oxauth/login.

![2018-07-03_20h05_31](https://user-images.githubusercontent.com/38302725/42214463-f3c8552c-7efe-11e8-8ab4-01865d339e8a.gif)
![2018-07-03_20h04_40](https://user-images.githubusercontent.com/38302725/42214493-084b3500-7eff-11e8-8c5d-b189fc8f2517.png)

[2018-07-04 16:57] ganesh-at-wiw opened #842 "imap attributes do not appear in attributes list"
This LDIF /opt/opendj/config/schema/cat 77-customAttributes.ldif  as all the imap attributes. But these do not appear in the list of attributes in our idp though they should appear there.

[2018-07-09 08:42] mzico opened #843 "Expiration with session"
There are couple of customers who are asking for this feature to include, they basically want their Gluu Server to kill session upon browser's closure.
It will be great if we can supply this as an 'option' in 3.1.4.

[2018-07-09 09:56] yuriyz commented on #843
Duplicated of https://github.com/GluuFederation/oxAuth/issues/745 . I've re-scheduled Alex's ticket to 3.1.4.

[2018-07-09 09:56] #843 closed

[2018-07-09 13:05] yuriyz opened #844 "UMA Scope Expression evaluator"
Bug during data population for json logic. The actual bug is in fetching scope dns from permission object, instead of taking it from DN of scope id and then take scripts for evaluation based on that DN.

[2018-07-10 09:50] yurem opened #845 "Broken server side test marked as successfull"
Out server side tests has many failure but due to bug (or incompatibility) in test suite they all marked as successful.

[2018-07-10 11:15] yuriyz commented on #845
@yurem how is it possible? Is it something with testng reporting or is it jenkins plugin ?

[2018-07-10 12:00] yurem commented on #845
This caused by bug/conflict between old Arquillian/TestNG
After Arquillian/TestNG and fixing libs conflicts tests works well.

But now we need to fix broken tests

[2018-07-10 12:01] yurem commented on #845
Suite fixed in 3.1.4

[2018-07-10 16:06] nynymike opened #846 "Combined Super Gluu / SMS authn script"
It would be nice if we had an authn interception script that allows the subject to choose the OOB notification channel: SMS or push (super gluu).

[2018-07-10 19:04] #846 closed

[2018-07-11 08:17] yurem opened #847 "Bouncycastle throw ClassCastException after upgrade to 1.59"
Here is sample stack trace after test `requestClaimsIndividuallyRequestObjectSigningAlgES256UserInfoSignedResponseAlgES256` execution:
[code]

[2018-07-11 12:00] yurem opened #848 "Move client side test requestAuthorizationForOpenIdScopeAndPairwiseId to server side test"
This test depends on ` skipAuthorizationForOpenIdScopeAndPairwiseId = true`. But bey default this value is false and all tests expects this behavior. As result it commented out. We need to move [this ](https://github.com/GluuFederation/oxAuth/blob/master/Client/src/test/java/org/xdi/oxauth/ws/rs/AuthorizeRestWebServiceHttpTest.java )test to server side tests. In server side test we can enable this

[2018-07-11 21:52] qbert2k commented on #836
http://openid.net/certification/#OPs

[2018-07-11 21:52] #836 closed

[2018-07-12 19:03] aliaksander-samuseu opened #849 "If session_id is not passed in logout request, oxAuth responds as if session termination succeed, while it didn't"
Environment:
CentOS 7.4, gluu-server--3.1.3-1-4.centos7

Preconditions:

1. Some RP is configured which will use Gluu Server as OP for a regular OIDC authz code flow

2. Some measures are in place which will allow to retrieve `session_id`, `session_state` and `id_token` issued during the flow

Steps to reproduce:

1. Complete the OIDC authz code flow, retrieving `session_id`, `session_state` and `

[2018-07-12 19:16] aliaksander-samuseu commented on #849
The issue was first reported in [this ticket](https://support.gluu.org/access-management/5677/end_session-endpoint-seems-to-only-be-terminating-session-in-postman/#at36033).

[2018-07-14 10:09] natt-tester commented on #844
It works now, but we'll retest it in 3.1.4.

[2018-07-14 21:12] nynymike opened #850 "New FIDO configuration endpoint"
Currently the FIDO configuration endpoint is published at `.well-known/fido-u2f-configuration`

It would be better if this was simply:  `.well-known/fido-configuration`, and the endpoint handled configuration for all FIDO modalities.

We should not remove the `fido-u2f-configuration` endpoint, lest it break any existing deployments, but it's use should be deprecated.

[2018-07-16 09:10] #845 closed

[2018-07-16 11:44] yuriyz opened #851 "Fixing broken server side tests for 3.1.4"
There are many broken server side tests for 3.1.4. They must be fixed before Token Binding feature is done.
https://github.com/GluuFederation/oxAuth/issues/845

[2018-07-16 14:45] yuriyz opened #852 "Introspection response must return `scope` instead of `scopes`."
Introspection response must return `scope` instead of `scopes`.

Based on spec : https://tools.ietf.org/html/rfc7662#section-2.2

[2018-07-16 14:50] yuriyz commented on #852
Fixed in 3.1.4 and master.

[2018-07-16 15:00] #852 closed

[2018-07-16 15:00] yuriyz commented on #844
Fixed in 3.1.4 and master

[2018-07-16 15:00] #844 closed

[2018-07-17 18:41] mzico opened #853 "CAS logout with oxAuth-session script ( application_session )"
Can we write an application_session interception script that calls the CAS /logout page? Is it front channel? If so, can we render it in one of the iFrames?

[2018-07-17 18:41] mzico commented on #853
@yurem @yuriyz @nynymike : what do you think?

[2018-07-18 07:56] heeropunjabi opened #854 "profile - sid claim"
Hi Team,
can you guys help in getting sid claim as a part of profile scope.

How to add sid claim as a part of profile scope.

Regards,
Heero.

[2018-07-18 18:39] nynymike commented on #854
This is not a channel for support. I see it already posted on https://support.gluu.org

[2018-07-18 18:39] #854 closed

[2018-07-19 08:56] yuriyz opened #855 "Provide errors with exact explanation what is wrong."
We need to improve error messages on oxauth. I believe bad examples are in specs directly. Sample from spec:
[code]
Is parameter missing? What exactly parameter is missing? Or maybe all are present but some are not supported? Or it is malformed? It is too generic. From beginning we followed spec examples and as for errors it looks very bad. So indeed lets think how to better improve it.

I propose

[2018-07-19 16:50] qbert2k commented on #855
I like option B adding a reason key in json response.

[2018-07-19 17:04] mtgluu commented on #855
I like the reason key as well. One overall comment....It is nice that the current message makes penetration testing a little bit harder.

For example, if you send a bad clientid you get back the current generic message "The request is missing a required parameter, includes an unsupported parameter or parameter value, or is otherwise malformed.". The same message applies if you use a good clientID

[2018-07-19 19:31] yuriyz commented on #855
It seems we all like option with `reason`, lets proceed with it.

[2018-07-23 12:57] #840 closed

[2018-07-23 13:59] yuriyz commented on #840
Implemented in 3.1.4 and merged into master.

[2018-07-30 16:23] nynymike opened #859 "Improve Live Script Debug"
Many customers struggle to debug interception scripts. It would be great if there was some type of "developer mode" that would make it easier to connect for remote debugging.

[2018-07-30 18:46] yurem commented on #160
`TLS Channel ID` is not widely supported even after 2 years:
- Edge: not supported
- Firefox: not supported
- Safari: not supported

Moreover `TLS Channel ID` is not standardized yet. Only Google supports it. That's why there is reference in U2F client data.

Server side also should support it. There is the path for apache2. But it's not activated yet. And it's not provide Channel ID either via he

[2018-07-30 18:50] yurem commented on #160
Instead of `TLS Channel ID` I offer to use `Token Binding`

[2018-07-30 18:52] yurem commented on #160
Here is what we can [implement](https://www.websequencediagrams.com/?lz=dGl0bGUgU3VwZXIgR2x1dSB3aXRoIFRva2VuIEJpbmRpbmcgc3VwcG9ydAoKQnJvd3Nlci0-UlA6IDEuIEFjY2VzcyByZXNvdXJjZSAoVEIxKQpSUC0-ACMHOiAyLiBBdXRoZW50aWNhdGlvbiBSZWRpcmVjdABECm94QXV0aDogMy4gUHJvAE4FQXV0aE4gJgA3BVoAUwUrVEIyKQpub3RlIG92ZXIgAC0INC4gU3RvcmUgVEIyIGluIHNlc3Npb24gKHdlIGNhbiBnZXQgZnJvbSBBcGFjaGUgdmlhIEhlYWRlcikKAHMGLT4AgXUKOiA1LiBT

[2018-07-30 18:55] yurem commented on #160
For adding token `Token Binding` support we have both sides:
1) There is module which add to apache2 it support. I open [issue](https://github.com/GluuFederation/community-edition-setup/issues/461) to build it for CE.
2) Chrome and Edge has support of it.

[2018-07-30 19:03] yurem commented on #160
Where is FAPI spec? There is no java library which support either `Channel ID` or `Token Binding`. There is [approach](https://github.com/pingidentity/java8-token-binding-negotiation) which override system classes. But it's not very good to override java classes.

[2018-07-31 17:05] nynymike commented on #654
This is becoming high priority.

[2018-07-31 19:05] yurem opened #860 "Move all integration pages and scripts into sub-project of oxAuth"
The number of scripts is constantly grow up. It's good. But in the future we can get question about how to install oxAuth only without integration pages/js/css. For example they need only one integration or they have own integration.

We need to move all xhtml/css/js/other resources to oxAauthIntegration or oxAuthExternal.

After that we can update setup to to prompt install all integration or ins

[2018-08-01 14:38] nynymike opened #861 "Request objects should have iat and expiration"
New requirement and best practice coming out of Open Banking.

[2018-08-01 14:53] nynymike opened #862 "Add brute force protection to default password authentication"
We should cache authentication attempts for a given username, and add a delay of 5 seconds for before every fourth attempt. It would nice if we could expose this feature for use in interception scripts too.

[2018-08-01 16:25] nynymike opened #863 "Update lock account to include expiration"
We should update this script to include a configurable lock time, for example 3 minutes by default.
  https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations/basic.lock.account

The script should check to see if the account is locked, and if there is a lock, when it expires. The lock can be written to the cache:

[2018-08-01 21:51] qbert2k commented on #851
Last failing test org.xdi.oxauth.comp.GrantServiceTest.testCleanUp

https://ox.gluu.org/jenkins/job/oxAuth_3.1.4/126/

[2018-08-02 10:52] syntrydy opened #864 "Customized logo should apply to every public facing pages"
# Description

When custom logo is defined in /opt/gluu/jetty/oxauth/custom/static/img/  is should apply automatically to public facing pages like the login page and passportlogin page.

[2018-08-03 01:10] elukewalker commented on #781
@yurem let me know if there is anything I can do to help add FIDO2 support.

[2018-08-03 03:41] #778 closed

[2018-08-03 03:44] #791 closed

[2018-08-04 20:08] yuriyz commented on #654
@nynymike @yurem In 3.1.4 we have ldap and this cache provider will stick to LDAP, so there is no need to add additional component for cache (like redis). However in 4.0.0 we can have LDAP or Couchbase. Depending on persistence manager this cache type is going to put cache entities into LDAP or Couchbase. How should we name it? I propose `Persistence` (or maybe `Native` cache). What do you think?

[2018-08-05 20:52] yuriyz commented on #654
We will use `NativePersistence`.

[2018-08-06 10:22] mzico opened #866 "Unwanted http redirection"
Gluu Server is all about https, however in the middle of redirection; we see couple of http request.
Possible to make all https? Community has some concern about this.
Ref. ticket: https://support.gluu.org/access-management/5639/http-response-from-gluu-server/

[2018-08-07 04:16] qbert2k opened #867 "Review the ui_locales param (Authentication Request)"
http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

pfeliprada wote:

[2018-08-07 04:17] qbert2k commented on #773
Regarding first comment, yes, if the authorization request is valid (all params including redirection URI) and the user authenticates but the user decides to do not grant authorization by clicking the button Do not allow, then the right response is to be redirected to the redirection URI with the error parameter access_denied. In a subsequent authorization request the user will be prompted for aut

[2018-08-07 04:17] #773 closed

[2018-08-08 23:07] yuriyz commented on #851
all tests are successfully passed for 3.1.4 https://ox.gluu.org/jenkins/job/oxAuth_3.1.4/135/

[2018-08-08 23:07] #851 closed

[2018-08-10 13:41] yuriyz commented on #654
done for 3.1.4 and integrated into 4.0.0

[2018-08-10 13:41] #654 closed

[2018-08-10 19:10] qbert2k commented on #867
You can use the ui_locales param, authorizationRequest.setUiLocales(Arrays.asList("es"));

https://github.com/GluuFederation/oxAuth/blob/master/Client/src/test/java/org/xdi/oxauth/ws/rs/AuthorizeRestWebServiceHttpTest.java#L2799

Also you can add more languages at:
/Users/JAVIER/IdeaProjects/oxAuth/Server/src/main/resources/oxauth.properties
/Users/JAVIER/IdeaProjects/oxAuth/Server/src/main/resour

[2018-08-10 19:10] #867 closed

[2018-08-11 17:57] yurem commented on #797
Done, we have updated OpenDJ and custom script. Both support BCRYPT now

[2018-08-11 17:57] #797 closed

[2018-08-11 19:43] yurem commented on #764
Added property `disableU2fEndpoint` which is `false` by default

[2018-08-11 19:43] #764 closed

[2018-08-13 09:13] yurem commented on #787
I've updated script in setup to conform new API: https://github.com/GluuFederation/community-edition-setup/commit/8f3dd1d214418cac5e31245d8944bf64861af17e

[2018-08-13 09:13] #787 closed

[2018-08-13 12:21] #866 closed, assigned to yurem

[2018-08-13 15:35] yurem commented on #817
I've added new method and updated script in CE

[2018-08-13 15:35] #817 closed

[2018-08-13 18:13] nynymike opened #868 "token introspection interception script"
Clients may want to return dynamic claims or other information from token introspection. The most flexible way to accommodate this request is to expose an interception script for OAuth token introspection.

[2018-08-14 08:12] yurem commented on #769
Implemented

[2018-08-14 08:12] #769 closed

[2018-08-14 12:11] yurem commented on #160
We build CE 3.1.4 beta1 for [Ubuntu 18.04](https://github.com/GluuFederation/community-edition-setup/issues/461). It has enabled token binding module. Now we can resume work on this issue

[2018-08-14 12:13] yurem commented on #781
@elukewalker I'm planning to work on this on next week. Are there FIDO 2.0 spec? I only found out v 1.2.
Do you know what changed in FIDO since 1.x

[2018-08-14 16:40] yurem commented on #796
Fixed

[2018-08-14 16:40] #796 closed

[2018-08-14 18:50] elukewalker commented on #781
Hi @yurem I consider FIDO2 to be composed of two open standards:
1. [FIDO Client To Authenticator Protocol 2.0 (CTAP2)](https://fidoalliance.org/specs/fido-v2.0-id-20180227/fido-client-to-authenticator-protocol-v2.0-id-20180227.html) and,
2. [W3C Web Authentication (WebAuthn)](https://www.w3.org/TR/webauthn/)

Note: I will refer to the FIDO U2F Client To Authenticator Protocol 1.2 as CTAP1.

The m

[2018-08-15 08:34] yuriyz commented on #562
Done in 3.1.4 and integrated to master.

[2018-08-15 08:34] #562 closed

[2018-08-15 18:31] afroDC commented on #782
@qbert2k adding an arbitrary inum to a client is possible as long as you add the `@!` to the beginning of the name. For example:

![screenshot from 2018-08-15 13-27-34](https://user-images.githubusercontent.com/30447907/44165692-06398300-a08f-11e8-8eae-105492b1b6d6.png)

oxauth.log:
[code]

Without the prefix of `@!` the client will fail with the following errors:

oxauth.log:
[code]

my client:

[2018-08-17 13:46] yuriyz commented on #745
Session lifetime is specified via `sessionIdLifetime` oxauth configuration property. If it is set to 0 or -1 then we session_id cookie will not have expiration specified which browsers usually handles as browser "session" and which are valid until browser is not closed (session is not ended).

Done in 3.1.4 and master.

With sessionIdLifetime=0
![session_id_lifetime_not_specified](https://user-ima

[2018-08-17 13:46] #745 closed

[2018-08-20 09:53] yurem commented on #853
In 3.1.4 application_session script there are 2 methods:
[code]
oxAuth calls them on authorization success and on end_session endpoint event.

In oxAuthRP there is demo [iframe](https://github.com/GluuFederation/oxAuth/blob/master/RP/src/main/webapp/rpiframe.xhtml). It waits for sesison update.

Hence oxAuth provides 2 ways to notify about session state update. Why do you think we should update ox

[2018-08-21 11:15] yurem commented on #853
@mzico I've changed milestone to 4.0 because it's not clear what do to with this issue now

[2018-08-22 17:32] yurem commented on #753
@sahiliamsso Can you move it to https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations and close after that?

[2018-08-22 20:05] yurem commented on #862
Implemented and updated [default](https://github.com/GluuFederation/community-edition-setup/commit/2ab105ad9fed327e6b7656a4ec1dff76be4423ea) oxAuth config. It's turn off by default to support backward compatibility with 3.1.x.

Here is new config with values description:
[code]

oxAuth uses new service when there is no person script or when script call basic authentication API.

To get current lis

[2018-08-22 20:06] yurem commented on #862
Let me know if we need to change properties names or enable it by default

[2018-08-22 21:18] nynymike commented on #789
There is discussion on OIDC mailing list about this issue. I'm not sure what I think about it yet.

[2018-08-22 23:06] nynymike opened #869 "Return custom client and user claims in access token introspection / JWT"
The client can be configured to return custom client claims (stored in the database)

We also need to specify that certain user claims should be returned.

GUI enhancement here: https://github.com/GluuFederation/oxTrust/issues/1134

[2018-08-23 08:00] natt-tester opened #870 "OTP login failure -- 2 error messages"
Please refer to the picture: shouldn't we only show one error message in a visible manner? Right now there are two and the UX isn't great.

Maybe we can get rid of the top one, but highlight the bottom one and make it a bit bigger?

<img width="1346" alt="two_fail_error" src="https://user-images.githubusercontent.com/38302725/44512386-aaf63900-a6fd-11e8-957f-83b9b2874763.png">

[2018-08-23 10:06] natt-tester commented on #807
@syntrydy, @yurem: it's not a priority now, but it would be nice to have everything centered to boost the UX. The red arrows and boxes show where to adjust the layout:

![gluu_otp](https://user-images.githubusercontent.com/38302725/44519262-e0a41d80-a70f-11e8-8443-28406cfd3430.png)

[2018-08-23 12:58] natt-tester opened #871 "Twilio phone error"
I've followed the guide in the [docs](https://gluu.org/docs/ce/authn-guide/sms-otp/) and checked if my registered phone number was SMS enabled. After a positive verification of my account (2 texts from Twilio, I checked LDAP for phoneNumberVerified (true) and telephoneNumber (**DIFFERENT NUMBER THAN MINE, something like XXXX-XX**).
At this point the login was impossible for the first step -- my ad

[2018-08-23 20:28] kogden opened #872 "Trying to change page login title"
The current default title displayed in the header is 'oxAuth - Login'. The file to change this isn't in login.xhtml. I'd like to change this as well as some of the meta descriptions. Where can I find these?

Thank you.

[2018-08-23 21:22] qbert2k opened #873 "Add backwards compatibility configuration switch"
Add configuration switch to enable the following features:

1. Only allow /token request for openid scope with grant type = authorization_code
2. Restrict access to /userinfo to scope openid
3. Only return id_token if scope = openid

Note: the description for each of these items should specify _deprecated_

[2018-08-24 00:00] syntrydy commented on #872
@kogden open a ticket on support portal for such question.

[2018-08-24 00:00] #872 closed

[2018-08-24 03:21] natt-tester opened #874 "SuperGluu screen throws error"
The very first step of SuperGluu QR verification throws an error when the user doesn't scan the code within the given time.

Tested in Ubuntu 16.04 with gluu-server-3.1.4_1.Beta1:

<img width="1372" alt="error_supergluu" src="https://user-images.githubusercontent.com/38302725/44563169-5788f700-a7a0-11e8-8230-56d5500968bd.png">

[oxauth.log](https://github.com/GluuFederation/oxAuth/files/2316899/ox

[2018-08-24 08:20] yuriyz commented on #638
Client have:
- `access_token_as_jwt` - boolean value to indicate whether return access_token as jwt or not;
- `access_token_signing_alg` - signing algorithm used to sign jwt.

[2018-08-24 11:39] yurem commented on #874
Can you attach oxauth.log and oxauth_script.log?

[2018-08-24 11:40] yurem commented on #870
I will take a look on this

[2018-08-24 11:45] yurem commented on #871
@mzico  can you help @natt-tester with this. I suspect that something wrong with configuration or our docs

[2018-08-24 16:05] #827 closed

[2018-08-24 16:07] syntrydy commented on #834
![image](https://user-images.githubusercontent.com/7513418/44595180-30dab880-a7c0-11e8-8f8f-b15a76499c96.png)

[2018-08-24 16:07] #834 closed

[2018-08-24 18:03] nynymike commented on #872
https://support.gluu.org

[2018-08-25 15:52] willow9886 opened #875 "Add better handling for session expired events"
When an oxAuth session expires, the server should take action and display a page that explains the situation to the user (similar to Google example shown below).

Currently when the session expires, it's only clear to the user after they try to sign in. And they get taken to a pretty unhelpful Error Encountered page.

Our improvement should save the user a round trip by explicitly telling them whe

[2018-08-26 21:20] yuriyz opened #876 "406 from .well-known/openid-configuration"
Oxd accepts only plain/text for .well-known/openid-configuration call.
OpenId connect docs states that it should be "application/json".
When I'm connecting to different then Gluu, more strict IDP I get 406 error code.
Class OpenIdConfigurationClient line 31

Originally posted here https://github.com/GluuFederation/oxd/issues/226
If we have time we should include it into 3.1.4.

[2018-08-27 06:13] natt-tester opened #877 "No info about blocked account"
I can't find any info on the look of a blocked login/account as configured per Account Lockout. For good UX we MUST have at least an **error message** saying:

"Account blocked after X failed login attempts. Please contact your Administrator",

or something along these lines. X would be the value set by an admin in `Maximum_invalid_login_attemps`.

Otherwise how is a user supposed to know what the

[2018-08-27 07:11] natt-tester commented on #874
I can't find the package in the repo anymore, but I have been testing Ubuntu 16.04 with **gluu-server-3.1.4_1.Beta2** and at least this issue seems to be fixed. The QR codes reload when the time is up.

Hovewer, I did encounter one proxy error. Please refer to the attached logs:
[oxauth_script.log.zip](https://github.com/GluuFederation/oxAuth/files/2322750/oxauth_script.log.zip)
[oxauth.log.zip](h

[2018-08-27 07:16] natt-tester commented on #870
Also mentioned in #841.

[2018-08-27 07:17] natt-tester commented on #863
@sahiliamsso, please also take a look at #877.

[2018-08-27 07:28] natt-tester opened #878 "Dead link in Super Gluu login"
Please refer to the screenshot -- the marked link doesn't take the user to the Android app:

<img width="949" alt="ubuntu16_gserver3 1 4_dead_link" src="https://user-images.githubusercontent.com/38302725/44646495-7dbbca80-aa1e-11e8-9421-65a895ec4cfe.png">

[2018-08-27 09:11] natt-tester opened #879 "Weird password reset message"
It's possible to get this weird message when you click on the reset link in the email when you've already used it:

<img width="1363" alt="ubuntu16_gserver3 1 4_wrong_password_success" src="https://user-images.githubusercontent.com/38302725/44651254-350b0e00-aa2c-11e8-8794-9996cad1d5aa.png">

[2018-08-27 12:09] natt-tester opened #880 "Enhance password reset email"
It would be great to have proper email formatting instead of a block of text in the password reset message:

<img width="1042" alt="ubuntu16_gserver3 1 4_password_reset_email1" src="https://user-images.githubusercontent.com/38302725/44658868-ae632a80-aa45-11e8-8cd7-8524eab27d7c.png">
<img width="725" alt="ubuntu16_gserver3 1 4_password_reset_message2" src="https://user-images.githubusercontent.com

[2018-08-27 18:01] willow9886 commented on #879
@natt-tester can you provide adjusted content for the page to better explain the situation to the user? (and also we should move it to [oxTrust](https://github.com/gluufederation/oxTrust/issues). Thanks!

[2018-08-27 18:09] willow9886 commented on #878
https://play.google.com/store/apps/details?id=gluu.org.super.gluu&hl=en_US

[2018-08-27 18:09] willow9886 commented on #878
@natt-tester this is also presented by oxTrust.

[2018-08-27 18:11] willow9886 commented on #878
opened on oxTrust: https://github.com/GluuFederation/oxTrust/issues/1144

[2018-08-27 18:11] #878 closed

[2018-08-27 18:12] willow9886 commented on #877
Also moved to oxTrust: https://github.com/GluuFederation/oxTrust/issues/1145

[2018-08-27 18:12] #877 closed

[2018-08-28 02:52] natt-tester commented on #880
@syntrydy, got it, moved here: https://github.com/GluuFederation/oxTrust/issues/1151

[2018-08-28 02:52] #880 closed

[2018-08-28 03:28] natt-tester commented on #879
@willow9886, @syntrydy, opened here with an example: https://github.com/GluuFederation/oxTrust/issues/1152

[2018-08-28 03:28] #879 closed

[2018-08-28 09:12] natt-tester opened #881 "Implement token expiration logic for password reset"
Steps:

1. As a user I request a password reset several times ("Forgot your password?" flow)
2. I use the most recent one and change my password
3. I  click one of the older ones

Expected: I shouldn't be able to use any older token as the most recent one has already been used. Only the most recent token should be valid for security reasons.

Actual: I'm able to use all of the older tokens to chan

[2018-08-28 09:17] kepuss commented on #876
https://github.com/GluuFederation/oxAuth/pull/882

[2018-08-28 16:35] yuriyz opened #883 "Turn off client expiration by default and remove ability to update expiration via endpoint"
Turn off client expiration by default and remove ability to update expiration via endpoint. It should be possible to turn on expiration back if needed.

Mike: turn off client expiration by default, because it’s not really protecting anyone, and it’s causing lots of problems. If a client wants it, let them explicitly enable it.

[2018-08-28 17:50] yurem commented on #863
@sahiliamsso

Here is bean and sample which you can use for implementation:
[code]

[2018-08-28 22:38] #753 closed

[2018-08-29 08:55] yuriyz commented on #804
@nynymike with #803 we always know what CE created access token (by `iss` claim from JWT). Do we really need separate handling by prefix?

[2018-08-29 09:29] yuriyz commented on #819
done in 3.1.4 and master

[2018-08-29 09:29] #819 closed

[2018-08-29 13:34] yuriyz commented on #804
Mike: Bearer tokens are still going to be the default. Prefix should only be for bearer tokens.

[2018-08-29 14:28] yuriyz commented on #638
JWT access_token are returned as bearer thus introspection `token_type=bearer`.
`Authorization: Bearer eyJhbGci...<snip>...yu5CSpyHI`. It will make client code consume jwt tokens as bearer and at the same time RP that cares about JWT can just parse it.

[2018-08-29 15:33] yuriyz commented on #804
Mike: push the prefix issue to 4.0, and we’ll evaluate if it’s still necessary

[2018-08-29 16:55] nynymike opened #884 "Don't return refresh token if client doesn't have refresh_token grant"
If the client doesn't have the refresh_token grant, it doesn't make sense to return a refresh token.

[2018-08-29 20:50] syntrydy opened #885 "Error Message on Login page must appear only once"
![image](https://user-images.githubusercontent.com/7513418/44814691-6d018500-abd5-11e8-96a7-c32fcc61128a.png)

[2018-08-30 10:38] syntrydy opened #887 "No info about blocked account"
Transferring the issue https://github.com/GluuFederation/oxTrust/issues/1145 here.

[2018-08-30 11:19] syntrydy commented on #871
@natt-tester the error is this:

**com.twilio.exception.ApiException: The From phone number +61450899602 is not a valid, SMS-capable inbound phone number or short code for your account.**

So that is misconfiguration on your end.

[2018-08-31 06:59] yuriyz commented on #638
done in 3.1.4 and master

[2018-08-31 06:59] #638 closed

[2018-09-01 17:27] yurem commented on #881
Config update in CE:
https://github.com/GluuFederation/community-edition-setup/commit/67a5f8c5dacfa6741592275d5f66ec7d15469a65

[2018-09-01 17:27] #881 closed

[2018-09-01 19:35] yurem commented on #874
@natt-tester is it your local server or public available one? For proper Super Gluu work you should use real DNS server name instead of adding host name to hosts file.

If needed I can explain how to use fake DNS server like to test Super Gluu with local VM.

[2018-09-01 20:36] willow9886 commented on #874
@yurem it might make sense to add those instructions to our documentation to reduce confusion

[2018-09-01 21:16] yurem commented on #874
@natt-tester please open `Keys` section in mobile app and remove old key for this server. Also if there is sub-entry `ou=fido` under user entry in LDAP please remove it. Old keys migh from previous install might led to issue.

[2018-09-01 21:16] yurem commented on #874
Here is method how to test Super Gluu locally without public server.

This method allows to test super Gluu locally, but it's based on MITM attack type. It's for developement purpouse only!!!

1. In VM settings change Network Adapter connection type from NAT to Bridget // CE and Mobile phone connected to WiFi should be in same local network
2. Log into VM and run in terminal `ifconfig` to get IP a

[2018-09-02 09:27] yuriyz opened #889 "Introspect endpoint has to return 401 https status code instead of 400 in case of invalid authorization header"
Introspect endpoint has to return 401 https status code instead of 400 in case of invalid authorization header

[2018-09-02 09:36] yuriyz commented on #889
done in 3.1.4 and master

[2018-09-02 09:36] #889 closed

[2018-09-02 18:03] sahiliamsso commented on #863
@natt-tester - Please validate.

[2018-09-03 10:21] #870 closed, assigned to yurem

[2018-09-03 21:11] #807 closed

[2018-09-03 21:42] #873 closed

[2018-09-04 10:27] natt-tester opened #891 "Extra string on OTP login screen"
Please get rid of it ;)

<img width="972" alt="centos6_314cf running 2018-09-04 20-18-44" src="https://user-images.githubusercontent.com/38302725/45026008-5f8a4600-b080-11e8-8088-b9a479424c33.png">

[2018-09-04 11:49] #891 closed

[2018-09-04 14:13] yuriyz commented on #831
@qbert2k I will take over this if you don't mind.

[2018-09-04 15:09] yuriyz commented on #575
@nynymike @yurem Since authorization grant expired we have no way to validate `post_logout_redirect_uri` against grant. Same about session object, if it is expired then we can't validate it. Since we can't validate uri we  can't say whether it is safe to redirect error to it or not. It means that oxauth can be used to attack some uri by sending invalid requests to our `/end_session` endpoint.

[2018-09-05 04:33] natt-tester commented on #887
@syntrydy, @yurem, it seems the change isn't present in the RC1. Could you make sure it gets there?

[2018-09-05 09:45] syntrydy commented on #887
Use the new script https://github.com/GluuFederation/oxAuth/blob/3c924a15ad577a8ceeb7701c1ead82f8f8916357/Server/integrations/basic.lock.account/BasicLockAccountExternalAuthenticator.py

[2018-09-05 15:04] #814 closed

[2018-09-06 19:30] syntrydy opened #892 "Extra string on OTP login screen"
https://github.com/GluuFederation/oxTrust/issues/1174

[2018-09-06 21:29] #892 closed

[2018-09-07 10:53] mzico opened #894 "'loginPage' value"
As we discussed internally.. if any customer want to 'change' their default login link from `https://[hostname]/oxauth/login` to something else ( i.e. `https://[hostname]/something/login` ); does our provided oxTrust feature ( Configuration > Json Configuration > tab (oxAuth Configuration) > Field (loginPage) ) work properly?

According to our research, it doesn't.

Now the question is: do we want

[2018-09-07 10:54] guyaparker opened #895 "Values for javax.faces.converter.XXX strings in messages.properties not overriding default messages"
In the messages.properties file there are strings defined that are intended to over ride the default values JSF  conversion and validation error messages:

These appear to not be used because if I have (say) an integer where JSF rejects the non-integer value being set the error message shown is in the format of the default message:

When it should be in the format defined in messages.properties:

[2018-09-07 11:05] yuriyz commented on #831
done in 3.1.4 and master. @aliaksander-samuseu please test it on 3.1.4 RC3 which hopefully will be built today.

[2018-09-07 11:05] #831 closed

[2018-09-07 18:41] yurem opened #896 "Remove loginPage and authorizationPage properties"
These 2 properties we can dynamically prepare at startup:
https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxauth-config.json#L3

[2018-09-07 19:09] yurem commented on #863
Can we use "lock_user_" + user_name key? This should help to avoid collisions in future

[2018-09-10 06:21] natt-tester opened #897 "Blocked account starts countdown again"
Steps:

1. Enable and set up basic_lock as the default authentication method (5 attempts)
2. Fail to log in 5 times.
3. Check the message for the blocked account
4. Try to log in again with incorrect credentials

Expected: The login message about the already blocked account stays the same.
Actual: The countdown starts again (4 attempts left, 3 left, etc.)

![blocked](https://user-images.githubuser

[2018-09-10 06:27] natt-tester commented on #887
@syntrydy the new script works, but the behavior needs improvement as reported in #897.

[2018-09-10 06:27] #887 closed

[2018-09-10 13:06] yurem opened #898 "Remove URL remove rewrite servlet dependecy"

[2018-09-10 13:06] yurem commented on #898
Done: https://github.com/GluuFederation/oxAuth/commit/2d834a90b5ca271663005ea83b9cf0eb0fbbff41

[2018-09-10 13:06] #898 closed

[2018-09-11 02:09] qbert2k commented on #832
Now oxAuth checks the expiration time when a key is being used and warns in the log when a key is about to expire (100 days or less) and when the key has already expired.

WARNING! Key with alias: c4fe4110-eb56-41c6-bac3-5316f6b1443d
	Expires In: 85 days
	Expires On: 2018-12-04 23:56:37
	Today's Date: 2018-09-10 20:53:01

WARNING! Expired Key with alias: c4fe4110-eb56-41c6-bac3-5316f6b1443d
	Expir

[2018-09-11 02:09] #832 closed

[2018-09-11 02:49] natt-tester commented on #862
@yurem, I've tested it in a fresh VM with Ubuntu 16 (RC3) with the following settings:
<img width="1065" alt="settings1" src="https://user-images.githubusercontent.com/38302725/45334927-56d5ca80-b5c0-11e8-941a-96fcc696b20f.png">
<img width="1087" alt="settings2" src="https://user-images.githubusercontent.com/38302725/45334683-280b2480-b5bf-11e8-915a-487cb965b121.png">
<img width="1116" alt="settin

[2018-09-11 13:36] yurem opened #899 "Cache clean service remove active Unathenticated Sessions"
Authenticator call SessionId service to force session lastUsedAt update on authentication failure: https://github.com/GluuFederation/oxAuth/commit/3f19cb94bdc4667e0457509b5e32aa22e56ce064

But cache service still clean up these session after Unathenticated session lifetime.

@natt-tester Thank you that you found this issue.

[2018-09-11 16:34] yurem commented on #899
I can't reproduce it on ce-dev3. I have issue locally only. I think cache works good and we close this issue

[2018-09-11 16:34] #899 closed

[2018-09-11 16:35] yurem commented on #899
@natt-tester can you retest it in new RC build?

[2018-09-11 17:39] yurem commented on #862
@natt-tester can you check if there is no proxy error in new CE version?

[2018-09-12 02:45] natt-tester commented on #899
@yurem, the proxy error is not reproducible in RC4 (Ubuntu16+Firefox).

[2018-09-12 02:54] natt-tester commented on #862
@yurem, I can't reproduce the proxy error in RC4. However, the question of the expected behavior still stands. Is the delay time in seconds? What's the limit? If I set it to 600, how should it affect the basic login process with the below settings?

<img width="764" alt="set1" src="https://user-images.githubusercontent.com/38302725/45399266-bf897980-b68a-11e8-988f-d7155594b32c.png">

![delay1](htt

[2018-09-12 03:33] natt-tester commented on #897
@syntrydy, it seems the countdown message is missing from RC4 -- did you remove it?
I have the basic_lock enabled and set as default.
<img width="547" alt="countdown_missing" src="https://user-images.githubusercontent.com/38302725/45400546-f31ad280-b68f-11e8-94eb-230ade63c667.png">

[2018-09-12 11:07] natt-tester commented on #871
I agree, it works.

[2018-09-12 15:16] nynymike commented on #894
I think there are two questions here.

#### What should be the default http config deployment for CE?
I this case, I think our approach is correct. The goal for CE deployment is "quick and easy". So hitting the hostname of the server makes sense after the initial deployment.

#### What are the options for customers who want to do a deployment where the components are "broken apart" or "componentiz

[2018-09-12 16:50] willow9886 commented on #862
Yes, it should be. All configuration time values are seconds as far as I know.

Ill let @yurem comment on the other questions.

[2018-09-12 18:34] afroDC opened #900 "Remove sessionIdEnabled Property"
While testing `sessionIdEnabled` I've found that turning it to `false` will open a pop-up window where it is necessary to input credentials again. See the image below:

![screenshot from 2018-09-12 13-15-58](https://user-images.githubusercontent.com/30447907/45445693-8bb15280-b690-11e8-9527-69a3d1c7faa3.png)

[2018-09-13 09:13] natt-tester commented on #874
@yurem, I followed the instructions, but couldn't get it to work properly. I used a default linux server instead, testing SG on an Android and iOS devices. It crashed in the iphone and failed in the Android, and the flow in oxtrust was the following. Could somebody else please check it?

https://ufile.io/6n53w

[2018-09-13 09:16] sahiliamsso commented on #863
Done, Please check.

[2018-09-13 09:16] #863 closed

[2018-09-13 18:29] nynymike opened #901 "Super Gluu created time needs time zone support"
The time zone of the server might be different from the time zone of the subject. For this reason, the server needs to specify the timezone in the QR code "created" field. See line 352:

https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/super_gluu/SuperGluuExternalAuthenticator.py#L352

Probably best to use the same time zone, like iat
[code]

[2018-09-14 00:34] natt-tester commented on #897
@willow9886, @syntrydy, I was thinking about the following:

- when the limit of failed logins isn't reacher yet, we should have the countdown message: **"x more attempt(s) before the account is LOCKED. Incorrect username or password"**

- when the limit is reached, the message should be **"Your account has been LOCKED due to too many failed login attempts. Please contact your system administrator

[2018-09-14 09:34] syntrydy commented on #897
**Incorrect username or password** is coming from somewhere else. Not from AccoundLock Script.

[2018-09-14 09:54] syntrydy commented on #897
- when the account stays blocked, all login attempts should show the same message: "Your account has been LOCKED due to too many failed login attempts. Please contact your system administrator"

This can happen in tow scenario:
1. When  the account is blocked by the script
2. When the user account has been deactivated(vacation, maintenance etc)

So  in this case we can change the message to look l

[2018-09-14 12:00] syntrydy commented on #897
Use the latest script

[2018-09-14 12:00] #897 closed

[2018-09-15 15:24] sahiliamsso opened #904 "Cert authentication failing"
Getting this error when cert authentication is enabled

java.lang.Exception: Using default external type class 	at org.xdi.service.custom.script.CustomScriptManager.createExternalType(CustomScriptManager.java:349) 	at org.xdi.service.custom.script.CustomScriptManager.reloadCustomScriptConfigurations(CustomScriptManager.java:253) 	at org.xdi.service.custom.script.CustomScriptManager.reloadImpl(Cust

[2018-09-17 00:21] aliaksander-samuseu opened #905 "Issues with Passport custom script's SAML branch"
Environment:
CentOS7.4, gluu-server-3.1.4-1-RC5.centos7

Description:

Passport-Social execution branches of the script seem to be functional, but SAML-related ones are not.

1. It seems that Pass-saml script coming with the package is different from the one currently on Github. I tested it only with the pre-packaged one so far. We need to sort it out, it must match the one we ship with the packag

[2018-09-17 00:54] aliaksander-samuseu commented on #905
I've tried to use entityid as loal id of IDP in `passport-saml-config.json`, but it failed as well, in a bizarre way. So it doesn't seem like the proper way, making the previously mentioned issues bugs, I believe.

[2018-09-17 01:01] aliaksander-samuseu commented on #905
Just for reference, here is how JWS passed back to the script looks like atm (signature stripped):
[code]

[2018-09-17 07:07] natt-tester commented on #862
@yurem, could you

[2018-09-17 09:10] yurem commented on #904
Can you attach full stack trace from logs?

[2018-09-17 09:37] yurem commented on #862
@natt-tester ` If I set it to 600, how should it affect the basic login process with the below settings?`: yes, admin can do this. User will get timeout or proxy error.
I've fixed typo in label.

[2018-09-18 09:52] natt-tester commented on #874
Tested yesterday with the QA team, works fine.

[2018-09-18 09:52] #874 closed

[2018-09-18 13:31] yuriyz commented on #782
I'm trying to validate this ticket but I can't find in docs how actually we can import clients with existing ids. Also I don't see it in referenced commits. Re-opening it.

[2018-09-18 21:42] elukewalker commented on #781
Any update? Let me know when you have a branch I can spin up an test out.

[2018-09-19 03:55] natt-tester commented on #862
@yurem I've tested the setup you sent me:
<img width="1125" alt="brute" src="https://user-images.githubusercontent.com/38302725/45728877-57e4a880-bc0d-11e8-8f48-1b2c749f3c13.png">

and my observations are as follows:

- the functionality itself worked, but waiting 1min for oxtrust to load the changes didn't work, had to restart the service to change maximumAllowedAttemptsWithoutDelay (cache cleari

[2018-09-19 14:28] yurem commented on #875
![screenshot 2](https://user-images.githubusercontent.com/6104200/45759795-5fb64400-bc31-11e8-8b02-16b19a06e94d.png)
This is how this page looks like after @syntrydy and my changes

[2018-09-19 15:14] mzico commented on #685
@yurem : I see this error in 3.1.2 yet.

oxAuth version:

[code]

[2018-09-19 16:52] willow9886 commented on #875
@yurem this doesn't address the issue. The page looks better, but is not an improvement in the user experience for expired sessions. @syntrydy can you please add additional details about implementation, which we had discussed?

[2018-09-19 17:36] yurem opened #906 "On authentication session expiration and other errors, oxAuth should redirect user to intended RP"
Instead of showing error page we should redirect to RP with new errors codes: `session_expired`, `authentication_error`, `user_account_disabled`.

Also we need to add new JSON property `redirectOnAuthenticationError: true/false` to tun off this redirect. The default value should be `true`

[2018-09-19 17:42] willow9886 commented on #875
OK, we're going to address this issue further via this new issue marked for next version: https://github.com/GluuFederation/oxAuth/issues/906

[2018-09-19 17:42] #875 closed

[2018-09-19 19:33] willow9886 commented on #904
@sahiliamsso can you provide?

[2018-09-19 19:38] #905 closed

[2018-09-19 23:40] sahiliamsso commented on #904
It worked fine after generating certs and importing in chrome browser.

[2018-09-20 05:44] yurem commented on #862
1. Can you try if reload configuration work well in RC6?
2. 200 seconds is wrong value. You will get proxy timeout or other error not related to oxAuth. See original subject. The right value should be at least less than 20 seconds.
3. I removed `maximumAllowedAttempts` it in order RC6 to avoid questions. `maximumAllowedAttemptsWithoutDelay` is enough for this flow.

[2018-09-21 04:36] natt-tester opened #907 "OTP doesn't work in centos6"
Preconditions: At least 1 user and one admin account created.

Steps:

1. Follow the docs and set up OTP as your default auth in a fresh VM with centos6 (RC6, Firefox)
2. Scan the QR and enter the code as admin
3. Log in to oxtrust
4. Wait for several minutes (10-15)
5. Change the password of the user
6. Log out
7. Try to log in again

Neither user can log in again. The message always says the fol

[2018-09-21 05:26] natt-tester commented on #862
@yurem, please tag me in all related comments

1. **Yes, the reload configuration works well now, tested in c7 with several different settings.**
2. I know what the original idea is, but then why do we have these fields editable with no min/max values info? I think it would make a great UX difference, and it's better to ask now than wait for users' questions
3. Good call ;)

[2018-09-21 08:53] natt-tester commented on #864
@syntrydy, I've just changed the logo and it's shown on the login/passport login page, but it's missing from the user registration page:
<img width="732" alt="public_register" src="https://user-images.githubusercontent.com/38302725/45870991-a0e45a80-bdcf-11e8-96ed-44f0a74f32bb.png">

Please change it in all the user-facing pages.

[2018-09-21 18:11] afroDC opened #908 "Changing "accessTokenLifetime" nside Configuration Doesn't impact Access Token Lifetime"
No matter what I change the access token lifetime to in Gluu Server, it seems to default to 5 minutes/300 seconds.

Issue exists in 3.1.4.RC6 on CentOS 7.5

[2018-09-21 18:27] afroDC commented on #908
Further information:

I'm using the Implicit Flow in a simple Javascript app to test functionality. To gather my id_token and access token, I use the following code:

[code]

This sends the user to oxAuth for authentication and consent. I then parse the return URL and redirect the user to my demo page with some additional information to utilize, upon successful validation:

[code]

On the demo pag

[2018-09-21 18:59] yuriyz commented on #908
I will take over it.

[2018-09-22 22:29] #864 closed

[2018-09-24 12:01] yurem commented on #862
@natt-tester From my point of view it's admin responsibility about to make decision about right value.

For example: How we can explain him that we not allow to specify in this field value bigger than 100 or 150?

[2018-09-24 12:06] yurem commented on #862
Currently there is no upper limit of each configuration values in oxAuht/oxTrust: https://github.com/GluuFederation/oxTrust/blob/master/static/src/main/resources/META-INF/resources/schema/oxauth-config.xml.json

From my point of view we need to open separate issue and make decisions after discussion that if we need to apply upper limit to all integer value in configure.

[2018-09-24 15:05] yurem commented on #907
It’s time based authentication method. Hence time on server and your mobile phone should be in sync.
Can you check if the time is the same on both devices before checking it?

[2018-09-24 15:41] yuriyz commented on #908
Fixed in 3.1.4 and master.

[2018-09-24 15:41] #908 closed

[2018-09-24 15:44] yurem commented on #782
Moved to 3.1.5 after discussion with @afroDC and @willow9886

[2018-09-25 01:14] sahiliamsso commented on #907
@natt-tester - Please check on c6 instance

[2018-09-25 09:07] natt-tester commented on #907
@sahiliamsso, @yurem, checked on c6, it works.

[2018-09-25 09:07] #907 closed

[2018-09-25 09:44] natt-tester commented on #862
@yurem, it's a good idea to discuss it further -- I think at least an info string for a field would be nice if we don't want to introduce any limits. Apart from that, I've tested the functionality with different settings in RC7 and it seems to be working fine. I'm closing this issue.

[2018-09-25 09:44] #862 closed

[2018-09-25 13:02] yuriyz opened #910 "Authorization Endpoint does not respect expired access_token"
Authorization Endpoint does not respect expired access_token.

https://github.com/GluuFederation/oxAuth/blob/1b0404f83a37604d7ab19d7ec97ef8cdc1daa3ea/Server/src/main/java/org/xdi/oxauth/authorize/ws/rs/AuthorizeRestWebService.java#L329

We have to clarify whether we need this parameter at all at Authorization Endpoint.

[2018-09-25 13:38] yuriyz opened #911 "Authorization Endpoint : revisit `access_token` parameter in Authorization Request"
We have `access_token` parameter in Authorization Request, we should carefully check why do we need it since it is not present in OAuth2 or Connect spec.

https://github.com/GluuFederation/oxAuth/blob/1b0404f83a37604d7ab19d7ec97ef8cdc1daa3ea/Server/src/main/java/org/xdi/oxauth/authorize/ws/rs/AuthorizeRestWebService.java#L329

26.09.18 Mike: The RP should not be able to exchange an access token at

[2018-09-25 13:39] yuriyz commented on #910
https://github.com/GluuFederation/oxAuth/issues/911

[2018-09-25 13:41] yuriyz commented on #910
fixed in 3.1.4 and master.

[2018-09-25 13:41] #910 closed

[2018-09-26 09:29] syntrydy opened #912 "Customized Authentication pages's logo"
Some authentication page are visible by customers and the organisation may want to change the logo on these page.

[2018-09-26 12:37] mzico commented on #685
@yurem : thoughts?

[2018-09-26 18:27] afroDC opened #913 "RP iframe Message Should Not Be Created In The Same Way As OP iframe Message"
Per the spec, the rp is supposed to POST a message to the op that matches this format:

[code]

Which is the client_ID and the session_state sent back to the RP.

However Gluu Server requires that the message (mes) be the same as the method used to create the session_state, which isn't in the spec and is confusing. What's even more confusing is the session_State is just the OP's cookie. Here is ho

[2018-09-29 05:45] yurem commented on #904
@sahiliamsso can you check if current integration documentation is up to date:
https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/cert/Generate%20cert%20server%20guide.txt
and
https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/cert/Demo%20Configuration.md

[2018-10-01 06:31] syntrydy opened #914 "All calls to oxauth fails when httpLoggingEnabled is set to true"
# Description

When the parameter **httpLoggingEnabled** is set to **true**, all scim call fail.

# Oxauth partial log:

[code]

# Oxtrust partial log
[code]

[2018-10-03 15:18] yuriyz commented on #914
oxTrust
[code]

[2018-10-04 09:36] #912 closed

[2018-10-05 16:36] corriganjeff commented on #901
You guys may come up with a different solution but here was my fix for the immediate need:
Install pip's pytz
in the script:
`import pytz`
then down where the mt_auth_request_dictionary is build:
[code]

which in the qr code results give the following value:

[code]

This would require adding/including pytz to the chroot during install.

[2018-10-06 21:34] afroDC opened #916 "oxAuth Should "Round Robin" Or "Least Connected" LDAP Server List"
I'm under the impression that oxAuth attempts to connect to the LDAP servers in the list of LDAP servers based on the order of the list. It would be ideal if oxAuth would utilize multiple servers in a more performant manner and distribute the load.

[2018-10-06 21:36] afroDC commented on #916
For example, Shibboleth can point to multiple LDAP URL's and has an attribute called `connectionStrategy` which has multiple methods when multiple servers are present:

[code]

From [https://wiki.shibboleth.net/confluence/display/IDP30/LDAPConnector#LDAPConnector-Attributes](https://wiki.shibboleth.net/confluence/display/IDP30/LDAPConnector#LDAPConnector-Attributes)

[2018-10-06 22:27] nynymike commented on #916
It should be configurable. For writes, there is no advantage to round robin, because all writes are replicated. There is an existing ticket to enable you to specify different servers for read and write operations, which would enable you to improve read performance.

[2018-10-06 22:27] #916 closed

[2018-10-08 16:48] nynymike opened #917 "Add dynamic scopes and claims to discovery"
We added the dynamic scope and claims to the `scope_to_claims_mapping` key but the scope and claim do not show up as `supported_scopes` and `supported_claims`

See https://github.com/GluuFederation/oxAuth/issues/763 for background

![image](https://user-images.githubusercontent.com/3717101/46622405-69c4b780-caf8-11e8-8f18-f4048db60d72.png)

[2018-10-10 02:16] natt-tester opened #918 "Passport_social fails in DE 3.1.4"
Steps:
1. Go to Configuration Manage -> Custom scripts -> Person Authentication
2. Enable u2f, passport_social and basic_lock
3. Go to UMA RPT Policies and enable scim_access_policy
4. Go to Manage Authentication -> Passport Authentication Method and enable Passport Support
5. Add a GitHub strategy with requestForEmail set to true
6. Change the Default Authentication Method to passport_social
7. I

[2018-10-10 15:17] jgomer2001 commented on #918
Can you provide cleaner logs? There are all sort of errors that I'm sure they are not passport-related. There are even things about casa which is not part of CE/DE...

Particularly the following is confusing:

`2018-10-09 12:28:51,841 ERROR [qtp1514322932-27] [org.xdi.oxauth.uma.service.UmaNeedsInfoService] (UmaNeedsInfoService.java:92) - Unable to load UMA script dn: 'inum=@!23CD.C494.7AE1.72DC!0

[2018-10-10 18:22] nynymike opened #920 "Specify Minimum ACR for clients"
Customers want to be able to force a certain level of authentication to access certain clients. Is it possible to look at the `client_id`, and if the current session does not match the required acr, to force authentication with the requisite acr.

[2018-10-10 19:34] yuriyz commented on #920
Session tracks all clients that take part in SSO. So indeed we can check whether required level of acr is set per client or not. Do we want to have it as relative level number as defined by `auth_level_mapping` (on well-known json), e.g. `50`  or set acr e.g. `otp`?
[code]
I can take over it if needed.

[2018-10-11 13:15] nynymike opened #921 "Session Revocation"
Some customers want to be able to revoke sessions for a user.

Mike: I think this feature was to enable an admin to kill a session for a user…
of course, how the application would be notified is a different question

[2018-10-11 18:32] mzico opened #922 "Encrypt oxAuth login information which are showing in HAR file"
A login request har file contain credential in almost text format. If possible let's encrypt that info in java script. I don't have much description to state here so please ping me if you want to know more.

It might be possible to achieve by hashing that password with nonce.

[2018-10-11 23:44] aliaksander-samuseu commented on #922
@yurem @mzico

We also could consider using public key cryptography for encrypting credentials. As if we assume that TLS/SSL may fail, or HAR may end in wrong hands, hash may be re-used by a malicious user "as is", at least under certain conditions. In addition, we'll need to hash password in such way it's still can be processed by LDAP server (we need to use it in a bind operation to validate cre

[2018-10-12 04:43] qbert2k commented on #920
There is already an array of default requested Authentication Context Class Reference values (default_acr_values) per client that can be override/forced by the request parameter acr_values.

[2018-10-12 10:48] nynymike commented on #920
But only in the authentication phase. So if a person is already logged in, these are ignored. What we want to do is force reauthentication. For example, before a code is sent back to the client

[2018-10-12 13:46] mzico opened #923 "Enhancement: Allow duo prompt based on attribute only"
Currently here is how we are prompting Duo:

- Presence of one specific attribute.
- Presence of one value of that specific attribute
- When Duo will get that ( specific attribute + specific value ) in any user's ldap data; Duo will prompt as 2nd factor in oxAuth.

We have a new requirement from one customer who want to prompt Duo if that specific attribute is present ( doesn't matter what value i

[2018-10-15 19:05] yuriyz opened #924 "Make ClientAuthorizations serializable otherwise redis will fail to save it into cache."
`org.xdi.oxauth.model.ldap.ClientAuthorizations` must be serializable otherwise redis will not be able to serialize it.
https://support.gluu.org/access-management/6129/authorizing-a-client-fails/

[code]

[2018-10-15 20:16] yuriyz commented on #924
fixed in 3.1.5 and 4.0

[2018-10-15 20:16] #924 closed

[2018-10-16 18:29] afroDC commented on #921
We talked about this before @yuriyz . A nice EE feature would be being able to somehow monitor the tokens that are distributed and have the ability to revoke them. I believe this would require storing that session and token data with identifiers in a way that makes it easy to identify what has access and the ability to revoke it.

[2018-10-21 10:30] yurem opened #925 "oxAuth client should log more self explanatory erorr message if oxAuth is not available"
Right now when oxAuth server is not up it log into error:
[code]

[2018-10-22 16:40] sphereict opened #926 "SSO redirection"
Hi.

Please assist me with the following. I created a Trusted SAML and Validation is success. However when we test with the test user we are presented with the admin screen which I dont understand why.

Are we not suppose to be redirected to our cloud platform.

I would really appreciate some help here
Regards
Gerhard

[2018-10-22 16:48] mzico commented on #926
Please open ticket in https://support.gluu.org

[2018-10-22 16:48] #926 closed

[2018-10-22 18:56] afroDC opened #927 "oxAuth Does Not Enforce Registered `post_logout_redirect_uri`"
A client with a `post_logout_redirect_uri` registered in oxTrust will not enforce this requirement, and will instead allow any post logout redirect uri to be appended to the end session request.

For example the below would redirect the user to `evil.com`:

[code]

If this redirect uri is not registered, the user should not be redirected to that end point.

[2018-10-22 20:08] yuriyz commented on #927
@afroDC I've just tried it against ce-dev3 and it returns 400 (bad request) with error `post_logout_uri_not_associated_with_client`. Would you be so kind to try it against our ce-dev3 and record your http request/responses ?

[2018-10-22 23:57] aliaksander-samuseu opened #928 "Allow users to edit list of released scopes on the fly on the authorization page"
As of 3.1.4, when an user is asked to approve release of their personal attributes, they are limited to only Allow or Deny the whole list of claims at once. It probably would be useful to allow them also interactively remove some claims they won't like this particular RP to have on the fly, by un-checking them on the authorization page, and release the rest.

I'm not perfectly sure, but [this enha

[2018-10-23 06:53] yuriyz commented on #927
@afroDC @aliaksander-samuseu this behavior was requested by Yura and added by Eugeniu here https://github.com/GluuFederation/oxAuth/issues/575 .

@yurem I think it makes sense to close this open redirect but then it means that we will return error as it was before (see #575). Do we have functionality that relies on this redirect?

[2018-10-23 16:18] yuriyz commented on #748
https://support.gluu.org/access-management/6184/uma-my-previously-working-uma-deployment-in-313-stops-to-work-in-314/#at40294

[2018-10-26 10:56] yuriyz opened #929 "Introspection endpoint must return 200 http status code with active=false if token is not found on AS instead of 400"
From spec https://tools.ietf.org/html/rfc7662#section-2.2:

[code]

[2018-10-26 11:02] yuriyz commented on #929
Fixed in 3.1.5 and master.

[2018-10-26 11:02] #929 closed

[2018-10-31 10:23] yuriyz commented on #813
We have to unify objects that can be cleaned up. Clean up itself can be performed by oxauth or by external application/script (scheduled by cron).

Object that is deletable by cleaner should have :
* `oxAuthExpiration` - date when object should be considered as expired (the number of milliseconds since January 1, 1970, 00:00:00 GMT)
* `oxDeletable` - boolean flag true/false. If false clean up job

[2018-10-31 10:29] nynymike commented on #813
I like it!

[2018-11-01 13:45] yuriyz opened #930 "Add support to return RPT as JWT"
Add support to return RPT as JWT.

We already made attempt here https://github.com/GluuFederation/oxAuth/issues/111
but it was for UMA 1.0.1 and it must be checked with regard to UMA 2.0.

[2018-11-02 10:22] ldeveloperl1985 opened #931 "Return client_name in response of dynamic client registration"

[2018-11-04 23:48] natt-tester opened #932 "`Remember me` checkbox missing from login screen"
Tested in 3.1.4 for Ubuntu (16,18): the checkbox seems to be missing from some login screens, e.g. `social_passport.` Please make sure it's present everywhere.

<img width="836" alt="remember1" src="https://user-images.githubusercontent.com/38302725/47832962-7a610880-ddec-11e8-9b26-668cf2ac8ac2.png">

![remember_me_missing](https://user-images.githubusercontent.com/38302725/47833024-cad86600-ddec-

[2018-11-05 09:37] yuriyz commented on #566
Fixed in 3.1.5 and automation test added. (Merged to master)

[2018-11-05 09:37] #566 closed

[2018-11-05 21:38] afroDC opened #933 "Remove JCE Requirement From Gluu Server CE"
Maybe I'm wrong, but currently it doesn't seem like JCE is actually required by any functionality of Gluu Server and there's no need to add an additional Oracle license here.

[2018-11-06 18:52] yurem opened #934 "Store metric records in separate backed o=metric"
Additionally we need to do:
1. Add upper level node ou=server_UUID to split data per servers to avoid collisions
2. Create server UUID at startup @jschristie @mbaser Do you have ideas about this?

[2018-11-08 11:38] natt-tester opened #935 "Improve error page for Super Gluu denied authentication"
Please replace the marked string with:

**Authentication denied. If this was in error, please try again.**

<img width="1244" alt="replace" src="https://user-images.githubusercontent.com/38302725/48196574-06ec6780-e3a7-11e8-92b3-d77637ddd7ac.png">

[2018-11-08 13:44] jgomer2001 opened #936 "FIDO 2: Add support for multi facet app IDs for impl"
FIDO v1 has a mechanism consisting of a json file in order to aggregate applications using the same application ID.

For FIDO 2 we must ensure multiple apps can use the same app ID as well

[2018-11-12 21:08] syntrydy opened #938 "A NullPointerException is often throw during logout for some users"
Here is a partial log file:
[code]

When need to wrap the method **getLocaleCode** from class **org.xdi.oxauth.i18n.LanguageBean** with a **try catch block**.

**Note that the root cause of that issue is still unknown.**

[2018-11-13 11:14] mzico commented on #785
@yuriyz / @yurem  : Is this added in oxTrust Web UI or just 'mechanism' added in 3.1.3?

[2018-11-13 15:32] yuriyz commented on #785
@mzico added ticket to get it covered in oxtrust https://github.com/GluuFederation/oxTrust/issues/1340

[2018-11-13 15:33] yuriyz commented on #785
The workaround in 3.1.3 version is to set password directly in ldap.
E.g.
[code]

[2018-11-15 02:09] natt-tester opened #939 "Change error message and string in twiliosms page"
As reported [here](https://support.gluu.org/authentication/6294/twilio-2fa-error-message-for-an-incorrect-verification-code/#at41329), we should have an error message for wrong credentials and another one for entering an incorrect Twilio code displayed right under the code field. I suggest:

**Incorrect Twilio code. Please try again.**

Also, I think we're missing the phone number in the second ma

[2018-11-15 13:59] yurem commented on #927
In issue #575 I requested "Don't show error page on logout when id_token is expired #575". This error page break many integration flows. But I agree to display it when data if wrong. We have to return back to previous issue discussion.

We need to store somehow information about expired tokens. I have one idea. What do you think about adding small AI to grant service cleaner job? I offer to not cl

[2018-11-15 14:16] nynymike commented on #927
Sounds like a good idea, as long as the expired grant can't be used to get access to anything by mistake.

[2018-11-15 14:39] yurem commented on #927
yes, right. This require negative tests and will be useful for cases when cleaner interval is bigger than grant lifetime

[2018-11-15 15:15] yuriyz commented on #927
What should happen if on next grant creation we call logout with expired `id_token` ? Since `expired` grant will be cleaned up (because according to our AI new grant already created), we will forbid redirect. It will produce inconsistency in behavior and break integration flows as it was prior #575.

Should we add configuration options which allows or forbids such redirect with default value `fals

[2018-11-15 15:38] yurem commented on #927
yes, after new grant creation we will remove expired grant. Why RP should call end_session with expired token after new grant creation? It's RP bug.

[2018-11-15 15:43] yurem commented on #927
This new option will just hide bug which Chris mentioned. Maybe this option will be good with global list of white-listed redirect_uri...?

[2018-11-15 16:00] yuriyz commented on #927
Right, it seems to be best option for now. If we didn't find out client (because of expired token, grant or client entity itself) then :

- show error page if `redirect_uri` is not white listed
- redirect if it is white listed.

[2018-11-15 17:02] yurem commented on #927
@afroDC What do you think? Should this help to resolve this issue?

[2018-11-15 17:34] afroDC commented on #927
This looks like a valid solution. Have we mitigated any potential complications? @yurem @yuriyz

[2018-11-15 18:03] yurem opened #940 "Allow to return custom parameters to RP"
It's related to https://github.com/GluuFederation/oxAuth/issues/647
We need to add `boolean` option near to each custom parameter name in JSON configuration. When this option is `true` oxAuth should return custom parameter back to RP.

Today we fixed collision between Gluu IDP and passport-saml. Both of them send in state jwt with additional custom parameters. We added workaround. But this new opt

[2018-11-16 09:02] syntrydy opened #941 "Remove useless js dependency on Super Gluu QA Page"
We have a useless request to bootstrap CDN while we already have a local copy.

![sample](https://user-images.githubusercontent.com/7513418/48611490-acdf3980-e986-11e8-9c3c-f138cf15ed01.png)

[2018-11-16 16:31] jgomer2001 commented on #267
I'm closing this, I think the recently added IDP-initiated capabilities to passport do the job.

[2018-11-16 16:31] #267 closed

[2018-11-17 05:08] natt-tester commented on #939
@syntrydy, we need either a full stop + space after **Incorrect Twilio code**, or a comma + space and **please try again.**:

- Incorrect Twilio code. Please try again.
**_or_**
- Incorrect Twilio code, please try again.

[2018-11-17 06:58] nynymike commented on #267
Are there docs on how to configure it in Gluu? I end up having to address this question several times a week.

[2018-11-17 09:54] syntrydy commented on #939
hmm

[2018-11-17 10:36] maximerouillard commented on #939
Thank you for fixing this quickly. What about adding the phone number?
From business and security perpectives it should be great if we can add the
phone with some masked numbers. For example :  *A text message with a
verification code was send to +41 78 xxx xx 12*

Sometimes users have several mobile : often one professional and one
personal.

Regards,
Maxime

Le sam. 17 nov. 2018 à 10:54, gasmyr

[2018-11-17 16:13] jgomer2001 commented on #267
Not yet I think since it was recently introduced. Actually, it was solved for 3.1.5. It will be part of 3.1.5 docs

[2018-11-18 11:31] syntrydy commented on #939
![image](https://user-images.githubusercontent.com/7513418/48671764-8576a100-eb2d-11e8-89b9-3d94211741e7.png)

![image](https://user-images.githubusercontent.com/7513418/48671791-ca023c80-eb2d-11e8-932a-56d9dc132fac.png)

[2018-11-18 11:41] #939 closed

[2018-11-18 11:45] syntrydy commented on #935
@natt-tester this the general error page for the application. We can change that just to mach super  gluu  specific stuff.

Last time i remember i designed a more generic page but that was remove.

[2018-11-18 12:02] #938 closed

[2018-11-19 00:00] natt-tester commented on #935
@syntrydy, if we can, let's make it as informative as possible. We can discuss changes for other authentication methods as well.

[2018-11-19 14:32] nynymike opened #946 "Support OAuth MTLS Client Authentication and Certificate Bound Access Tokens"
See https://www.ietf.org/id/draft-ietf-oauth-mtls-12.txt

This may also impact client registration and the oxTrust OpenID cliet configuration form... open more issues as necessary.

Client Authentication details should also be included in the token introspection response.

[2018-11-19 14:39] nynymike opened #947 "Sign token introspection response"
We need an option to provide a signature for the token introspection response.

[2018-11-19 14:48] yuriyz commented on #839
It is good idea to design it while we are re-factoring scope handling within this ticket https://github.com/GluuFederation/oxAuth/issues/756.

[2018-11-19 17:16] afroDC commented on #782
@yuriyz to import existing clients would take some data munging to format it to fit the current requirements of Gluu Server. I'm not sure it would be an easy and direct 1:1 conversion as the data could vary from IDP to IDP.

[2018-11-19 18:31] yuriyz commented on #782
I see, moving it to 4.0.

[2018-11-19 18:55] jgomer2001 opened #948 "Simplify passport cust scripts where possible"
For 3.1.4 both social and saml scripts are identical - only difference being the acr associated.
After IDP initiated flow was introduced they are not the same anymore
I think we can simplify the scripts a bit now that they have diverged

[2018-11-20 14:46] yuriyz opened #949 "Add support for nested JWE tokens"
Add support for nested JWE tokens
Here is example: https://connect2id.com/products/nimbus-jose-jwt/examples/signed-and-encrypted-jwt

https://support.gluu.org/authentication/6108/problem-with-decrypting-jwe/#at41701

[code]

[2018-11-20 18:50] yurem commented on #927
I've one new idea. `end_session` endpoint uses `id_token` to validate client. But `id_token` can expire and this led to this issue. Why we are trying to keep expired tokens? There is another way to validate client authority. We can update `end_session` to accept either `id_token`  or `client_id/client_password` (JWT/Basic/PostAuth).

[2018-11-20 19:19] afroDC commented on #927
@yurem would this violate and deviate from the OpenID spec? https://openid.net/specs/openid-connect-session-1_0-00.html#anchor16

[2018-11-20 22:10] nynymike opened #950 "Align claims in id_token and Userinfo"
#### Userinfo returns:
[code]
#### id_token returns

[code]

For the time being, let's return both address and individual claims. In the release notes we should publish that the individual claims are deprecated, and may be released at a later time.

[2018-11-21 11:57] yurem commented on #918
Is it work well in CE 3.1.4?

[2018-11-21 14:12] yuriyz opened #951 "Introspect endpoint should return 200 OK with active=false if invalid token is provided"
Introspect endpoint should return 200 OK with active=false if invalid token is provided

https://github.com/GluuFederation/oxd/issues/269

[2018-11-22 06:54] nynymike commented on #927
I think white listing post logout uri is ok, but isn't it potentially not backwards compatible? If so, we need to make the option configurable.

[2018-11-22 07:46] yuriyz commented on #927
Right, lets make is configurable (e.g. `allow_post_logout_redirect_without_validation`) with default value false. To summarize:

If we didn't find out client (because of expired token, grant or client entity itself) then :
- if `allow_post_logout_redirect_without_validation`=true -> redirect as it is now;
- if `allow_post_logout_redirect_without_validation`=false -> check white listed redirect_uri

[2018-11-22 16:06] yuriyz opened #952 "Invalidate OP session after consent flow is completed"
Requested in this ticket
https://support.gluu.org/authentication/6319/invalidating-the-authentication-session/#at41654

We need to make it configurable with default value to not invalidate session.

[2018-11-23 05:19] #925 closed

[2018-11-23 14:05] willow9886 commented on #876
@yuriyz can you check the PR above and see if this can be closed?

[2018-11-23 18:02] yuriyz commented on #876
oxauth client is corrected with PR, now it can accept both plain and json media types. Closing it.

[2018-11-23 18:02] #876 closed

[2018-11-26 03:52] #917 closed

[2018-11-26 12:36] yuriyz commented on #927
done in 3.1.5 and master

[2018-11-26 21:33] #948 closed

[2018-11-27 12:12] yuriyz opened #954 "oxauth-client should re-throw connection exception, so client app can handle it"
Right now oxauth client catch all exceptions and returns null, which does not allow to handle exception by oxd
https://github.com/GluuFederation/oxAuth/blob/9d698e9b1253602502eb49feaf0fd0dfd3650904/Client/src/main/java/org/xdi/oxauth/client/OpenIdConfigurationClient.java#L171

[2018-11-27 12:36] yuriyz commented on #954
done in 3.1.5 and master

[2018-11-27 12:36] #954 closed

[2018-11-28 14:54] yuriyz commented on #868
Moved to 4.0, if we will have time I will include it into 3.1.5.

[2018-11-28 15:16] yuriyz commented on #951
Added client test for introspection which confirms that request with valid authorization but invalid token returns 200 OK with active=false.

[2018-11-28 15:16] #951 closed

[2018-11-28 16:33] yuriyz commented on #849
In this particular case in request both `id_token_hint` and `session_id` are provided. As described in docs since 3.1.4 server validates both of them. It means that if session is not identified (for provided `id_token_hint` or `session_id`) then error will be returned. In addition if RP intention is to remove current session then `/end_session` can be called without `id_token_hint` and without `se

[2018-11-29 07:43] nynymike commented on #160
Don't confuse id_token ssl bonding with FIDO...

[2018-11-29 10:19] yuriyz commented on #883
done in 3.1.5 and merged into 4.0

[2018-11-29 14:13] mzico opened #955 "Empty scope should throw proper error ( while registering client ) instead of NPE"
If by mistake someone register a client without scope, Gluu Server should notify user. Right now it's just throwing NPE.

Ref. ticket: https://support.gluu.org/authentication/6345/nullpointerexception-in-gluu-when-scopes-are-not-defined-in-openid-connect-client-configuration/

[2018-11-30 11:30] yurem commented on #934
@mbaser I added [this](https://github.com/GluuFederation/community-edition-setup/commit/d7e86b961b5db857297ae7a2dd84540a631a5008) update to setup `o_metric.ldif` and updated `oxauth-static-conf.json` We need to import this new LDIF and update migrator if needed.

Also there is one update which we need to apply when admin is using OpenLDAP. We need to add next line to ox-ldap.properties to give met

[2018-11-30 11:32] yurem commented on #934
@natt-tester @sahiliamsso We need to check in 3.1.5 configuration load/reload from ox-ldap.properties because during work on this i changed these parts

[2018-12-03 12:23] yurem commented on #160
@nynymike why we need TLS Channel ID Binding ? There is no server/client /browser support of it?

[2018-12-03 13:57] ldeveloperl1985 opened #956 "JWT(Access token as JWT) returning empty scope"
We are getting empty scope after decoding JWT. Below is oxd `get-client-token` API request.
[code]

After decode (using `https://jwt.io/`)
[code]

-------------------------------------------------------------

scope is empty so is it oxd issue or oxauth issue?

[2018-12-03 14:29] yuriyz commented on #956
I've checked it on latest oxauth 3.1.5. Scopes are inside correct, see screenshot.

![image](https://user-images.githubusercontent.com/2013070/49379751-8e17cb80-f718-11e8-9d8d-cd750293c754.png)

[2018-12-03 14:29] #956 closed

[2018-12-03 14:53] ldeveloperl1985 commented on #956
I've tested it on ce-dev3 3.1.5, but got the same problem.
[oxd-server.log](https://github.com/GluuFederation/oxAuth/files/2639910/oxd-server.log)

[2018-12-03 15:30] yuriyz commented on #956
I was able to reproduce it. It was reproducible for client authentication only. Fixed in 3.1.5.

[2018-12-03 20:33] willow9886 commented on #936
Shouldn't the app ID be the end IDP? @jgomer2001 @yurem

[2018-12-03 20:35] willow9886 commented on #936
It seems like we're unnecessarily hardcoding the app redirect URI.. the target app your logging into is not relevant to Super Gluu.

[2018-12-04 00:15] afroDC commented on #933
https://github.com/GluuFederation/community-edition-setup/issues/495 shows this is no longer required. @mbaser, please remove the license prompt and extraction of this package.

[2018-12-04 09:48] yurem commented on #896
Implemented

[2018-12-04 09:48] #896 closed

[2018-12-05 04:53] #955 closed

[2018-12-05 12:48] yuriyz commented on #914
fixed in 3.1.5 and merged into master.

[2018-12-05 12:48] #914 closed

[2018-12-05 14:39] yuriyz commented on #911
For 3.1.5 introduced `allowAuthorizationByAccessToken` configuration property which is false by default. In this way we are deprecating authorization by `access_token` at Authorization Endpoint.

@nynymike :  in 4.0, I propose completely remove `access_token` from Authorization Request.

[2018-12-05 14:46] yuriyz opened #957 "Remove completely authorization by `access_token` from Authorization Endpoint"
We deprecated this functionality here https://github.com/GluuFederation/oxAuth/issues/911

In 4.0 we plan to completely remove it.

[2018-12-05 14:47] yuriyz commented on #911
Scheduled ticket for removing in 4.0 here https://github.com/GluuFederation/oxAuth/issues/957 .

[2018-12-05 14:47] #911 closed

[2018-12-06 16:28] nynymike opened #958 "More flexibilty to set audience on a per client basis"
During client registration, allow specification of additional values as audience for a client. The claim should be called `additional_audience` and the value should be a list of string. This should be present in the id_token and access_token as the actual value of `aud`. Note: if only one value is present, the `aud` value in the token should be a string. Otherwise a list of strings.

[2018-12-07 07:46] yuriyz commented on #952
done in 3.1.5 and master

[2018-12-07 07:46] #952 closed

[2018-12-07 09:54] yurem opened #959 "Authenticator should not depend on any ACR methods"
We need to move this code to script and avoid adding script specifc code to oxAuth:
https://github.com/GluuFederation/oxAuth/blame/e7249b0f9ccb1578a971e52dec04dd361f7af9ae/Server/src/main/java/org/xdi/oxauth/auth/Authenticator.java#L711

[2018-12-07 13:34] yurem commented on #906
On error type like this the bigger challenge is how to get information about RP. This happens because on authentication session we remove from cache all AuthN & AuthZ related data. If ind next approach to handle this:
1) After getting AuthZ request oxAuth add secure cookie rp_origin_id=redirect_uri.
2) On error application is using this cookie value to send error to RP.

Here are 3 error types whi

[2018-12-07 13:34] #906 closed

[2018-12-07 13:35] yurem commented on #906
To switch between old and new error handling behavior there is oxAuth property `errorHandlingMethod`. Default value is `internal` means that application works as before.

[2018-12-07 15:18] syntrydy commented on #959
**Authenticator should not depend on any ACR methods** but the **Authenticator error messahe should depend on ACR methods**
We can't just use **Username or password incorrect** for each ACR.

For **Twilio for example** the error message should be **Invalid code** .

[2018-12-07 15:42] syntrydy commented on #959
Okay, Agreed.

I think we can move this to 4.0, the time to decide how each ACR can make his **messages(error messages/success messages)**  available from Authenticator class.

[2018-12-10 05:32] #913 closed

[2018-12-11 08:33] yuriyz commented on #930
done in 3.1.5 and merged to master (4.0)

[2018-12-11 08:33] #930 closed

[2018-12-12 10:42] nynymike opened #961 "FAPI Conformance Suite"
We need to make sure we can comply with these requirements:
https://openbanking.atlassian.net/wiki/spaces/DZ/pages/23856067/OB+OIDC+Conformance+Suite

[2018-12-12 15:10] sahiliamsso opened #962 "U2F Authn is not working"
Enable U2F script
Change oxtrust default authentication method

Login to oxtrust
Provide credentials,
Expected Result: The server should prompt u2f key
Actual Result: The server isn’t prompting u2f key

No error in oxauth_script logs

[2018-12-12 17:24] yurem commented on #962
Can you check latest if it works well in latest oxauth.war?

[2018-12-12 17:24] #962 closed

[2018-12-12 17:56] yurem commented on #936
Sum up from chat about this issue:
1. From Facet Spec: `concept which does not attempt to strongly identify the calling application to a service across a network.`
2. Valid applications in FaceId json are applications which belong to same DNS which FacetId has.
Example from spec:
[code]

Our application_id provides the same what these 2 points have. And not requires to update U2F code:

[2018-12-13 02:47] sahiliamsso opened #964 "Not getting Super Gluu push notification"
Enable Super Gluu, and register device on first attempt,
Try to login again, and you will see following message "A Super Gluu push notification has been sent to your registered device. Approve the push to login"

But not getting any push notification on the registered device.

[2018-12-13 16:32] yurem commented on #940
Also we return AuthZ custom parameters as headers which led to clean up them on redirect. I think we need to return them in response: https://github.com/GluuFederation/oxAuth/blob/b33ad60927f21dad9648f453c45d82341bbc3350/Client/src/test/java/org/xdi/oxauth/ws/rs/AuthorizationResponseCustomHeaderTest.java#L81

[2018-12-14 18:49] #959 closed

[2018-12-17 08:54] #932 closed

[2018-12-17 14:04] syntrydy opened #966 "The OTP finish button should be centered"
The OTP finish button should be centered:

<img src="https://user-images.githubusercontent.com/38302725/50055419-f326e480-014e-11e9-8adf-29de39ed159d.png"></img>

[2018-12-18 03:45] sahiliamsso commented on #927
I am able to reproduce even after setting allowPostLogoutRedirectWithoutValidation to false
https://c7.gluu.org/oxauth/restv1/end_session?post_logout_redirect_uri=https%3A%2F%2Fevil.com%2F

[2018-12-18 04:30] natt-tester commented on #883
@yuriyz, is the value for non-expiring clients 0 or -1? Oxtrust still describes it as 0:
<img width="630" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50132156-f7095280-0285-11e9-9361-4060e8467c26.png">

[2018-12-18 09:03] yuriyz commented on #883
@natt-tester both 0 and -1 leads to non-expiring clients. But yes, I agree, default value and description should be consistent. Corrected description so now both default value and description refers to `-1`.

[2018-12-18 09:03] #883 closed

[2018-12-18 09:33] yuriyz commented on #782
https://github.com/GluuFederation/oxAuth/issues/823

[2018-12-18 11:55] yuriyz commented on #927
It happens because oxauth by default white lists all URIs (via `*` in `clientWhiteList`). Therefore it may looks confusing. I've changed behavior of this feature and updated docs according, now it works as:

1. redirect is forbidden if `allowPostLogoutRedirectWithoutValidation` = false (default value)
2. redirect is allowed if `allowPostLogoutRedirectWithoutValidation` = true and uri is whiteliste

[2018-12-18 11:55] #927 closed

[2018-12-18 19:33] jgomer2001 opened #968 "Store missing IDP name for passport inbound"
passport-github:theuser, however, if the external provider is a SAML IDP, it just does passport-saml:theuser.

For casa integration, I need a way to know the actual IDP

We agreed on using a separate attribute to preserve backwards compatibility instead of changing the format of `oxExternalUid`

[code]

this is a person with two accounts at two IDPs, for instance

[2018-12-19 07:52] yurem opened #969 "Fix expired entries clean up"
oxAuth logs should have next exception which identify this issue:
[code]

[2018-12-19 08:48] yurem commented on #781
![screenshot - 12_19_2018 11_46_49](https://user-images.githubusercontent.com/6104200/50209091-f820a980-0383-11e9-8f89-e894942adec0.png)

[2018-12-19 10:56] yurem commented on #781
Configuration endpoint: https://<server>/oxauth/restv1/fido2/configuration

[2018-12-19 10:56] #781 closed

[2018-12-19 14:19] #966 closed

[2018-12-19 18:21] yurem commented on #969
Fixed

[2018-12-19 18:21] #969 closed

[2018-12-20 09:12] natt-tester opened #972 "Empty postlogin page"
In 3.1.5_4, when they fail to scan the QR code for OTP withing the given time, the user is redirected to an empty postlogin page.
@syntrydy  reports it occurs for passport_social as well, so it might be a common case for social scripts.

<img width="789" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50275118-fec02700-043e-11e9-9668-6dee03f7650a.png">

[2018-12-20 13:55] yurem commented on #964
Can you check if there is key associated with this server in mobile authenticator? I suspect it's mobile application issue. It not store enrolled keys.

[2018-12-20 18:38] yurem commented on #972
@natt-tester Can you try to deploy into this VM https://ox.gluu.org/maven/org/xdi/oxauth-server/3.1.5-SNAPSHOT/oxauth-server-3.1.5-SNAPSHOT.war  ant test on it?

[2018-12-21 11:07] yurem commented on #968
I offer to use oxExternalId only. We can store inside it more attributes if needed.

[2018-12-21 11:34] yuriyz commented on #868
Introspection interception scripts support is added to oxauth, oxtrust and in setup. Docs added as well. Changes made in both 3.1.5 and merged into 4.0 version.
@sahiliamsso please test it. Docs : https://gluu.org/docs/ce/3.1.5/admin-guide/custom-script/

[2018-12-21 11:34] #868 closed

[2018-12-21 16:30] willow9886 commented on #964
yes, @sahiliamsso is there a key generated inside your super gluu "keys" page?

[2018-12-21 20:12] natt-tester commented on #830
@qbert2k, when I try to add  Access Token Lifetime in oxtrust (leave it empty, 0 or, say, 123) and click Update, an error message says:
<img width="432" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50361594-68862100-0564-11e9-9c61-e54186eb11fd.png">

There's an EntryPersistenceException in the log:
[oxtrust(2).log](https://github.com/GluuFederation/oxAuth/files/2704118/oxtru

[2018-12-22 21:10] jgomer2001 opened #973 "Markup bug in Fido u2f xhtml page"
Latest commit on this file /auth/u2f/login.xhtml breaks JSF EL expressions: https://github.com/GluuFederation/oxAuth/commit/a4ea59a3219ff21aa20c3017d71c92326e9aecfd#diff-2eb9ec2b281389ead88206ccc19f6312R25

leading to javascript errors...

Please check if other files involved in the commit are not suffering from the same formatting problem

[2018-12-23 21:54] natt-tester opened #974 "keyRegenerationEnabled doesn't work"
**Tested in 3.1.5_5**

Steps:
1. Log in to oxtrust
2. Go to Configuration -> JSON Configuration -> oxAuth Configuration
3. Set keyRegenerationInterval to 1 (1 hour)
4. After 1,5h check for changes in LDAP

Expected: There are changes in dn: ou=oxauth,ou=configuration,inum=@!,ou=appliances,o=gluu, entry oxAuthConfWebKeys

Actual: There are no changes in dn: ou=oxauth,ou=configuration,inum=@!,ou=app

[2018-12-24 10:06] yurem commented on #973
Fixed @jgomer2001 Thank you for checking this

[2018-12-24 10:06] #973 closed

[2018-12-24 20:03] jgomer2001 commented on #968
New format will be `passport-saml:provider:externalUid`. Script migrates old format to newer

[2018-12-24 20:14] #968 closed

[2018-12-25 05:48] yurem commented on #972
Fixed in recent oxauth.war build

[2018-12-25 05:48] #972 closed

[2018-12-25 05:49] yurem commented on #964
@sahiliamsso I can't reproduce it. Issue with keys is gone after all keys removal from Super Gluu mobile app

[2018-12-25 05:49] #964 closed

[2018-12-27 04:07] qbert2k commented on #830
There was a commit overriding my code changes in project community-edition-setup (LDAP Schema).

I have fixed it in commit: https://github.com/GluuFederation/community-edition-setup/commit/a77763641d4dc1a33afedcf94876cd39932b12eb

[2018-12-27 04:07] #830 closed

[2018-12-27 11:57] yuriyz commented on #230
Implemented in 3.1.5 and merged into master (4.0).

[2018-12-27 11:57] #230 closed

[2018-12-28 12:03] yurem opened #975 "Implemented Fido2 authenticator script which based on Fido2 API"

[2018-12-28 12:03] yurem commented on #975
Implemented and added into CE

[2018-12-28 12:03] #975 closed

[2018-12-28 14:23] sfright opened #976 "Unable to Enroll device - 404 Error in oxtrust"
After a fresh install of gluu using the steps described in https://github.com/GluuFederation/gluu-docker/tree/3.1.4/examples/single-host

I enabled super gluu as described https://gluu.org/docs/ce/authn-guide/supergluu/

I installed the latest version of the app as shown in the app store 3.9 (android), however upon enrollment i receive an error visually on the screen saying "Failed to get Fido U2F

[2018-12-28 14:32] natt-tester commented on #849
@yuriyz tested in 3.1.5_5, I made a logout call and then removed both `session_id` and `session_state`. Also, making the logout call worked only once for the provided token. I think the session should have been terminated, but it wasn't:

https://ufile.io/htqgi
(apologies for the many clicks in the vid ;)

[2018-12-28 16:07] willow9886 commented on #976
Please open as an issue on gluu support :

https://support.gluu.org

Thanks in advance.

[2018-12-28 16:07] #976 closed

[2018-12-28 16:46] #842 closed

[2018-12-28 16:47] ganesh-at-wiw commented on #842
We don't want these anymore.

[2018-12-28 22:51] aliaksander-samuseu commented on #849
@yuriyz @natt-tester
I think there may be misunderstanding.

`session_id` isn't provided in the request mentioned above, neither via cookies, nor via url query string. Yet oxAuth still process such request **without actually killing its session for this user**; the logout flow proceed seemingly as normal flow, and user is redirected to specified postlogout url in the end. So the real issue is that

[2018-12-29 01:53] aliaksander-samuseu commented on #849
@yuriyz @natt-tester
After reviewing the original description one more time, I now see that `session_id` parameter is indeed was mentioned in the original request (in url query string). That could add to the overall confusion, I guess, sorry for that. After a series of test on the newest build, here is the current behaviour:
1. `session_id` is passed and valid - correctly ends session
2. `session_

[2018-12-30 19:36] yuriyz commented on #849
@natt-tester from what you shown on video, it seems oxtrust didn't react on logout call which is performed. This is not oxauth issue indeed. It is scheduled on oxtrust side here:
https://github.com/GluuFederation/oxTrust/issues/1168

[2018-12-30 20:13] yuriyz commented on #849
@aliaksander-samuseu I agree with you. Fixed it, please validate.

[2018-12-30 20:38] yuriyz commented on #883
I'm not sure it's good idea to change it from 0 to -1 because it may break some client code. I will add clear not to docs that both `0` and `-1` means not expired client.

[2018-12-30 20:41] yuriyz commented on #883
@natt-tester https://github.com/GluuFederation/docs-ce-prod/commit/5d8798a6cb15f4fce214bb16b49319262a3d0bdf

[2018-12-31 13:13] yuriyz commented on #849
Reopened, we have test failures, need ti check in details.

[2019-01-01 16:23] jgomer2001 opened #977 "Typo in otp_configuration.json"
it should be **"hotp"**, not **"htop"**. Fix file + cust scripts involved

[2019-01-02 11:29] centroxy opened #978 "oxAuth throws error for unsupported ui_locales"
As per OpenID Standard
**ui_locales** is defined like below.

OPTIONAL. End-User's preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference. For instance, the value "fr-CA fr en" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English (w

[2019-01-02 22:59] #974 closed

[2019-01-03 12:58] yuriyz commented on #849
done in 3.1.5 and master. @aliaksander-samuseu please validate third item from your list.

[2019-01-03 12:58] #849 closed

[2019-01-04 07:32] syntrydy commented on #978
@centroxy Which gluu version?

[2019-01-04 07:52] syntrydy commented on #704
@qbert2k  the problem seems to been on the oxtrust side.

[2019-01-04 08:03] syntrydy commented on #704
https://github.com/GluuFederation/oxTrust/issues/1451

[2019-01-05 03:37] qbert2k commented on #704
Fixed in #1451, Thanks @syntrydy !

https://github.com/GluuFederation/oxTrust/issues/1451

[2019-01-05 03:37] #704 closed

[2019-01-07 07:09] centroxy commented on #978
Gluu 3.1.4 version

[2019-01-07 16:21] shmorri commented on #975
Added as https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/authn-guide/fido2.md

[2019-01-08 18:30] yurem opened #979 "Group similar non-searchable attributes to reduce schema size"
I think we need to try to make schema minimal. We need new attribute only if we do LDAP search.

We can store oxSoftwareId, oxSoftwareVersion, oxSoftwareStatement as JSON in one attribute only. Our Persistence layer supports automatic JSON <-> Bean conversion.

Example:
	@LdapAttribute(name = "oxSmtpConfiguration")
	@LdapJsonObject
	private SmtpConfiguration smtpConfiguration;

[2019-01-10 07:53] syntrydy opened #980 "Logo not display correctly on authorization page"
![image](https://user-images.githubusercontent.com/7513418/50953913-1bd39d00-14b5-11e9-9d4d-78ab0d320b23.png)

[2019-01-10 08:52] #980 closed

[2019-01-11 07:31] yuriyz opened #982 "OB : OAuth 2.0 Mutual TLS Client Authentication and Certificate Bound Access Tokens"
We have to implement MTLS for Client which is prerequisite to move forward with [OB OIDC Conformance Suite](https://github.com/GluuFederation/oxAuth/issues/961). We can't get tests run without it.

Spec : https://tools.ietf.org/html/draft-ietf-oauth-mtls-12

[2019-01-11 07:33] yuriyz commented on #961
We can't run OB OIDC Conformance Suite because we don't have MTLS support, opened separate ticket for it https://github.com/GluuFederation/oxAuth/issues/982

[2019-01-13 16:55] yurem commented on #589
@mzico @sahiliamsso It's old issue. Can you review if it throw same error in 3.1.5

[2019-01-13 19:14] yurem commented on #480
Authentication scripts allows this from first versions. In order to use this we need to implement 2 methods:
`isValidAuthenticationMethod` and `getAlternativeAuthenticationMethod`.

Authentication service call `isValidAuthenticationMethod` and if it return `False` the service will call `getAlternativeAuthenticationMethod` to get alternative flow `acr_values`. In `isValidAuthenticationMethod` we ca

[2019-01-13 19:14] #480 closed

[2019-01-16 11:57] yuriyz commented on #982
duplicate of https://github.com/GluuFederation/oxAuth/issues/946

[2019-01-16 11:57] #982 closed

[2019-01-16 13:14] yuriyz opened #983 "Prepare successful 4.0 oxauth build before go on with new features"
Currently build failed during last 25 days. We need to bring it to clean state before pushing new features inside.

[2019-01-17 09:18] yuriyz commented on #983
Fixed, we have successful 4.0 build and can go on with new features development.  https://ox.gluu.org/jenkins/job/oxAuth_4.0.0/374/

[2019-01-17 09:18] #983 closed

[2019-01-17 11:48] nynymike commented on #784
Javier, can you make sure you notify @shmorri about this change, so he can update the Reference docs for this new API.

[2019-01-17 13:35] willow9886 commented on #784
@nynymike and @qbert2k we have a new label in **all** Gluu Server repo's now: `Needs Documentation` .

Any issue that requires the docs to be updated should have this tag. In addition, we also added another new tag specifically in the oxTrust Repo: `Needs Screenshots`

Please make sure to use both as required to ensure all features are properly documented.

[2019-01-18 19:07] yurem opened #984 "Update session AuthZ parameters on ACR change"
Here s flow which used @jgomer2001 for testings:

- Loginto oxTrust as admin
- Set the oxtrust openid client with persist_client_authz = true and pre_authz = false
- Logout
- Log in to an app A (using an acr of level value 1)
- Try to hit oxTrust /identity
- In this case, no login form is shown. That’s OK
- The consent screen is displayed, press “allow”
- You are taken to app A! not to oxTrust.

[2019-01-18 19:10] yurem commented on #984
The issue is here: https://github.com/GluuFederation/oxAuth/blob/version_3.1.5/Server/src/main/java/org/xdi/oxauth/service/SessionIdService.java#L159
This exception break the flow

[2019-01-19 16:46] jgomer2001 commented on #984
Just to add a bit more of context to interested parties:
If the consent to oxTrust was allowed before attempting to login to app A, there is no problem, the following happens:
- Login to app A
- Login to oxTrust (success and no login form shown)

[2019-01-21 19:39] yurem opened #985 "Load Fido2 protected device metadata"
oxAuth should automatically download MDS device metadata protected by access token.

[2019-01-23 07:30] yurem opened #986 "Consent form not shown when second client start authorization"
Just to add a bit more of context to interested parties:
If the consent to oxTrust was allowed before attempting to login to app A, there is no problem, the following happens:
- Login to app A
- Login to oxTrust (success and no login form shown)

_Originally posted by @jgomer2001 in https://github.com/GluuFederation/oxAuth/issues/984#issuecomment-455795640_

[2019-01-23 07:31] yurem commented on #984
@jgomer2001 I opened another issue because it's another problem

[2019-01-23 15:46] jgomer2001 opened #987 "Adjust passport script to parameterize whether updates should be applied to user profile or not"
In passport flow, the info released by external provider is parsed and an update is applied to local profile in LDAP. That is, the provider is treated as a trusted source of data. If one attribute changes or disappears, the same will reflect locally

There is a special case where no profile edition should take place: Linking of external accounts via casa's account linking plugin.

[2019-01-23 19:55] yurem opened #988 "Don't show error message about missing consent cookie at Authorization flow start"

[2019-01-24 09:35] yurem commented on #988
Fixed

[2019-01-24 09:35] #988 closed

[2019-01-24 10:48] yurem commented on #847
Fixed

[2019-01-24 10:48] #847 closed

[2019-01-24 10:51] yurem commented on #841
![screenshot 2](https://user-images.githubusercontent.com/6104200/51673450-1b6ff180-1fdf-11e9-8a81-9281cd2f8ee4.png)

Fixed in 3.1.5

[2019-01-24 10:51] #841 closed

[2019-01-24 10:58] yurem commented on #813
I like idea described in second comment. This should improve performance. I only don't understand subject. Maybe we need to update it? How separate pool can help with this? Cleaner is synchronous process. Hence it do all types object clean up in turn. In each iteration it uses just one connection. Maybe instead of using new connection pool which oxAuth should maintain we can allow to specify prior

[2019-01-24 11:04] yurem commented on #720
Here is PR for this. We can use it and update to latest scpe: https://github.com/GluuFederation/oxAuth/pull/349

[2019-01-25 10:40] yuriyz opened #989 "IdTokenFactory has to fetch public key base on JWE algorithm."
Bug described here:
https://support.gluu.org/authentication/6567/alg-header-parameter-for-jwe/#at44118

[2019-01-25 12:22] jgomer2001 commented on #987
https://github.com/GluuFederation/community-edition-setup/commit/e45e12d27bf3f442f87ced82aed72fb43a8440ea

https://github.com/GluuFederation/oxAuth/commit/71c544707644cecab388048d430186bfd42ae98f

[2019-01-25 17:54] yurem opened #990 "Protect RP initiated logout flow against top-level browsing context changing from iframe"
This sample from OP response:
[code]

As result this led to browser redirect to `https://c70.gluu.info/identity/logout?sid=abd1590a-84a2-4a8f-98a7-c194a3538be3` instead of `https://c70.gluu.info/identity/authentication/finishlogout`.

[2019-01-25 18:06] #990 closed

[2019-01-26 06:12] yurem opened #991 "Cache Native objects clean up not work properly"
This conditions in CleanUp service returns always false:
[code]
`cacheService.getCacheProvider()` here is `org.xdi.service.cache.NativePersistenceCacheProvider$Proxy$_$$_WeldSubclass@f59f084`. Hence it's proxy of `NativePersistenceCacheProvider`.

Also according to [this](https://support.gluu.org/other/6582/cleanertimer-in-oxauth-fails/#at44117) report in 3.1.4 (I think in 3.1.5 too) in VM custome

[2019-01-26 06:45] yurem commented on #991
Also due to similar issue oxAuth put extra cache object into LDAP: https://github.com/GluuFederation/oxCore/blob/version_3.1.5/oxService/src/main/java/org/xdi/service/CacheService.java#L77

[2019-01-26 14:19] #977 closed

[2019-01-26 15:33] yurem opened #992 "Second logout request from another RP returns error"
Original issue is [this](https://github.com/GluuFederation/oxTrust/issues/1474) one.

[Here](https://github.com/GluuFederation/oxAuth/issues/984) is root case which caused wrong redirect after log into second RP. I fixed it.

I think oxTrust issue https://github.com/GluuFederation/oxTrust/issues/1474 was resolved. But the question is till open. Should oxAuth return successful result aftert second

[2019-01-26 15:44] yurem commented on #992
We discussed similar issue already. We tried to fix issue with id_token expiration which need to end_session call. I have one idea. I offer instead of storing data about expired tokens/session in local LDAP to add new cookie for each RP. The value will be signed JWT or JWE. On end session if the id_token/session cookie were expired already we can use this additional cookie. oxAuth can check it sig

[2019-01-29 20:08] jgomer2001 commented on #986
I think you misunderstood my comment on 984 issue. I was simply describing a proper behavior. I'm closing this

[2019-01-29 20:08] #986 closed

[2019-01-29 21:38] jgomer2001 commented on #992
How to catch the error code? I mean, after obtaining a logout URL from OP, the browser is sent there. Thenthe  json error (referenced in issue [1474](https://github.com/GluuFederation/oxTrust/issues/1474)) is seen when the browser is still at OP, more exactly `https://host/oxauth/restv1/end_session?id_token_hint=...&session_state=...&post_logout_redirect_uri=...`

[2019-01-30 08:17] yuriyz commented on #992
@jgomer2001 @yurem I propose stick to spec. And spec says that each RP should register `frontchannel_logout_uri`. So lets say we have: RP1 and RP2. If RP1 calls `/end_session`, then both `frontchannel_logout_uri1` (from RP1) and `frontchannel_logout_uri2` (from RP2) are loaded and thus RP2 knows that session is ended. So if user clicks logout on RP2 and it already knows that session ended then it

[2019-01-30 15:46] jgomer2001 opened #993 "Adjust passport cust script and pages to remove unnecessary endpoints"
There is a couple of passport  endpoints that can be removed. More info at
https://support.gluu.org/authentication/6599/after-a-security-revision-unauthenticated-routes-were-found/

[2019-01-30 16:14] corriganjeff commented on #813
Yuri, It's been a while since I tested this so I don't recall the specific details. IIRC the reason for the split connection pool is because if the system is already under load, when the cleanup job starts up it seemed like it was grabbing whatever connections were available (not just a single connection). Each connection was only used to query/delete 100 records. Meanwhile there was service refus

[2019-01-30 17:12] yurem commented on #813
Maybe the issue is in high load and cleaner process priority might help?
Exhaustive answer on question about connections we can get after next files analysis:
`/opt/gluu/jetty/oxauth/logs/oxauth_persistence_ldap_statistics.log`
`/opt/gluu/jetty/identity/logs/oxtrust_persistence_ldap_statistics.log` (SCIM opeartions)

The connection pool helps to reduce CPU time needed for connection creation. If i

[2019-01-31 08:03] nynymike opened #994 "New OAuth Scope Type: OAuth Policy"
Create a new OAuth Scope Type called "OAuth Policy". This policy is mapped to one or more new interception scripts called "OAuth Policy Script" that is similar to an RPT policy. This script should accept pushed claim tokens, similar to UMA. If the evalute() method returns true, the scope should be granted.

[2019-01-31 15:47] orditeck opened #995 "invalid_grant_and_session, wrong description?"
Hi,

Looking at [the contexts](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/session/ws/rs/EndSessionRestWebServiceImpl.java) where `INVALID_GRANT_AND_SESSION` is used, I feel like [this line](https://github.com/GluuFederation/oxAuth/blob/14f8004eed2049c0818469e961e8c3de19a47e89/Server/conf/oxauth-errors.json#L104) should be
[code]
instead of
[code]

`id

[2019-01-31 16:27] orditeck opened #996 "invalid_grant_and_session when token not included in response_type"
Hi,

In our use case, we don't need/use the access token. However, if I don't include it in my requested Response Types (`oxauth/restv1/authorize?response_type=id_token&...`), when I log out (`oxauth/restv1/end_session?id_token_hint={id_token}&post_logout_redirect_uri={logout_uri}`), I'm getting an `invalid_grant_and_session` error.

[code]

Is this a bug?

[2019-01-31 16:29] #996 closed, assigned to nobody

[2019-02-01 15:14] yurem opened #997 "Support JWT token algs PS256, PS384, PS512"

[2019-02-01 15:59] yurem commented on #697
I think we can close it and open new open to check performance in 3.1.6/4.0 with max 200-300 threads.
800 threads is too many even for very quick server.

[2019-02-01 17:33] yuriyz opened #998 "Introspection interception script response is not returned by WS"
https://support.gluu.org/outages/6615/some-problems-with-custom-introspection-script/

[2019-02-01 17:48] yuriyz commented on #998
Fixed in 3.1.6 and merged into master.

[2019-02-01 17:48] #998 closed

[2019-02-05 13:31] yurem opened #999 "Handle logout when user can use many RP applications"
Even when both applications supports OP/RP logouts user can get OP error page with error:
[code]

This happens when user user log into RP1 but trigger logout from RP2.

How to handle this with better user experience? I offer to redirect user to RP where user log in instead of showing OP error page. Do you have other alternatives of this idea?

[2019-02-06 09:07] yuriyz commented on #999
User is logged in to RP1 and to RP2. If RP2 triggered logout then RP1 is notified about logout via `frontchannel_logout_uri`. RP1 is notified and should not call end_session endpoint and thus not get that error. @yurem Do I understand use case correctly?

[2019-02-06 09:53] yurem commented on #999
Company has many RP1... RPn. As result user might click logout in RP where he is no logged in this session. This will show him OP error page.

[2019-02-06 11:07] yuriyz commented on #999
I'm not sure I understand use case, if RP is not logged in then how user can click logout? I assume this use case should be handled by RP. Logout should be called only when RP is logged in. Otherwise yes, we can redirect to  `post_logout_redirect_uri` without validation if it's white listed. It would definitely look better for end-user.

[2019-02-06 15:06] yurem commented on #999
There are crazy users like I which has bookmark like this `https://<server>/identity/logout`. Of course I'm using this for testing but what if user is using browser session restore and just forget about old tab? After opening it again and clicking Logout he will get this OP error.

[2019-02-06 15:07] yurem commented on #999
My idea is to redirect him to last logged in RP if he not logged in current one.

[2019-02-06 17:28] yurem commented on #589
@mzico can you check latest script https://github.com/GluuFederation/oxAuth/blob/version_3.1.6/Server/integrations/twilio_sms/twilio2FA.py in 3.1.5?

[2019-02-06 20:43] yurem commented on #901
Fixed

[2019-02-06 20:43] #901 closed

[2019-02-07 12:28] #993 closed

[2019-02-08 11:55] #997 closed

[2019-02-08 17:10] #985 closed

[2019-02-08 18:29] qbert2k commented on #997
Some notes to consider:

1. The new signature algorithms PS256, PS384, PS512 are ready to use and are published in the configuration endpoint: userinfo_signing_alg_values_supported, id_token_signing_alg_values_supported, request_object_signing_alg_values_supported, token_endpoint_auth_signing_alg_values_supported.

2. I have generated a new JWKS for client and server to test with Jenkins at ce-dev

[2019-02-09 18:45] jgomer2001 commented on #984
I'm sorry, but still facing the same problem described at the [top](https://github.com/GluuFederation/oxAuth/issues/984#issue-400851518) with latest 3.1.6 oxtrust/oxauth war

[2019-02-11 10:11] yuriyz commented on #946
I've added documentation about MTLS itself. However we also need documentation how to configure apache for PKI and self-signed certificate validation. Opened separate ticket for it here:

https://github.com/GluuFederation/docs-ce-prod/issues/148

[2019-02-11 16:16] yuriyz opened #1000 "End session : enable access_token in id_token_hint"
End session : enable access_token in id_token_hint

[2019-02-11 16:37] yuriyz commented on #1000
Fixed in 3.1.6.

[2019-02-11 16:37] #1000 closed

[2019-02-12 07:23] biswas123 commented on #175
Has this been fixed, I still get the CORS error while trying to access from implicit login.

[2019-02-12 07:30] willow9886 commented on #175
@biswas123 best to open a ticket with details and steps to reproduce on https://support.gluu.org

[2019-02-12 20:38] qbert2k commented on #989
[code]

[2019-02-12 20:38] #989 closed

[2019-02-13 15:31] jgomer2001 commented on #984
https://github.com/GluuFederation/oxAuth/commit/8b6892535777dcd8c56d3638029e988adbf9fbb9
https://github.com/GluuFederation/oxAuth/commit/4e933eb8e5c6c51f8ae24798193f3012fe13d497

Solved with yura's commits

[2019-02-13 15:31] #984 closed

[2019-02-13 19:01] jajmo opened #1001 "FidoDevices endpoint searching on wrong LDAP server"
Querying `/identity/restv1/scim/v2/FidoDevices` always searches the server configured in Cache Refresh (remote server), as opposed to the server where the FIDO authenticator data actually is (local server).

[2019-02-13 19:04] willow9886 commented on #1001
This isn't the right repo for this issue. The /identity endpoint is exposed by oxTrust. Can you open a ticket with more details on https://support.gluu.org please? We will troubleshoot there and determine if it is a big. If so we will open on the correct repo and resolve.

Thanks for your input.

[2019-02-13 19:04] #1001 closed

[2019-02-14 10:54] yuriyz commented on #961
we stuck with this ticket. We have 2 problems:
1. what is expected by test suite here?
[code]

2. When run simple discovery suite shows blank error

![image](https://user-images.githubusercontent.com/2013070/52782395-9b75fe00-3057-11e9-908a-7bfde94463bd.png)

[2019-02-14 11:11] yuriyz commented on #946
Re-open, MTLS should go as separate module (FE, Enterprise). Right now it's in main codebase.

[2019-02-14 23:31] sahiliamsso opened #1002 "Admin login after loggin out second time in same browser"
Description:
Logout is not happening after user logouts second time in the same browser. Please refer below to reproduce

Steps to reproduce the behavior:
1. Login to Gluu with admin credentials
2. Click on Logout
3. Click "Sign in Again' button
4. You are asked to provide credentials, enter username/password
5. Click on Logout
6. Click "Sign in Again' button

**Expected behavior**
User should be

[2019-02-15 12:29] willow9886 commented on #1002
Confirmed this is an issue in 3.1.6. Can we incorporate the fix into 3.1.6 @yurem ?

[2019-02-15 14:25] sahiliamsso commented on #1002
Thanks @syntrydy - Thought It has something to do with logout button.

[2019-02-16 12:24] yuriyz commented on #750
@willow9886 @nynymike marked it with `Enterprise` label since it looks as part of FE.

[2019-02-16 12:43] nynymike commented on #750
Yes, agreed

[2019-02-17 08:55] syntrydy commented on #1002
@sahiliamsso this is  available just in 3.1.6

[2019-02-18 12:11] yuriyz opened #1003 "Allow to refresh `ID Token` with grant_type refresh_token"
## Describe the issue
`refresh_token` grant type is for refreshing access token. However it's possible to refresh `id_token`. This is feature to allow refresh also `id_token`. Just the `iat` and `exp` claims should be updated per
[Referesh Token Response](https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse)

## Steps To Reproduce
Refresh token at Token Endpoint.

## Expected

[2019-02-19 16:13] mzico opened #1005 "Issue new token if branch is not available, 2nd attempt"
There might be a race condition between issuing token for authentication by oxAuth and cleanerJob.
If cleanerJob clean tokens in the middle of authentication, oxAuth don't get that token when user complete it's authentication and it result something like below:

[code]

This feature request will allow oxAuth to try to issue new token if such scenario appear.

[2019-02-19 18:22] yurem commented on #1005
Fixed

[2019-02-19 18:22] #1005 closed

[2019-02-19 18:23] yurem commented on #1002
Fixed

[2019-02-19 18:23] #1002 closed

[2019-02-19 18:50] simonpinkney commented on #89
Couple of comments to discuss on SSA, since its pretty relevant for PSD2, if your familiar ...

1 USER    - OIDC Dynamic Registration need to be a public endpoint with or without SSA
2 ADMIN - OIDC Dynamic Registration needs to have the ability to have SSA turned on / off , via UI and REST
3 UMA for me is optional currently, but mandatory is oauth2/oidc to start with.

Happy to discuss

[2019-02-19 19:58] yuriyz opened #1006 "oxauth-client introspection fails if it meets unknown field."
## Describe the issue

In 3.1.6 we added introspection interception script. It can modify response of introspection response. If such script adds unknown for oxauth-client field than it fails with error as shown below.
[code]

## Steps To Reproduce
Steps to reproduce the behavior:
1. Enabled Introspection Interception script
2. In script add field to response, e.g. `key_from_script`

## Expected b

[2019-02-19 20:01] yuriyz commented on #1006
Fixed in 3.1.6 and master.

[2019-02-19 20:01] #1006 closed

[2019-02-19 21:23] qbert2k commented on #750
The above link is March 6, 2017. I have found a newer specs January 16, 2019.

https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html

[2019-02-20 17:48] yuriyz commented on #946
MTLS is FE/Enterprise feature, therefore it is extracted into separate maven module which is build separately and should be dropped into CE (for now put under `WEB-INF/lib` of `oxauth.war` file untill we have better approach.). Artifact can be found here: https://ox.gluu.org/maven/org/xdi/oxauth-mtls

[2019-02-20 17:48] #946 closed

[2019-02-21 05:51] qbert2k opened #1007 "CIBA: Update Discovery Metadata"
Sub-ticket of #750

[2019-02-21 05:52] qbert2k opened #1008 "CIBA: Update Dynamic Client Registration"
Sub-ticket of #750

[2019-02-21 05:53] qbert2k opened #1009 "CIBA: Implement Backchannel Authentication Endpoint"
Sub-ticket of #750

[2019-02-21 05:54] qbert2k opened #1010 "CIBA: Authentication Request with binding message"
Sub-ticket of #750

[2019-02-21 05:54] qbert2k opened #1011 "CIBA: Authentication Request with user code"
Sub-ticket of #750

[2019-02-21 05:55] qbert2k opened #1012 "CIBA: Obtain End-User Consent/Authorization"
Sub-ticket of #750

[2019-02-21 05:55] qbert2k opened #1013 "CIBA: Update Token Endpoint for request with Ping Mode"
Sub-ticket of #750

[2019-02-21 05:56] qbert2k opened #1014 "CIBA: Update Token Endpoint for request with Poll Mode"
Sub-ticket of #750

[2019-02-21 05:56] qbert2k opened #1015 "CIBA: Authentication result for Push Mode"
Sub-ticket of #750

[2019-02-21 05:57] qbert2k opened #1016 "CIBA: Poll and Ping Modes with Pairwise Identifiers"
Sub-ticket of #750

[2019-02-21 05:57] qbert2k opened #1017 "CIBA: Push Mode with Pairwise Identifiers"
Sub-ticket of #750

[2019-02-21 05:58] qbert2k opened #1018 "CIBA: Signed Authentication Request"
Sub-ticket of #750

[2019-02-21 05:58] qbert2k opened #1019 "CIBA: Polling protection by interval"
Sub-ticket of #750

[2019-02-21 19:44] jgomer2001 opened #1020 "Adjust passport scripts to conform to new configuration structure"
passport_social script reads some config from LDAP, and passport_saml from filesystem

We need to adjust scripts to correctly parse the newer config structure: https://github.com/GluuFederation/oxCore/issues/113

[2019-02-21 19:51] jgomer2001 opened #1021 "Move attributes mapping logic out of passport scripts"
We will centralize attribute mapping at a single place: the node code. This will bring us better organization, will simplify our custom scripts, and at the same time offer more flexibility to specify custom logic when applying mappings. Transformation of data will also benefit from this.

Adjust the scripts and reorganize the node code accordingly.

[2019-02-22 12:32] algh37 opened #1022 "(Gluu Server CE 3.1.6) "An unexpected error ..." after trying to sign in on page: https://**test_domain_name***/oxauth/login.htm after 4-5 min how this page has been opened"
## Describe the issue
Impossible to sign in under any user on page 'https://**test_domain_name***/oxauth/login.htm' after 4-5 min waiting from the moment of happen redirect event to this page from the page: 'https://**test_domain_name***/'

## Steps To Reproduce
Steps to reproduce the behavior:
**1.** Go to test domain https://**test_domain_name***/ (for example) (with Gluu Server CE 3.1.6).
**2.*

[2019-02-22 14:46] algh37 opened #1023 "(Gluu Server CE 3.1.6) Logo file is absent by path 'https://**test_domain_name***/oxauth/ext/resources/img/logo.png'"
## Describe the issue
(Gluu Server CE 3.1.6) Logo file is absent by path 'https://**test_domain_name***/oxauth/ext/resources/img/logo.png'

## Steps To Reproduce
Steps to reproduce the behavior:
1. Open browser new tab and developer tool in it.
2. Go on 'https://**test_domain_name***/' (for example) or any domain with installed Gluu Server CE 3.1.6.
3. Waiting for finish of redirection to URL 'htt

[2019-02-22 15:41] yuriyz opened #1024 "On session expiration show "Login" button on OP page directly which should re-initiate login process (instead of "Go back" button)"
## Describe the issue
Currently if session is expired we show screen with "Go back" button.

![screenshot 2](https://user-images.githubusercontent.com/6104200/45759795-5fb64400-bc31-11e8-8b02-16b19a06e94d.png)

Will request to avoid "Go back" button and instead have "Login" button. It should save end-user from clicking "Go back" and then "Login" again (as it is with support.gluu.org right now. It'

[2019-02-22 15:49] yuriyz commented on #1024
https://github.com/GluuFederation/oxAuth/issues/875

[2019-02-25 12:09] yuriyz commented on #813
started new doc page for clean up https://github.com/GluuFederation/docs-ce-prod/blob/4.0/docs/source/operation/cleanup.md

[2019-02-25 13:07] algh37 opened #1026 "(Gluu Server CE 3.1.6) Impossible to sign in under admin user on page 'https://**test_domain_name***/oxauth/login.htm' with error: 'Failed to authenticate.'"
## Describe the issue
User get an error: "Failed to authenticate." and hasn't possibility to login in admin-part.

## Steps To Reproduce
Steps to reproduce the behavior:
1) on server side:  install Gluu Server 3.1.6 on test *.dev domain. + Start the Gluu Server and Log In + Run setup.py
2) on server side: reboot Server OS -> $ sudo shutdown -r now
3) on client side: try to access into test *.dev d

[2019-02-27 05:30] #1007 closed

[2019-02-27 08:40] syntrydy opened #1027 "Regular expression validation should work on password expiry script"
## Describe the issue
Password expiry script pages are old and the password renew don't validate regular expression assign to attribute.

## Steps To Reproduce
Steps to reproduce the behavior:
1. Add the password expiry custom script to Gluu server (https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations/basic.password_expiration)
2. Enable that custom script
3. Set it as default

[2019-02-27 16:55] syntrydy commented on #1027
![image](https://user-images.githubusercontent.com/7513418/53507803-d72db080-3ab8-11e9-9f63-d592e461a8b1.png)

[2019-02-27 18:26] yuriyz opened #1029 "Blank login page during simultaneous login to many RPs (flow 5)"
## Describe the issue
Blank login page.

## Steps To Reproduce
Steps to reproduce the behavior:
 1. Open login page to oxTrust but not log in
 2. Login to app A
 3. Logout from app A
 4. Return to step 1 and log in
 5. User get blank page instead of redirect to RP

## Expected behavior
User has to be redirected to RP
## Actual behavior
Blank page is shown.

## Screenshots
![image](https://user-ima

[2019-02-27 18:31] yuriyz commented on #1029
Currently there are two ideas:

Yura M's random token
[code]

Yuriy Z multi request map with reference pointer

[code]

[2019-02-27 18:40] yuriyz opened #1030 "Server does not track client's that take part in SSO if ACR is changed (flow 4, 3.1.6 workaround)."
## Describe the issue
Server does not track client's that take part in SSO if ACR is changed. Bug is introduced in this ticket:
https://github.com/GluuFederation/oxTrust/issues/797 (commits goes to oxauth, not oxtrust)

Situation is following:
1) Javier added removing of session if prompt=LOGIN
2) Jose added prompt=LOGIN if acr is changed.
Thus flow is:
casa request authorization with acr=casa (wh

[2019-02-27 18:46] yuriyz opened #1031 "Server does not track client's that take part in SSO if ACR is changed (flow 4, 4.0)."
## Describe the issue
This is same issue as described here https://github.com/GluuFederation/oxAuth/issues/1030, below is copy/paste of the ticket description. The difference that in #1030 we workarounded issue while it's good idea to provide better solution.

[code]

Server does not track client's that take part in SSO if ACR is changed. Bug is introduced in this ticket:
https://github.com/GluuFe

[2019-02-28 03:21] sahiliamsso commented on #589
Now I am getting Failed to authenticate.

Traceback (most recent call last):   File "twilio_sms.py", line 181, in authenticate NameError: global name 'facesMessage' is not defined  	at org.python.core.Py.NameError(Py.java:290) 	at org.python.core.PyFrame.getglobal(PyFrame.java:265) 	at org.python.pycode._pyx11.authenticate$8(twilio_sms.py:187) 	at org.python.pycode._pyx11.call_function(twilio_sms.

[2019-02-28 09:40] yuriyz commented on #1030
commits:
- https://github.com/GluuFederation/oxAuth/commit/fc664952b8929933f366dad04708d2580796e288
- https://github.com/GluuFederation/oxAuth/commit/a6d4b7a1924efd5bd6fe5aad271b6838f02c8c0a
- https://github.com/GluuFederation/oxAuth/commit/be4ac16104864f6e4ae95975421a99ffa193c1c1

[2019-02-28 19:11] yurem commented on #589
Can you try updated script: https://github.com/GluuFederation/community-edition-setup/blob/version_3.1.6/static/extension/person_authentication/twilio2FA.py ?

[2019-03-01 00:34] sahiliamsso commented on #589
Yes it is working fine now. Thanks

[2019-03-01 00:34] #589 closed

[2019-03-01 08:12] #1027 closed

[2019-03-01 09:22] yuriyz commented on #1030
Fixed in 3.1.6 and moved manually to 4.0 (master via cherry-pick).

[2019-03-01 09:22] #1030 closed

[2019-03-01 11:33] willow9886 opened #1032 "Add new property for BasicLockAccount authentication script"
https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/basic.lock.account/BasicLockAccountExternalAuthenticator.py

In this script, we should pull the lock expiration time out of the script and make it a property.

`self.lockExpirationTime = 180`

This way its easier to set the value for when the user is automatically unlocked.

For QA / Testing purposes, when this issue is resol

[2019-03-04 09:45] yuriyz opened #1033 "Change oxauth persistence model : Drop `oxAuthGrant` objects from persistence and reduce load on ~30%."
## Describe the issue

Currently we store in persistence tree structure which looks as :
[code]

We have to drop `oxAuthGrant` and make it more flat. Currently the only useful information is `oxAuthGrantId` which anyway is part of `oxAuthToken`.
[code]

## Expected behavior
After dropping `oxAuthGrant` objects oxauth must work as before.

## Screenshots
![image](https://user-images.githubuserconte

[2019-03-04 09:54] yuriyz commented on #813
Before proceeding with clean up ticket we have to drop grant objects from persistance. Opened ticket here https://github.com/GluuFederation/oxAuth/issues/1033

[2019-03-05 10:16] yurem commented on #1024
In oxAuth there is option to redirect to RP with error in JSON as payload. It's `errorHandlingMethod`: internal/remote.
Is it secure approach to do re-authentication after login session timeout? AuthZ request contains `state` parameter which also can be treated as short lived token.

[2019-03-05 10:29] nynymike commented on #1024
I don't see why it would be insecure to redirect to the login page. Is there some specific concern you have? I think redirecting to the login page would be more intuitive.

[2019-03-05 11:47] yurem commented on #1024
@nynymike do you mean OP or RP login page? Now when `errorHandlingMethod: remote` OP redirects to RP to allow trigger new AuthZ request.
For OP case it's not clear how this can help us? We have property `sessionIdUnauthenticatedUnusedLifetime` with default value 3 minute (OP start counting 3 minute again after each user iteration with OP). Admin can specify here another time range if needed and to

[2019-03-05 13:40] nynymike commented on #1024
ok, I agree. I wonder how long Google sets this timeout by default.

[2019-03-05 19:28] yurem commented on #1024
Good question. Once we will implement [this](https://github.com/GluuFederation/oxCore/issues/115) we can return back to this question. This should help us to store data like unauthenticated sessions in another place. And as result we can hold unauthenticated sessions longer (without main functionality slowdown), even use RP session lifetime.

[2019-03-07 09:53] yurem opened #1034 "Fix NPE in RO Grant when client hasn't redirect_uri"
## Describe the issue
Instead of throwing NPE application should handle client configuration issue and return expected result to RP.

## Steps To Reproduce
1. Register client without redirect_uri
2. Send RO Grant request to token endpoint

## Root case
[code]

[2019-03-08 06:07] #950 closed

[2019-03-09 06:35] #884 closed

[2019-03-11 11:38] yuriyz commented on #1033
Done in master. We don't have grant objects anymore in persistence.

![image](https://user-images.githubusercontent.com/2013070/54121343-dd9a2180-4402-11e9-9ba8-8a816f767317.png)

[2019-03-11 11:38] #1033 closed

[2019-03-11 11:38] yuriyz commented on #813
#1033 is done, resuming work on this ticket.

[2019-03-11 20:13] yurem opened #1035 "Remove ou=session and from LDAP and static oxAuth configuration"
`ou=cache` replaces `ou=session` in recent 3.1.x versions. As result we need to remove deprecated parts from setup/oxAuth

[2019-03-12 00:49] sahiliamsso commented on #1027
@syntrydy @willow9886
Currently user is redirected to change password page without any notification, Should we display message that User password is expired and ask to reset

[2019-03-12 09:29] yuriyz opened #1036 "Introduce `oxauth-persistence-model` maven module to be re-used by oxTrust API"
## Describe the issue
We should share persistence model classes between oxauth and oxtrust. Right now we have duplications and as result it may produce inconsistencies. Our goal is whenever we change oxauth model, it should be refelected by oxTrust API. Currently oxauth keeps persistence classes in `oxauth-server`. We have to split this.

## Steps To Reproduce
It's design ticket.

## Expected beha

[2019-03-13 23:38] #602 closed

[2019-03-14 11:16] ldeveloperl1985 opened #1038 "Userinfo response is not as expected as describe in spec"
## Describe the issue
I’m dealing with `get_user_info` endpoint in oxd. The response is very strange - every claim is an array.
According to specs it should be single value.

Userinfo response in spec https://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

## Steps To Reproduce
Request to userinfo to OP server or request using OXD API. I am using OXD API.

## Expected behavior
but

[2019-03-14 11:30] yuriyz commented on #1038
oxd returns what oxauth-client returns. Right now it seems to always return claim arrays for userinfo.

See https://github.com/GluuFederation/oxAuth/blob/532db4ad0950579aa5ccb3555b6b6057ddd926b1/Client/src/main/java/org/xdi/oxauth/client/UserInfoResponse.java#L22

[2019-03-14 12:25] nynymike commented on #1038
Making a change like this would is potentially non-backwards compatible. If we implement this kind of change, we need to make a property to maintain the old behavior. And for new installs, we can make align with the spec. But for upgrades, we should maintain the previous behavior.

[2019-03-14 12:32] nynymike commented on #1038
I disagree that this is even a bug. The example in the spec says explicitly that it is NON-NORMATIVE. I did not see anywhere in the response where it specified the values MUST be strings. We have more important things to do. Returning as arrays makes sense because you always know what kind of object it is, versus having to test whether it is a string or array.  This has been discussed _ad naseum_

[2019-03-14 12:32] #1038 closed

[2019-03-15 01:59] #548 closed

[2019-03-15 02:21] qbert2k commented on #1038
oxAuth is returning the claims in the correct format as specified in the specs, for example:

-------------------------------------------------------
REQUEST:
-------------------------------------------------------
[code]

-------------------------------------------------------
RESPONSE:
-------------------------------------------------------
[code]

But, the code in oxauth-client is prepared to a

[2019-03-15 06:10] yurem commented on #1038
in this case oxd convert response

[2019-03-15 06:57] #767 closed

[2019-03-15 08:32] yuriyz commented on #1038
@yurem oxauth-client returns map of list, see link above. (https://github.com/GluuFederation/oxAuth/blob/532db4ad0950579aa5ccb3555b6b6057ddd926b1/Client/src/main/java/org/xdi/oxauth/client/UserInfoResponse.java#L22)

I also think it's not big dial. It's also easier to handle for client code when values are unified.

[2019-03-15 09:23] yurem commented on #1038
@yuriyz I don't mind

[2019-03-15 09:30] mogluu opened #1039 "Not redirecting to application post logout on two instances and login on one"
- Log in to instance #1 of app in tab #1 with user A (successful)
    - Open a 2nd tab to instance #2 of our app in tabl #2 with user A (no authentication required)
    - Log out of instance #1 in tab #1 (release gluu token)
    - Both instances/tabs are redirected to the Gluu login page
    - In instance #1/tab #1, enter credentials to log in with user A (successful)
    - In instance #2/tab #2,

[2019-03-15 10:07] yuriyz commented on #1038
Corrected oxd and transfered oxauth response `as is`, for this used `oxauth-client`'s `UserInfoResponse.getEntity()`. Commit : https://github.com/GluuFederation/oxd/commit/576053c161214012155fd253403d00c7d22bb4a4

[2019-03-15 10:23] ldeveloperl1985 commented on #1038
@yuriyz thank you!
is latest OXD build with this changes available?

[2019-03-15 11:16] yuriyz commented on #1038
not yet

[2019-03-18 03:06] #1026 closed

[2019-03-18 03:06] #1022 closed

[2019-03-18 03:09] willow9886 commented on #928
I don't know this is a valid enhancement request. The app asks for required user attributes..if the user doesn't want to share those attributes, they are not allowed yo access the app. I've never seen a scenario where the user can state what they want to share or not share. Closing this issue.

[2019-03-18 03:09] #928 closed

[2019-03-18 05:15] yurem commented on #1039
There is same issue with 4.0 scope: https://github.com/GluuFederation/oxAuth/issues/1029

[2019-03-18 05:15] #1039 closed

[2019-03-18 14:33] yuriyz commented on #1035
done in master in oxauth and community-edition-setup

[2019-03-18 14:33] #1035 closed

[2019-03-18 14:59] yuriyz commented on #995
done in master (4.0)

[2019-03-18 14:59] #995 closed

[2019-03-18 21:54] jgomer2001 opened #1040 "Double anchor tag in footer of oxAuth login form"
This [line](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/webapp/login.xhtml#L217-L217) generates two `a` html tags due to current value of [label](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/resources/oxauth.properties#L8-L8)  `common.caution`.  See image:

![markup](https://user-images.githubusercontent.com/5444180/54566270-5d456480-499e-11e9-9283-

[2019-03-19 11:01] suyambuganesh commented on #141
There is a new version but it is still marked as draft https://tools.ietf.org/html/draft-ietf-oauth-device-flow-15

[2019-03-19 11:28] yuriyz commented on #957
@nynymike @qbert2k @yurem I'm going to remove `access_token` parameter from Authorization Endpoint as it was discussed a few months ago. This is incompatible change but we have to do it since exchange token by `access_token` doesn't seem to be use case we want to support. What do you think? Any objections?

[2019-03-21 12:57] yuriyz opened #1042 "Client authorization live in LDAP forever. Need to move it under client entity to clean it up"
## Describe the issue
Currently client authorizations are stored under `user` entity e.g. `inum=@!2128.9AFB.B310.EB30!0001!690B.5F8F!0000!B1F3.AEAE.B798,ou=people,o=@!2128.9AFB.B310.EB30!0001!690B.5F8F,o=gluu` and are NEVER removed.

If configuration sets to store it in LDAP then database grows and slow downs. We have to move client authorizations under client.

## Steps To Reproduce
Enable client

[2019-03-22 09:36] yuriyz commented on #961
From mail
[code]

[2019-03-22 09:40] yurem commented on #734
This should work well now. We resolved GrantService clean up issues.

[2019-03-22 09:40] #734 closed

[2019-03-22 14:25] jgomer2001 opened #1043 "Show error message when passport scripts suspect about impersonation attempt"
When testing casa acct linking plugin the following situation led to confusion:

1. You visit casa login page, and click on an external provider
1. Authenticate there, then passport creates a new user entry in local ldap
1. You are taken back to casa. The linking is shown if you visit “accounts linking”
1. Then you set a password for that account and remove the linking
1. Logout

So far this is fi

[2019-03-24 20:39] jgomer2001 opened #1044 "Remove usages of Filter.create to create string-based filters"
In oxauth there are usages of [this method](https://github.com/GluuFederation/oxCore/blob/master/oxFilter/src/main/java/org/gluu/search/filter/Filter.java#L60) in order to build instances of `Filter` from strings. When using couchbase ad DB [this](https://github.com/GluuFederation/oxCore/blob/master/oxCouchbase/src/main/java/org/gluu/persist/couchbase/impl/CouchbaseFilterConverter.java#L26) will b

[2019-03-25 05:58] syntrydy opened #1045 "Update Jquery and bootstrap"
## Describe the issue
Update Bootstrap and Jquery version to recent versions.

Require for security reason. For further information see customer ticket 6829.

## Steps To Reproduce
No reproduction needed.