[2020-05-26 17:25] #936 closed

[2020-05-26 17:26] yurem commented on #1202
We don't need this because we uses Couchbase TTL

[2020-05-26 17:26] #1202 closed

[2020-05-26 17:26] yurem commented on #1362
It should be fixed in latest build

[2020-05-26 17:26] #1362 closed

[2020-05-26 18:46] yurem commented on #1297
There is similar issue: https://github.com/GluuFederation/oxAuth/issues/1270

[2020-05-26 18:46] #1297 closed

[2020-05-26 20:29] nynymike opened #1370 "Control visibility of OAuth Scopes in configuration endpoint"
Scopes should have an attribute that enables the admin to specify if it should be published in the openid configuration endpoint (i.e. `.well-known/openid-configuration`).  Alternately, there could be a JSON property with a whitelist of published scopes.

[2020-05-27 06:33] yurem commented on #1225
It should be fixed in 4.1.1

[2020-05-27 11:14] yuriyz commented on #1354
Implemented in 4.2.

[2020-05-27 11:14] #1354 closed

[2020-05-27 17:13] yuriyz commented on #1336
Re-scheduled to 4.3 as agree with Mike.

Issue is going to be solved by new custom script which should allow to customize identifier in different ways.

[2020-05-27 19:24] yuriyz commented on #1358
This issue describes validation which is triggered withing Custom Authentication Script `SamlPassportAuthenticator.py`. Thus is can be mitigated within the script. However still it can be useful it forbid `None` signature algorithm globally within oxauth. If `verifySignature()` method is called with `SignatureAlgorithm.NONE` reject it.
We can introduce global property `rejectJwtWithNoneAlg` with d

[2020-05-28 10:12] yuriyz commented on #1358
Done in 4.2

[2020-05-28 10:12] #1358 closed

[2020-05-28 12:30] yurem opened #1371 "Add property to allow keep authenticator parameters on ACR change"
This should allow to check previous authentication context on higher ACR change to determine which additional details user should provide

[2020-05-28 12:42] yurem commented on #1371
Implemented

[2020-05-28 12:42] #1371 closed

[2020-05-28 18:20] yurem opened #1373 "Fido to Fido2 enrollment migration"
Fido2 server should automatically migrate U2F registered devices to Fido2 entries format

[2020-05-28 18:21] yurem commented on #1373
https://github.com/GluuFederation/fido2/commit/b564aca03d99c720db45393f035aff6fa7e3ee8b#diff-5f583125b2741ca593daa4eec8c9334c

[2020-05-28 18:21] #1373 closed

[2020-06-01 10:12] yurem commented on #1373
https://github.com/GluuFederation/fido2/commit/516cd3d4b63f78c87760a3953028a126a326bef0

[2020-06-01 12:32] miltonbo opened #1375 "CIBA: Refactor Request class instead of Grant class"
According to the code already implemented, terminology is a little messed. Grant is being used as Request data, however a Grant object contains data when the authorization is done. Current implementation is using Grant objects to save information about the request.

Sub-ticket of #750

[2020-06-01 12:51] yurem opened #1376 "Migrate Super Gluu from U2F to Fido2"
We need to update Super Gluu script and mobile authentication to use Fido2 endpoints instead of U2F

[2020-06-01 15:47] #1220 closed

[2020-06-01 17:19] yurem opened #1377 "Remove deprecated U2F API"
We need to remove deprecated U2F API. Fido2 is compatible with it and replace it.

[2020-06-02 10:59] yuriyz commented on #1350
Bug is fixed in 4.2. Issue was that even if "Persist Client Authorization" is false, server put client authorization into cache for 60 seconds.

[2020-06-02 10:59] #1350 closed

[2020-06-02 11:33] yuriyz commented on #921
Session Revocation is going to be implemented via separate endpoint (similar to Token Revocation):

Sample request:
[code]

Sample response:
[code]
Similar to Token Revocation, response is always 200 even if no sessions were found. Idea is to not disclose internal information.

cc @nynymike

[2020-06-02 12:16] miltonbo commented on #1361
The PR about the expired requests funcionality was approved and merged into `CIBA_v4x` branch.

[2020-06-02 12:16] #1361 closed

[2020-06-02 13:11] miltonbo commented on #1366
Implemented also in the branch `oxAuth/issues/1361` and merged into `CIBA_v4x` branch.

[2020-06-02 13:11] #1366 closed

[2020-06-03 13:47] miltonbo commented on #1375
Closing this issue since all refactoring needed was done.
Now there is a class used to control CIBA cache values, validations and other funtionalities. CibaGrant is also used, however only when end user authorize the flow as it should be.

[2020-06-03 13:47] #1375 closed

[2020-06-03 16:16] yuriyz opened #1379 "Correct security alert in test depedency"
## Describe the issue
We got security alert in test dependency. It doesn't effect oxauth but hanging security alert is not nice. We can't apply auto-fix from github because it breaks our selenium client tests. We have to find out the reason and possibly upgrade selenium to keep it compatible (or otherwise correct tests).

https://github.com/GluuFederation/oxAuth/network/alert/pom.xml/net.sourcefor

[2020-06-03 19:19] yurem commented on #1335
Fixed

[2020-06-03 19:19] #1335 closed

[2020-06-04 15:36] yuriyz commented on #1261
Done in 4.2.

[2020-06-04 15:36] #1261 closed

[2020-06-04 15:39] miltonbo commented on #1252
Added `clientRegDefaultToCodeFlowWithRefresh` json property in order to switch on/off default behaviour.

[2020-06-04 15:39] #1252 closed

[2020-06-04 17:57] maduvena commented on #1225
When QR code times out, we will refresh (reload) QR code

[2020-06-05 06:06] yuriyz commented on #1370
@miltonbo We started to get test failures after it, I guess default value should be true, so optionally admin can disable advertisement on discovery page. Otherwise it should be handled by test properties to make build successful.

[2020-06-05 09:01] yuriyz commented on #1370
Also I think we don't need `notShowInDiscovery` attribute, there no need to query persistence by it. Thus it can be removed and use `org.oxauth.persistence.model.ScopeAttributes` instead.

[2020-06-05 15:02] yuriyz commented on #921
Session Revocation endpoint requires `revoke_session` scope in token, otherwise request is rejected.

[2020-06-06 13:50] miltonbo commented on #1370
Clossing this issue since all changes were done in oxAuth and oxTrust.

[2020-06-06 13:50] #1370 closed

[2020-06-06 14:00] jgomer2001 commented on #1306
Some questions regarding the solution given to this issue:

- Why is the "attack" blocked in jython?. Isn't it cleaner to revamp `verifySignature` method of oxAuth crypto provider in Java? That way other developers can reuse...
- It only accepts the RS512 algorithm and rejects the rest, why?
- Why were `getAuthenticationMethodClaims` and `getLogoutExternalUrl` methods removed from the script?
- Wh

[2020-06-06 20:14] yuriyz commented on #1306
On oxauth side in 4.2 this attack is already blocked (in `verifySignature `). There is new configuration property `rejectJwtWithNoneAlg` which is true by default. It means that JWT with None algorithm is rejected by default until admin explicitly allows it. Thus I consider this particular issue as fixed.

Re: blocking in script, I guess first it was blocked in script by Chris and then I've added s

[2020-06-08 16:07] yuriyz commented on #1316
@miltonbo Would you please take over while Javier is out?

[2020-06-08 16:23] yuriyz commented on #1253
I will take over this ticket.

[2020-06-08 16:26] yuriyz commented on #750
All subtickets seems to be solved. [CIBA Conformance](https://github.com/GluuFederation/oxAuth/issues/1316) test should highlight gaps in implementation. We should open specific ticket for these gaps.

[2020-06-08 16:26] #750 closed

[2020-06-08 17:59] yuriyz commented on #1306
Closing as fixed.

[2020-06-08 17:59] #1306 closed

[2020-06-08 19:31] yuriyz opened #1385 "Check and possibly remove oxInvolvedClients attribute from session"
## Describe the issue

Check and possibly  remove oxInvolvedClients attribute from session persistence.

(It will be done in 4.2 if time allows.)

[2020-06-09 10:51] yuriyz commented on #921
Done in 4.2

[2020-06-09 10:51] #921 closed

[2020-06-09 11:17] yuriyz commented on #1253
Issue was already fixed within https://github.com/GluuFederation/oxAuth/issues/1109 .

[2020-06-09 11:17] #1253 closed

[2020-06-09 11:58] miltonbo commented on #1379
I'm closing this issue since last version has the issue fixed, there is no security alert and `dependabot` has closed its PR also.

[2020-06-09 11:58] #1379 closed

[2020-06-09 15:11] miltonbo commented on #1316
I configured `ce-ob.gluu.org` env with FAPI-CIBA profile. Created client certificates and configuration needed for test plan.

Test plan created in OpenId conformance suite: https://www.certification.openid.net/plan-detail.html?plan=LGXZo5OEwx4OX&public=true

[2020-06-09 15:14] miltonbo opened #1387 "JWT request object for FAPI-CIBA authorization request"
Current CIBA implementation doesn't support JWT request object, this should be implemented according to FAPI-CIBA specs, get all params from the JWT and verify the signing.

#### Authorization URL:
https://ce-ob.gluu.org/oxauth/restv1/bc-authorize?request=eyJraWQiOiJmYXBpLWNpYmEtMSIsImFsZyI6IlBTMjU2In0.eyJhdWQiOiJodHRwczpcL1wvY2Utb2IuZ2x1dS5vcmciLCJsb2dpbl9oaW50IjoidGVzdF91c2VyIiwibmJmIjoxNTkxNzE0

[2020-06-10 00:17] sahiliamsso commented on #1172
This is my request `https://<host>/oxauth/restv1/authorize?client_id=xxxxxx&scope=openid+offline_access&response_type=code&redirect_uri=<url>`. But I don't see refresh token being generated in the output.
[code]

[2020-06-10 01:04] sahiliamsso commented on #839
allowSpontaneousScopes and spontaneousScopes are not saved in client settings and reverted to default/blank after hitting save.

![image](https://user-images.githubusercontent.com/21104811/84215576-afd3da80-aa94-11ea-9a35-4cd25b07e564.png)

[2020-06-10 05:13] anotherrohit opened #1389 "maven repo for oxauth"
repo for oxAuth
I have been  trying to build oxAuth in the msAzure ad example using oxAuth, but unable to build oxAuth. The download from repo2.maven.org fails. Below is the error

downloading: http://repo1.maven.org/maven2/org/xdi/oxauth-client/4.0.0-SNAPSHOT/maven-metadata.xml
[WARNING] Could not transfer metadata org.xdi:oxauth-client:4.0.0-SNAPSHOT/maven-metadata.xml from/to bouncycastle (http

[2020-06-10 06:18] yuriyz commented on #839
@sahiliamsso it's UI issue, so https://github.com/GluuFederation/oxTrust/issues/1890 should be reopened.

[2020-06-10 08:36] yuriyz commented on #1389
Github is used to track bugs. Support tickets should be opened on https://support.gluu.org.

Re: your question, it doesn't look as latest master. It's not clear what branch are you building.
For master you would need:
[code]

[2020-06-10 08:36] #1389 closed

[2020-06-10 08:44] yuriyz commented on #1385
Done in 4.2

[2020-06-10 08:44] #1385 closed

[2020-06-10 11:07] yuriyz commented on #1172
@sahiliamsso did you add `offline_access` scope to your client (as well as `refresh_token` grant type)?
I've checked it on jenkins-ldap.gluu.org (where we have latest oxauth) and refresh token is returned.

[2020-06-10 11:07] #1172 closed

[2020-06-11 10:12] yurem commented on #1134
Implemented. Now it's enough to put localization file into i18 folder:
[code]

[2020-06-11 10:12] #1134 closed

[2020-06-11 10:13] yurem commented on #1134
https://github.com/GluuFederation/oxCore/commit/c66885430d0638be708fdce45f8056ea55732c5f

[2020-06-11 10:13] yurem commented on #1134
https://github.com/GluuFederation/oxCore/commit/964ed55740efa8d06064f5124abde55380a504ca

[2020-06-11 10:19] yurem commented on #1134
https://github.com/GluuFederation/oxTrust/commit/eb64dc750db70f22dc60003ea3779b2f1e84d2bb

[2020-06-11 10:59] yurem commented on #1288
It's no possible to remove this file because oxAuth/oxTrust build dynamic faces-config. As result it scan for localization files at startup. More details is here: https://github.com/GluuFederation/oxAuth/issues/1134

[2020-06-11 10:59] #1288 closed

[2020-06-11 15:08] mzico opened #1391 "oxAuth fail to prepare JMS"
Enabling "enabledOAuthAuditLogging" + JMS configurations throwing NPE.
Log snippet:

[code]

Reference ticket: https://support.gluu.org/maintenance/8477/oxauth_audit-logs-filled-with-activemq-configuration-error

[2020-06-13 23:39] miltonbo commented on #1316
Test plan for MTLS with Ping flow: https://www.certification.openid.net/plan-detail.html?plan=MzYYHCa3FnLaD&public=true

[2020-06-14 17:57] miltonbo commented on #1316
Test plan for Private Key JWT with Ping Flow: https://www.certification.openid.net/plan-detail.html?plan=UWLmKRd1uDp2p&public=true

[2020-06-14 18:52] miltonbo commented on #1316
Test plan for Private Key JWT with Poll Flow: https://www.certification.openid.net/plan-detail.html?plan=aDUo6NeCW8Kg1&public=true

[2020-06-16 12:49] yurem commented on #1130
Instead of adding new oxAuth property we can add nw attribute to scope entry to specify the same. Example:
[code]

For me this will be better because we don't need to update property in oxAuth config after scope removal, for example.
@nynymike what do you think?

[2020-06-16 14:34] nynymike commented on #1130
Yes, agreed. This would allow us to control the behavior on a scope-by-scope basis.

[2020-06-16 16:45] nynymike commented on #1391
Fix will make it into 4.2

[2020-06-16 19:09] yurem commented on #1391
Fixed

[2020-06-16 19:09] #1391 closed

[2020-06-17 12:16] miltonbo commented on #1387
Closing this issue since this was already implemented in #1316 issue.

[2020-06-17 12:16] #1387 closed

[2020-06-18 16:00] moabu opened #1395 "Intermittent authentication failure when using multiple oxauth pods"
There is `authenticator.getFullNumber()` on twillio page which under the hood is calling `identify.getWorkingParameter()` which is `RequestScoped`. Means data is alive during request. Thus failing if another pod is run.

Description:

- Authentication breaks regardless of backend and cache mechanism used. Provided we have more than one `oxauth` pod running.
- Tried with more than 2 pods and the be

[2020-06-18 18:09] yuriyz commented on #1395
Reference commit https://github.com/GluuFederation/oxAuth/commit/acef099f7616c7d5ff335a0e6436a7263de2b658

[2020-06-19 07:45] yuriyz opened #1396 "Add support to use any client authentication for revoke token endpoint (currently it works only with basic client authentication)"
## Describe the issue
- Add support to use any client authentication for revoke token endpoint (currently it works only with basic client authentication).
- Add support to revoke token for public clients (without authentication)

Support: 8506

[2020-06-19 12:16] yuriyz commented on #1353
Implemented in 4.2. Docs updated.

[2020-06-19 12:16] #1353 closed

[2020-06-19 15:04] yuriyz opened #1397 "Add 'RPT Claims' script to add/modify RPT claims."
## Describe the issue
Add custom script to add/modify RPT claims.

It should effect both RPT as JWT and RPT Introspection Endpoint.

[2020-06-20 14:53] miltonbo commented on #1059
Ok, based on the comments here and considering that this ticket was reported many months ago, I tried to reproduce a case when that issue would happend, however I haven't found the error, it's correct, that error page would be used in case of something really strange happend, unexpected error means that oxAuth had some `Exception`, like `NullPointerException` for example, in those cases it's corre

[2020-06-22 14:38] christian-hawk opened #1398 "API for idp-initiated configuration"
## API for configuring IDP-Initiated flow

User should be able to setup IDP-Initiated Config using our API to automate IDP-Initiated provisioning.

[2020-06-22 14:41] christian-hawk opened #1399 "Setting custom acr-value for IDP-Initiated Flow"
User should be able to setup custom acr value for idp-initiated so that user can use other custom scripts then `passport-saml`.

Maybe we can set flags on idp-initiated custom scripts?

[2020-06-23 19:43] syntrydy commented on #1395
@moabu this issue is fixed only need testing now.

I did a test on 4.1.2 with Shamir and all looks good with the updated twillio script.

I will update 4.2 twillio script tomorrow.

[2020-06-24 06:28] moabu commented on #1395
Perfect. Thanks @syntrydy !

[2020-06-24 09:00] yuriyz commented on #1396
Implemented in 4.2.

[2020-06-24 09:00] #1396 closed

[2020-06-24 12:50] miltonbo commented on #1059
After chatting with @mzico we decided to close this issue.

[2020-06-24 18:31] miltonbo commented on #141
Task that should be done:
1. Implement `/device-code` endpoint which should be responsible to create `user_code`, `device_code` and `verification_url`.
2. Verification UI, where user has to put `user_code`, validates it and redirects to authentication and authorization interface.
3. Implement `/activate` endpoint, it allows to Verification UI process the validation.
4. Implement changes in authn a

[2020-06-24 21:56] syntrydy commented on #1395
@moabu Fixed in 4.1.2 branch and tested. All working well with 3 oxauth pods. No extra volume mounting step.

[2020-06-25 01:10] miltonbo commented on #141
@nynymike Based on `RFC8628` specs, section 3.3.1 it's possible to have QR code representation in the verification UI in addition to the input box, however QR is optional, do you think this should be included in the UI implementation?

[2020-06-25 03:52] nynymike commented on #141
It seems like this is an implementation detail for the client. Are we writing a test client? Would this be more convenient for testing / demo?

[2020-06-25 11:28] moabu commented on #1395
Thank you. We will prepare the images with the release of 4.1.2.

[2020-06-25 12:14] miltonbo commented on #141
Yes, you are right, client shows QR, from our side we should support `verification_uri_complete` feature and show just a confirmation UI to the end-user then.

[2020-06-25 18:59] nynymike opened #1402 "Remove PII from logs"
Some customers may prefer that the logs don't contain any PII. Information like the `uid` or `inum` would need to be removed. Perhaps we could blowfish encrypt it?

[2020-06-26 08:57] moabu commented on #1395
Issue seems to still be present. We are re-doing the tests again

[2020-06-26 15:06] moabu commented on #1395
After using https://github.com/GluuFederation/community-edition-setup/blob/version_4.1.2/static/extension/person_authentication/twilio2FA.py and with the recent fixes. OTP sometimes has to be repeatedly placed. Details are [attached](i have to repeatedly enter the otp)

[2020-06-30 09:00] yuriyz commented on #839
I will take over

[2020-07-01 13:39] yuriyz commented on #1397
Implemented in 4.2. Opened ticket to add ability assign script to client on GUI https://github.com/GluuFederation/oxTrust/issues/1991.

[2020-07-01 13:39] #1397 closed

[2020-07-01 16:00] emanoelxavier commented on #1402
I recommend removing any user name/email but I believe logging inum since it is opaque is ok and probably useful.

[2020-07-01 18:38] miltonbo opened #1404 "Add system flag config to enable/disable CIBA"
Based on Yuriy M. suggestion, it's important to add a new entry in `ou=configuration` in order to switch on/off CIBA functionalities. This would allow to init the CIBA requests processor, process CIBA requests and also enable/disable configuration related to CIBA from oxTrust.

[2020-07-02 12:50] yuriyz opened #1406 "oxauth slows down in 4 times when CIBA is turned on."
## Describe the issue
During performance load test we find out that CIBA slows down oxauth in times.
We used same single machine for testing with same Authorization Code Flow jmeter script:
- in 4.1.1 - 71 req/s
- in 4.2 with CIBA - 20 req/s
- in 4.2 without CIBA - 73 req/s.

In CIBA implementation there is job which query CB endlessly even if there is nothing to process. This approach leads to hu

[2020-07-02 15:47] MohitMaliFtechiz opened #1407 "Using 'Email' for authentication not working"
## Describe the Issue :

Using 'Email' for authentication not working

##Step to reproduce :

1. open gluu user login page on web browser.
2. login to gluu-server using user's email in place of user name.
3. try login.

## Expected Behavior
User must be login to gluu-server.

## Actual Behavior
User failed to login with message "Failed to Authenticate".

## Desktop
OS:-Ubuntu 16.04LTS
Gluu-version

[2020-07-02 17:20] sahilarora2020 commented on #1407
https://gluu.org/docs/gluu-server/4.1/operation/faq/#request-email-instead-of-username-for-login

[2020-07-02 18:20] MohitMaliFtechiz commented on #1407
hi @sahilIT2020 thanks for help , I clicked update button instead to  activate  , closing this issue.

[2020-07-02 18:20] #1407 closed

[2020-07-03 08:19] yuriyz opened #1408 "BUG : Introspection script is not identified by client which was used during obtaining access_token"
## Describe the issue
BUG : Introspection script is not identified by client which was used during obtaining access_token. Reported by Meg and I was able to reproduce it on latest 4.2.

[2020-07-03 09:10] yuriyz commented on #1408
Fixed.

[2020-07-03 09:10] #1408 closed

[2020-07-03 09:43] yuriyz commented on #1406
Closing it, on `cb-bench` we got comparable performance. It seems reason was in missed and not optimized indexes on CB.

[2020-07-03 09:43] #1406 closed

[2020-07-03 09:45] yuriyz commented on #1316
Closing it. 4.2 is FAPI-CIBA certified.

https://openid.net/certification/
https://openid.net/developers/certified/

[2020-07-03 09:45] #1316 closed

[2020-07-03 10:58] mzico opened #1409 "basic_multi_auth not working with encoded password in configuration file"
If we use encoded password in `multi_auth_conf.json` file, script can't connect to backend servers.
Clear text password  in 'bindPassword' attirbute in this configuration file ( multi_auth_conf.json ), working okay.

Not working condition screenshot below:

![Capture](https://user-images.githubusercontent.com/7156097/86462866-fca47d00-bcf1-11ea-9a59-04458256d0f2.PNG)

oxAuth and identity version b

[2020-07-04 05:59] mzico opened #1410 "Failed to start redisProvider"
I am little confused if I should open this such issue under oxAuth or oxTrust. But, I can't setup external Redis Cache in 4.2.
Here is the testing situation: https://youtu.be/bTfRNttrf2k

[2020-07-04 09:23] yuriyz commented on #1410
@mzico would you please attach oxauth.log in TRACE log level?

[2020-07-04 09:29] mzico commented on #1410
@yuriyz : sure, will do it today.

[2020-07-04 09:35] yuriyz commented on #1410
@mzico great. Between, does it work if you set useSsl=false ?

[2020-07-04 14:32] mzico commented on #1410
@yuriyz : I think it's actually oxTrust issue. I have recorded a screencast which showing that only clear text password is being accepted by oxTrust and "Connection is successful".
After entering clear text ( first time ), oxTrust encode it and if I hit 'enter' again.. it's failing.

https://youtu.be/4wct6ZI147w

[2020-07-06 22:30] sahilIT2020 commented on #1365
![image](https://user-images.githubusercontent.com/21104811/86658002-b3d11a80-bfb6-11ea-83ae-65bb96e84e02.png)
 still happening in 4.2 - 4.2.0-378.centos7

[2020-07-07 17:47] mtgluu commented on #1402
I'm with ^. Obvious PII should be removed from the logs but I think that uid/inum is still appropriate. In larger deployments we still need a way to identify activity of users for security/fraud prevention/troubleshooting purposes. This also kind of ties in to providing more context to the logging about the activities being performed (as opposed to just thousands of log entries that say "user x au

[2020-07-07 18:12] mtgluu commented on #1059
I think some context was lost here. This request isn't necessarily for the failed to authenticate messaging. This was for scenarios where something happens that causes gluu to redirect to the error page that generically says "oops something happened". Imagine supporting a system with a million+ active daily users. Sometime some of them get that error page for whatever reason and then they email sc

[2020-07-07 18:15] mirr254 commented on #1395
I came across that. With the message `A text message with a verification code
was sent to UNKNXX USER PHONE.` As seen in the 2nd step picture shown below. By default it's supposed to show part of the phone number
![Screenshot 2020-07-07 at 21 02 33](https://user-images.githubusercontent.com/13331207/86824358-b7d46980-c096-11ea-94f2-4def9f8bd43a.png)

[2020-07-07 18:21] bsirwaitis commented on #1059
Request ticket re-open by end-user (Jeff Corrigan - Idemia).

[2020-07-07 18:36] mtgluu commented on #1059
Example: (could be for login errors or system errors)
![login-error](https://user-images.githubusercontent.com/22753814/86826660-aa978a80-c056-11ea-8de5-f4361405660e.png)

[2020-07-07 18:47] bsirwaitis commented on #1059
Here are the story requirements:

1) As a user of a Gluu production environment, when I encounter an error in the log-in authentication process, I want to be given a plain verbose explanation of the error, with a unique event ID that does not describe include any specific error detail, so that I can deliver the ID to the system administrator for diagnosis and resolution of my error.

2) As a Gluu

[2020-07-07 19:02] miltonbo commented on #1059
Ok, now it's fairly clear what is the expected result, general unexpected error could happend in many situations, however I understand the goal about the identifier showed to the end-user and also used to find very fast all logs related to the issue. I'll be working on it. Thank you.

[2020-07-07 19:43] mzico commented on #1409
@yurem : any thought on this?

[2020-07-08 09:35] MohitMaliFtechiz opened #1411 "Issue on SAML assertion generation attributes like mail,sn,givenname etc is released twice ."
## Describe the issue
Issue on SAML assertion generation  attributes like mail,sn,givenname etc  is released twice .
## Steps To Reproduce
Steps to reproduce the behavior:
1. loging to gluu-server.
2. go to SAML
3. Create new Trust Relationship using desire samltestprovider(my case sptest.iamshowcase)
4.  Test saml and check SAML Assertion .

## Expected behavior
Assestion must have each attribute

[2020-07-10 15:44] moabu commented on #1395
latest [commit](https://github.com/GluuFederation/community-edition-setup/commit/8d5057e6cbf03997519768f8196d7fcd90bbc44b) by @syntrydy passed tests. We will wait for another confirmation and close this issue then.

[2020-07-13 08:45] moabu commented on #1395
The issue persists for longer periods of time. logs + video of issue can be found [here](https://support.gluu.org/authentication/8339/intermittent-authentication-failure-when-using-multiple-oxauth-pods/#at61942)

[2020-07-13 21:38] jgomer2001 opened #1414 "passport-saml flow fails"
See https://youtu.be/YGMgjEac03M

Environment details
Latest available 4.2 beta
OS: CentOS7

[2020-07-14 07:45] christian-hawk commented on #1414
solved, waiting for merge.

[2020-07-14 09:21] yuriyz commented on #839
I've checked it on latest 4.2. It perfectly works. Changes are saved (LDAP reflects changes as well as UI).

[2020-07-14 09:21] #839 closed

[2020-07-14 13:09] #1414 closed

[2020-07-15 13:34] yuriyz commented on #1409
I will check.

[2020-07-16 07:31] yuriyz commented on #1409
@mzico you are right, clear password was used by script. Script is fixed in 4.2 (decryption is performed).

https://github.com/GluuFederation/oxAuth/blob/357d9ab02cc3b4a61f4dd215e37aa220c7af27e5/Server/integrations/basic.multi_auth_conf/BasicMultiAuthConfExternalAuthenticator.py#L261

[2020-07-16 07:31] #1409 closed

[2020-07-16 09:57] yuriyz opened #1418 "Keys are not reloaded automatically from keystore file. Full oxauth restart is required."
Issue seems to be cause by refactoring.

[2020-07-21 16:30] yuriyz opened #1419 "BUG : Select account functionality is broken"
BUG : Select account functionality is broken

[code]

[2020-07-21 16:47] yuriyz commented on #1419
Fixed it in master, fix for 4.2.1 was pushed already here https://github.com/GluuFederation/oxAuth/commit/db7a1a302a4cc173a085737adf3eb9f07fb45ea7

[2020-07-21 16:47] #1419 closed

[2020-07-23 15:10] yuriyz opened #1420 "Performance : we got a lot of request to ClientTokens cache key which doesn't make sense for NATIVE cache."
## Describe the issue
Performance : we got a lot of request to ClientTokens cache key which doesn't make sense for NATIVE cache.
![image](https://user-images.githubusercontent.com/2013070/88303527-ca45d880-cd0f-11ea-841f-72d2cf8786b0.png)

[2020-07-23 15:53] yuriyz commented on #1420
Fixed and tested.

[2020-07-23 15:53] #1420 closed

[2020-07-24 05:45] Gaelan opened #1422 "oxAuth generates backchannel logout tokens for wrong client"
## Describe the issue
When performing Backchannel Logout, oxAuth generates the logout token based on the parameters for the RP initiating the logout, not the RP receiving the backchannel logout request.

## Steps To Reproduce
Steps to reproduce the behavior:
1. Set up a new Gluu installation.
2. Ensure that the "oxTrust Admin GUI" client is configured with "JWS alg Algorithm for signing the ID Tok

[2020-07-24 08:01] yuriyz commented on #1418
I issue is fixed. (Also QAed and confirmed by 8565.)

[2020-07-24 08:01] #1418 closed

[2020-07-24 16:54] nynymike commented on #1422
Nice bug report @Gaelan !

[2020-07-24 17:46] yuriyz opened #1424 "Performance: switch Client Authorizations from querying to getting by key"
## Describe the issue

Currently in CB we can see following query:
[code]
We have many such queries, therefore idea is to switch to key like `user_inum_client_inum` to allow get by key`.

[2020-07-24 17:48] yuriyz commented on #1424
@jgomer2001 I remember in the past when we changed something in client authorization some of your code was effected. Is it much to adapt on your side given description above?

[2020-07-26 20:46] jgomer2001 commented on #1424
I have 2 types of queries over client authorizations:

- `(oxAuthClientId = "..." AND oxAuthUserId = "...")`
- `(oxAuthUserId = "...")`

If I understand the proposed change, the second bullet would have to be converted into _n_ separate queries (provided there exists _n_  clients). That wouldn't be a problem

AFAIK 4.2.1 should contain bug fixes only. Enhacements would go into 5.0 (unless this is

[2020-07-27 11:44] yuriyz commented on #1424
Done in 4.2.1. Introduced separate compatibility flag to keep old queries if needed (`clientAuthorizationBackwardCompatibility` default value false). Flag is present in 4.2.1 only (in 5.0 it's removed).

[2020-07-27 11:44] #1424 closed

[2020-07-27 11:46] yuriyz commented on #1424
@jgomer2001 Both queries you specified above should work after this change. I guess you may want to change your `(oxAuthClientId = "..." AND oxAuthUserId = "...")` query to fetching by key.

[2020-07-27 15:23] miltonbo commented on #141
Finally, device flow is done, all changes:
1. `oxAuth` implementation.
2. `oxTrust` implementation.
3. New json properties added in `community-edition-setup` repo.
4. `oxauth-rp` implementation.
5. Documentation added in `5.0` version in `docs-gluu-server-prod` repo.

[2020-07-27 15:23] #141 closed

[2020-07-27 19:03] mzico opened #1425 "oxAuth failing to get token from LDAP ( token removed? )"
I was doing a passport-saml stress test with Gluu Server 4.2.
Working flow is: `app --> Gluu-passport-server --> Remote authN server --> login --> successful login --> Gluu-passport-server --> app as authenticated user`

 - It's a 16GB machine, oxAuth has `-Xms256m -Xmx1207m -XX:MaxMetaspaceSize=1000m` JVM setting.
 - OpenDJ has 2GB JVM setting.
 - Cache method used: NATIVE_PERSISTENCE and IN_MEMO

[2020-07-28 08:08] yuriyz commented on #1425
@mzico based on failed log it seems cookie refers to session id which does not exist on AS.
[code]

[2020-07-28 16:23] yuriyz commented on #1425
Problem is in the way how it is tested. It's single script which opens one driver instance and endlessly clicks without gathering input/output data as well as not isolating test iterations (one test influence another test). What seems to happen, RP called oxauth with `/end_session`, oxauth removed session and sent response to browser to remove cookie but somehow it was not got by browser and cooki

[2020-07-28 16:23] #1425 closed

[2020-07-29 20:45] miltonbo commented on #1404
Implemented:
1. `oxAuth`
2. `oxTrust`
3. Default config in `community-edition-setup` repo
4. CIBA documentation in `5.0` version

[2020-07-29 20:45] #1404 closed

[2020-07-30 08:31] yuriyz opened #1428 "Reduce number of session queries to DB (Performance)"
## Describe the issue
We got more queries to persistence then we had in 4.1.1. One of the reason is device flow. We have to optimize it and not query object which is already in memory.

[code]

[2020-07-30 14:57] miltonbo opened #1429 "Certify Authorization Server - New OpenID platform"
There is a new Java platform to process all certification tests, Gluu Authorization Server should be certified in this new platform.

Migration: https://openid.net/certification/migration/
New platform: https://www.certification.openid.net/

Environment: `ce-ob.gluu.org`

[2020-07-31 08:14] yuriyz opened #1430 "Support hash fragment validation for `request_uri` (required by some new conformance tests)"
## Describe the issue

From spec:
[code]

Example:
 https://www.certification.openid.net/test/a/Gluu%20-%20Authorization%20Server/requesturi/PJDIm0EP7JItSmtiUM4pDNU9Lx6265UdjmQmhHJIUN831vv8RupedflsrsNo5pMx#ry83fp7qRE9-JfjT0Wl6qD4k34khkYQ7lHdenQkEPlM

https://openid.net/specs/openid-connect-core-1_0.html#RequestUriParameter

[2020-07-31 09:06] yuriyz commented on #1428
Done, also added local in-memory cache to SessionIdService.

[2020-07-31 09:06] #1428 closed

[2020-07-31 12:54] yuriyz commented on #1430
We have it implemented in https://github.com/GluuFederation/oxAuth/blob/1146852ed31c04d2200a0ae3803c965a25142c12/Server/src/main/java/org/gluu/oxauth/model/authorize/JwtAuthorizationRequest.java#L444

[2020-07-31 12:54] #1430 closed

[2020-08-03 15:37] yuriyz opened #1431 "Remove ClientTokens and SessionTokens classes which was used as workaround before Couchbase"
## Describe the issue
Remove ClientTokens and SessionTokens classes which were used as workaround before Couchbase. We should use strightforward persistence now.

Support: 8649

[2020-08-04 09:25] yuriyz opened #1432 "Add configuration option to put session in cache (performance)"
## Describe the issue
Add configuration option to put session in cache.

[2020-08-04 09:35] yuriyz commented on #1432
Added `sessionIdPersistInCache` configuration property which forced pushing session object into cache (which disabled some oxauth functionality related to sessions search). It's useful for experiments during performance tests. (Not added to docs.)

[2020-08-04 09:35] #1432 closed

[2020-08-04 09:35] yuriyz commented on #1422
Bug is fixed in 4.2.1.

[2020-08-04 09:35] #1422 closed

[2020-08-05 14:59] yurem opened #1435 "Authentication counter metric is doubled with default authentication method"
With default authnetication countr increased by 2 instead of 1

[2020-08-05 15:04] yurem opened #1436 "Store issued tokens count metrics"
Value in each counter should be commutative since last service start.
oxAuth should record metric about next tokens:
    ID_TOKEN("id_token"),
    ACCESS_TOKEN("access_token"),
    LONG_LIVED_ACCESS_TOKEN("access_token"),
    REFRESH_TOKEN("refresh_token"),

[2020-08-05 15:54] yurem commented on #1436
Implemented. New metrics are: `tkn_authorization_code_count, tkn_access_token_count, tkn_id_token_count, tkn_refresh_token_count`

[2020-08-05 15:54] #1436 closed

[2020-08-05 17:00] yuriyz opened #1437 "Add option to not return new refresh token on refreshing token at Token Endpoint"
## Describe the issue
Add option to not return new refresh token on refreshing token at Token Endpoint

Support: 8654

[2020-08-05 17:18] yurem commented on #1435
Fixed

[2020-08-05 17:18] #1435 closed

[2020-08-05 17:33] yurem opened #1438 "Add uniq identifier for each metric entry to allow find whcih node addded this record"
We can use MAC of local address which must be uniq in cluster.

[2020-08-06 06:30] mirr254 commented on #1395
Present in `oxauth:4.2.0_02` image.
screen record link : https://www.dropbox.com/s/upn4ja8ckozkduc/Screen%20Recording%202020-08-06%20at%2009.04.47.mp4?dl=0

Attached are the logs for both pods and their script logs

[mo-oxauth-7d48c999d5-4ctvq-pod.log](https://github.com/GluuFederation/oxAuth/files/5032996/mo-oxauth-7d48c999d5-4ctvq-pod.log)
[mo-oxauth-7d48c999d5-4ctvq-script.log](https://github.c

[2020-08-06 06:55] moabu commented on #1395
@syntrydy has the latest commits to 4.1.2 OxAuth been passed down to 4.2? It doesn't look like it https://github.com/GluuFederation/community-edition-setup/blob/version_4.2.0/static/extension/person_authentication/twilio2FA.py

[2020-08-06 19:51] miltonbo commented on #1429
Implicit certification plan: https://www.certification.openid.net/plan-detail.html?plan=DkGNagIt6bk4f&public=true

[2020-08-08 12:59] miltonbo commented on #1429
Hybrid certification plan: https://www.certification.openid.net/plan-detail.html?plan=0tcpZTwL0KEta&public=true

[2020-08-10 10:09] yuriyz commented on #1437
Implemented in 4.2.1 and master.

[2020-08-10 10:09] #1437 closed

[2020-08-10 12:09] mzico opened #1440 "Client-customizable mapping set for OIDC attributes"
Current, Gluu Server release standard/official/default name of claims to RP. This feature request will enable Gluu Server to configure and release 'custom naming' for OIDC claims.

As for example, the OIDC name of attribute "displayName" is "name" and Gluu generate/operate and release this "name" naming to OIDC RPs/apps.  If some RP has special requirement like "ScreenName" naming instead of "name

[2020-08-11 15:27] yuriyz commented on #1130
I will take over.

[2020-08-11 19:33] yurem commented on #1438
Added oxHost

[2020-08-11 19:33] #1438 closed

[2020-08-13 11:06] yuriyz commented on #1130
Implemented in 4.2.1 and master.

[2020-08-13 11:06] #1130 closed

[2020-08-13 13:45] syntrydy opened #1441 "Move some log from DEBUG to TRACE"
In the oxauth_script.log file on a 4.1.2 gluu box, that didn't have any real traffic on it, this particular logger is noisy and could crowd out useful info while logging at debug. I'd recommend this be modified to TRACE.

`
2020-08-12 21:58:06,136 DEBUG [qtp1590550415-593] [org.gluu.service.custom.script.ExternalScriptService] (ExternalScriptService.java:97) - Executing python 'getApiVersion' auth

[2020-08-13 14:03] yurem opened #1442 "Update methods to store oxExternalUid as multivalued by default"

[2020-08-13 14:15] #1441 closed

[2020-08-13 14:35] yurem commented on #1442
Implemented

[2020-08-13 14:35] #1442 closed

[2020-08-13 14:45] yurem opened #1443 "Update passport scripts to store oxExternalUid as multivalued"
Script should use new methods:
[code]

[2020-08-13 16:28] miltonbo commented on #1429
Config certification test plan: https://www.certification.openid.net/plan-detail.html?plan=FQ4GwHpmHhvst&public=true

[2020-08-13 16:29] miltonbo commented on #1429
Dynamic Certification test plan: https://www.certification.openid.net/plan-detail.html?plan=LxEwBNzZmNb16&public=true

[2020-08-13 16:59] yuriyz opened #1444 "Dynamic Registration : Fix software_statement validation behavior"
## Describe the issue
Currently if `software_statement` is provided to AS without `jwks` or `jwks_uri` claim it is rejected. There many problems with it:

1) first of all JWT can use HMAC based algorithms with key which does not require JWKS. Openbanking has example on their page with HS512 alg.
2) We are not flexible on how to provide JWS outside of the statement (e.g. custom script).

We will pr

[2020-08-14 10:07] yurem opened #1445 "Use CustomObjectAttribute instead of CustomAttribute in user services to use JSON data types"

[2020-08-14 10:09] yurem commented on #1445
https://github.com/GluuFederation/oxCore/commit/baa00ccdc536122a110d1324cf5d482eab434c76

[2020-08-14 14:51] yuriyz opened #1446 "`acr` and `amr` (auth_level) claims are missed in id_token if does not specify `acr_values` parameter explicitly in authorization request"
## Describe the issue
`acr` and `amr` (auth_level) claims are missed in id_token if does not specify `acr_values` parameter explicitly in authorization request

## Expected behavior
Both `acr` and `amr` (auth_level) must be present.

[2020-08-14 15:18] yurem commented on #1445
Implemented

[2020-08-14 15:18] #1445 closed

[2020-08-17 06:57] yuriyz opened #1447 "If software_statement is present in dynamic registration request, plain claims are lost"
## Describe the issue
If software_statement is present in dynamic registration request, plain claims are lost.

From RFC 7591:
```Client metadata values MAY also be provided in a software statement, as described in Section 2.3 ... If the server supports software statements,  client metadata values conveyed in the software statement MUST take precedence over those conveyed using plain JSON elements

[2020-08-17 07:02] yuriyz commented on #1444
There are following options for software statement validation:
1) softwareStatementValidationType=script - default one, jwks and hmac secret are returned by dynamic client registration script
2) softwareStatementValidationType=jwks_uri, allows to specify `jwks_uri` claim name from `software_statement`. Claim name specified by `softwareStatementValidationClaimName` configuration property.
3) softwa

[2020-08-17 07:02] #1444 closed

[2020-08-17 14:30] christian-hawk opened #1448 "passport_saml and passport_social produces script error after reloading script."
## passport_saml and passport_social produces script error after reloading script.

When script is reloaded (when save/update custom scripts options on oxTrust), the variables are destroyed what raises
`AttributeError: 'PersonAuthentication' object has no attribute 'registeredProviders'`

On` passport_saml` script the issue was resolved on `4.2.x` here: https://github.com/GluuFederation/oxAuth/pul

[2020-08-17 19:54] yuriyz opened #1449 "Do not extend refresh token lifetime on refresh token rotation"
## Describe the issue

Spec
[code]
https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-06#section-8

Support: 8654

[2020-08-18 08:01] yuriyz commented on #1446
Fixed in 4.2.1 and master.

[2020-08-18 08:01] #1446 closed

[2020-08-18 19:15] mzico opened #1452 "Add three more indexes in CB based 4.2.1"
Please add these in CB indexes:

- oxAttributes
- oxConfigurationCode
- oxResourceSetId

[2020-08-19 08:36] yuriyz commented on #1449
Implemented in 4.2.1 and master.

[2020-08-19 08:36] #1449 closed

[2020-08-25 10:44] yuriyz commented on #1447
Fixed in 4.2.1 and master.

[2020-08-25 10:44] #1447 closed

[2020-08-26 06:06] malotian commented on #1411
I acknowledge that its an side effect of 4.0 Upgrade

[code]

[2020-08-26 06:39] malotian commented on #1411
https://wiki.shibboleth.net/confluence/display/IDP4/ReleaseNotes

ReleaseNotes - Identity Provider 4 - Shibboleth Wiki
—Note that installing from scratch and then applying a legacy configuration will in most cases result in duplicate Attributes appearing in SAML messages due to the overlap between the existing encoders and the new rules. The upgrade process is designed to prevent that by excluding

[2020-08-26 23:27] miltonbo commented on #1429
Form Post - Basic certification test plan: https://www.certification.openid.net/plan-detail.html?plan=indx91KOzdSqu&public=true

[2020-08-27 13:38] miltonbo commented on #1429
Form Post - Hybrid certification test plan: https://www.certification.openid.net/plan-detail.html?plan=OEzJNLCxjoCB1&public=true

[2020-08-27 16:10] miltonbo commented on #1429
Form Post - Implicit certification test plan: https://www.certification.openid.net/plan-detail.html?plan=G5XReNi8bMP3p&public=true

[2020-08-27 17:56] iromli opened #1455 "Misleading WARNING message on non-expired key"
## Describe the issue

The following log (taken from `oxauth.log`) is confusing users:

[code]

The key in question is considered as expired but actually it hasn't (as we can see from comparing `Expires On` and `Today's Date`). The WARNING message should be modified to inform users that key is not actually expired yet.

[2020-08-27 21:38] miltonbo commented on #1429
3er party init login certification test plan: https://www.certification.openid.net/plan-detail.html?plan=I2sXfCjpCgfeL&public=true

[2020-08-28 06:52] yuriyz commented on #1455
Corrected.

[2020-08-28 06:52] #1455 closed

[2020-08-28 07:16] yuriyz opened #1456 "redirect_uri must be re-validated at authorize action and on error redirect"
## Describe the issue
Redirect_uri must be re-validated at :
- authorize action `org.gluu.oxauth.authorize.ws.rs.AuthorizeAction#checkPermissionGranted`
- error redirect.

Support: 8774, 8770

[2020-08-31 08:03] yuriyz opened #1458 "Add clear sid support"
## Describe the issue
oxauth has to expose unique sid value which is not sensitive.

Support: 8778

[2020-08-31 14:57] christian-hawk opened #1459 "Remove log noise from passport-saml"
Passport-saml script has too much noise on logging, due there is no log level option.
So excessive noise should be removed.

[2020-08-31 18:12] sandovalezequiel opened #1460 "oxAuth reloads custom scripts (file method)"
Build: gluu-server-4.2.1-403

## Description
When I enable a script with file method, oxAuth reload that script each 30 secs. Scripts that are loaded in oxTrust (DB method) are not re-loaded, just the file ones.

## Steps To Reproduce
Steps to reproduce the behavior:
1. Check oxauth_script.log file
2. Enable a script with file method

## Expected
Script is loaded when is enabled or each time that

[2020-08-31 21:33] miltonbo commented on #1429
RP initiated logout certification test plan: https://www.certification.openid.net/plan-detail.html?plan=gaYSUDOFUfwvT&public=true

[2020-09-01 10:56] yuriyz commented on #1458
Support is added in 4.2.1 and master.

[2020-09-01 10:56] #1458 closed

[2020-09-02 13:58] yuriyz opened #1461 "JWKS publishing invalid key for `"crv" : "P-521"`"
## Describe the issue

We got issue with `x` and `y` parts key generation with "crv" : "P-521". Size has to be the same but we got minus one difference somehow. It has to be investigated and fixed.

Support 8780

[2020-09-02 14:45] jgomer2001 commented on #1460
I think this [commit](https://github.com/GluuFederation/oxCore/commit/6b755a1b18d1127bb6a57767f33eead6b1d7fd13) has a problem: Even if `hasChanged` is equal to  `false` at this [point](https://github.com/GluuFederation/oxCore/blob/version_4.2.1/core-script/src/main/java/org/gluu/service/custom/script/CustomScriptManager.java#L234), script reload will take place if location type  is FILE.

Can you

[2020-09-02 15:02] jgomer2001 commented on #1460
btw these 2 blocks of code are suspiciously similar...
- https://github.com/GluuFederation/oxCore/blob/version_4.2.1/core-script/src/main/java/org/gluu/service/custom/script/CustomScriptManager.java#L220-L224
- https://github.com/GluuFederation/oxCore/blob/version_4.2.1/core-script/src/main/java/org/gluu/service/custom/script/CustomScriptManager.java#L259-L262

[2020-09-02 19:10] #1443 closed

[2020-09-03 14:47] yuriyz commented on #1456
Fixed in 4.2.1

[2020-09-03 14:47] #1456 closed

[2020-09-07 21:06] jgomer2001 commented on #1225
think this can  be closed @maduvena ?

[2020-09-08 06:56] yuriyz commented on #1461
Fixed in 4.2.1 and master.

[2020-09-08 06:56] #1461 closed

[2020-09-10 00:05] #1459 closed

[2020-09-11 15:15] yurem opened #1466 "oxAuth tries to find session entry which led to exception"
Exception:
[code]

[2020-09-11 15:31] yuriyz commented on #1466
It doesn't looks as up to date log. It was fixed here https://github.com/GluuFederation/oxAuth/commit/35c6e888cb8ef4ebeebccd91aa44cf9665413ee1

[2020-09-11 15:31] #1466 closed

[2020-09-11 15:37] yuriyz commented on #1466
OK, I've found typo which leads to it. Fixed here https://github.com/GluuFederation/oxAuth/commit/0de0db1415e314e0467c38cb5e2c6a61aa863aea

[2020-09-15 18:24] yurem commented on #1452
I think we are not using these indexes in 4.2.x

[2020-09-15 19:37] yuriyz commented on #1452
Right, we don't have queries in oxauth that are using these attributes.

[2020-09-16 08:35] #1452 closed

[2020-09-16 08:50] christian-hawk opened #1467 "Not able to complete idp-initiated flow due session id / cookies issue"
IDP Initiated was working (after we resolved former issue in july) on 4.2.0. I was able to find [one of the issues](https://github.com/GluuFederation/gluu-passport/issues/95) (passport side), but not the oxauth related issue. Now this flow stopped working, log snippet that catches my attention:

[code]

This happens **only on idp-initiated flow.**

### Steps to reproduce:
- Setup gluu IDP server (

[2020-09-16 14:12] christian-hawk commented on #1467
All IDP flows worked:

[code]

[2020-09-16 14:18] yuriyz commented on #1467
@christian-hawk thanks for testing.

Closing as fixed.

[2020-09-16 14:18] #1467 closed

[2020-09-16 17:20] mtgluu commented on #1270
I like the idea of a separate script to drive the password-less acr. It would allow more flexibility in what to tie-in for the username value.

[2020-09-16 17:54] nynymike commented on #1376
Super Gluu has it's own project. So any thoughts on enhancements need to go there.

[2020-09-17 09:57] yuriyz opened #1468 "Avoid redundant session load on `removeOutdatedCurrentSessions` if session id was changed (due to changeSessionIdOnAuthentication=true)"
## Describe the issue
Avoid redundant session load on `removeOutdatedCurrentSessions` if session id was changed (due to changeSessionIdOnAuthentication=true)

[2020-09-17 10:06] yuriyz commented on #1468
Improved in 4.2.1 and master.

[2020-09-17 10:06] #1468 closed

[2020-09-17 16:23] yuriyz opened #1470 "JWKS : add key distribution support"
## Describe the issue

[code]

Support: 8847

[2020-09-18 19:37] jgomer2001 opened #1472 "Error "oxTrust wasn't allowed to access user data" shown"
Steps to reproduce

1. Login to an application protected by Gluu, eg. Casa
1. In a new tab, try to access oxTrust

The following is shown:
![Screenshot from 2020-09-18 14-33-30](https://user-images.githubusercontent.com/5444180/93637886-f9995e80-f9bb-11ea-9198-6f20e7b05fe0.png)

oxTrust log showing:
[code]

Environment
Ubuntu 18, Centos 7, latest 4.2.1 beta

[2020-09-24 06:36] maduvena opened #1475 "Interception script for authentication to Fortinet's Radius server"

[2020-09-25 06:44] yuriyz opened #1476 "DuplicateEntryException: Entry already exists when using Consent Gathering script"
## Describe the issue
Exception during Consent Gathering script exection

[code]

[2020-09-25 16:02] yuriyz commented on #1476
Fixed in 4.2.2 and master.

[2020-09-25 16:02] #1476 closed

[2020-09-28 12:33] jgomer2001 commented on #1448
can this be closed then @christian-hawk ?

[2020-10-01 12:46] mzico opened #1477 "client specific idTokenLifetime"
Now we can configure idTokenLifetime OP wise. That means, whatever the configuration is for idTokenLifetime attribute, it's covering all clients available in OP. Possible to add some feature which will allow each client with different idTokenLifetime?

[2020-10-04 03:08] christian-hawk commented on #1448
Not yet @jgomer2001

[2020-10-06 19:28] yuriyz opened #1478 "Avoid race condition during saving grant object in cache"
## Describe the issue

Avoid double saving of same grant in cache.
[code]

[2020-10-12 12:49] yuriyz opened #1480 "Refresh token removing doesn't look up in persistence (4.x)."
## Describe the issue
Refresh token removing doesn't looks up in persistence (4.x).

[2020-10-13 09:33] MohitMaliFtechiz opened #1481 "500 server error when we request for an authorization token two consecutive times (within 0.5s between each)"
## Describe the issue
Get a 500 server error when we request for an authorization token via the /oxauth/restv1/token endpoint two consecutive times (within 0.5s between each)

## Steps To Reproduce
Steps to reproduce the behavior:
1. login to gluu oxtrust ui.
2. go to openid connect and add a new client.
3. try to request  authorization token  from newly created client twice (within 0.5s between e

[2020-10-13 10:04] yuriyz commented on #1481
@MohitMaliFtechiz can you post full stack trace ?

[2020-10-13 10:46] MohitMaliFtechiz commented on #1481
Hi @yuriyz ,

here is the more logs related to this.

[code]

[2020-10-14 09:34] yatharth592 commented on #1481
I am using https://oidcdebugger.com/ for testing , to recreate the issue i am attaching the video please have a look.
[http500error-2020-10-14_14.23.00.zip](https://github.com/GluuFederation/oxAuth/files/5377124/http500error-2020-10-14_14.23.00.zip)

[2020-10-14 09:40] MohitMaliFtechiz commented on #1481
i am using https://oidcdebugger.com/ for testing, to recreate the issue i am attaching the video please have a look.
[http500error-2020-10-14_14.23.00.zip](https://github.com/GluuFederation/oxAuth/files/5377158/http500error-2020-10-14_14.23.00.zip)

[2020-10-14 13:30] yuriyz commented on #1480
Fixed in 4.2.2. Back ported into 4.1.3 and transferred to jans.

[2020-10-14 13:30] #1480 closed

[2020-10-14 14:04] kdhttps opened #1482 "passport_social and passport_saml authentication script not determining JWT token expiry correctly"
#  Describe the issue
The jwt expiration checks failed to validate the JWT expiration time in some timezone for example: `Central European Summer Time(CEST)`.
Support issue: https://support.gluu.org/8935/

## Steps To Reproduce
Steps to reproduce the behavior:
1. Install Gluu CE with Passport
2. Update your timezone with `Europe/Rome` i.e. `CEST`
3. Try any passport flow

## Expected behavior
JWT

[2020-10-14 15:06] #1482 closed

[2020-10-22 06:00] yuriyz opened #1485 "session_id should not be included into response if it's not explicitly allowed."
## Describe the issue
1. session_id should not be included into response if it's not explicitly allowed.
2. `/end_session` should validate by sid value

Support: 8778

[2020-10-22 06:54] yuriyz commented on #1485
Fixed in 4.2.2 and Jans.

[2020-10-22 06:54] #1485 closed

[2020-10-23 07:09] yuriyz opened #1486 "invalidateSessionCookiesAfterAuthorizationFlow is broken in 4.2.1"
## Describe the issue
If set invalidateSessionCookiesAfterAuthorizationFlow=true user can't authorize.
It seems to be effected by redirect optimization (which can be switched off by `-Dgluu.enable-redirect=true`)

Support: 9006

[2020-10-23 14:06] yuriyz opened #1487 "`.well-known/openid-configuration` has to be cached (no DB) on configurable amount of time (5min by default)"
## Describe the issue
`.well-known/openid-configuration` has to be cached (no DB) on configurable amount of time (5min by default)

[2020-10-23 15:08] yuriyz commented on #1487
1. It has to be backported to 4.1.3
2. It has to go to Jans
3. Implement caching also for `.well-known/uma2-configuration`.

[2020-10-26 17:51] yurem opened #1488 "Return custom attributes specified in dynamicRegistrationCustomAttributes in client registration response"

[2020-10-26 18:04] nynymike commented on #1488
As this is a new feature, I think it should go to Janssen.

[2020-10-26 21:34] mtgluu commented on #1488
This is something that will be needed before we can migrate to 5.0.

[2020-10-27 06:57] yuriyz commented on #1487
Implemented in 4.1.3, 4.2.2 and master.

[2020-10-27 06:57] #1487 closed

[2020-10-28 07:48] moabu commented on #1460
Issue can be seen below

[code]

This eventually causes oxAuth to crash.

[2020-10-28 07:54] yuriyz commented on #1460
The root cause is in @syntrydy 's commit, so we need his opinion.

https://github.com/GluuFederation/oxCore/commit/6b755a1b18d1127bb6a57767f33eead6b1d7fd13

[2020-10-28 12:57] syntrydy commented on #1460
Fixed in 4.2.2 & master

[2020-10-28 12:57] #1460 closed

[2020-10-28 16:08] moabu commented on #1460
commit that was addressed by @syntrydy https://github.com/GluuFederation/oxCore/commit/263cf44be7e9ec2053082564a85bc9817002809e

[2020-10-29 20:25] yuriyz commented on #1470
This ticket is scheduled for future 5.0 release for oxauth (jans-auth), however we need it earlier for cluster. cc @iromli @mbaser

[2020-10-29 21:14] mbaser commented on #1470
@yuriyz As log as I know there won't be CM-5.0

[2020-11-02 03:06] nynymike opened #1489 "Enable id_token public sub claim mapping per client"
It's possible that a certain client may want to receive a different identifier as the sub value of an id_token. For example, perhaps most clients are ok with the email address as the sub value. But anohter client wants the username. It would be nice if there was a way to set this on a per client basis.

[2020-11-02 09:13] yuriyz commented on #1489
Duplicate of https://github.com/GluuFederation/oxAuth/issues/1336

[2020-11-02 09:13] #1489 closed

[2020-11-02 10:56] yuriyz commented on #1486
Since 4.2.x we require also `sessionIdRequestParameterEnabled` configuration property to be set to true to get cookie invalidation after authorization flow work.

[2020-11-03 18:01] yuriyz opened #1491 "Return sub value for ROPC based on `openidSubAttribute`."
# Describe the issue
In #1325 sub value for ROPC was changed to return `username` instead of configurable `openidSubAttribute`.

We have to return configurable value based on `openidSubAttribute` otherwise we got inconsistent behavior from prevous version(s).

https://github.com/GluuFederation/oxAuth/issues/1325

[2020-11-04 07:57] yuriyz opened #1492 "Bug : ROPC - refresh token is not returned with forceOfflineAccessScopeToEnableRefreshToken=true and offline_access scope"
## Describe the issue

Bug : ROPC - refresh token is not returned with forceOfflineAccessScopeToEnableRefreshToken=true and offline_access scope

Support: 9064

[2020-11-04 08:04] yuriyz commented on #1492
Related to https://github.com/GluuFederation/oxAuth/issues/1172

[2020-11-04 08:10] yuriyz commented on #1492
Fixed in both 4.2.2 and jans.

[2020-11-04 08:10] #1492 closed

[2020-11-05 08:01] yuriyz opened #1493 "id_token is missed during 2 concurrent calls for ROPC"
# Describe the issue

id_token is missed during 2 concurrent calls for ROPC.

[code]

[code]

Support: 9060

[2020-11-05 18:28] yuriyz opened #1494 "If there are more then one key for same `alg` and `use` then take key by `èxp` with configurable strategy"
## Describe the issue
If there are more then one key for same `alg` and `use` then take key by `èxp` with configurable strategy

We need it to work together with cluster key distribution support:

Cluster ticket: https://github.com/GluuFederation/docker-certmanager/issues/11

Related: https://github.com/GluuFederation/oxAuth/issues/1470

[2020-11-05 20:16] moabu commented on #1494
@yuriyz I think the idea is to use the one with earlier `exp` to allow other keys to be distributed in time. When it expires a new key would be used which would have been distributed previously.

[2020-11-06 09:05] yuriyz commented on #1494
Thanks for info. Yes, I saw discussion. I'm going to add strategy to get keys by crypto provider. Default will be `older`, however the other possible value would be `newer`, In this way we will be flexible on adding other strategies if needed.

[2020-11-06 09:44] yuriyz commented on #1494
Possible strategies:
- OLDER (default)
- NEWER
- FIRST

[2020-11-06 10:24] yuriyz commented on #1494
Implemented in 4.2.2 and jans.

[2020-11-06 10:24] #1494 closed

[2020-11-09 14:22] yuriyz commented on #1486
Corrected in 4.2.2 and jans.

[2020-11-09 14:22] #1486 closed

[2020-11-12 11:52] yuriyz commented on #1488
Implemented in 4.2.2 and jans-auth-server.

[2020-11-12 11:52] #1488 closed

[2020-11-13 15:14] yuriyz commented on #949
Diff:
[code]

[2020-11-18 10:14] yuriyz commented on #949
Implemented in 4.2.2 and jans.

[2020-11-18 10:14] #949 closed

[2020-11-18 20:09] yuriyz opened #1496 "Add configuration property to allow switch off forcing prompt consent for offline access"
# Describe the issue

Connect spec
[code]
We are forcing it now
[code]

However there can be cases when we wish to switch off this restriction.

[2020-11-20 09:26] yuriyz commented on #1496
We will not introduce new property, instead `pre-authorization flag` will take higher priority. If it's true then we will ignore `consent MUST`.

[2020-11-20 09:47] yuriyz opened #1497 "Add a new claim to the id_token: `"grant": "password""
## Describe the issue

Mike : " I also think we should add a new claim to the id_token: `"grant": "password"`".

[2020-11-20 09:51] yuriyz commented on #1491
Implemented in 4.2.2 and jans.

[2020-11-20 09:51] #1491 closed

[2020-11-21 20:00] jgomer2001 opened #1499 "Introspection endpoint not returning scopes as json string"
RFC 7662 (section 2.2) describes the `scope` in the introspection response this way:

Our introspection endpoint (tested in 4.2.1) returns a json array, not a json string. Here is a example:

[code]

We should analyse the impact of this change in current customer setups if we decide to conform to the space-separated string.

[2020-11-22 02:52] nynymike commented on #1499
It requires a feature flag to maintain old behavior.  In Janssen, space separated string (according to the spec) should be the default.  We should implement [FF4J](https://github.com/JanssenProject/jans-auth-server/issues/3)

[2020-11-23 08:27] yuriyz commented on #1497
Implemented in 4.2.2 and jans

[2020-11-23 08:27] #1497 closed

[2020-11-23 21:07] mihai-satmarean opened #1500 "gluu as mattermost authentication provider"
Hello and congratulations for this awesome project,
We came to realise that Gluu might be the one answer to our many questions,
We would like to be able to use Gluu as our Authentication provider for our multi-cloud multi app deployment.
One of the apps we need to authenticate, using any protocol, ldap, openid, etc is Mattermost Team Editions.

Even that the documentation for previous versions are

[2020-11-23 21:27] nynymike commented on #1500
Please register and open an issue on https://support.gluu.org

[2020-11-23 21:27] #1500 closed

[2020-11-24 12:22] jgomer2001 commented on #1499
Changes in PR https://github.com/GluuFederation/oxAuth/pull/1501 accepted

Jans-auth-server commits:
https://github.com/JanssenProject/jans-auth-server/commit/37027a77354fffd637140804e6a6a42df11aaf78
https://github.com/JanssenProject/jans-auth-server/commit/0ad09b2549c50c710977eb7c9b70ceafe8f08c0e

[2020-11-24 12:22] #1499 closed

[2020-11-24 15:10] yuriyz commented on #1496
Corrected in 4.2.2 and jans.

[2020-11-24 15:10] #1496 closed

[2020-11-25 12:18] yuriyz opened #1502 "Introduce revoke interception script"
## Describe the issue

Introduce revoke interception script. With revoke interception script it will be possible to inject custom logic (especially with `invalidateSessionCookiesAfterAuthorizationFlow ` conjunction).

Support: 9103

[2020-11-26 07:39] yuriyz commented on #1478
Done in 4.2.2 and jans.

[2020-11-26 07:39] #1478 closed

[2020-11-27 09:31] yuriyz opened #1503 "`sector_identifier` has to be based on host only. Also optimize redirect_uri's validation based on `sector_identifier_uri`"
## Describe the issue

1. Correct the generation of algorithmic subject identifiers to only use the host portion of the `sector_identifier_uri`. Add a configuration setting to keep the old behavior (based on whole uri).

2. Validate the list of `redirect_uris` against the JSON file hosted at the `sector_identifier_uri` during client registration AND update. This is probably another behavior for wh

[2020-11-27 10:19] yuriyz opened #1504 "BUG : PostAuthentication script calls re-authentication instead of re-authorization."
## Describe the issue
BUG : PostAuthentication script calls re-authentication instead of re-authorization. It must call re-authorization.

Support: 9136

[2020-11-27 10:39] yuriyz commented on #1504
Fixed in 4.2.2 and jans.

[2020-11-27 10:39] #1504 closed

[2020-12-01 13:06] yuriyz commented on #1481
Fixed in 4.2.2 and jans.

[2020-12-01 13:06] #1481 closed

[2020-12-02 11:34] yuriyz opened #1505 "BUG : NPE during backchannel logout if grant object was not identified"
## Describe the issue
NPE during backchannel logout if grant object was not identified

[code]

Support: 9175

[2020-12-02 16:12] syntrydy commented on #1472
Already fixed in oxTrust

[2020-12-02 16:12] #1472 closed

[2020-12-04 12:01] yuriyz commented on #1493
Fixed in 4.2.2 and jans.

[2020-12-04 12:01] #1493 closed

[2020-12-08 15:34] duttarnab opened #1506 "Modify the `claims-gathering` script so that it first tries to read claims from PCT before directing to the page to enter claims."
## Describe the issue
Modify the `claims-gathering` script so that it first tries to read claims from PCT before directing to the page to enter claims.
Parent ticket# https://github.com/GluuFederation/gluu-gateway/issues/452

Support ticket# https://support.gluu.org/access-management/9191/uma-tutorial-script-not-saving-claims/#at66355

[2020-12-08 16:33] yuriyz commented on #1506
@duttarnab add it to jans as well.

[2020-12-09 08:22] yuriyz commented on #1505
Fixed in 4.2.2 and jans.

[2020-12-09 08:22] #1505 closed

[2020-12-10 14:47] yurem opened #1508 "Fix PasswordValidator faces validator dependend beans injection after JSF update to 2.3.x"

[2020-12-10 15:45] yurem commented on #1508
This caused by bug: https://github.com/javaserverfaces/mojarra/issues/4245

We added workaround

[2020-12-10 15:45] #1508 closed

[2020-12-10 16:34] duttarnab commented on #1506
Done in 4.2.2 and jans

[2020-12-10 16:34] #1506 closed

[2020-12-14 10:12] MohitMaliFtechiz commented on #1225
hi @yurem , message is still not user friendly on 4.2.2. , current message is "unexpected error has occurred at null "

[2020-12-14 15:23] jgomer2001 opened #1509 ""The request is missing a required parameter" error obtained in flow 3"
Environment: latest available CE 4.2.2

I tried the 4 login/logout flows described [here](https://github.com/GluuFederation/oxTrust/issues/1474) using Casa + oxTrust

In flow 3, at step 3 the browser ishows

[code]

Step 4 succeds

[2020-12-14 16:34] christian-hawk opened #1510 "Send non-user attributes on jwt_claim `custom-data` though passport"
Please check [internal support ticket 8920](https://support.gluu.org/8920)
## Story
Me as a **customer**
Want to **be able to override id token lifetime**
So I can **control session timeout**

## Use-case
Customer needs to send non-user data (in this case `internal_override_id_token_lifetime`) through **Passport** saml inbound identity flow.

## Other modules involved:
- gluu-passport

## How
As d

[2020-12-14 16:47] yuriyz commented on #1509
This seems to happen due to this commit: https://github.com/GluuFederation/oxAuth/commit/0456cc7c8a243cd0c6bb2cf76d1d9a1f2c905bc7

If we got higher acr, re-authentication is required. As result we got new `sid`. Means in scenario 3 oxtrust gets `sid1`, then App B requests authentication with higher acr, so we get `sid2`. oxtrust can't logout with `id_token` issued when acr was weaker. I propose to

[2020-12-15 08:55] yuriyz commented on #1502
Done in 4.2.2 and jans. Sample script and docs provided.

[2020-12-15 08:55] #1502 closed

[2020-12-16 20:31] yuriyz opened #1512 "Stat : provide monthly active users statistic"
## Describe the issue

Goal is to provide monthly active users. Idea is to implement it with HLL help as following:

1. Each server should persists HLL data to persistence each 15min (or some other interval, configurable?).
2. Entry in persistence should be : per server and per month (means entry data has to be updated for same server and same month).
3. Monthly report means : HLL union for all se

[2020-12-16 20:34] yuriyz opened #1513 "Stat : provide token counter - per token type and per grant type"
## Describe the issue

Stat : provide token counter - per token type and per grant type.

Each server can maintain counter as in MAU case and then sum it for month. Ref:

https://github.com/GluuFederation/oxAuth/issues/1512

Example

[code]

[2020-12-17 14:55] jgomer2001 opened #1514 "Persistence extension script still running after disabled"
While working on https://github.com/GluuFederation/scim/issues/10 I found  a potential error, so I tried to reproduce using  oxAuth only and got the same behavior. Here is the description:

- Start oxauth (persistence extension must be disabled)
- Create a user (with a password) by means of a custom script. In this case I wrote the logic inside the `init` method of the basic  script for simplicity

[2020-12-17 18:50] yurem commented on #1514
Fixed

[2020-12-17 18:50] #1514 closed

[2020-12-17 18:58] jgomer2001 commented on #1514
https://github.com/GluuFederation/oxCore/commit/b005d8228ebcfe3e813a6f5d4c61ce041df4c88c

[2020-12-21 08:33] yuriyz commented on #1503
Done in 4.2.2 and jans.

[2020-12-21 08:33] #1503 closed

[2021-01-07 13:27] yuriyz opened #1517 "Avoid NPE in User Info Endpoint (caused by scope removing)"
## Describe the issue
Avoid NPE in User Info Endpoint (caused by scope removing)

[code]

[2021-01-12 20:59] zaphod72 commented on #1510
Would this allow setting token lifetime on refresh tokens via script? For Passport SAML if the SAML expiry is long (say 30 days) we would want to set that lifetime on a refresh token rather than on the authentication token.

[2021-01-13 05:35] #1475 closed

[2021-01-13 05:40] maduvena opened #1518 "Switching to DUO Universal Prompt (newer UI version) from the older authentication prompt"
The Universal Prompt is a redesign of Duo’s traditional authentication prompt.
Attaching ticket reference- https://support.gluu.org/single-sign-on/9111/duo-switching-to-universal-prompt/

[2021-01-27 07:30] HemantKMehta opened #1519 "Custom Branding (change of logo and favicon) is not working in Gluu CE 4.2.2"
Hi I am trying to change the logo and favicon in Gluu CE 4.2.2 and to do this I have copied the custom logo to custom/static/logo/logo.png and favicon to custom/static/favicon/favicon.ico. After this I restarted services (oxauth, identity).

Still I see the default logo and favicon. It seems that the internal servlet (/servlet/logo and /servlet/favicon) are not working as expected.

However,It wor

[2021-01-27 07:33] HemantKMehta commented on #1519
but mistake created it here it should go in oxtrust.

[2021-01-27 07:33] #1519 closed

[2021-01-28 09:16] yuriyz commented on #1513
Tokens reporting is done (in both 4.2.3 and jans). Aggregation is near to finish and will be finished within https://github.com/GluuFederation/oxAuth/issues/1512

[2021-01-28 09:16] #1513 closed

[2021-01-28 09:37] yuriyz commented on #1512
Stat data aggregation is performed by web service which is protected and has time request limit of 60 seconds by default (configurable by `statWebServiceIntervalLimitInSeconds`).

Sample request (single month)
[code]

Sample request (multiple months, e.g. 202012 (2020 Dec) 202101 (2021 Jan))
[code]

Sample Response
[code]

[2021-01-29 16:49] nynymike commented on #1477
Closed... Moved to janssen project: https://github.com/JanssenProject/jans-auth-server/issues/21

[2021-01-29 16:49] #1477 closed

[2021-02-03 08:59] yuriyz commented on #1512
Implemented in 4.2.3 and jans. QAed for single instance and results are good. It still needs to be QAed for k8s case.

[2021-02-03 08:59] #1512 closed

[2021-02-04 09:46] yuriyz opened #1520 "`SectorIdentifierService` must be consistent with PairwiseIdentifierService and use host of sectorIdentifierUri (not entire uri)"
## Describe the issue

`SectorIdentifierService` must be consistent with PairwiseIdentifierService and use host of sectorIdentifierUri (not entire uri).

Backward compatibility is provided via `subjectIdentifierBasedOnWholeUriBackwardCompatibility` configuration property.

Support: 9370

[2021-02-04 09:55] yuriyz commented on #1520
Fixed in 4.2.3 and jans.

[2021-02-04 09:55] #1520 closed

[2021-02-04 16:07] KwadwoObeng opened #1521 "Save Config file (Feature Request)"
I think it would be great if there was an option to save your configuration.It will be bad to start all over if you loose your server

[2021-02-05 09:03] moabu commented on #1321
reformat endpoint added in https://github.com/GluuFederation/oxAuth/issues/1512 to OpenMetrics.

[2021-02-05 10:00] yuriyz commented on #1321
@moabu example of current format is here: https://github.com/GluuFederation/oxAuth/issues/1512#issuecomment-768926617

Can you provide example how re-formatted response looks (based on comment above)?

[2021-02-05 15:10] moabu commented on #1321
yes here is a sample response

[code]

here is an explanation doc

https://sysdig.com/blog/prometheus-metrics/

[2021-02-05 15:29] yuriyz opened #1522 "FAPI : Dynamic registration - support JWS as payload for POST/PUT operations"
## Describe the issue
FAPI : Dynamic registration - support JWS as payload for POST/PUT operations

In UK open banking, software statements are wrapped in a outer JWS among other claims. This double singed payload is the actual content for OpenBanking dynamic client registration.

https://openbanking.atlassian.net/wiki/spaces/DZ/pages/1078034771/Dynamic+Client+Registration+-+v3.2#DynamicClientRegi

[2021-02-08 08:45] yuriyz commented on #1522
Openbanking swagger https://github.com/OpenBankingUK/directory-api-specs/blob/master/directory-api-swagger.yaml

[2021-02-08 08:45] yuriyz commented on #1522
Openbanking swagger https://github.com/OpenBankingUK/directory-api-specs/blob/master/directory-api-swagger.yaml

[2021-02-10 08:03] yuriyz commented on #1517
Fixed in 4.3 and jans.

[2021-02-10 08:03] #1517 closed

[2021-02-10 17:43] nynymike commented on #1522
Move to https://github.com/JanssenProject/jans-auth-server/issues/22

[2021-02-10 17:43] #1522 closed

[2021-02-11 15:12] yuriyz commented on #1431
Both deprecated classes are removed in jans.

[2021-02-11 15:12] #1431 closed

[2021-02-11 19:30] nynymike commented on #1521
Your configuration is in the database. Plus, there is an export process that is used in migration.

[2021-02-11 19:30] #1521 closed

[2021-02-11 19:37] nynymike opened #1523 "New interceptions script to modify id_token"
We need a script that is invoked at id_token creation to enable transformation of claims and values.

Corresponding Janssen issue: https://github.com/JanssenProject/jans-auth-server/issues/23

Example use cases:
* Add custom claim to id_token
* Change token expiration
* Change value of `sub`
* Remove nonce

[2021-02-11 19:39] nynymike commented on #1510
With regard to oxAuth, this issue really boils down to one thing: we need to be able to modify the id_token via an interception script. Opened a new issue to track it: https://github.com/GluuFederation/oxAuth/issues/1523

[2021-02-11 19:39] #1510 closed

[2021-02-11 19:55] #1429 closed

[2021-02-11 19:57] #1395 closed

[2021-02-11 19:58] nynymike commented on #1377
I don't think this is a great idea in the 4.x branch. Perhaps better would be to add a JSON flag to turn it off. We can finalize this cleanup in Janssen.

[2021-02-11 19:58] #1377 closed

[2021-02-11 20:00] nynymike commented on #1376
I sort of think no... because we don't really want to invest a lot more in Super Gluu. It's not perfect, but it's good at what it's doing right now. Rather then update Super Gluu, I think we should start a new project to re-build from the ground up around a cross-platform single code base.

[2021-02-11 20:00] #1376 closed

[2021-02-11 20:05] nynymike commented on #1357
Don't do that! Shut down the server before you change that file.

[2021-02-11 20:05] #1357 closed

[2021-02-11 21:52] christian-hawk commented on #1448
closing. @kdhttps all good?

[2021-02-11 21:52] #1448 closed

[2021-02-12 09:06] kdhttps commented on #1448
Yes

[2021-02-12 13:51] duttarnab opened #1524 "Introspection jwt-token does not return token's scopes in response"
## Steps To Reproduce
1. Generated token in jwt format with the following scope list:
[code]
2. Introspection jwt-token does not return token's scopes in response.
[code]
![image](https://user-images.githubusercontent.com/32794267/107776393-84ae3300-6d67-11eb-8f0b-1ecdcab3d1f3.png)

[2021-02-12 14:58] yuriyz commented on #1524
I am not sure what is the sense of introspecting JWT. Simply decode it and check claims inside.
JWT is generated with scopes that are granted for given grant.
Closing it as not issue.

[2021-02-12 14:58] #1524 closed

[2021-02-12 16:23] duttarnab commented on #1524
question, so what `config-api` should do if Bearer token is jwt. Do you think it should decode token and read the scopes?

Currently, it is trying to read the scopes from the introspection response.

https://github.com/JanssenProject/jans-config-api/blob/master/src/main/java/io/jans/configapi/auth/OpenIdAuthorizationService.java#L53

[2021-02-12 17:56] martynaslawinska commented on #1440
Issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/24

[2021-02-12 17:57] martynaslawinska commented on #1402
Issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/25

[2021-02-12 17:59] martynaslawinska commented on #1346
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/26

[2021-02-12 17:59] martynaslawinska commented on #1340
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/27

[2021-02-12 18:00] martynaslawinska commented on #1339
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/28

[2021-02-12 18:00] martynaslawinska commented on #1336
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/29

[2021-02-12 18:01] martynaslawinska commented on #1318
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/30

[2021-02-12 18:01] martynaslawinska commented on #1301
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/31

[2021-02-12 18:02] martynaslawinska commented on #1295
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/32

[2021-02-12 18:02] martynaslawinska commented on #1287
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/33

[2021-02-12 18:43] yuriyz commented on #1524
We should not call introspection in jwt case. So yes, decode, validate, read.

[2021-02-12 19:28] #1440 closed

[2021-02-12 19:28] #1402 closed

[2021-02-12 19:28] #1346 closed

[2021-02-12 19:28] #1340 closed

[2021-02-12 19:29] #1339 closed

[2021-02-12 19:29] #1336 closed

[2021-02-12 19:29] #1318 closed

[2021-02-12 19:29] #1301 closed

[2021-02-12 19:29] #1295 closed

[2021-02-12 19:29] #1287 closed

[2021-02-12 19:37] nynymike commented on #1259
Probably already done because FIDO is a separate component.

[2021-02-12 19:37] #1259 closed

[2021-02-12 19:44] nynymike commented on #1235
Duplicate

[2021-02-12 19:44] #1235 closed

[2021-02-12 19:52] nynymike commented on #1234
duplicate

[2021-02-12 19:53] #1234 closed

[2021-02-12 19:58] nynymike commented on #1185
If this is really a problem, the organization implementing can write better xhtml pages.

[2021-02-12 19:58] #1185 closed

[2021-02-12 20:18] nynymike commented on #1140
Closing it. We need to revisit this later.

[2021-02-12 20:18] #1140 closed

[2021-02-12 20:30] nynymike commented on #1051
I think the issue of key rotation might need to be re-architected. In any case, it's not actually clear to me why the keystore password needs to be changed.

[2021-02-12 20:30] #1051 closed

[2021-02-12 20:32] nynymike commented on #87
Somehow, if it's been six years, I think it's ok.

[2021-02-12 20:32] #87 closed

[2021-02-15 19:40] yurem commented on #1168
It's not actual

[2021-02-15 19:40] #1168 closed

[2021-02-16 07:14] #1518 closed

[2021-02-17 13:43] yurem commented on #1523
7b3d43b799f7adfcffba8ccddd7f2a0b56768f74

[2021-02-17 13:45] yurem commented on #1523
https://github.com/GluuFederation/oxTrust/commit/b3d9e03c32b7624d8188076e9f3d71ad578025e2

[2021-02-17 13:48] yurem commented on #1523
Sample script:
[code]

[Here](https://github.com/GluuFederation/oxExternal/blob/master/update_token/sample/UpdateTokenSample.py#L33) is full version.

[2021-02-17 13:50] yurem commented on #1523
Sample result:

![image](https://user-images.githubusercontent.com/6104200/108213525-2eaf0600-7140-11eb-9703-10fbfbb841d8.png)

[2021-02-17 13:50] #1523 closed

[2021-02-19 19:58] #1048 closed

[2021-02-19 19:59] #1046 closed

[2021-02-19 19:59] #994 closed

[2021-02-19 20:03] nynymike commented on #979
Already did something similar.

[2021-02-19 20:03] #979 closed

[2021-02-19 20:11] #859 closed

[2021-02-19 20:17] #742 closed

[2021-02-19 20:22] #303 closed

[2021-02-19 20:22] #273 closed

[2021-02-19 20:23] nynymike commented on #195
If this was an issue, it probably should be dealt with in a generic refactoring.

[2021-02-19 20:23] #195 closed

[2021-02-20 08:16] martynaslawinska commented on #1281
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/39

[2021-02-20 08:25] martynaslawinska commented on #1273
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/40

[2021-02-20 08:29] martynaslawinska commented on #1267
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/41

[2021-02-20 08:31] martynaslawinska commented on #1262
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/42

[2021-02-20 08:38] martynaslawinska commented on #1236
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/43

[2021-02-20 08:52] martynaslawinska commented on #1222
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/44

[2021-02-20 09:09] martynaslawinska commented on #1206
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/45

[2021-02-20 09:22] martynaslawinska commented on #1194
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/46

[2021-02-20 09:27] martynaslawinska commented on #1190
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/47

[2021-02-20 09:32] martynaslawinska commented on #1183
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/48

[2021-02-20 09:41] martynaslawinska commented on #1179
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/49

[2021-02-20 10:01] martynaslawinska commented on #1170
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/50

[2021-02-20 10:03] martynaslawinska commented on #1165
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/51

[2021-02-20 10:23] martynaslawinska commented on #1159
Relating to the issue Implement "Initiating Login from a Third Party" section of OIDC core spec #1194, perhaps a selector page could be used to choose an RP.

The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/52

[2021-02-20 10:25] martynaslawinska commented on #1154
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/53

[2021-02-20 10:32] martynaslawinska commented on #1139
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/54

[2021-02-20 10:36] martynaslawinska commented on #1126
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/55

[2021-02-20 10:42] martynaslawinska commented on #1124
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/56

[2021-02-20 10:49] martynaslawinska commented on #1121
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/57

[2021-02-20 10:53] martynaslawinska commented on #1111
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/58

[2021-02-20 10:58] martynaslawinska commented on #1074
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/59

[2021-02-20 11:14] martynaslawinska commented on #1059
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/60

[2021-02-20 11:38] martynaslawinska commented on #1050
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/61

[2021-02-20 11:52] martynaslawinska commented on #940
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/62

[2021-02-20 12:01] martynaslawinska commented on #920
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/63

[2021-02-20 12:05] martynaslawinska commented on #869
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/64

[2021-02-20 12:19] martynaslawinska commented on #822
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/65

[2021-02-20 12:25] martynaslawinska commented on #810
Upon accessing the link, `404 Not Found` pops up.
Here is the updated link: https://opentracing.io/docs/best-practices/instrumenting-frameworks/

The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/66

[2021-02-20 12:33] martynaslawinska commented on #790
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/67

[2021-02-20 12:42] martynaslawinska commented on #674
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/68

[2021-02-20 12:44] martynaslawinska commented on #663
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/69

[2021-02-20 12:49] martynaslawinska commented on #505
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/70

[2021-02-20 12:53] martynaslawinska commented on #485
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/71

[2021-02-20 12:55] martynaslawinska commented on #373
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/72

[2021-02-20 13:00] martynaslawinska commented on #206
The issue has been moved to Janssen: https://github.com/JanssenProject/jans-auth-server/issues/73

[2021-02-22 10:53] yurem commented on #940
Since date when we opened this issue we developed more poverfull tools to allow implement this. For example we can use idToken script to return them as claims, etc.. Hence this update is not required now.

[2021-02-22 10:53] #940 closed

[2021-02-22 17:13] nynymike opened #1525 "Whitelist encryption and signing algorithms in JWKS"
Admins may want to restrict the content of the JWKS to only certain algorithms. There is a parallel issue in Janssen: https://github.com/JanssenProject/jans-auth-server/issues/74

[2021-02-25 12:55] yuriyz opened #1526 "Retain claim in access token after refreshing"
## Describe the issue
Goal is to retain claims after refreshing.

Use case:
1. Request AT1 (with claim1=value1)
2. Get back AT1 and RT1 (refresh token)
3. Request AT2 with RT1.
4. Get back AT2 with claim1=value1

[2021-03-01 15:01] yuriyz commented on #1526
Implemented in 4.3.0 and jans.

Wiki page with python script and collected data can be found here:
https://github.com/GluuFederation/oxAuth/wiki/Retain-access-token-claim

[2021-03-01 15:01] #1526 closed

[2021-03-03 11:15] yuriyz commented on #1512
This feature works in 4.3 and in janssen. It does not work correctly in 4.2.3.

[2021-03-05 15:44] #1059 closed

[2021-03-05 15:45] #1281 closed

[2021-03-05 15:45] #1273 closed

[2021-03-05 15:45] #1267 closed

[2021-03-05 15:46] #1236 closed

[2021-03-05 15:46] #1222 closed

[2021-03-05 15:46] #1206 closed

[2021-03-05 15:47] #1194 closed

[2021-03-05 15:48] #1190 closed

[2021-03-05 15:48] #1183 closed

[2021-03-05 15:48] #1179 closed

[2021-03-05 15:48] #1170 closed

[2021-03-05 15:49] #1165 closed

[2021-03-05 15:49] #1159 closed

[2021-03-05 15:50] #1154 closed

[2021-03-05 15:50] #1139 closed

[2021-03-05 15:50] #1126 closed

[2021-03-05 15:50] #1124 closed

[2021-03-05 15:51] #1121 closed

[2021-03-05 15:51] #1111 closed

[2021-03-05 15:52] #505 closed

[2021-03-05 15:52] #485 closed

[2021-03-05 15:52] #373 closed

[2021-03-05 15:53] #206 closed

[2021-03-05 15:53] #1050 closed

[2021-03-05 15:53] #1074 closed

[2021-03-05 15:54] #920 closed

[2021-03-05 15:54] #869 closed

[2021-03-05 15:54] #663 closed

[2021-03-05 15:55] #790 closed

[2021-03-05 15:55] #810 closed

[2021-03-05 15:55] #674 closed

[2021-03-05 15:56] #822 closed

[2021-03-05 16:02] #895 closed

[2021-03-10 12:03] MohitMaliFtechiz opened #1527 "oxTrust admin privilege granted even users that are not added to oxTrust Admin GUI group."
## Describe the issue
Adding custom attribute to custom group from Couchbase control panel gives all oxTrust privilege to the any user from that custom group even when the user is not added in “oxTrust Admin GUI” group.
## Steps To Reproduce
Steps to reproduce the behavior:
1. Go to gluu admin UI.
2. Go to Configuration and open attribute section.
3. Create a custom attribute.
4. Go to user and op

[2021-03-12 19:19] yurem opened #1528 "There is no automatic expiration of UMA permissions/pct/rpt/etc with Couchbase"
We need to set TTL on UMA entries which Couchbase should expire automatically

[2021-03-12 19:37] yurem opened #1529 "Cache should store data in binary format instead of base64"
Issue reference: https://github.com/JanssenProject/jans-core/issues/6

[2021-03-12 19:38] yurem opened #1530 "Add property yo allow enable Couchbase SDK traffic compression option"
This will reduce network traffic

[2021-03-14 20:44] yuriyz commented on #1528
@yurem `oxUmaResourcePermission` has ttl set (with `@Expiration`). Is it something on ORM layer ?

https://github.com/GluuFederation/oxAuth/blob/bcaef50f3e6562ec7b651b74db8e6cbefde4f796/Model/src/main/java/org/gluu/oxauth/model/uma/persistence/UmaPermission.java#L50

[2021-03-15 08:53] yuriyz commented on #1528
We have checked it and with 4.2.3/4.2.2 `oxUmaResourcePermission` all newly created documents has TTL set under CB. `oxAuthUmaPCT` and `oxAuthUmaRPT` has it set since 4.3.0. If there are `oxUmaResourcePermission` documents which are created prior to 4.2.3/4.2.2 then they may not have TTL set. It should be removed manually.

[2021-03-15 08:53] #1528 closed

[2021-03-18 10:01] yuriyz commented on #1525
I'm adding `keyAlgsAllowedForGeneration` configuration property.

- If it's blank/empty/not set then all keys are generated (current behavior)
- If it's set then only keys with algorithm contained in the property are generated.

@moabu I'm adding support for it on oxauth side (and janssen). We need to support it on cluster as well (key generation pod).

[2021-03-23 12:07] yuriyz commented on #1525
Implemented in both 4.3 and jans.

[2021-03-23 12:07] #1525 closed

[2021-04-06 18:43] jgomer2001 commented on #1122
I'm moving this to 5.0, so far havent' heard of someone in need of this feature

[2021-04-08 09:50] MohitMaliFtechiz opened #1531 "multi_auth_script version: 4.2.3 failed to create Ldap connection pool with encoded password."
## Describe the issue
Basic multi auth script failed to connect to ldap server with encoded password.

[code]
this break's with the introduction of this import
[code]
for bind password
[code]

## Steps To Reproduce
Steps to reproduce the behaviour:
1. Create new script in person authentication scripts.
2. follow the steps mentioned in script [script](https://github.com/GluuFederation/oxAuth/tree/v

[2021-04-09 10:28] yuriyz commented on #1531
Isn't it exactly case which @mzico tested here?
https://github.com/GluuFederation/oxAuth/issues/1409

[2021-04-09 12:28] mzico commented on #1531
@yuriyz : Correct. Now.. none working. Not clear text and not encoded one.

[2021-04-13 15:26] yuriyz commented on #1531
There were no changes in AS for this ticket. It's pure script changes. Assigning it to @mzico and @maduvena

[2021-04-19 15:19] nynymike opened #1533 "Add JSON Property to release id_token for password grant"
Although the password grant is an OAuth flow, not OpenID Connect, some organizations may want to release an `id_token`. We can make a JSON property to enable this behavior, which should be `disabled` by default.

[2021-04-19 15:36] yuriyz commented on #1533
If set `openidScopeBackwardCompatibility` and `openid` scope is present then id_token is returned for password grant.

[2021-04-19 15:50] yuriyz commented on #1533
Closing this ticket as done given comment above. Please re-open if we need to add anything else to it (default value of `openidScopeBackwardCompatibility` is false).

[2021-04-19 15:50] #1533 closed

[2021-04-20 10:20] uprightech commented on #1533
@yuriyz  I think @nynymike did mention some time ago that having to specify the `openid` scope may be some form of security vulnerability.

[2021-04-20 19:18] yurem commented on #1531
Fixed

[2021-04-23 19:47] christian-hawk opened #1534 "forgot_password script not updated according other oxauth changes"
## Describe the issue
`forgot_password` script is not working on 4.2.x due breaking changes on oxAuth (such as different class paths and required args)

## Steps To Reproduce
Steps to reproduce the behavior:
1. Setup script as explained in it's readme file
2. Setup SMTP service
3. Restart oxauth service
4. Try to reset password

## Expected behavior
Receive e-mail, update password and login.

## A

[2021-04-25 15:14] mzico commented on #1531
Fixed. Confirmed and closing github issue. New script developed by @yurem.

[2021-04-25 15:14] #1531 closed

[2021-04-26 10:00] #1534 closed

[2021-05-10 16:39] yuriyz opened #1537 "CIBA feat: add custom script method to get device registration token."
## Describe the issue
During device registration, token is saved into `oxAuthBackchannelDeviceRegistrationToken` attribute of the user entity. During backchannel authorization AS expects device registration token in `oxAuthBackchannelDeviceRegistrationToken` attribute.

Request is to add custom script method to get device registration token.

[2021-05-10 16:45] nynymike commented on #1537
Is this really the request? Or is it just to add an oxAuth JSON property to enable another attribute other then `oxAuthBackchannelDeviceRegistrationToken` to be specified?

[2021-05-10 17:25] yuriyz commented on #1537
From comments: `the device ID is already in the user's inum`.

It seems there are cases when we need script to extract device id from user's inum.

[2021-05-11 16:54] yuriyz commented on #1537
Actually I agree, we should add configuration property to allow change hard-coded `oxAuthBackchannelDeviceRegistrationToken`.

Encoding device ID into user's inum looks like corner case. It's not clear how it should work if new device registration occurs. We should prefer dedicated attribute.

[2021-05-17 16:49] yuriyz opened #1538 "Bug in MAU : we got big discrepancy of hll cardinality before and after serialization."
## Describe the issue
Bug in MAU : we got big discrepancy of hll cardinality before and after serialization.

Before serialization: 100
After serialization: 61

It produces unacceptable result.

[2021-05-18 07:57] yuriyz commented on #1538
HLL data serialization are moved to base64 in both 4.3 and jans.

[2021-05-18 07:57] #1538 closed

[2021-05-18 15:46] mzico opened #1539 "Don't show expired refresh token info in logs"
Ref ticket: https://support.gluu.org/other/9619/search-persistence-errors-are-spewing-in-the-logs/

According to customer, we don't need to log info of expired token in oxauth log for long. Is there any way to improve this logging?

[2021-05-18 17:13] yuriyz commented on #1539
AS has no idea whether its expired or whether its invalid token. In both cases for AS it's invalid.

For example:
1) RP gets refresh_token1
2) RP requests token with refresh_token1 -> SUCCESS
3) RP requests token with refresh_token1 -> FAILURE

At step 3) we have no idea whether step 2) occurred or not. What if RP send refresh_token_fake ?

From AS point of view refresh_token1 or refresh_token_fak

[2021-05-18 17:13] #1539 closed

[2021-05-18 17:27] christian-hawk opened #1540 "`forgot_password` script does not sign the emails"
`forgot_password` script currently does not sign sent emails. Signing e-mails will increase MFA security and help avoiding being catch by a spam folder.

[2021-05-24 07:40] yuriyz opened #1543 "Bug: don't create branches in stat if db does not support branches"
## Describe the issue

Bug: don't create branches in stat if db does not support branches

[2021-05-24 07:46] yuriyz commented on #1543
Corrected in 4.3 and jans.

[2021-05-24 07:46] #1543 closed

[2021-05-26 07:50] #1321 closed

[2021-05-26 21:16] zaphod72 commented on #1539
The main problem is that this is logged at ERROR level.
Many software departments, including ours, require that ERRORs are fixed.
If this is expected behavior it should not be logging as an ERROR.

[2021-05-28 15:30] yuriyz opened #1544 "Openmetric request fail with label as digits only"
## Describe the issue
If register month as label, e.g. `202105` prometheus client refuse to consume it.

[code]

[2021-05-31 09:59] yuriyz commented on #1544
Fixed in 4.3 and jans.

[2021-05-31 09:59] #1544 closed

[2021-06-03 15:44] MohitMaliFtechiz opened #1545 "Oxauth-rp service unable to start after fresh installation of 4.3.0"
## Describe the issue
Oxauth-rp service unable to start after fresh installation of 4.3.0

## Steps To Reproduce
Steps to reproduce the behavior:
1. Install the fresh gluu server 4.3.0
2. During installation select oxauth-rp as component.
3. check status of oxauth-rp service .

## Expected behavior
oxauth-rp must start after fresh installation.
## Actual behavior
oxauth-rp service failed to start.

[2021-06-03 16:50] yuriyz commented on #1545
I'm going to drop oxauth-rp in 4.3.0. Objections?

[2021-06-03 18:41] mbaser commented on #1545
I were not be able to replicate.
![Screenshot_2021-06-03_21-40-53](https://user-images.githubusercontent.com/6398752/120695798-7752bb00-c4b4-11eb-8e0a-b8d808588c14.png)

[2021-06-04 11:21] MohitMaliFtechiz commented on #1545
Hi @yuriyz ,

I don't have any objects on removing oxauth-rp.

Thanks and Regards
Mohit Mali

[2021-06-08 11:44] MohitMaliFtechiz opened #1549 "Consent Gathering Script is not working in 4.3.0 version."
## Describe the issue
Consent Gathering Script is not working in 4.3.0 version.

## Steps To Reproduce
Steps to reproduce the behavior:
1. Enable the Consent Gathering Script
2. Create Openid client.
3. Try to authenticate via client (in my case https://oidcdebugger.com/)
4. See error

## Expected behavior
Consent Gathering Screen must prompt after authentication screen.
## Actual behavior
Failed

[2021-06-08 15:18] MohitMaliFtechiz opened #1550 "Twilio Script not working on 4.3.0 version."
## Describe the issue
Twilio Script not working on 4.3.0 version.

## Steps To Reproduce
Steps to reproduce the behavior:
1. Go to configuration
2. Go to person auth script
3. Select twilio and provide sid token and number
4. Activate the script
5. Go to Manage authentication
5. Select twilio as default authenticatin method
6. Test the login in conginto window

## Expected behavior
User must login

[2021-07-05 23:13] marchharesoftware opened #1551 "login_hint not used Authorization Grant (ACR=casa)"
login_hint not used Authorization Grant (ACR=casa)

Ubuntu 18, Gluu 4.2.3.  Originally reported this issue here a few weeks ago, but I haven't heard back:
https://support.gluu.org/authentication/9707/login_hint-not-used-authorization-grant-acrcasa/

login_hint is an optional parameter in openid Authorization Grant:
https://gluu.org/docs/gluu-server/4.1/api-guide/openid-connect-api/#parameters_1

I

[2021-07-14 15:05] kdhttps opened #1552 "Error: Failed to persist entry, After passport social login"
## Describe the issue
Trying login using passport social login but oxauth failed to save new user

## Steps To Reproduce
Steps to reproduce the behavior:
1. setup any passport social provider e.g. google
2. try to login using google provider
3. when we get back to oxauth with user data, oxauth failed to save new user

## Expected behavior
oxauth should save new user

## Actual behavior
Currently f

[2021-07-19 11:30] yuriyz opened #1553 "Fix: exception during openmetrics response construction from stat endpoint (MAU)"
## Describe the issue

Exception during openmetrics response construction from stat endpoint (MAU)
[code]

[2021-07-19 14:12] yuriyz opened #1554 "Feat: stat endpoint must require specific scope during authorization check (needed for both oxauth and jans)"
## Describe the issue
Feat: stat endpoint must require specific scope during authorization check (needed for both oxauth and jans).
Requested by Mike.

Required scope: `jans_stat` (not visible on discovery by default.)

[2021-07-20 09:32] yuriyz commented on #1553
Fixed in 4.3 and jans. Tested by @MohitMaliFtechiz

[2021-07-20 09:32] #1553 closed

[2021-07-23 16:06] yuriyz commented on #1554
Done in both 4.3 and jans, authorization expects token with `stat` scope. Otherwise request to `/stat` endpoint is rejected.

[2021-07-23 16:08] yuriyz opened #1555 "Aggregation request to stat endpoint should not fail if data for some node got corrupted"
## Describe the issue
During aggregation we may run on node which data got corrupted. We should not fail entire request. Instead log entry and data that got corrupted with error log level and continue processing.

[code]

[2021-07-23 16:26] yuriyz commented on #1554
Re-opened to add `statAuthorizationScopeName` configuration property with default value `stat`. It should allow admin/user change required scope name if needed.

[2021-07-26 06:47] yuriyz commented on #1555
Fixed in 4.3 and jans.

[2021-07-26 06:47] #1555 closed

[2021-07-27 14:22] yuriyz commented on #1554
Done in 4.3 and jans.

[2021-07-27 14:22] #1554 closed

[2021-07-27 16:40] yurem commented on #1545
I'm ok with idea to remove it

[2021-07-28 10:34] yuriyz commented on #1545
Removed rp, rp-demo and rp-spring-boot modules from both oxauth 4.3 and jans.

[2021-07-28 10:34] #1545 closed

[2021-07-28 12:23] MohitMaliFtechiz opened #1556 "login_hint not appearing."
## Describe the issue
login_hint not working with latest 4.2.3 build.

## Steps To Reproduce
Steps to reproduce the behavior:
1. Go to admin console
2. go to openid connect
3. create a client
4. request response on https://...domain.../oxauth/restv1/authorize with login hint.

## Expected behavior
login hint value  must be visible in username/email on login page .
## Actual behavior
No login hint

[2021-07-28 14:58] nynymike commented on #1556
I'm not sure this is necessarily true. We want the `login_hint` to be available in the context. How a workflow decides to use that information (for example, whether to pre-populate it in the form), is up to the implementation of the interception script.

[2021-07-29 14:57] Milton-Ch commented on #1537
Hi, not sure what is the requirement here, however some context, for CIBA we could have two options to notify end user:
1. Via Firebase push notification, in this case `oxAuthBackchannelDeviceRegistrationToken` is used to say Firebase send it to this device, in this flow we cannot modify that value, Firebase generates it during device registration.
2. Via custom script, in this case, device regist

[2021-07-29 15:23] yuriyz commented on #1537
Agreed. It comes from support ticket 9626, maybe you can comment on it too so we have it in history.

[2021-08-01 14:08] maduvena opened #1557 "fido2 - Error on page load during 2fa using fido2 and casa's interception script."
![image](https://user-images.githubusercontent.com/12072533/127773823-b105f6fe-6a6f-48cb-99a2-c42886b7cc8d.png)

[2021-08-01 14:09] maduvena commented on #1557
The error is noticed on page load, subsequent retries work flawlessly

[2021-08-04 06:47] yuriyz opened #1560 "BUG: claims with type `date` appears in id_token as `20210429153515.465Z` instead of `1627288674`"
## Describe the issue
BUG: claims with type `date` appears in id_token as `20210429153515.465Z` instead of `1627288674`.

Support: 9832

[2021-08-13 16:23] nynymike opened #1561 "Bug: Clients registering with client credential grant should not also get Implicit"
When registering a client with “grant_types”: [“client_credentials”]. This triggers `org.gluu.oxauth.model.registration.public.RegisterParamsValidator` and then also requires a `redirect_uri`. I don't think that we want to add implicit grant type where it's not needed.

[2021-08-21 15:58] Milton-Ch commented on #1560
As part of this issue I noticed these things:
1. `createdAt` is not being returned properly using existing attribute. Similar treatment than `updatedAt` should be placed.
2. All DATEs for idToken are being processed as Strings, however they should be processed as Date/Object data type.
3. Custom attributes are mapped to milliseconds in idToken, however they should be placed as seconds from 1970-01

[2021-08-21 16:05] Milton-Ch commented on #1560
After my changes, `id_token` appears like this:

![Selection_1023](https://user-images.githubusercontent.com/86965029/130327917-52bf3c8e-49e6-4a38-ba99-11057e130368.png)

Token:
[code]

[2021-08-21 16:07] Milton-Ch commented on #1560
For UserInfo endpoint this is the structure:

![Selection_1024](https://user-images.githubusercontent.com/86965029/130327964-041f90c3-9433-43c4-9ce3-6d52d19544b3.png)

Token:
[code]

[2021-08-24 13:21] Milton-Ch commented on #1561
Currently, `client_credentials` grant type doesn't require `redirect_uri` as long as `redirect_uri` field in the request is empty, however this method could be improved, let me explain cases:
1. In case client sends some value in `redirect_uri`, then irrespective of which grant type it is, AS will validate it.
2. In case client doesn't send any value in `redirect_uri`, then AS will see if it's gra

[2021-08-30 10:49] yuriyz commented on #1561
It goes down to `response_type` and `grant_type` interpretation. We have two rules:
- If `response_type` has `token` or `id_token` -> add `implicit` to `grant_type` (if it's missed)
- If `grant_type` has `implicit` -> add `token` to `response_type` (if it's missed)

@nynymike This built-in "autofix" may confuse, should we add toggle configuration property to turn it off ? (We have this behavior fo

[2021-08-30 13:43] yurem commented on #1549
Can you try to apply to script same update: https://github.com/GluuFederation/community-edition-setup/commit/3e05e26bf90789964110c4f2f841c77dc561d290

[2021-08-30 15:45] Milton-Ch commented on #1537
This ticket is still pending for some answer from client, it might require or not changes, I answered client concerns in support ticket, presented a couple of options to handle what customer wants, til now seems that we shouldn't require any code change, but let see what client says.

[2021-08-30 16:37] maduvena opened #1563 "feat: Custom script to integrate the Impossible travel feature by Deduce's Insights APIs"
Integrating Impossible travel feature by Deduce Insights in Passwordless Authentication flow.

[2021-09-02 07:47] #1563 closed

[2021-09-08 16:57] #1557 closed

[2021-09-08 16:58] maduvena opened #1564 "feat : Interception script to integrate 2FA mechanism by Stytch with the Gluu Server"

[2021-09-22 10:39] MohitMaliFtechiz commented on #1549
hi @yurem ,

this fixed the script but consent gathering screen appear without scope. please check attachment.

![Screenshot from 2021-09-14 17-26-08](https://user-images.githubusercontent.com/34593983/134329280-968b0c6c-e8b7-4ff0-a1f5-cad1dd1e9514.png)

[2021-09-24 08:06] yuriyz commented on #1552
It failed to persist entry due to duplication

[code]

[2021-09-24 08:18] yuriyz commented on #1552
Fixed in 4.3 and jans.

[2021-09-24 12:42] yuriyz opened #1565 "Bug: stat endpoint is filtered by AuthenticationFilter"
## Describe the issue

Bug: stat endpoint is filtered by AuthenticationFilter which prevents stat endpoint from handling authorization header.

[2021-09-24 12:42] yuriyz commented on #1565
https://github.com/GluuFederation/oxAuth/commit/e391298e55e34f0f732c7ecd199bffe42289992b

[2021-09-24 14:21] yuriyz commented on #1565
Fixed in 4.3 and jans.

[2021-09-24 14:21] #1565 closed

[2021-09-25 12:08] jgomer2001 opened #1566 "Some interleaved login/logout flows fail"
Flows 2 and 3 (as in https://github.com/GluuFederation/oxTrust/issues/1474) show error at 2nd logout:

*Flow 2*:

1. Login to app A
1. Login to oxTrust
1. Logout from oxTrust
1. Logout from app A

*Flow 3*

1. Login to oxTrust
1. Login to app A
1. Logout from oxTrust
1. Logout from app A

Error shown at step 4 in both cases is:

[code]

Details to reproduce:
- Environment: latest available 4.3
- a

[2021-09-25 16:33] yuriyz commented on #1566
@jgomer2001 I suppose there no `frontchannel_logout_uri` registered by app A, right ? Otherwise how would we get logout at step 4 ? App A should be already in logout state because at step 3 app A gets `frontchannel_logout_uri` called and thus has to log itself out. I think we already discussed it.
https://github.com/GluuFederation/oxAuth/issues/992#issuecomment-458852171

[2021-09-25 16:35] yuriyz commented on #1566
From spec
[code]

https://openid.net/specs/openid-connect-frontchannel-1_0.html

Closing as invalid, feel free to re-open if needed.

[2021-09-25 16:35] #1566 closed

[2021-09-27 07:33] yuriyz opened #1567 "Bug : SSA must be validated during registration update"
Bug : SSA must be validated during registration update

[2021-09-27 07:55] MohitMaliFtechiz commented on #1552
@yuriyz i am attaching the oxauth logs.
[oxauth.log](https://github.com/GluuFederation/oxAuth/files/7234382/oxauth.log)

[2021-09-27 09:45] yuriyz commented on #1552
Basically we got 2 bugs :
1. duplicated session entity - fixed [here](https://github.com/GluuFederation/oxAuth/commit/73d2154f3055f5724be7fed9456c636c2358704d)
2. messed attributes onf SimpleUser entity - fixed [here](https://github.com/GluuFederation/oxOrm/commit/6c0a8d5ff4c66f8336e1eec234177b9c3a218e3f)

@MohitMaliFtechiz has to confirm flow works as expected after fixes.

[2021-09-27 10:39] MohitMaliFtechiz opened #1568 "Basic multi auth script failed to connect to ldap server (result code : null)."
## Describe the issue
Basic multi auth script failed to connect to ldap server (result code : null).

[code]

## Steps To Reproduce
Steps to reproduce the behaviour:

Create new script in person authentication scripts.
1. follow the steps mentioned in script script
2. create auth_configuration_file
3. check oxauth_script.log

## Expected behaviour
Script must be able to create ldap connection with

[2021-09-27 10:42] yuriyz commented on #1552
Fixed, re-tested by @MohitMaliFtechiz

[2021-09-27 10:42] #1552 closed

[2021-09-27 12:17] yurem commented on #1549
Can you try to click Authorize? After that it should show you transaction page with custom claim

[2021-09-27 12:20] yurem commented on #1549
![image](https://user-images.githubusercontent.com/6104200/134906722-72ce7ae2-f004-4642-b15e-6c73336a0848.png)

[2021-09-27 14:04] yurem commented on #1549
Fixed. First page shows requested scopes

[2021-09-28 07:53] yuriyz commented on #1567
Fixed

[2021-09-28 07:53] #1567 closed

[2021-10-03 18:36] jgomer2001 opened #1570 "Enhance casa login page and its derivations when the browser saves credentials"
Example image:

[2021-10-06 12:28] ossdhaval opened #1572 "Setup branch protections, codeowners and Sonarcloud integration"
To better organise development life-cycle introduce.

Initially this will be rolled out to few most active repositories.
- scim
- oxauth
- oxtrust
- shib
- opendj
- fido2
- gluu-passport
- casa
- oxd-server

### codeowners
_Need list of repos with corresponding owners_

### Sonarcloud integration

### Branch protections
This will be in similar lines as implemented in Janssen

[2021-10-14 06:03] ossdhaval opened #1574 "Integrate static code analysis using SonarCloud with GluuFederation"
Integrate SonarCloud with following repositories in Gluu.

- [x] scim GluuFederation/scim#29
- [x] oxauth GluuFederation/oxAuth#1575
- [x] oxtrust GluuFederation/oxTrust#2097
- [x] shib GluuFederation/oxShibboleth#101
- [ ] opendj
- [x] fido2 GluuFederation/fido2#13
- [x] gluu-passport (doesn't need code change since it is JS code)
- [x] casa GluuFederation/casa#151
- [x] oxd-server GluuFederation

[2021-10-15 10:00] ossdhaval opened #1576 "Add CODEOWNERS to GluuFederation"
Add CODEOWNERS to GluuFederation repositories as below:

- scim (yurem, jgomer2001)
- oxauth (yuriyz, yurem)
- oxtrust (yurem, jgomer2001)
- shib (yurem, uprightech)
- opendj (yurem)
- fido2 (yurem)
- gluu-passport (christian-hawk)
- casa (jgomer2001)
- oxd-server ( yuriyz, duttarnab)
- gluu-admin-ui (duttarnab, pujavs)

`PR:` GluuFederation/cloud-native-edition#374

[2021-10-20 13:52] #1560 closed

[2021-10-20 14:32] moabu opened #1579 "Multiple keys per alg for signing"
The key alg and key strategy is working great for signing. There is a new request that we support using multiple keys with the same alg. The usecase is that “Multiple Signing keys would enhance the security & availability considering that in the current version all JWT tokens for all applications are signed using a single key”.

If 3 keys were used at the same time by different applications ,faili

[2021-10-20 15:16] nynymike commented on #1579
Duplicate of https://github.com/JanssenProject/jans-auth-server/issues/279

[2021-10-20 15:16] #1579 closed, assigned to nobody

[2021-10-21 18:53] yurem opened #1580 "Update Weld 3 to Weld 4"
It's major upgrade due to next fact. `Due to Oracle’s ownership of the "Java" trademark, usage of the javax.* namespace has been restricted and the jakarta.* namespace was adopted by the Eclipse Foundation.` More details is [here](https://blogs.oracle.com/javamagazine/post/transition-from-java-ee-to-jakarta-ee).

Weld 4 uses JakartaEE namespace instead of JavaEE namespace.  As result we also need

[2021-10-26 16:34] Milton-Ch opened #1581 "Empty scopes during CIBA grant creation"
## Describe the issue
When CIBA grant is created, it doesn't contain any scope, it makes list of scopes to be empty, at some point it was bugged, so we have to include scopes as part of CIBA grant creation in order to process authorizations properly.

## Steps To Reproduce
1. Authenticate using CIBA flow (ping, poll or push)
2. Try to get user info using access token generated.
3. Error will say "

[2021-10-26 18:06] maduvena opened #1582 "feat: An OTP sent over email as a 2FA method"

[2021-10-27 10:25] yurem opened #1584 "Update to RestEasy 4"

[2021-10-27 18:12] #1584 closed, assigned to yurem

[2021-10-29 14:50] #1581 closed, assigned to Milton-Ch

[2021-11-04 14:27] Milton-Ch commented on #1561
@nynymike @yuriyz should we do something here?

[2021-11-04 14:38] nynymike commented on #1561
I do think the behavior is confusing. I think it should be on the developer to get the `response_type` and `grant_type` right.  Also, what would happen to redirect_uri validation if the client used grant type `client_credentials` to register, and then updates the registration? I hope we're only validating the syntax here, like `scheme://string`.   Also, I wonder why this issue is in oxAuth and not

[2021-11-15 07:57] yuriyz opened #1587 "feat: add ability to specify key length for KeyGenerator"
feat: add ability to specify key length for KeyGenerator

[2021-11-15 11:52] MohitMaliFtechiz opened #1589 "Fido2 and U2f auth script are failing in 4.3.1"
### Describe the issue

Fido2 and U2f auth script are failing

###  How to reproduce

1. Go to admin ui
2. Go to Configuration
3. Go to Person Authntication script
4. Activate Fido2 or u2f script
5. Change the default acr value to fido or u2f
6. check the auhentication in diffrent browser

###  Expected behaviour

if script is running user must be authenticate

###  Actual behaviour

getting oxaut

[2021-11-15 20:11] nynymike opened #1590 "State param not returned in postlogout redirect URI"
When the RP provides a state, oxAuth is returning the `post_logout_redirect_uri` alone.

[code]

Per [OpenID Connect RP-Initiated Logout 1.0](https://openid.net/specs/openid-connect-rpinitiated-1_0.html#RPLogout):
_If included in the logout request, the OP passes `state` back to the RP using the state parameter when redirecting the User Agent back to the RP._

[2021-11-16 07:04] yuriyz commented on #1590
I will check

[2021-11-16 18:53] yuriyz commented on #1587
Added in 4.4.0 and jans.

[2021-11-16 18:53] #1587 closed

[2021-11-17 10:18] yuriyz commented on #1590
I can't reproduce it in 4.4.0. `state` parameters is present when AS performs redirect back to RP.

See https://github.com/GluuFederation/oxAuth/blob/b65149267d7cde4ed7a37322bdcadbaf23ccd0fb/Server/src/main/java/org/gluu/oxauth/session/ws/rs/EndSessionUtils.java#L66

It's possible to omit state in redirect back to `post_logout_redirect_uri` if provide `end_session` custom script with customized ht

[2021-11-17 10:18] #1590 closed

[2021-11-17 10:19] yuriyz commented on #1590
@MohitMaliFtechiz would you please validate this ticket.

[2021-11-19 06:25] MohitMaliFtechiz commented on #1590
@yuriyz ok let me check it

[2021-11-19 11:23] iromli opened #1595 "Invalid length of EC key attributes"
## Describe the issue

The JWKS generated by [oxauth-client-with-dependencies.jar](https://maven.gluu.org/maven/org/gluu/oxauth-client/4.3.0.Final/oxauth-client-4.3.0.Final-jar-with-dependencies.jar) for EC keys __sometime__ has different length for `x` and `y` attributes.

Example:

[code]

## Steps To Reproduce
Steps to reproduce the behavior:
1. Download the oxauth-client library from Gluu mave

[2021-11-22 08:50] moabu commented on #1595
@smansoft please make sure this gets propagated upstream to the auth-server as well in Janssen.

[2021-11-25 18:08] Milton-Ch commented on #1561
Added new flag `grantTypesAndResponseTypesAutofixEnabled` to toggle this existing configuration, default false.

[2021-11-25 18:08] #1561 closed

[2021-11-26 13:00] jgomer2001 opened #1597 "Update custom scripts affected by migration to RestEasy 4"
A quick glance reveals certain scripts won't work in 4.3.1 due to Resteasy migration.  There are classes used in scripts like `ClientResponseFailure` and `ResteasyClientException` that are not in RS4

If possible, let's not use RS classes in scripts but more generic ones, eg. JAX-RS

[2021-12-01 21:03] jgomer2001 commented on #1589
related https://github.com/GluuFederation/oxAuth/issues/1597

[2021-12-02 16:34] #1564 closed

[2021-12-02 16:38] yuriyz commented on #640
We run FullRebuild 2 times per day and developer can trigger it manually for all or selected environments if needed. Thus closing it.

[2021-12-02 16:38] #640 closed

[2021-12-02 17:49] shmorri commented on #1551
This issue is also being tracked in https://github.com/GluuFederation/oxAuth/issues/1556. Thanks for your input and I'm making sure your notes are known by the team.

[2021-12-02 17:49] #1551 closed

[2021-12-02 17:55] shmorri commented on #1167
Since this issue has not been reported again for a couple of years and Super Gluu is currently undergoing updates and redesign, I'm closing this for now. We can revisit if it comes up again.

[2021-12-02 17:55] #1167 closed

[2021-12-06 05:27] mzico opened #1600 "Non-uid primary key resulting 502"
I am testing [Brute Force Protection](https://gluu.org/docs/gluu-server/4.3/reference/JSON-oxauth-prop/#brute-force-protection), it's working perfectly when primary key is "UID".

Testing with "Email" is not actually doing what it suppose to do but resulting 502.

As for example: in this ( https://www.youtube.com/watch?v=nK0nhGtmrrQ&ab_channel=MohibZico ) recorded screencast....

 - For UID case,

[2021-12-06 12:08] MohitMaliFtechiz opened #1601 "Passport authentication failed on first attempt throws oxauth error (works on second attempt with same userid)."
### Describe the issue

Passport authentication failed on first attempt throws oxauth error (works on second attempt with same userid)

### How to reproduce

1. Go to admin ui
2. go to passport
3. add a new provider
4. change the authentication script to passport social
5. test the Passport_social script.

### Expected behaviour

authentication must be successful through passport

### Actual behav

[2021-12-06 12:57] yuriyz commented on #1601
@MohitMaliFtechiz can you check you really have user with mail `mohit.mali@ftechiz.com` in persistence ? (logs shows `(&(&(objectClass=gluuPerson))(mail=mohit.mali@ftechiz.com))`)

Otherwise I don't see any errors or exceptions in logs which you attached.

[2021-12-06 13:01] yuriyz commented on #1601
@MohitMaliFtechiz Is it only couchbase problem ? Does it work with LDAP ?

[2021-12-06 13:06] MohitMaliFtechiz commented on #1601
hi @yuriyz yes on LDAP its works fine.

[2021-12-06 13:07] yuriyz commented on #1601
Then it must be something related to couchbase. @yurem any idea ?

[2021-12-07 14:58] yurem commented on #1600
I can't reproduce this issue. It's more likely network issue. I so because:

[code]

[2021-12-07 15:18] mzico commented on #1600
@MohitMaliFtechiz : can you please check if it's reproduce able from your network?

[2021-12-08 09:12] yuriyz commented on #900
Fixed in 4.3.1, master and jans.

[2021-12-08 09:12] #900 closed

[2021-12-08 12:18] MohitMaliFtechiz commented on #1600
@mzico ok i'll try to reproduce it

[2021-12-08 12:30] yuriyz commented on #1110
`SKIP_FINDBUGS` job run property is added.

[2021-12-08 12:30] #1110 closed

[2021-12-08 12:33] yurem commented on #1589
Fixed

[2021-12-08 12:33] #1589 closed

[2021-12-08 14:29] #1597 closed

[2021-12-10 10:51] MohitMaliFtechiz commented on #1600
@yurem @mzico i am able to replicate the issue on my local vm. as @mzico  said ``` For EmailAddress, after 2nd failed login, oxAuth throwing 502 ``` on oxauth config i set ``` maximumAllowedAttemptsWithoutDelay=3 ``` and change  authentication primary key to ``` email  ``` brute force  enable after 2nd attempt and result to 502 error. however with primary key ``` uid ``` it works as it should be,

[2021-12-10 14:37] yurem commented on #1600
@MohitMaliFtechiz Can you check if there are exceptions in the logs? Also, check apache logs, please. Did you checked login with email in new private session?

[2021-12-10 14:59] yurem commented on #1601
@MohitMaliFtechiz can you send us all logs for check?

[2021-12-10 20:09] yurem commented on #1600
In my environment I get expected error messages without HTTP 502 error:
[code]

[2021-12-13 17:07] MohitMaliFtechiz commented on #1601
[passport_oxauth.txt](https://github.com/GluuFederation/oxAuth/files/7705581/passport_oxauth.txt)
here is the full oxauth log

[2021-12-13 17:51] MohitMaliFtechiz commented on #1600
[primaykeyuid_oxauth.log](https://github.com/GluuFederation/oxAuth/files/7705756/primaykeyuid_oxauth.log)
[primaykeyemail_oxauth.log](https://github.com/GluuFederation/oxAuth/files/7705757/primaykeyemail_oxauth.log)
[apache_error.log](https://github.com/GluuFederation/oxAuth/files/7705741/apache_error.log)
here are the apache and oxauth logs, there are some authentication exceptions caused by inva

[2021-12-14 06:30] smansoft commented on #1595
@shmorri
@yuriyz
[jwks.1.txt](https://github.com/GluuFederation/oxAuth/files/7709192/jwks.1.txt)
[jwks.2.txt](https://github.com/GluuFederation/oxAuth/files/7709193/jwks.2.txt)
[jwks.3.txt](https://github.com/GluuFederation/oxAuth/files/7709194/jwks.3.txt)
[jwks.4.txt](https://github.com/GluuFederation/oxAuth/files/7709196/jwks.4.txt)
[jwks.5.txt](https://github.com/GluuFederation/oxAuth/files/770

[2021-12-14 06:34] smansoft commented on #1595
@shmorri
@yuriyz

About different length of x and y coordinates of Public Key. Private Key, generated by
the KeyGenerator/Crypto Provider can have different length too.

It could be reproduced as, using KeyGenerators as in oxAuth as in for jans-auth-server.

At the first it's necessary to get some info about Elliptic Curves, about secp256r1
(let's we will use secp256r1 for this investigate) and ab

[2021-12-14 06:41] smansoft commented on #1595
@shmorri
@yuriyz

Analyzing length of keys, generated by KeyGenerator, you can find, that some keys (secp256r1) have length 33 bytes.
for example:
    **jwks.2.txt**
        x.length = 32
        y.length = 33
        x (hex) = 54e5a2a032d5513f0fd7b787343eb72bc7246d1efd8d63b7943103a8100b771a
        y (hex) = 00aea8d42c596b935b52f2453029bd2d2f1bd357f6aaefc7e0e893952d2a2cdeb3
        Private Key:

[2021-12-14 06:47] smansoft commented on #1595
@shmorri
@yuriyz

Also, some additional investige has bee provided - is it possible remove lead padding zeros byte
(from byte[], that presents BigInteger) before converting (using Base64) and exporting it to
Json format (jwks). Possible it can be usefull, as some not java third party applications can read
jwks. These applications can generate error(s) during importing keys with lead padding zeros

[2021-12-14 06:48] smansoft commented on #1595
@shmorri
@yuriyz

Final **Conclusion**:
    - This issue is not a bug.

[2021-12-14 06:52] iromli commented on #1595
@smansoft @yuriyz there's report that even when `x` and `y` length are identical, there was issue using the keys

We have an OIDC integration in that the RP is made in GO Lang, anf Go was complaining about wrong EC keys We had to disable all EC keys from JWKS in order to work with this GO Lang RP client

I'm not sure if this is related to this issue or not.

[2021-12-14 07:05] smansoft commented on #1595
@iromli
@yuriyz
@shmorri

EC keys are ok, just some of them presented with lead padding zeros byte, so, they length is 33 bytes. It could be a problem,
if Go or some other language, reading jwks don't take into account this lead padding zeros byte.

I think, it's possible - remove lead padding zeros byte before export, and then in Java code, it can be restored (lead padding zeros byte).

If it's i

[2021-12-14 07:10] smansoft commented on #1595
@iromli
@yuriyz
@shmorri

I think, I can try to use second way (remove and then restore lead padding zeros byte).

[2021-12-14 07:16] smansoft commented on #1595
@yuriyz
@shmorri
@iromli

I.e. I think, that the problem is not that keys length are different, but that some of them have length == 33, but should be 32.
It's for secp256r1 and secp256k1. Same for secp384r1 and secp521r1 with correspondent length for these Curves.

[2021-12-14 13:28] smansoft commented on #1595
@shmorri
@yuriyz
@iromli

One more file (it was lost) has been uploaded.

[SmEcc_jwks_comparasing.txt](https://github.com/GluuFederation/oxAuth/files/7711922/SmEcc_jwks_comparasing.txt)

[2021-12-15 13:14] yurem commented on #1601
There are few stack traces with:
[code]

[2021-12-15 13:59] yuriyz commented on #1601
Is it maybe due to missed token attributes ? In jans @mbaser fixed schema as
[code]
https://github.com/JanssenProject/jans-setup/commit/fe9b47704e237d28d16b455d775543a0c19a959b

@mbaser can we do the same for Gluu ?

[2021-12-15 15:49] yurem commented on #1568
fixed

[2021-12-15 15:50] mbaser commented on #1601
Done https://github.com/GluuFederation/community-edition-setup/commit/aae3bd2811632661c159d33ae982865ec1e39f2b

[2021-12-15 15:53] mbaser commented on #1601
[code]

[2021-12-15 16:02] yuriyz commented on #1601
@mbaser nice, thank you!
@MohitMaliFtechiz can you try it with Mustafa's changes ?

[2021-12-15 23:19] marchharesoftware opened #1611 "documentation required on how to mitigate CVE-2021-44228 on a Gluu server 4.2.3"
We need to be documentation on what Gluu releases are affected, and how to mitigate CVE-2021-44228 for existing running production servers (like 4.2.3).  Also see [support ticket](https://support.gluu.org/maintenance/10181/log4j-upgrade-or-patch-recommendation-cve-2021-44228/#at73945).

This is unrelated to recent commits to change the dependency in new releases.

[2021-12-16 11:06] Romeh opened #1612 "When release 4.3.1 will be done ?"
## Describe the issue
from https://support.gluu.org/maintenance/10181/log4j-upgrade-or-patch-recommendation-cve-2021-44228/#at73964
can you guys please about the planned date for the release of version 4.3.1 with log4j version upgrade ?

[2021-12-17 00:25] smansoft commented on #1595
@shmorri
@yuriyz
@iromli

During testing on multiple generation Keys for Elliptic Curve secp256r1 I got periodically keys with length like that:

s.length = 32
s (hex) = 67c1cbe41e7ee7acd350bf00893d0389192eac9e120923851cb028adf41f6aa1
keyX = eG1YGBygUMFquNSW73ctYTsmJy7G_B6LoYpo24ksHA
keyY = IyThP7ujS3b-mvAJCKCWwxcJQtGWWXfr02MCkd2tRkQ
x.length = 31
y.length = 32
x (hex) = 786d58181ca050c16ab8d496ef

[2021-12-17 00:47] marchharesoftware commented on #1612
Romeh - I created issues for oxAuth and Casa yesterday asking for documentation on how to apply a fix for 4.2.x, and that issue was deleted.  So good luck with your request.

[2021-12-17 00:54] marchharesoftware commented on #1611
Since Apache are no longer [recommending](https://logging.apache.org/log4j/2.x/security.html) LOG4J_FORMAT_MSG_NO_LOOKUPS=true as a workaround for Log4j Security Vulnerabilities, official documentation from the developers on how to apply a fix to existing installations is increasingly important.

[2021-12-17 01:19] smansoft commented on #1595
@shmorri
@yurem
@iromli

There is some important detail about ES512 (**secp521r1**).

As defined by standard and taking into account **p** and **n** values, length of Private Key
and coordinates of Public Keys, Point (x,y) should not be more then **521** bits.

https://www.secg.org/sec2-v2.pdf
https://cryptobook.nakov.com/digital-signatures/exercises-secp256k1-sign-verify

I.e. max length of array

[2021-12-17 10:34] Romeh commented on #1612
Yeah the issue i use oxTrust and SCIM client libraries as java clients to the target glue server in our services and those libraries are leaking log4j in our code base , so we need to sort it out , at least release the clients ?

[2021-12-17 16:12] nynymike commented on #1612
You need to raise this issue on https://support.gluu.org

[2021-12-17 16:12] #1612 closed

[2021-12-19 09:10] mzico commented on #1600
@yurem : may be we can share an installation with you which is facing problem? Might be easier for you?

[2021-12-20 04:28] mzico commented on #1556
@qbert2k : tested in 4.2.3.sp2, not working. https://files.gluu.org/index.php/s/wNoJqb3bzr662wq

[2021-12-22 04:37] qbert2k commented on #1556
I found the bug with login hint also can be reproduced in the other versions using incognito modes firefox/chrome

https://user-images.githubusercontent.com/2474616/147036303-9bc4e251-31f6-40f2-9eb2-73e43d108941.mp4

https://user-images.githubusercontent.com/2474616/147036312-52e17386-0e72-4b14-a4e1-ae11f117f560.mp4

[2021-12-22 04:42] qbert2k commented on #1556
Fixed:

https://user-images.githubusercontent.com/2474616/147036805-bc7824d4-0bf0-415b-82ea-0ee78511cc5b.mp4

https://user-images.githubusercontent.com/2474616/147036806-a6d8019a-ddb1-44d4-9c0a-c848e46e3c5d.mp4

[2021-12-22 07:48] yuriyz commented on #1556
It's in jans master, 4.3.1 and 4.2.1.sp2. We need it also in oxauth master.

[2021-12-24 04:07] mzico commented on #1556
@yuriyz @qbert2k : can anyone give me the link of patched `4.2.3.sp2.war` please? I am getting 404 for `https://jenkins.gluu.org/maven/org/gluu/oxauth-server/4.2.3.sp2` branch...

[2021-12-24 09:38] yuriyz commented on #1556
@mzico see https://ox.gluu.org/maven/org/gluu/oxauth-server/4.2.3.sp2/

[2021-12-24 14:32] mzico commented on #1556
Thanks, it's working!

[2021-12-24 14:32] #1556 closed

[2021-12-25 15:29] jgomer2001 commented on #1601
This seems to be the same problem described here 2 years ago:

https://github.com/GluuFederation/gluu-passport/issues/63

[2021-12-28 23:30] nektro opened #1623 "upgrade log4j to 2.17.1"
## Describe the issue
Log4J 2.17.0 has an RCE vulnerability identified as CVE-2021-44832

## Steps To Reproduce
`pom.xml`

[2021-12-31 07:33] MohitMaliFtechiz commented on #1601
@yurem and @mbaser i tested the fix. it is still same as it was in couchbase.

[2021-12-31 08:30] MohitMaliFtechiz opened #1624 "Fido2 and u2f script throw oops error(4.3.1+MYSQL)."
### Describe the issue

Fido2 and u2f script throw oops error.

### How to reproduce

1. Go to admin ui
2. Go to person authentication script
3. enable fido2 and u2f script
4. Change the default auth method to fido2 or u2f
5. test the script

### Expected Behaviour

script should work

### Actual Behaviour

script thorws oxauth oops error

### Config

Gluu 4.3.1 +mysql

OS Ubuntu 20.04

### log

#

[2021-12-31 08:31] MohitMaliFtechiz opened #1625 "Oxauth throws oops when consent gathering script is active(4.3.1+MYSQL)."
### Describe the issue

Oxauth throws oops when consent gathering script is active

### How to reproduce

1. Go to admin ui.
2. Go to openid connect.
3. Go to Client and add a new client.
4. Add consent gahering script to the client.
5. test sso.

### Expected Behaviour

sso must be complete without error

### Actual Behaviour

SSO failed with oops error

### Config

Gluu 4.3.1 +mysql

OS Ubuntu 2

[2022-01-04 07:38] yurem commented on #1625
It's not SQL issue. According to stack trace application is trying to find user with DN: `oxId=e072483a-5e6c-4f59-ad9f-1fb803c11fc6,ou=sessions,o=gluu`. But this is session DN. As result application throws exception.

[2022-01-11 09:27] #1582 closed

[2022-01-11 16:01] nynymike opened #1631 "Enable Casa Script to Support External LDAP Authentication Source"
In the Gluu Server built-in password authentication, the customer can specify any LDAP server as the source for passwords. But in the Casa authentication script, it uses only the local datastore. We need to update the Casa authn script to see if there is an external LDAP authentication source specified, and if so, to use that.

[2022-01-24 18:46] yurem opened #1636 "Add user/name validation with RE"
oxAuth should have 2 configuration properties to allow specify RE to check user/password entered by user. It should validate them before processing these field values.

[2022-02-08 08:01] maduvena opened #1640 "Casa script fails after cache refresh (when data is pulled from AD)"
Casa script fails after cache refresh (when data is pulled from AD)

## Steps To Reproduce (example)
1. `sAMAccountNAme` is primary key present on Remote Server
2. We map `sAMAccountname` of AD to `uid` of Gluu server
3. On Gluu, under `Configuration` -> `Manage Authentication` -> `Manage LDAP Authentication` , enter `Primary key` = `sAMAccountname` and `Local Primary Key` = `uid`
4. Map the remai

[2022-02-09 08:54] #1640 closed

[2022-02-15 13:28] yurem opened #1643 "feat: support push token update on finish authentication"
Currently oxAuth stores push token and other user device information at the end of enrollment flow. Here is place where it gets [DeviceData](https://github.com/GluuFederation/oxAuth/blob/29db4d612ab92ae6ba82ad840414b70ee21fd7be/Server/src/main/java/org/gluu/oxauth/service/fido/u2f/RegistrationService.java#L139).

To allow push token update we also need to add parameter to finish authentication flo

[2022-02-17 18:30] #1623 closed

[2022-02-17 19:13] nektro commented on #1623
https://github.com/GluuFederation/oxAuth/pull/1626

[2022-03-02 08:45] MohitMaliFtechiz opened #1645 "Logout failed when user logged in two platforms with same session after upgrading from 4.2.3 to 4.3.1"
## Describe the issue

 Logout failed when user logged in two platforms with same session after upgrading from 4.2.3 to 4.3.1

## Steps To Reproduce
Steps to reproduce the behavior:
1. Install Gluu-server 4.2.3
1. Go to admin ui.
2. Create two openid-client
3. test sso on both client with same session
4. upgrade gluu-server 4.2.3 to 4.3.1
5. when the upgrade finish test sso for both client with sa

[2022-03-02 11:12] yuriyz opened #1646 "enhancement: Do not print stacktraces when we expect object to not be found."
## Describe the issue

If session is expired and try to fetch it, it prints verbose stack trace which produce a lot of noise in logs. We have to log such event without stacktrace.

[code]

Places to check:

- https://github.com/GluuFederation/oxAuth/blob/9523eb2ed86d46d69cb39d3c79262444d0ab3157/Server/src/main/java/org/gluu/oxauth/auth/Authenticator.java#L698
- https://github.com/GluuFederation/ox

[2022-03-04 13:02] MohitMaliFtechiz opened #1647 "Mysql:- Fido authentication failed on second step when trying to login again ."
## Describe the issue

Fido authentication failed on second step when trying to login again .

## Steps To Reproduce
Steps to reproduce the behaviour:
1. Go to admin UI.
2. Activate fido2 authentication script.
3. change default authentication method to fido2 .
4. enroll fido device with user on first attempt
5. logout
6. try to login again

### Expected behaviour

 user must be login again on sec

[2022-03-04 13:02] MohitMaliFtechiz opened #1648 "Passport-social script failed in 4.3.2 beta + mysql"
## Describe the issue

 Passport-social script failed

## Steps To Reproduce
Steps to reproduce the behaviour:
1. Go to admin UI
2. Go to passport
3. Add a new passport external provider
4. set default acr to passport-social
5. try to login with passport external porvider

### Expected behaviour

user must be login

### Actual behaviour

when user clicks on external provider on login page, the pag

[2022-03-04 13:20] jgomer2001 commented on #1648
Passport is down. @MohitMaliFtechiz Check that service and try again

[2022-03-04 13:23] MohitMaliFtechiz commented on #1648
@jgomer2001  no passport service is active
![Screenshot from 2022-03-04 18-52-56](https://user-images.githubusercontent.com/34593983/156771061-2c9d33e2-5feb-4313-8301-712f4bda3900.png)

[2022-03-07 08:52] kdhttps commented on #1648
@MohitMaliFtechiz could you please check/share passport.log?

[2022-03-07 12:07] yuriyz commented on #1646
Done in both oxauth (main) and jans.

[2022-03-07 12:07] #1646 closed

[2022-03-09 07:03] MohitMaliFtechiz commented on #1648
[passport.log](https://github.com/GluuFederation/oxAuth/files/8212418/passport.log)
here is the passport log @kdhttps

[2022-03-09 07:18] kdhttps commented on #1648
@MohitMaliFtechiz I think we already discussed this in chat. Problem is in oxAuth
[code]

[2022-03-11 14:40] yuriyz opened #1651 "bug: hashCode/equals is broken for clients/scopes/NativePersistenceCacheEntity"
## Describe the issue

bug: hashCode/equals is broken for clients/scopes/NativePersistenceCacheEntity

There are a few symptoms of this:

- When calling the end_session service when there are multiple clients in a session, validation of the post_logout_redirect_uri fails for all but one of them
- If post_logout_redirect_uri validation succeeds for the lucky client, the other clients don't receive

[2022-03-13 16:35] harrdou commented on #1645
Looks to be a duplicate of #1651

[2022-03-14 08:05] yuriyz commented on #1645
Yes, it is. Closing it as duplicate. Thanks @harrdou

[2022-03-14 08:05] #1645 closed

[2022-03-16 08:11] yuriyz commented on #1648
Duplicated attributes was removed in both 4.3.2 and master:
- 4.3.2 - https://github.com/GluuFederation/oxAuth/commit/c13914bcb3939fbf7e38f598c7b1951a292d18be
- master - https://github.com/GluuFederation/oxAuth/commit/c8916abaf7f2a7fc0b0fad997cd1460117950b8b

[2022-03-17 19:18] yuriyz commented on #1651
Issue is fixed in jans, oxauth 4.4.0 (master) and 4.3.2.

[2022-03-17 19:18] #1651 closed

[2022-03-29 19:48] yuriyz opened #1657 "fix: escape login_hint before rendering"
## Describe the issue

fix: escape login_hint before rendering

Support: 10394

[2022-03-31 06:07] MohitMaliFtechiz commented on #1648
this issue is tested and fixed.

[2022-03-31 06:07] #1648 closed

[2022-03-31 20:06] #1657 closed

[2022-03-31 21:43] aliaksander-samuseu opened #1658 "Dynamic client registration managment DELETE event doesn't make it to oxAuth audit log"
**Description:**

First reported in [this ticket](https://support.gluu.org/10365). When dynamically registered OIDC client is deleted via Dynamic Client Registration Management Protocol, corresponding entry won't appear in the `oxauth_audit.log`. Audit log entries will appear correctly for client creation and update meanwhile, meaning this part of functionality is generally covered by audit loggin

[2022-04-04 16:42] jgomer2001 commented on #1657
For the interested in patching its Gluu server manually, here are steps:

1. Login to chroot
1. `cd /opt/gluu/jetty/oxauth/custom/libs && wget https://maven.gluu.org/maven/org/gluu/oxcore-jsf-util2/4.3.2-SNAPSHOT/oxcore-jsf-util2-4.3.2-SNAPSHOT.jar && cd ../..`
1. `cd custom/pages && wget https://github.com/GluuFederation/oxAuth/raw/version_4.3.2/Server/src/main/webapp/login.xhtml  && cd ../..`
1.

[2022-04-05 17:46] yurem opened #1659 "Client token private_key_jwt request fails when keyid is uuid_enc_rsa1_5"
Steps to reproduce:
1. Install CE with test data load (`-t`)
2. Update string variables in sample class with values from `/install/community-edition-setup/output/test/scim-client/client/config-scim-test.properties`
3. Specify in `umaAatClientKeyId` keyId of `uuid_enc_rsa1_5 key` key from client jwks
4. Specify right host in `domainURL` string variable
5. Run test

Error:
[code]
[TestRsa1_5.java.tx

[2022-04-05 17:51] yurem commented on #1659
I've added [trace ](https://github.com/GluuFederation/oxAuth/commit/e174e259213d65762d80dfb3a35ae0d62a8e1aeb) debug to method where we find key in client jwks.

It log next message:
[code]

[2022-04-05 19:06] yuriyz commented on #1659
@yurem @smansoft Sounds like fallback identification of the key algorithm was removed in commit shown on screenshot below. Do you know why it was removed? In jans I can see it present. Maybe wrong merge.
![image](https://user-images.githubusercontent.com/2013070/161830475-12e4074a-09ab-4592-a83b-cde7561755bb.png)

[2022-04-05 20:05] yurem commented on #1659
This [line](https://github.com/GluuFederation/oxAuth/blame/master/Model/src/main/java/org/gluu/oxauth/model/crypto/AbstractCryptoProvider.java#L148) exists in code in master branch

![image](https://user-images.githubusercontent.com/6104200/161839977-25555b21-69d5-443d-abea-c199e02ee985.png)

[2022-04-05 22:07] yuriyz commented on #1659
@yurem my bad, my IDE was not on `master`. Can you post jwks ? It should help understand the problem.

[2022-04-06 22:20] imShakil opened #1660 "Login page doesn't display the correct localized characters"
## Behaviour
On the login page, there are some characters that couldn't able to display properly.

## Expected:

[code]

## Result:

[code]

![](https://images2.imgbox.com/ec/fd/YB02tsxV_o.png)

## How to reflect?

I have customized [this](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/resources/oxauth_en.properties) resource file and put into `/opt/gluu/jetty/oxauth/custom/i

[2022-04-07 20:50] jgomer2001 opened #1661 "bug: Unexpected JWT token generated by usage of TokenRequest class"
When trying to figure out why scim tests are all failing in 4.4 I concluded there are some things off in certain underlying oxAuth classes that scim client employs.

In [this](https://github.com/GluuFederation/scim/blob/version_4.4.0/scim-client/src/main/java/gluu/scim2/client/UmaScimClient.java#L189) call, the algorithm is being set to `null`. I checked the actual key in the keystore. It exists a

[2022-04-07 21:45] yuriyz commented on #1661
If you set alg to `SignatureAlgorithm.PS256` then it works, right?
Signature algorithm identification didn't change since 2016 as far as I can see.

![image](https://user-images.githubusercontent.com/2013070/162323411-6c5b3f4b-2aa7-4412-8c01-bde228f21a7f.png)

Sounds like keys in jks does not have certificate or certificate refers to algorithms which are not what [SignatureAlgorithm](https://githu

[2022-04-07 22:04] jgomer2001 commented on #1661
@yuriyz

 key seems fine:

![Screenshot from 2022-04-07 17-03-20](https://user-images.githubusercontent.com/5444180/162327320-5aad7aad-dd37-4960-80da-4c6dfb055d27.png)

[2022-04-07 23:20] jgomer2001 commented on #1661
@yuriyz

hardcoding the alg works, yes

the key id is a parameter in the scim client API and the keystore contains a mix of  keys that use different algorithms. Are you suggesting the use of a mechanism other than `cryptoProvider` to get the alg?

[2022-04-08 06:20] yuriyz commented on #1661
From kid `90161505-78e2-4927-9239-80ac1defbef2_sig_ps256` we know exactly that it is key generated for signature (`sig`) and algorithm is `ps256`. I propose get it out of kid or if we know we will have some generator another then our then add configuration parameter where we can specify algorithm explicitly.

[2022-04-08 10:46] #1550 closed

[2022-04-08 12:20] jgomer2001 commented on #1661
It's not exactly the same issue, however in both cases scim tests are going to fail.

Here I was complaining why algorithm identification not always working. It's a public method in oxauth-model that is not only used by oxauth itself but potentially in other projects.

Ofc signature verification is a more critical problem.

I can update docs so  scim developers pick a kid ending in `_rsXYZ` for sa

[2022-04-08 13:21] yuriyz commented on #1661
@jgomer2001 attach or PM me jks file and password to that file. I will check.

[2022-04-08 17:12] yuriyz commented on #1661
Strange thing happens, for same key from jks UI tool shows one alg name but code shows another (it does not match).

![image](https://user-images.githubusercontent.com/2013070/162489905-c30f5b9b-8ee4-42a4-a0a3-ed26f9f0026f.png)

[2022-04-11 10:21] #1549 closed

[2022-04-11 10:22] #1624 closed

[2022-04-11 10:32] MohitMaliFtechiz opened #1662 "LDAP:Twilio Script failed to authenticate."
### Describe the issue
Twilio Script failed to authenticate with opendj-server

### Steps To Reproduce

Steps to reproduce the behavior:
1. Go to configuration
2. Go to person auth script
3. Select twilio and provide sid token and number
4. Activate the script
5. Go to Manage authentication
5. Select twilio as default authenticatin method
6. Test the login in conginto window

### Expected behavior

[2022-04-11 17:55] yuriyz commented on #1661
This is pretty interesting but it sounds as we can't trust UI. I suspect it has hard-codes and does not show to us real value.

Since java 11 algorithm is set to `RSASSA-PSS` for all PS*, means we can't figure it out on algorithm name alone.
https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html#signature-algorithms

However we can do it by algorithm parameters stored as

[2022-04-12 09:10] MohitMaliFtechiz opened #1663 "Basic multi auth script failed ."
## Describe the issue

Basic multi auth script failed .

[code]

## Steps To Reproduce
Steps to reproduce the behaviour:

Create new script in person authentication scripts.
1. follow the steps mentioned in Documents. https://github.com/GluuFederation/oxAuth/tree/version_4.4.0/Server/integrations/basic.multi_auth_conf
2. create auth_configuration_file
3. check oxauth.log

## Expected behaviour
Scr

[2022-04-12 13:28] maduvena commented on #1662
@MohitMaliFtechiz - Please recheck the client key and secret for your twilio account. Recently, I faced the same issue

[2022-04-12 13:32] maduvena commented on #1631
The fix for this is the same as in - https://github.com/GluuFederation/oxAuth/pull/1641

[2022-04-12 16:56] shmorri commented on #1611
This information can be found at this link: https://gluu.org/docs/gluu-server/4.2/upgrade/patches/

[2022-04-12 16:56] #1611 closed

[2022-04-12 19:54] yuriyz commented on #1661
Issue is fixed in 4.4, master and jans.

[2022-04-12 19:54] #1661 closed

[2022-04-12 19:56] yuriyz commented on #1659
@jgomer2001 @yurem is it related to https://github.com/GluuFederation/oxAuth/issues/1661 or not ? It is fixed.

Please give me jks file with secret if it still has to be investigated.

[2022-04-13 22:55] yuriyz commented on #1659
It will not work, `uuid_enc_rsa1_5 key` is encryption key. Jwks has `use: enc`, so when `client_assertion` is constructed, it is signed but server when iterating over jwks will not verify it correctly. Any kid's from jks siwth `*_sig_*` in name will work.

JWKS
![image](https://user-images.githubusercontent.com/2013070/163282961-ef8b6531-1b7e-4703-a9ea-34477e64cee9.png)

Success with `*_sig_rs512`

[2022-04-18 08:38] yuriyz commented on #1658
Issue is fixed in 4.4, oxauth master and jans.

[2022-04-18 08:38] #1658 closed

[2022-04-18 09:05] yuriyz commented on #1659
Closing this ticket, scim has to use key which is marked as `sig` in `jwks` (not first in the list, if jks is generated by us, it can take any key with `*_sig_*` in name).

[2022-04-18 09:05] #1659 closed

[2022-04-18 09:33] MohitMaliFtechiz commented on #1662
@maduvena ok i am checking it.

[2022-04-18 09:51] MohitMaliFtechiz commented on #1662
issue is fixed closing it

[2022-04-18 09:51] #1662 closed

[2022-04-18 11:37] MohitMaliFtechiz opened #1668 "MySQL:Not able to map SAML ACRS to a custom authentication script (casuing SAML sso failure)."
### Describe the issue

Not able to map  SAML ACRS to a custom authentication script (casuing SAML sso failure).

### How to reproduce

1. Go to admin ui
2. Go to configuration.
3. Go to person authentication script.
4. expand any script to enable
5. select SAML ACRS.
6. enable script and update.
7. refresh the page.

### Expected behaviour

SAML ACR needs to be mapped to custom script.

### Actua

[2022-04-18 11:57] #1668 closed

[2022-04-19 18:13] shekhar16 commented on #1663
@MohitMaliFtechiz   Please add property  "auth_configuration_file"and its key, then try.

[2022-04-20 06:08] MohitMaliFtechiz commented on #1663
@shekhar16 i added the property ``` auth_configuration_file ``` to the script  and the connection details were right.

[2022-04-20 09:57] shekhar16 commented on #1663
@MohitMaliFtechiz  please check connection details in json file. and please share your oxauth_script.log file

[2022-04-21 18:26] yurem commented on #1647
fixed

[2022-04-21 18:26] #1647 closed

[2022-04-22 11:42] MohitMaliFtechiz commented on #1663
@shekhar16 yes it is working on a fresh server. closing

[2022-04-22 11:42] #1663 closed

[2022-04-26 12:14] yurem opened #1673 "feat: use pkcs12 as default keystore type"
We need to update oxAuth and it's client libs to use by default pkcs12 keystore type. Also client libs should supports jks too for compatibility purpose until next major version.

[2022-04-26 12:14] yurem commented on #1673
implemented

[2022-04-26 12:14] #1673 closed

[2022-04-27 05:16] #1625 closed

[2022-04-29 10:24] yuriyz opened #1674 "bug: during encryption AS must consider client's jwks too, not only jwks_uri"
## Describe the issue
In oidc client information we can define both jwks and jwks uri. We have noticed that those are not optional. If we want to use jwks instead of jwks uri, token encryption doesn't work. In JwrService class jsonWebKeys are fetched from jwks uri at line 96 and if no jwks uri is defined, we will get npe.

support: 10456

[2022-04-29 10:45] yuriyz commented on #1674
Issue is fixed in 4.5 (master) and 4.4 (version_4.4.0)

[2022-04-29 10:45] #1674 closed

[2022-05-04 17:26] shekhar16 commented on #1365
Fixed . Here is the screenshot.
![image](https://user-images.githubusercontent.com/15937500/166744658-a3a87fa1-b8c6-4b40-9ca9-e251eaa5825c.png)

[2022-05-26 19:22] yuriyz opened #1682 "Upgrade crypto-js lib to 3.2.1 (or later if needed)"
## Describe the issue

Upgrade crypto-js lib to 3.2.1 (or later if needed)

[2022-06-03 10:45] #1643 closed

[2022-06-17 18:55] yurem opened #1690 "Build process should use right oxauth-client artifact"
In current oxauth.war there is oxauth-client jar which contains all dependencies inside. Instead of it build should use oxauth-client jar without build dependecies

[2022-06-22 04:47] MohitMaliFtechiz opened #1691 "Opendj:Fido2 script failed to authenticate user."
### Describe the issue

Fido2 script failed to authenticate user.

### Steps To Reproduce

steps to reproduce the behaviour:

    Go to admin UI.
    Activate fido2 authentication script.
    change default authentication method to fido2 .
    enroll fido device with user

### Expected behaviour

user must be authenticate

### Actual behaviour

user authentication failed.

### Config

OS Ubuntu20.

[2022-06-27 12:06] #1691 closed

[2022-06-30 09:09] yurem commented on #1690
Fixed

[2022-06-30 13:16] Milton-Ch commented on #1537
Closing this ticket because support ticket was closed after I gave a couple of options to the client and we didn't get any answer.

[2022-06-30 13:16] #1537 closed

[2022-06-30 13:20] Milton-Ch commented on #1682
Library was updated in master version and also Gluu version 4.4.1, PRs:
https://github.com/GluuFederation/oxAuth/pull/1686
https://github.com/GluuFederation/oxAuth/pull/1683

[2022-06-30 13:20] #1682 closed

[2022-07-06 07:20] maduvena opened #1695 "feat: Script for Keystroke Authentication (Gluu SCAN API)"
Custom script to validate Password Keystrokes

[2022-08-02 10:33] yuriyz opened #1701 "bug(oxauth): CIBA has hardcoded false for includeIdTokenClaims"
## Describe the issue

CIBA has hardcoded false for includeIdTokenClaims instead of using configuration variable (as it's done for other grants).

## Steps To Reproduce
Invoke CIBA and check claims.

Support: 10298

[2022-08-02 11:03] yuriyz commented on #1701
Same changes has to be done in jans

[2022-08-09 16:18] nynymike opened #1705 "Feat: Auth Server JSON config for allowSpontaneousScopes"
See upstream [Jans Auth Server Issue 2074](https://github.com/JanssenProject/jans/issues/2074)

[2022-08-16 10:18] yuriyz commented on #1705
Done by https://github.com/GluuFederation/oxAuth/pull/1709

[2022-08-16 10:18] #1705 closed

[2022-08-16 14:09] maduvena opened #1710 "docs: corrections to scan-api script doc"

[2022-08-31 22:05] aliaksander-samuseu opened #1712 ""login:prompt" property passed in request object JWT breaks oxAuth authentication"
## Description
As reported in ticket 10741, if `login:prompt` property is included into a request object JWT, user is stuck into an endless cycle of getting presented with login page, and cannot authenticate. The issue doesn't occur when `login=prompt` is passed as a parameter in url query string.

## Preconditions

1. Gluu Server is installed and a configuration is created to run a test OIDC flow

[2022-09-01 12:59] kdhttps opened #1713 "feat: JWTs as Authorization Grants"
## Describe the issue
There are two ways for JWT Grant flow https://datatracker.ietf.org/doc/html/rfc7523 :

1.  [Using JWTs as Authorization Grants](https://datatracker.ietf.org/doc/html/rfc7523#section-2.1)
2.  [Using JWTs for Client Authentication](https://datatracker.ietf.org/doc/html/rfc7523#section-2.2)

`2. JWTs for Client Authentication` feature is available in Gluu 4.4. but the first one

[2022-09-02 09:04] yuriyz opened #1714 "feat(oxauth): allow authentication for max_age=0"
## Describe the issue

Setting max_age parameter with 0 value in a authorization request doesn't allow user to log in at all. After postlogin call user is redirected back to login page.

In addition we can introduce `disableAuthnForMaxAgeZero` with default value `false`. If `true` - authn will be disabled.

[code]

## Expected behavior
Setting max_age parameter with 0 value in a authorization requ

[2022-09-07 17:25] nynymike commented on #1713
Moving to Janssen Auth Server https://github.com/JanssenProject/jans/issues/2326

[2022-09-07 17:25] #1713 closed

[2022-09-13 10:06] yuriyz commented on #1714
Done in https://github.com/GluuFederation/oxAuth/pull/1718

[2022-09-13 10:06] #1714 closed

[2022-09-15 15:30] yuriyz opened #1721 "feat(oxauth): allow end session with expired id_token_hint (by checking signature and aud/sid)"
## Describe the issue
feat(oxauth): allow end session with expired id_token_hint (by checking signature and audi/sid)

## Actual behavior
At present, oxAuth is "verifying" the id_token_hint by [looking it up](https://github.com/GluuFederation/oxAuth/blob/580723b5c8682c0fe7dbaad34093cb2da9565034/Server/src/main/java/org/gluu/oxauth/session/ws/rs/EndSessionRestWebServiceImpl.java#L281) in the token

[2022-09-20 15:58] yuriyz commented on #1721
Implemented in master (4.5)

[2022-09-20 15:58] #1721 closed

[2022-09-21 15:56] yuriyz opened #1723 "bug(oxauth): fix NPE in JwtAuthorizationRequest"
## Describe the issue
[code]

## Expected behavior
There must not be NPE.

## Actual behavior
NPE if redirect response is null.

[2022-09-21 16:00] yuriyz commented on #1723
Fixed in https://github.com/GluuFederation/oxAuth/pull/1724

[2022-09-21 16:00] #1723 closed

[2022-09-21 19:44] yuriyz opened #1725 "test(oxauth): SpontaneousScopeHttpTest fails during build"
## Describe the issue

[code]

## Steps To Reproduce
Run build with tests

## Expected behavior
Test must pass.

## Actual behavior
Fails.

[2022-09-21 19:47] yuriyz commented on #1725
Fixed in https://github.com/GluuFederation/oxAuth/pull/1726

[2022-09-21 19:47] #1725 closed

[2022-09-23 15:39] yuriyz opened #1728 "feat: introduce new UpdateToken methods in oxauth which exist in jans"
## Describe the issue

Introduce new UpdateToken methods in oxauth which exist in jans.

Currently in oxauth we have one method:

- modifyIdToken

In jans we have:

- modifyIdToken
- modifyAccessToken
- modifyRefreshToken
- getRefreshTokenLifetimeInSeconds
- getIdTokenLifetimeInSeconds
- getAccessTokenLifetimeInSeconds

[2022-09-26 09:13] lukaszgolinski commented on #1712
Hello,

Any update on the progress with this item?
What is the expected date for this fix?

Regards,
Lukasz Golinski

[2022-09-26 09:35] yuriyz commented on #1712
It will be fixed this week.

[2022-09-28 12:54] yuriyz commented on #1712
Issue is fixed in 4.5 (master).

[2022-09-28 12:54] #1712 closed

[2022-09-29 13:43] yuriyz opened #1733 "fix(oxauth): PKCE parameters from first SSO request retains in futher calls"
## Describe the issue
fix(oxauth): PKCE parameters from first SSO request retains in futher calls.

## Expected Behavior
The flow should work correctly and the user should be logged in Fine.

## Actual Behaviour
The user is redirected the RP redirect_uri with code_challenge and code_challenge_mode parameters. And it breaks the flow for the Second RP as the code verifier is not there in the Second

[2022-09-30 09:45] maduvena opened #1734 "fix: 'java.util.HashSet' object has no attribute 'get' in Casa Script"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Register apple touch ID on casa
2. Register one more cred and turn on 2fa
3. Login using mobile phone so the `isMobile` criteria is fullfilled.
4. Unable to login, check the jans-auth logs

**Expected behavior**
Login without error

**Smartphone (please complete the following information):**
  - Device: [any iPhone]

[2022-09-30 09:46] #1734 closed

[2022-10-07 07:47] yuriyz opened #1735 "feat(oxauth): add convenient idTokenLifetime client property"
## Describe the issue
Add idTokenLifetime client property

Support: 10859

[2022-10-07 08:06] yuriyz commented on #1733
Fixed in https://github.com/GluuFederation/oxAuth/pull/1736

[2022-10-07 08:06] #1733 closed

[2022-10-12 09:50] MohitMaliFtechiz opened #1738 "failed to register fido2 entry on fido2 script."
### Describe the issue

failed to register fido2 entry  on fido2 script.

### Steps To Reproduce

steps to reproduce the behaviour:

   1. Go to admin UI.
   2. Activate fido2 authentication script.
   3. change default authentication method to fido2 .
   4. enroll fido device with user.

### Expected behaviour

user must be authenticate with fido2 entry.

### Actual behaviour

user authenticate b

[2022-10-18 14:18] yuriyz commented on #1091
Closing as it's not important for oxauth.

[2022-10-18 14:18] #1091 closed

[2022-10-18 14:32] yuriyz commented on #1735
Done in oxauth 4.5

[2022-10-18 14:32] #1735 closed

[2022-10-24 17:18] yurem opened #1743 "feat: on ACR change keep authentication context if cusome script allows to do this"
Currently on ACR change when client force to user re-authentication with script which has bigger priory server clean authentication context. We can keep it in some case to allow new ACR to reuse this data. For example, to skip user/pwd authentication step.

In order to to this we need to add new method to authentication script:
[code]

Server should call this method only if script `getApiVersion()

[2022-10-26 16:11] nynymike opened #1744 "feat: Add support for prompt=none"
Need to downport : https://github.com/JanssenProject/jans/issues/2734

[2022-11-04 14:40] nynymike opened #1746 "feat: Allow OAuth authorization request with response_type=none"
Downport https://github.com/JanssenProject/jans/issues/2734

[2022-11-25 14:57] yuriyz opened #1747 "fix(oxauth): do not log WebApplicationException as error since it's expected behavior"
## Describe the issue

The following ERROR message appears very often in our logs. But we cannot gather any useful information from it. At least the redirect uri and client id should be logged. And is it really an error?

[code]

## Expected behavior
Log in TRACE
## Actual behavior
Logged in ERROR

Support: 10975

[2022-11-28 18:51] yurem commented on #1738
Fixed schema: https://github.com/GluuFederation/community-edition-setup/commit/d3a5198459f139d04390ce6ccc7d9708d12af8b0

[2022-11-28 18:51] #1738 closed

[2022-11-30 09:58] kdhttps opened #1748 "bug(oxauth): Duplicate `iss` and `aud` on introspection as jwt"
## Describe the issue
If you do an introspection on a token during a authorization code flow and include the "response_as_jwt" body value as true, the jwt is returned with a duplicate iss and aud.

Example JWT:
[code]

## Steps To Reproduce
Steps to reproduce the behavior:
1. Implement the Code Auth Flow
2. Get access token from Code Auth flow
3. Try to instrospect access token with `response_as_j

[2022-11-30 10:58] maduvena opened #1749 "fix: Super Gluu script related fixes"
- [ ] oneStep enrollment and authentication fixes in the script
- [ ] moving my-server.gluu.org/.well-known/fido-configuration under fido2
- [ ] documentation

[2022-11-30 10:59] maduvena opened #1750 "oneStep enrollment and authentication fixes in the script"

[2022-11-30 10:59] maduvena opened #1751 "moving my-server.gluu.org/.well-known/fido-configuration under fido2"

[2022-11-30 10:59] maduvena opened #1752 "documentation"