[2014-05-27 10:18] jessp01 opened #1 "SEVERE: Exception sending context initialized event to listener instance of class org.jboss.seam.servlet.SeamListener"
Hello,

Running on CentOS 6, 64 bit.
Using the latest install checked out from https://github.com/GluuFederation/install.
OpenDJ ver 2.7.0
Tomcat ver 7.0.54
JRE ver 1.8.0_05 [but also tried openJDK first]

Attached below is the exception I am getting.

Thanks in advance for any assistance,

May 27, 2014 6:13:02 AM org.apache.catalina.core.StandardContext listenerStart
SEVERE: Exception sending con

[2014-11-14 16:47] #1 closed, assigned to nobody

[2014-12-16 17:17] mzico opened #3 "No error message upon failed login"
There should be some error message(**) if any user use wrong credential.
I am talking about beta3 and "gluu-server-beta3-1.7-0.el6.x86_64.rpm"

(**) "Please use correct username and password"

[2015-01-08 23:24] qbert2k opened #4 "The alg param value EC is not valid in the jwks"
The three EC JWKs at https://seed.gluu.org/oxauth/seam/resource/restv1/oxauth/jwks [1] [2] have "alg":"EC", which isn't a valid JSON Web Signature or Encryption Algorithm as indicated that the alg value should be in JWK [3] [4].

[1] https://seed.gluu.org/oxauth/seam/resource/restv1/oxauth/jwks
[code]

[2] http://osis.idcommons.net/wiki/OC5:OpenID_Connect_Interop_5

[3] https://tools.ietf.org/html

[2015-01-15 19:33] qbert2k commented on #4
Fixed.

[2015-01-15 19:33] #4 closed

[2015-01-19 15:09] nynymike opened #5 "Dynamic generation of acr_values_supported"
For OpenID Connect Discovery, oxAuth should return the acr_values_supported and am_values_supported according to the available authentication mechanisms. These values should correspond to the LDAP and custom authentication interception scripts that are configured by oxTrust for the domain.

[2015-01-19 15:40] yuriyz opened #6 "UMA : update oxAuth according to new UMA specification"
UMA : update oxAuth according to new specification

[2015-01-21 01:53] qbert2k opened #7 "Move claims-supported and its mapping from XML config to LDAP"

[2015-01-22 22:35] qbert2k commented on #5
The IOC 1.0 specs no longer publishes the AMR values in the configuration endpoint

[2015-01-28 17:12] yurem commented on #5
Javier, can we close this issue?

[2015-01-28 17:45] yuriyz commented on #5
I propose to close it when the tests will be passed on hudson ;)

[2015-01-29 03:31] #5 closed

[2015-01-30 17:28] yurem opened #9 "oxAuth client should support HTTP proxy"
This sample code allows to create HttpClient which works through proxy server

<pre>
    public static HttpClient createProxyHttpClient(String proxyHost, int proxyPort, String proxyUser, String proxyPassword) throws KeyManagementException, UnrecoverableKeyException, NoSuchAlgorithmException, KeyStoreException {
        SchemeRegistry registry = new SchemeRegistry();
        registry.register(new S

[2015-01-30 17:31] yurem commented on #9
Alternatively we can try to next:
1) Create default executor
2) get client
3) set client parameters
httpClient.getParams().setParameter(org.apache.http.conn.params.ConnRoutePNames.DEFAULT_PROXY, new HttpHost(proxyHost, proxyPort, "http"));
and
httpClient.getCredentialsProvider().setCredentials(new AuthScope(proxyHost, proxyPort), new UsernamePasswordCredentials(proxyUser, proxyPassword));

[2015-02-02 11:07] yurem opened #10 "oxAuth client should provides method to load public certificate"
oxAuth client should provides method to load public certificate or allow specify path to certificate in file system. It’s generic solution for all client API libraries.

[2015-02-02 11:10] yurem opened #11 "Install BCProvider programmaticaly"
Also our method to install BCProvider is not convenient and led to errors if user decides to change java. I think we need use programmaticaly way to install BCProvider.
This is example from EJBCA client samples:
CryptoProviderTools.installBCProvider();

This is CryptoProvider code for reference: http://fisheye.primekey.se/browse/CESeCore/trunk/cesecore/src/main/java/org/cesecore/util/CryptoProvide

[2015-02-02 11:12] yurem commented on #10
We can add static initialization method to call method which loads public certificate only one time. User code should be responsible to call it before sending request to server.

[2015-02-02 22:49] #3 closed

[2015-02-03 15:34] yurem opened #12 "Create minimal testing data set"
We need to allow to run oxAuth tests on CE 2.0. In order to do that we need ldif file with testing data needed to run all tests.

[2015-02-04 08:03] yurem opened #13 "Review person authentication modules"
We need to review person authentication modules and update documentation. The documentation should be simple and allows to install and enable them. This is example: https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations/duo
This module has 2 files INSTALLATION.txt and README.txt
Plus every module should contains sample configuration files if it use them.

[2015-02-04 08:06] yurem opened #14 "Remove inboundSaml person authentication module"
We need to remove inboundSaml if saml module covers it functionality

[2015-02-18 19:01] #7 closed

[2015-02-24 19:35] qbert2k opened #15 "Use cache for claim to ldap attribute mapping"
Use cache to avoid performance decrease.

Register new cache type in conf file oxAuth\Server\src\main\resources\ehcache.xml

Eg: org.xdi.oxauth.service.ClientService
Methonds:
getClientDnByFilters
getClient
getClientByDn
...

[2015-03-05 14:08] #14 closed

[2015-03-06 18:35] qbert2k opened #17 "Add support for Pairwise Subject Identifiers"

[2015-03-10 02:01] nynymike opened #18 "Configure whether to issue client Refresh Tokens on dynamic client registration"
I was reading this article:  http://gluu.co/connect-deep-dive and this part jumped out at me:

NOTE: The AS may or may not issue a refresh token to a particular client. Issuing such a token is ultimately a trust decision. If you have doubts about a client’s ability to keep these privileged tokens safe, don’t issue it one!

The configuration for refresh tokens should be stored in the client ldap en

[2015-03-10 17:31] #13 closed

[2015-03-10 17:41] yurem opened #20 "Update setup project template files"
Update https://github.com/GluuFederation/community-edition-setup template files in order to include next changes:
- Move claims-supported and its mapping from XML config to LDAP
- Enable and disable key regeneration in config
- Other recent changes

[2015-03-10 18:25] yurem opened #21 "Update setup project template files to support authentication session"
Update https://github.com/GluuFederation/community-edition-setup template files in order to include authentication session changes.

I think authentication session lifetime should be bigger than 1 minute and less that 3 minutes.
What about 90 seconds - 2 minutes? I think it's enough for one authentication step. This time also allow to make few authentication attempts... or recieve DUO push notific

[2015-03-10 18:32] nynymike commented on #21
IMHO 120 seconds is ok

[2015-03-10 18:56] yuriyz commented on #21
Lets put 120. unauthenticated session time is time from step 1 to last step (until session become authenticated)

[2015-03-10 19:01] yuriyz commented on #21
Time increased 60->120 seconds with commit https://github.com/GluuFederation/community-edition-setup/commit/6615227d97bfff0b4e1c1ddefba793302b896bc6

[2015-03-10 19:01] #21 closed

[2015-03-11 17:30] #20 closed

[2015-03-11 18:38] yurem opened #22 "Reload oxAuth configuration without tomcat restart"
oxAuth should has reload configuration process which should check if there is marker file in conf folder like oxauth.config.reload

[2015-03-24 17:42] #11 closed

[2015-03-27 15:00] #15 closed

[2015-03-30 14:52] #17 closed

[2015-03-31 14:35] nynymike opened #27 "Consolidate Sample Interception Scripts"
The authn interception scripts are here
[https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations](https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations)

I think it would be better to create a folder substructure for sample scripts. For example:
[code]

[2015-04-03 07:47] yurem opened #28 "KeyGenerator should not uses server log files"
In CE we get next error in installation log:
6:42:01 04/02/15 Runnning: /bin/su tomcat -c /usr/java/latest/bin/java -cp /home/tomcat/lib/bcprov-jdk16-1.46.jar:/home/tomcat/lib/commons-lang-2.6.jar:/home/tomcat/lib/log4j-1.2.14.jar:/home/tomcat/lib/commons-codec-1.5.jar:/home/tomcat/lib/jettison-1.3.jar:/home/tomcat/lib/oxauth-model.jar:/home/tomcat/lib/oxauth.jar org.xdi.oxauth.util.KeyGenerator
1

[2015-04-03 07:47] yurem commented on #28
https://support.gluu.org/view/installation/setuppy-throwing-error-running-keygenerator-java-program/1767

[2015-04-06 11:28] yurem opened #30 "Enable validation in OpenIDRequestObjectHttpTest.requestFileMethodFail2 test"
During oxAuth client tests execution on Seed21 there is one test failure:
http://ox.gluu.org/hudson/job/oxAuth_seed21/9/testReport/org.xdi.oxauth.ws.rs/OpenIDRequestObjectHttpTest/requestFileMethodFail2/

We temporary disable this validation: https://github.com/GluuFederation/oxAuth/commit/e08c69f932a9b27abc42aad0e0e2186b21e07c5c

We need to fix test or testing data set.

[2015-04-08 21:26] MalinImna opened #31 "Sending the incorrect time value to oxd "register_client"."
This is Oxd log of "register_client" :
2015-04-09 04:58:48,212 TRACE [org.xdi.oxd.server.Processor] Send back response:
 {"status":"ok","data":{"client_id":"@!1111!0008!223B.70C3","client_secret":"79a
db8ec-8d40-40ce-862b-d9bacf74a6e4","registration_access_token":"b7cba86d-e546-4c
00-9cb7-9b98ab7d0c2e","client_secret_expires_at":1428613131000,"registration_cli
ent_uri":"https://seed.gluu.org/oxaut

[2015-04-09 18:12] yuriyz commented on #31
it's issue on oxd side, not oxauth.

[2015-04-09 18:12] #31 closed

[2015-04-24 16:05] mzico opened #32 "Enable CR as it can pull binary attribute"
CR mechanism is not tested to pull and store binary attributes.

Some customer require ObjectGUID ( a binary attribute in Active Directory ) to pull into their Gluu Server as this binary attribute can be released to Microsoft specific services ( i.e. Office365 ).

I tried to create a custom attribute named 'ObjectGUID' ( format of attribute: photo ) and pulled AD's ObjectGUID. Seems like values ar

[2015-04-24 16:43] nynymike commented on #32
In the unboundid LDAP client API, you can signal to the DS that the attribute is already base64 encoded.

[2015-04-28 00:53] qbert2k opened #33 "Add support for OAuth 2.0 Form Post Response Mode"
http://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html

[2015-05-11 19:56] qbert2k opened #34 "Authorization Request Issue with Cache"
[5/11/15, 3:30:50 PM] Javier Rojas: Hello Yuriy
[5/11/15, 3:31:05 PM] Javier Rojas: I found a strange behaviour in oxAuth
[5/11/15, 3:31:31 PM] Javier Rojas: seems like a cache issue or maybe something related…
[5/11/15, 3:31:46 PM] Javier Rojas: Please try this steps to reproduce:
[5/11/15, 3:32:50 PM] Javier Rojas: 1. In Chrome browser or another open a New Incognito Window (just to ensure you h

[2015-05-14 18:09] nynymike opened #35 "Remove hard-coded prefix for ACRs"
ACR's cannot share a prefix, because different custom authn methods may have totally different ACRs. It would be best to change the 'Name' field in oxTrust to 'acr' to make it clear.

[2015-05-15 05:50] yurem opened #36 "Default LDAP auth should have a configurable acr."
If you force the user to enter a custom auth script, it means the jython interpreter must be invoked
This has some overhead.

[2015-05-18 07:59] yurem opened #37 "Athorization parameter acr_values should be space-separated string"
In current version acr_values paramter is JSON array. We need to update application to allow pass it as space-separated string.

[2015-05-18 16:04] yurem commented on #37
I fixed acr_values in one place related to external authenticator code: https://github.com/GluuFederation/oxAuth/commit/e17c469eb677906b1f0fb4c3ab369e25f9da2d97
But there are other places like JwtAuthorizationRequest.java, RegisterRequest.java, etc.. In some place we expect this param as string separated list, but in some places as JSON  Array. We need to update not only server code. We also need

[2015-05-18 16:52] nynymike opened #38 "Add setAmrValues method interface to custom authentication script"
Perhaps we can define in oxAuth a way for the admin to set what gets returned as amr.
AMR is a list of strings, returned by the OP, to provide more information about the authentication that happened. No one knows what the company may want to return for amr--values are out of scope of OpenID Connect. For example, one could imagine amr's returned such as ['10', 'https://example.com/acr/duo', 'silver

[2015-05-18 17:58] yuriyz commented on #37
I will take over client part

[2015-05-18 18:13] yurem commented on #37
From https://openid.net/specs/openid-connect-registration-1_0.html
default_acr_values
    OPTIONAL. Default requested Authentication Context Class Reference values. Array of strings that specifies the default acr values that the OP is ...

It looks like in dynamic client registration we should use JSON Array...

[2015-05-20 11:48] yuriyz commented on #37
About space delimited acr_values for authorization request:
1. Server : Now it checks both space delimited values and json array. So we are on safe side and server will handle both.
https://github.com/GluuFederation/oxAuth/commit/d3246d73ad15098929811a5b1089043f20cfca68
2. Client: oxauth client sends space delimited value exactly as it's specified in specification.
https://github.com/GluuFederatio

[2015-05-20 11:48] #37 closed

[2015-05-21 13:53] Anikynetix opened #39 "WebUI enhancements to provide a more flexible support."
I think we should slowly start working towards making our user interface codes a bit more developer friendly, if not user friendly. My main concern is about the fact that the css files and templates are inside the war files; this is causing the IDP's WebUI to revert back to its default state on every update.

What would be the ramifications of moving the WebUI files so that they remain unaffected

[2015-05-21 16:15] nynymike opened #40 "Change interface of authz interception script to just return 'acr' and 'amr'"
The methods
- Integer getAuthLevel();
- String getAuthMode();

Should just be
- String getACR
- String[] getAMRs

According to the [spec](http://openid.net/specs/openid-connect-core-1_0.html#IDToken) ``amr`` is a list of strings, ``acr`` is just one string.

Perhaps the authz interception method should just have a way to retrieve the id_token.

[2015-05-27 12:44] yurem opened #43 "OpenId acr claim"
There are few TODO for ACR.
1. There is acr claim in IdToken.
   I used basic method for authentication
   This is result list of claim of IdToken
   {"iss":"https://seed22.gluu.org","aud":"@!D79B.BDA4.A74F.453F!0008!EC89.22E8","exp":1432733067,"iat":1432729467,"nonce":"nonce","auth_time":1432729466,"c_hash":"HzIUSO3TlYfTBj0lhBO8PA","oxValidationURI":"https://seed22.gluu.org/oxauth/opiframe","oxOp

[2015-05-27 14:25] yuriyz commented on #43
@yurem would you be so kind to fix oxTrust and oxAuth custom authentication methods, so we can completely move to acr instead of misleading auth_mode and auth_level ? Then please reassign back to me for oxauth code update (token & apis)

[2015-05-28 12:23] yurem commented on #43
We only need to make sure that we returns acr claim correctly and in right cases.

Yuriy, can you take a look on point 3 of this issue?

[2015-05-30 22:15] yuriyz commented on #6
done in uma branch and merged into master branch.

[2015-05-30 22:15] #6 closed

[2015-06-04 11:00] mzico commented on #39
@rahatjaan is also working on oxTrust refurbishment. Assigning this ticket to him.

[2015-06-04 17:59] yurem opened #45 "oxAuth should allow request default authentication method"
Currently it's not possible to call internal oxAuth user/password authentication method when there are enabled person authentication methods. oxAuth should accept special acr_value in order to call default authentication method.

[2015-06-04 18:10] yurem commented on #45
I added one more person authentication script in order to use existing workflow and don't make authentication workflow too complex:
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/service/external/internal/InternalDefaultPersonAuthenticationType.java

This class is java person authenticator script which calls oxAuth authenticator. It extends same interface

[2015-06-04 18:10] #45 closed

[2015-06-05 19:23] yurem commented on #12
Fixed

[2015-06-05 19:23] #12 closed

[2015-06-05 19:23] yurem commented on #35
Fixed

[2015-06-05 19:23] #35 closed

[2015-06-05 19:24] yurem commented on #36
Fixed

[2015-06-05 19:24] #36 closed

[2015-06-09 19:49] willow9886 opened #46 "Issue with sessions"
Follow these steps to reproduce:
1) Restart browser
2) Log in using your credentials
3) Logout
4) Click Login again
5) You will log in without entering user/password

[2015-06-09 21:00] qbert2k commented on #46
I think this issue is related to #34

[2015-06-11 18:17] yuriyz commented on #46
ok, it's not related to oxauth at all. If test it with idp.gluu.org it works like a charm (together with oxTrust).
But it fails on support.gluu.org because on logout there are no real logout (cookie is not cleared).

[2015-06-11 18:17] #46 closed

[2015-06-15 14:20] yuriyz commented on #34
Now we are updating session attributes with each next subsequent request https://github.com/GluuFederation/oxAuth/commit/f35d90c2e181c3b463b19016f39eac307caf631a

[2015-06-15 14:32] yuriyz commented on #40
renamed getAuthLevel() -> getAcrs(). Keep in mind that if there is any existing usages in custom scripts then those scrips has to be updated to use new getAcrs() method. Otherwise it will fail with jython exception.

[2015-06-15 14:32] #40 closed

[2015-06-15 17:10] yurem commented on #34
We need to find proper place where we are going to fix it

[2015-06-16 15:43] yuriyz commented on #34
ok, issue is not as simple as it may look at first glance. But final solution looks as following:
1) redirect_uri change -> update session
2) acr change -> send error
3) client_id change -> do nothing (handled via session permission map)
Main change it that if acr is changed with already existing session server is forced to send error to client to inform that client has to logout in order to authe

[2015-06-16 15:43] #34 closed

[2015-06-22 13:12] yurem commented on #32
I think UnboundID SDK or our oxLDAP library should detect Base64 values automatically.
We are not using this functionality in other places. Hence we can try to fix this in CR script.

Can we try to implement workaround via CR script. Sample CR script:
<code>
from com.unboundid.util import Base64
import sys

....
....
....

for attribute in attributes:
    attrName = attribute.getName()
    attrVal

[2015-06-22 13:16] yurem commented on #32
According to this we do base64 decode inside script to allow to do base64 during persisting it.

[2015-06-25 15:26] GdotBdot commented on #43
Further, playing with the current Debian Version showed that acr_values only works when passed as JSON-Array, which contradicts the standard requiring a "Space-separated string"

[2015-06-25 17:17] yurem commented on #43
CE 2.3 should be aligned with latest http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest spec:
acr_values
    OPTIONAL. Requested Authentication Context Class Reference values. Space-separated string that specifies the acr values that the Authorization Server is being requested to use for processing this Authentication Request, with the values appearing in order of preference....

[2015-06-25 19:44] GdotBdot opened #48 "HTTP Basic Authentication wrong decoding"
OAuth requires the client id to be encoded "using the 'application/x-www-form-urlencoded' encoding algorithm" (http://tools.ietf.org/html/rfc6749#section-2.3.1). This is obviously not respected when a OIDC-Client accesses the UserInfo Endpoint in the Authorization Code Flow, the missing decoding results in an "invalid_client" error response. You can reproduce this with the example client of connec

[2015-06-29 15:51] nynymike opened #49 "Add Interception Script to enable Dynamic User Claim Generation"
When the id_token is returned from the user_info endpoint, the Gluu Server should expose one last interception script that enables you to massage the values for the attributes originating in LDAP. This dynamic attribute generation should only occur if the  oxAuthCustomScope type attribute == "dynamic"

The only method required is "update" similar to the dynamic attribute synchronization script. Th

[2015-07-02 16:49] yurem commented on #49
This is sample script: https://github.com/GluuFederation/oxExternal/blob/master/dynamic_scope/sample/SampleScript.py

[2015-07-02 16:50] yurem commented on #49
Also I added client tests to cover this functionality.

[2015-07-02 16:50] yurem commented on #49
Can you review this script?

[2015-07-02 16:50] #49 closed

[2015-07-02 16:55] yurem opened #50 "Fix authorization test"
http://ox.gluu.org/hudson/job/oxAuth/297/testReport/junit/org.xdi.oxauth.ws.rs/AuthorizationCodeFlowHttpTest/authorizationCodeWithNotAllowedScopeFlow/

[2015-07-02 17:31] nynymike commented on #50
Please proceed with a fix.

[2015-07-03 12:58] yurem commented on #50
Fixed: https://github.com/GluuFederation/oxAuth/commit/f27a364d2d5767642e1bd32830980623990ebf95

[2015-07-03 12:58] #50 closed

[2015-07-07 18:04] yurem opened #51 "Implement statistic gathering service"
There is missing part in oxAuth which gather statistic. For example oxAuth should count number of successful/failed authentications, active sessions, etc..

We need to implement serverStatistic service. It should have methods which allows to gather statistic for specified counter. Example:
serverStatistic.increaseCounter(counter_type_name, value);
serverStatistic.setCounter(counter_type_name, valu

[2015-07-07 18:12] yurem commented on #51
Also I think we should store this statistic in separate backend. What do you think? Is it needed?

[2015-07-07 18:41] nynymike commented on #51
yes, but what backend? RDBMS?

[2015-07-07 19:00] yurem commented on #51
LDAP

[2015-07-07 19:09] nynymike commented on #51
Ok. That makes sense. So you can store it locally, or specify a remote server.

[2015-07-08 18:54] nynymike commented on #22
Yura, this is urgently needed for clusters.

[2015-07-08 20:49] yuriyz commented on #22
I can take over it.

[2015-07-08 23:50] iromli opened #52 "LDAP failover for clustered servers"
## Usecase

In Gluu Cluster setup, we deployed replicated LDAP app servers to multiple machines.

1. LDAP server 1 at `10.2.1.1`
2. LDAP server 2 at `10.2.1.2`

All LDAP servers were included in `oxIDPAuthentication` entry.

We also deployed oxAuth to `10.2.1.3` This is a gist of `oxauth-ldap.properties`:

[code]

To test whether oxAuth do the failover, we removed LDAP server 1 from network.

## E

[2015-07-09 06:15] rahatjaan commented on #51
Why should we have a separate backend to just store statistics? Why can't we store them in the same LDAP? I don't think it is going to add any noticeable overhead on performance.

[2015-07-09 09:43] yurem commented on #22
We can add one more property version to oxauth-server.properties.
oxAuth periodically should load oxauth-server.properties and compare version in LDAP and in file. After that if should reload config if needed.

[2015-07-09 09:53] yurem commented on #22
Also we can check if there is specified file in conf folder and reload config if this file exists.

[2015-07-09 09:56] yurem commented on #22
@iromli  Which method is better for cluster?

[2015-07-09 10:17] yurem commented on #22
@yuriyz Thank you for the help! Yes, we can split this task. I implemented service which check if there is required condition to restart service: https://github.com/GluuFederation/oxAuth/commit/4c11bb18d1947c05858a7664c967ac14fdc0efe3
I added new property "configuration-reload-trigger" to oxauth-server.properties.

Can you implement method where we load config from file and update in LDAP: Configu

[2015-07-09 10:27] yurem commented on #22
@iromli this is update oxauth config: https://github.com/GluuFederation/community-edition-setup/commit/22820af2c2b9bc54d92a74a318fc0e0acd5fa158

[2015-07-09 12:08] yuriyz commented on #22
@yurem Sure ;).
I think we need at least two possibilities to reload configuration:
a) by property from configuration itself - this is what you've added
b) by external file - to force reload from outside
Imagine that you have configuration-reload-trigger=false. and you would like to trigger reload. Then the only option is to change it in configuration itself. I guess it is also convenient to creat

[2015-07-09 12:17] yuriyz commented on #22
or made it even simpler, timer will just check on oxauth-config.xml.reload file. Because I don't see advantages to keep reload information in configuration itself.

[2015-07-09 12:56] yuriyz commented on #22
ok, configuration reload is implemented as following:
1) if reload marker exists ( <Tomcat>/conf/oxauth.config.reload) then oxauth starts to monitor configuration files (oxauth-config.xml, oxauth-static-conf.json, oxauth-web-keys.json, oxauth-errors.json). If marker file does not exist or deleted then oxauth stops monitoring process.
2) configuration monitor checks whether any of these files are c

[2015-07-09 12:56] #22 closed

[2015-07-09 13:41] iromli commented on #22
@yuriyz and @yurem thanks.

I do have questions though:

1.   So the only things I need to do is updating oxauth-config.xml:

[code]

     and creating `/opt/tomcat/conf/reload_oxauth_config_marker`?

2. Which oxAuth version affected by this changes? Does v2.2 also has this feature? Note, cluster still use oxAuth v2.2, but I can upgrade to latest version that has this reload feature.

[2015-07-09 14:15] nynymike commented on #22
I think just version 2.3 because clusters needs to upgrade to 2.3 anyway

[2015-07-09 14:20] yuriyz commented on #22
@iromli the only thing you need is to create /opt/tomcat/conf/oxauth.config.reload file. It will force oxauth to monitor all configuration files. Changes are made in master branch (version 3.0). We can integrate/merge it into 2.3 version.

[2015-07-09 14:35] iromli commented on #22
@yuriyz

Noted. Cluster will be upgraded to 2.3.

[2015-07-09 15:44] yurem commented on #22
Let's plan to issue 2.3.2 on next week
Maybe we will include other upgrades in this version too

[2015-07-09 15:54] nynymike commented on #51
I think yura is just leaving the possibility open that there will be a different ldap server for stat collection. You wouldn't want reporting to effect the performance of authentications.

[2015-07-09 17:48] yurem commented on #51
yes, correct. We will store it in LDAP, but in separate backend to avoid main DB performance decrease and DB grow up

[2015-07-09 17:48] yurem opened #53 "Upgrade oxPush to support U2F"

[2015-07-10 14:32] nynymike commented on #52
This error may be ok, as long as the server detects the error and then switches.

[2015-07-10 15:36] yuriyz commented on #52
We totally rely unboundid implementation. It must be misconfigured or something. I will check it in detail.

[2015-07-10 15:45] yuriyz commented on #52
@iromli would you please paste here full stack trace? In description I can see only cutted version.
Also did you change LDAP configuration for authentication providers?
oxauth has:
1) ldap connection for own operations
2) ldap connection per different authentication. So if you want to failover also authentication connections you have to specify them in ldap. oxIDPAuthConf object class. (It was act

[2015-07-10 15:51] nynymike commented on #52
It would be more efficient to keep a connection pool to the authn LDAP servers. Of course the authn LDAP server may be remote (i.e. sometimes it is Microsoft Active Directory, where passwords cannot be migrated due to proprietary encryption format).

[2015-07-10 17:03] iromli commented on #52
@yuriyz

__1) ldap connection for own operations - oxauth-ldap.properties__

[code]

__2) ldap connection per different authentication (connection details in LDAP)__

[code]

Here's the output:

[code]

So there are 2 LDAP servers:

1. ldap1 at 10.2.1.2
2. ldap2 at 10.2.1.4

When ldap1 is unreachable from network, oxAuth throws errors. Here's the traceback from `catalina.out` file:

[code]

I foun

[2015-07-10 17:15] yurem commented on #52
@yuriyz

I think we should really to unboundid implementation. According to their documentation it should work: https://docs.ldap.com/ldap-sdk/docs/javadoc/com/unboundid/ldap/sdk/FailoverServerSet.html
I will check this.
 @yuriyz

I implemented this. It's required overhead. But it's not very big. We use second connection pool for user authentications only. During validation user pasword we execute

[2015-07-10 18:55] nynymike commented on #52
I see, so the BIND operation is the way we are validating the users credentials... that's ok.

[2015-07-10 19:14] yurem commented on #52
yes, it's easier to use second pool to validate user password. We don't close connection after authentication in this cases.
Without second pool we have to close connection after bind.
Hence overhead is bigger without authentication pool because open/close connection is too expensive operation.

[2015-07-10 19:17] yurem commented on #52
I think our code is fine, we only need to find where we miss something.

I tested UnboundId SDK, FailoverServerSet and our low level classes which works with connections. This is sample code:
[code]

This is result:
[code]

As you can see once I stop server 34389 it redirects requests to server 44389

Hence our low level code is ok.

[2015-07-10 20:53] nynymike commented on #52
When a VM crashes, the docker container is exited--in turn weave detaches the IP address of that container  To replicate this, instead of stopping the LDAP server, we should comment out the hosts file entry for ldap1.  This is an unusual use case--I've never heard of the dns name for the ldap server disappearing before...

[2015-07-10 21:39] iromli commented on #52
To replicate this issue, I have setup a new cluster:

1. LDAP1 at VM1 (10.2.1.15)
2. LDAP2 at VM2 (10.2.1.16)

Usecases:

1. Stop LDAP1 server using `/opt/opendj/bin/stop-ds`; VM1 is not taken down. The result is oxAuth do the failover properly.
2. Shutdown VM2 that hosts LDAP2. The result is oxAuth throws the errors as I have mentioned above. Need to restart Tomcat (and oxAuth), and it goes norma

[2015-07-12 08:01] yurem commented on #52
I tried to find out scenarios where we can find this issue. It looks like this issue can be related to firewall configuration or router issue. I more believe that this is environment issue than application issue.

Before trying to implement operation retry on our side (I've checked that there is retry in UnboundId SDK) can you try to run telnet to connect VM2 LDAP port from VM1 after VM2 shuttdown

[2015-07-12 08:58] yuriyz commented on #52
I can confirm it too. Failover on oxauth works like a charm. It's definitely problem with test servers you are testing on. Can we setup it on VMs where we all would have access? Then we can check it together. I'm sure it's problem with configurations and not with oxauth itself.

[2015-07-12 14:08] iromli commented on #52
But when VM2 is shutdown, I can't even ping VM2 from VM1. Is it still matter to run telnet if VM2 is unreachable?

[2015-07-12 15:17] yurem commented on #52
But why in this case we get No route to host exception?
If the host is offline we should get java.net.ConnectException: Connection refused: connect

I suspect that java network layer throw java.net.NoRouteToHostException on OS network library error. That's why I told you try to run telnet to see what it will return.

[2015-07-12 15:28] yurem commented on #52
If we are using docker should we unlink or do something simular after VM2 shutdown?
It tried to find more info about docker and this error and I find that there are other scenarios when people also gets this error:
https://github.com/docker/docker/issues/10450
https://github.com/docker/docker/issues/12013

[2015-07-12 18:56] iromli commented on #52
I tried to reproduce this issue again using 2 LDAP docker containers:

1. LDAP1 at 20.2.1.7
2. LDAP2 at 20.2.1.9

__Usecase 1: OpenDJ server at 20.2.1.7 is stopped__

Error found in `oxauth.log`:

[code]

I'm not sure if this is expected behavior of oxAuth.

__Usecase 2: VM or container hosting OpenDJ at 20.2.1.7 is stopped/crashed__

Error found in `oxauth.log`:

[code]

This likely routing issue

[2015-07-13 08:27] yuriyz commented on #52
I was not able to reproduce the issue. Here is what I've tried:
Setup two ldap servers:
1. localhost:1389
2. localhost:2389

Scenarios:
1. Run Yura M tests against two servers running - SUCCESS
2. Shutdown 1 - SUCCESS
3. Shutdown 2 - SUCCESS
4. Shutdown 1, run 1 again, shutdown 2, run 2 again, shutdown 1.
Each time unbound id on the fly correctly picked up connection to live server.

In unboundid

[2015-07-13 17:37] yuriyz commented on #52
Issue was investigated and thanks to nice help of @iromli we found the root cause of it. First of all LDAP failover works. During stopping/killing of docker container network for local IPs are for some reason down. It means if use local IPs like 10.2.1.1, failover will not work. Workaround is to use public IPs. In our test run session with public IPs network was up and running and both my local ox

[2015-07-13 17:37] #52 closed

[2015-07-13 17:46] iromli commented on #52
Thanks @yuriyz for your help. Cluster will need to find a workaround to overcome this issue.

[2015-07-13 17:55] yuriyz commented on #52
ok, again to make it clear to everyone.
Scenario:
1. ldap1
2. ldap2

With local IP:
Stop ldap1 -> ldap2 is NOT visible by local IP

With public IP
Stop ldap1 -> ldap2 is visible by public IP and oxauth can connect

[2015-07-15 14:00] nynymike commented on #52
Problem was resolved by pushing a hosts file to each Provider.

[2015-07-15 21:02] iromli commented on #52
Actually, the hosts file is managed inside oxAuth container. So oxAuth container keeps all entries to all available LDAP containers.

[2015-07-20 19:19] yurem commented on #32
Our LDAP persistence layer supports binary attributes now.

[2015-07-20 19:19] #32 closed

[2015-07-22 20:49] iromli commented on #22
Apology for bringing up this issue, but is this feature already shipped to v2.3?

[2015-07-24 10:41] yurem opened #54 "oxAuth filters configuration don't reload after changing settings"
CE 2.3.2 after changing oxauth-config.xml reloads configuration. Hence we can change next properties on the fly:
`
    <auth-filters-enabled>false</auth-filters-enabled>
    <client-auth-filters-enabled>false</client-auth-filters-enabled>
`
to
`
    <auth-filters-enabled>true</auth-filters-enabled>
    <client-auth-filters-enabled>true</client-auth-filters-enabled>
`
As result oxAuth reloads confi

[2015-07-30 10:48] mzico opened #55 "Improve gplus custom authentication"
We need to improve gplus custom authn script. A 'workflow' / 'howto' would be great to be included there as well.

[2015-08-03 18:09] yurem commented on #51
I've commuted changes to git.

I've put some classes to oxCore to allow reuse in oxTrust and other applications.

oxAuth stores entries in DN like this:
uniqueIdentifier=id,ou=YYYY-MM,ou=application_type,ou=appliance_inum,ou=metric,ou=organization_name,o=gluu

Now this API supports 2 types of metrics: counter, timer.

[2015-08-03 18:10] yurem commented on #51
These are sample entries:
version: 1

dn: ou=metric,o=@!6C2B.6E21.40DD.524A!0001!758E.0789,o=gluu
objectClass: top
objectClass: organizationalUnit
ou: metric

dn: ou=@!6C2B.6E21.40DD.524A!0002!577D.F64B,ou=metric,o=@!6C2B.6E21.40DD.524A!0001!758E.0789,o=gluu
objectClass: top
objectClass: organizationalUnit
ou: @!6C2B.6E21.40DD.524A!0002!577D.F64B

dn: ou=oxauth,ou=@!6C2B.6E21.40DD.524A!0002!577D.F

[2015-08-04 14:04] #51 closed

[2015-08-05 18:25] yurem opened #56 "Allow user to select authentication method from list of requested acr_values"
It's possible to pass requested acr_values to oxAuth. But oxAuth selects only one method. We need to show intermediary form to allow user select one of the methods specified in acr_values

[2015-08-06 15:08] nynymike commented on #56
I would think that this is the responsibility of the client. If the client only passes one acr, oxauth won't have to decide which one to use.

[2015-08-07 13:38] nynymike opened #57 "Force Pairwise Client Registration"
I think we should make a configuration option to force pairwise client registration during client registration.  If this is the case, I also think that the `openid` scope should not return the `inum`, which is correlatable... but should instead return the pairwise identifier value. This should be editable in the config json (not the file system).

[2015-08-09 20:50] yurem commented on #38
What is purpose of this extra method? Should it just return list of synonymous of specific interceptor script?

[2015-08-09 21:30] nynymike commented on #38
`amr` is defined in the id_token http://openid.net/specs/openid-connect-core-1_0.html#IDToken

However, there is no way currently in the Gluu Server to set the value of `amr`

In fact, there is no way to know what should even be returned for `amr`, which is why I am proposing that it can be set in the custom authentication script.

It should default to nothing, but optionally, it can be set by the

[2015-08-10 07:16] yurem commented on #38
I've tested how it works now.
For example, if we pass amr_values=basic in authorization request oxAuth returns id_token which contains amr=basic claim/

Hence currently we uses interceptor script name in all places.
If we need to change amr/amr_value we only need to change interceptor script name.
Also we can add new mandatory person interceptor script property to allow admin set other amr value t

[2015-08-10 11:19] yuriyz commented on #38
Since our authentication following interception script the name of the script is totally enough as amr value unless we plan to keep logic of authentication inside the script.

For example if we have "duo" for duo and "u2f" for u2f then name of the script keeps whole needed information. But if we create script that dynamically decide what authentication method to use, e.g. "dynamic" which will choo

[2015-08-10 11:51] yurem commented on #38
Mike, can you explain your idea with 'def setAmrValues(self, amrValuesList):' method?

I think new method in interceptor script will led to many clones of the same script which make support and upgrade more complex.

[2015-08-11 18:42] #28 closed

[2015-08-12 17:57] yurem opened #58 "Check why there are errors in benchamrk test"
http://ox.gluu.org/hudson/job/oxAuth-Benchmark/

[2015-08-13 03:25] qbert2k opened #59 "id_token doesn't contain sub claim"
Fix the sub claim for id_token and user info endpoint.

[2015-08-13 04:58] #59 closed

[2015-08-13 18:20] nynymike commented on #38
Actually the name of the script is returned as the acr. amr_values is an array of strings. This is used to return extra information to the client. We have no idea what should be returned here--the only answer is to let the organization define the values. For example, they may return something like this ['US', '232', 'red'] ... corresponding to some internal information... like I said, they can ret

[2015-08-14 21:18] nynymike opened #61 "Alternate strategy for pairwise identifier: storage of GUIDs"
http://openid.net/specs/openid-connect-core-1_0.html#PairwiseAlg

in example 3, the spec provides a good idea:
"The Issuer creates a Globally Unique Identifier (GUID) for the pair of Sector Identifier and local account ID and stores this value."

Two options;

1) store a json object in the person entry:

    dn: inum=<person-inum>,ou=people,o=<org-inum>,o=gluu
    oxPersonPairwiseIdentifiers: {'ht

[2015-08-21 15:30] yurem opened #62 "Remove JSF dependency"
We are using JSF to render pages in oxAuth. According JSF documentation workflow is not very simple: https://docs.oracle.com/javaee/5/tutorial/doc/bnaqq.html

...

Hence on postback server should have stored view in FacesContext in order to process request. But we are trying to not depend on framework persistent data on server!!!

How to resolve issue:
I think we need to get rid of JSF in oxAuth.

[2015-08-21 15:34] yurem opened #63 "Review oxAuth jar dependencies"
In current war there are a lot of new jars. Example: json4s, swagger, etc..
Are they really need in final war?

[2015-08-21 16:37] yuriyz commented on #63
swagger indeed is not needed, it must be excluded in final war.

[2015-08-21 21:29] #61 closed

[2015-08-25 09:08] yurem commented on #58
It's not oxAuth bug.
According to https://github.com/GluuFederation/community-edition-setup/blob/master/templates/httpd.conf#L57 CE enable few Anti DOS modules

Hence it's not possible to run tests which run authorization in 10 threads simultaneously due to:
IPReadLimit 5

[2015-08-25 09:08] yurem commented on #58
It's not oxAuth bug.
According to https://github.com/GluuFederation/community-edition-setup/blob/master/templates/httpd.conf#L57 CE enable few Anti DOS modules

Hence it's not possible to run tests which run authorization in 10 threads simultaneously due to:
IPReadLimit 5

[2015-08-25 09:12] yurem commented on #58
What we can do to resolve this issue:
1)Disable next modules:
LoadModule antiloris_module modules/mod_antiloris.so
LoadModule evasive20_module modules/mod_evasive20.so
LoadModule limitipconn_module modules/mod_limitipconn.so

In this case admin should enable them if needed.

2) Change:
IPReadLimit 5
value.

3) Don't change any configuration. This make sense. We will supply CE protected from DOS. A

[2015-08-25 09:14] yurem commented on #58
I prefer option 3

[2015-08-25 16:28] aliaksander-samuseu opened #64 "Authentication against LDAP backend fails."
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.3-1

Preconditions:
1) LDAP server configured so that it capable of playing ar role of backend directory with a test user account existing in it; the ones provided by MS AD is preferable, but most likely it can be reproduced for any backend directory.
2) Cache Refresh is configured and fully functional so that

[2015-09-01 04:44] #57 closed

[2015-09-01 16:36] yurem opened #65 "Duplicate tokens after log into oxTrust"
After log in to CE(Example: https://ce-release.gluu.org) oxAuth adds 4 token entries for id_token, access_token, refresh_token, id_token. Why it adds 2 id_tokens? Should it replace existing id_token withing authorization_grant if needed?

[2015-09-01 16:39] yurem opened #66 "Change RDN of authorization_code grant"
We should change RDN which we uses to store tokens:
Now we store them using next RDN: uniqueIdentifier=uuid,inum=client_id,ou=clients,o=org_inum,o=gluu
It’s better to use next RDN: uniqueIdentifier=uuid,oxAuthGrantId=uuid,inum=client_id,ou=clients,o=org_inum,o=gluu

[2015-09-01 18:07] yurem opened #67 "Don't search token within all clients"
In https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/service/GrantService.java we do search using basedDN() where base dn is ou=clients,o=@!1111,o=gluu, for example. This means that if there are few clients and we need tokens for specified client oxAuth still do search within all client. We should use more accurate RDN with client_inum in all places where we

[2015-09-01 18:34] yurem opened #68 "Add metric to store CPU/memory usage"
oxAuth should store CPU/memory usage metric.

[2015-09-04 02:16] shouro opened #69 "oxauth memory use and session management"
JVM goes out of memory in some cases. in one case user in database was 263229, and allocating 10GB ram fixed it, and in another case 7GB fixed outage.
oxauth is keeping a lot of session data in memory so this may cause this memory problem.

Currently oxauth keep its session data and it monitors if its expired or not and if expired then deletes the data. But if we use Key-Value (KV) database for se

[2015-09-04 07:10] yuriyz commented on #69
oxauth does not keep sessions in memory, data are kept in ldap only. I guess it's some kind of regression. I will check it.

[2015-09-04 19:25] shouro commented on #69
I think we should use KV database to manage session data. another outage occur recently, tomcat was using 300% cpu and system was down, I was told that the reason was oxauth tries to calculate session validity in ldap and there was so many session data in ldap and so many was created every second than deleted.

[2015-09-04 20:44] nynymike commented on #69
This had nothing to do with memory... it was because of missing index in LDAP.

[2015-09-04 23:09] shouro commented on #69
oops!! then I was miss informed about this.

[2015-09-08 15:36] yuriyz commented on #69
closing the issue as misunderstanding.

[2015-09-08 15:36] #69 closed

[2015-09-08 16:51] shouro commented on #69
I misunderstood CPU use but I think we need to do something about memory.

[2015-09-09 07:49] yuriyz commented on #69
@shouro I've benchmarked oxauth and it doesn't use much memory. For example after 18 hours it used ~300Mb if don't take into account peaks. http://ox.gluu.org/doku.php?id=oxauth:profiling

Maybe there was some recent changes that increased memory consumption, I can investigate it. Did you noticed that oxauth takes a lot of memory? Can you give any statistic or at least something or point to server

[2015-09-09 10:05] yurem commented on #69
@shouro which memory options you used to start tomcat? I suspect if you don't limit x64 java it can allocate more memory if needed to reduce GC calls

[2015-09-10 14:19] yuriyz opened #70 "Back-Channel Logout"
Add support for back-channel logout
http://openid.net/specs/openid-connect-backchannel-1_0.html#BCRequest

[2015-09-10 14:29] nynymike opened #71 "Front channel HTTP logout"
We should support this: http://openid.net/specs/openid-connect-logout-1_0.html

[2015-09-10 16:08] yurem commented on #70
You know more in this area. Can you explain or give us example where we can use back channel logout. Can we just call https://server/oxauth/seam/resource/restv1/oxauth/end_session to end session?

[2015-09-10 16:15] nynymike commented on #70
I think this method requires the RP to have an endpoint to receive a notification from the OP that a logout has occurred. Originally, Google was dead set against this. They can't support this because its too hard to remember all the clients that require a logout notification, and it would have a big network impact. However, I think that many enterprises have the requirement, and its was decided th

[2015-09-10 16:46] yurem commented on #70
Also I see that RP should issue additional token to conform this draft spec. This require additional resources..
In oxTust we implemented something similar. We call end_session directly (without user browser) on oxTrust session destroy: https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/service/AuthenticationSessionService.java#L39

[2015-09-10 21:13] yuriyz commented on #70
Ok, we have to differ 3 ways of logout:
1. end session according to http://openid.net/specs/openid-connect-session-1_0.html#OPMetadata
2. http based logout http://openid.net/specs/openid-connect-logout-1_0.html
3. back channel logout http://openid.net/specs/openid-connect-backchannel-1_0.html

@yurem yes, end_session is enough for oxTrust, so we don't need to change anything there.

From spec:
[co

[2015-09-11 05:58] yurem commented on #70
@yuriyz , you paste right definition of end_session endpoint.
But our end_session endpoint implementation allows to call it in similar to back channel way.
RP can call directly OP end_session endpoint without user browser.
RP only need to store in session id_token once user login.

For me it's much easier now to use end_session than implement Draft 01 version of this spec. I believe final version

[2015-09-11 22:15] nynymike opened #72 "oxAuth is not presenting the default authentication mode from SAML"
A [community issue](https://support.gluu.org/view/customization/saml-sso-redirect-login-screen-not-the-google-plus-screen/2106) reported this problem, and I replicated the same by setting up a SAML SP.

You can see when I login from oxTrust, it correctly displays the Google login screen:
![image](https://cloud.githubusercontent.com/assets/3717101/9827494/58e80dec-58a8-11e5-8ff8-acc221191e78.png)

[2015-09-14 11:34] yurem commented on #72
Fixed: https://github.com/GluuFederation/oxAuth/commit/a0ae65c7787caa031c5d2ac1376c529f4f917549

[2015-09-14 11:34] #72 closed

[2015-09-16 15:11] qbert2k commented on #66
The code changes were committed in the branch: "Change-RDN-of-authorization_code-grant" of the projects repo: oxAuth and community-edition-setup

[2015-09-16 15:11] #66 closed

[2015-09-18 10:35] yurem commented on #66
I’ve merged this and pairwise_identifier branches into master. Both updates looks good for me. Even there is new LDAP index definition for oxSectorIdentifierURI J Thanks!

Regards,

Yura

From: Javier Rojas [mailto:notifications@github.com]
Sent: Wednesday, September 16, 2015 6:12 PM
To: GluuFederation/oxAuth
Cc: Yuriy Movchan
Subject: Re: [oxAuth] Change RDN of authorization_code grant (#66)

The

[2015-09-21 14:20] nynymike opened #75 "Support proposed spec for OpenID Connect FastIDV"
Fast Identity Verification is a technique that OpenID Connect providers can implement to enable relying parties to verify identity information they already know about a user, in a way that is completely transparent to the user (provided they have an active authentication session).

http://www.gluu.co/fastidv

Note: current priority is low

[2015-09-21 16:02] yurem opened #76 "Remove grantId if there is no token"
Application should remove grantId entry if there are no tokens.
Example:
oxAuthGrantId=32f02ffd-723f-42d1-b2d9-d3d6fea9642d,inum=@!0035.934F.1A51.77B0!0008!53FF.058C,ou=clients,o=@!0035.934F.1A51.77B0!0001!402D.66D0,o=gluu

[2015-09-21 16:50] yurem commented on #76
We should not check if there is no tokens after token from grant removal.

We can do that in cleaner timer. This search allows to find all grants without tokens:
/opt/opendj/bin/ldapsearch --port 1389 --hostname localhost --bindDN "cn=Directory Manager" --baseDN "ou=clients,o=@\!0035.934F.1A51.77B0\!0001\!402D.66D0,o=gluu"  '(&(objectclass=oxAuthGrant)(numsubordinates=0))' inum

It uses internal O

[2015-09-21 17:20] yurem commented on #76
From: https://blogs.oracle.com/Ludo/entry/ldap_tip_counting_the_number

OpenDS and Sun Directory Server also implements another attribute : hasSubordinates, defined in X.501. hasSubordinates is a boolean and returns "true" or "false" depending on whether the entry is a branch or a leaf in the Directory Information Tree.

[2015-09-21 18:12] nynymike commented on #76
I agree... keeping the data small saves both memory and disk space.

[2015-09-24 13:30] yurem opened #77 "Put script engine logs into separate log file"
It's difficult to find script engine logs in wrapper.log now. We should use separate log file for script logs

[2015-09-24 13:38] yurem opened #78 "Script engine should be able to load script from FS too"
For development purposes script engine should loads scripts from FS.

In oxTrust we need to add scritpt property to specify if the script file in LDAP or in FS.

Update timer should check script file modification time in order to reload it or not.

[2015-09-25 18:47] yurem commented on #64
Can you try to deploy this http://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.2-SNAPSHOT/oxtrust-server-3.0.2-SNAPSHOT.war identity war and re-check it.

[2015-09-28 20:29] nynymike opened #79 "Write Custom Auth Script for Clef"
We should write a custom authentication script for Clef using the python libraries:
  https://github.com/clef/sample-flask

[2015-09-30 03:06] aliaksander-samuseu commented on #64
Uh-oh, that new UI's design is gorgeous, can't wait to start using it :)

[2015-09-30 17:30] aliaksander-samuseu commented on #64
Btw, wasn't it a mistake that oxtrust.war was linked? Shouldn't it be oxauth.war?

[2015-10-01 11:52] mzico commented on #64
@yurem: I just tried 3.0.2-SNAPSHOT of oxtrust.war. Seems like error has changed. Error which Alex reported ( regarding LDAP ) is not coming now but.. there is new error in oxtrust.log. We are getting below stack trace && the attached screenshot image where we are landing.

Stack trace: http://pastebin.com/Gb966bbW

![ce234oxtrust302snapshot](https://cloud.githubusercontent.com/assets/7156097/1021

[2015-10-01 11:58] aliaksander-samuseu commented on #64
Hmm.. I pretty sure in my logs it appeared very similar to what I saw there before. Like, first attempt - successful, 2nd attempt - it tries to search one LDAP database why using the filter from other one, and fails. I'm not sure whether or not there was this error. May be I should try to install it again, too.

[2015-10-01 12:03] aliaksander-samuseu commented on #64
Have you checked the oxauth log? I think that's where these strange LDAP searches are being reported.

[2015-10-01 13:12] yurem commented on #64
It's different issue according to log which you put to pastebin. Now you can log in but this user don't have permissions to open home page:
org.jboss.seam.security.AuthorizationException: Authorization check failed for expression [#{s:hasPermission('configuration', 'access')}]
        at org.jboss.seam.security.Identity.checkRestriction(Identity.java:222)

According to: https://github.com/GluuFede

[2015-10-01 13:13] yurem commented on #64
Also we need to update oxTrust TODO lsit on trello.

[2015-10-01 13:36] mzico commented on #64
@yurem @aliaksander-samuseu: Added test user in oxTrust Gluu manager group + '3.0.2-SNAPSHOT oxtrust.war'  resolved the issue. Going to open a Trello card on 'permission issue' for generic user.

Closing this ticket.

[2015-10-01 13:36] #64 closed

[2015-10-01 17:25] yurem commented on #39
In oxauth-config.xml there are next options:
    <cssLocation>/oxauth/stylesheet</cssLocation>
    <jsLocation>/oxauth/js</jsLocation>
    <imgLocation>/oxauth/img</imgLocation>

Can you try to add them to check if oxauth will use files from specified folders.

[2015-10-06 00:13] #33 closed

[2015-10-06 13:07] dejwsz opened #81 "Registered user but not yet active can retrieve authorization code"
Hi,
don't know if it is an intended feature. An user with gluuStatus 'register' (so not 'active') is able to request and retrieve open id authorization code. I think only active users should be able to do this. How do you think? If you check the code of the AuthenticationService class in the package org.xdi.oxauth.service then you can find there the checkUserStatus method which returns true for an

[2015-10-06 14:35] yurem commented on #81
This development war: http://ox.gluu.org/maven/org/xdi/oxauth-server/3.0.2-SNAPSHOT/oxauth-server-3.0.2-SNAPSHOT.war
Contains this method update: https://github.com/GluuFederation/oxAuth/commit/9c87b39e0a42c33029042eb984fcde7baa097620

[2015-10-07 06:02] dejwsz commented on #81
OK we've been testing only stable releases so far.

[2015-10-07 06:02] #81 closed

[2015-10-07 10:50] yurem commented on #77
There are new log files oxauth_script.log and oxtrust_script.log. All script specific classes and scripts should log messages to these files.

[2015-10-07 10:50] #77 closed

[2015-10-07 18:18] yurem commented on #78
Implemented

[2015-10-07 18:18] #78 closed

[2015-10-07 18:21] yurem commented on #55
https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/gplus/README.txt
https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/gplus/workflow.txt

[2015-10-07 18:21] #55 closed

[2015-10-08 13:41] dejwsz opened #82 "uma /rpt/status endpoint isn't working well?"
Hi,
just wonder if uma /rpt/status works well. I can put anything as token parameter - not only valid rpt and it always responses with 200 OK status and it always displays details like this:
{"active":false,"exp":null,"iat":null,"nbf":null,"permissions":null,"client_id":null,"sub":null,"aud":null,"iss":null,"jti":null}. I think this is a bug or something? For my surprise it concerns stable edition

[2015-10-08 19:05] nynymike opened #83 "Persist Authorizations by Person"
It would be great if we could have an option to persist client authorizations. This should be set on a client by client basis, and should only be settable by the organization (i.e. via the oxTrust admin UI). The authorization decision should be persisted in the person entry in LDAP. I guess it will require two new LDAP attributes: one for the client "oxPersistClientAuthorizations" and for the pers

[2015-10-16 07:53] dejwsz commented on #82
I have to sorry, my request was malformed and token parameter was improperly passed. This endpoint work very well. The only thing which is not fully OK is that it responses with 200 OK for every wrong token data it gets. I think it shouldn't be like that. Apart from this if proper RPT is passed it responses with JSON with RPT details as it should be.

[2015-10-17 04:29] #83 closed

[2015-10-28 17:47] yurem opened #87 "Work with photo attributes"
There is problem with picture attributes when application request profile scope which contains photo claim. It process this attribute value as ordinary attribute value. As result id_token size is 340Kb. Hence after user authorization redirects not working properly.

I think in all places except user info we need to return path in images repo or picture GUID. But user info endpoint should allows re

[2015-10-28 18:29] nynymike commented on #87
It wouldn't make sense to return a path to the user in the id_token. In fact, exposing file system details is problematic for security. Except in the user_info endpoint, we should just not return this user claim.

[2015-10-29 12:44] yuriyz commented on #82
@dejwsz implementation was made according to oauth introspection introduced by Richer.
https://tools.ietf.org/html/draft-richer-oauth-introspection-06#page-3

Snippet from specification (page 4)
[code]
I'm closing this issue as invalid, since implementation is made according to specification (response is always OK but if token is invalid then "active" is false).

[2015-10-29 12:44] #82 closed

[2015-10-30 14:46] #58 closed

[2015-11-02 19:16] yuriyz opened #88 "Client Credentials Grant : support authentication by keys (private/public )"
Client Credentials Grant : support authentication by keys (private/public )

[2015-11-02 19:27] nynymike commented on #88
Please align with OIDC for this for parameters and responses.

[2015-11-03 16:32] nynymike opened #89 "Support for Software Statement Protected Client Registration"
Software statements in OAuth2 enable an OP to issue a JWT token that authorizes a client to register. It provides a mechanism between open dynamic client registration, and manual client registration. See [OAuth2 dynamic registration software statements](https://tools.ietf.org/html/draft-ietf-oauth-dyn-reg-30#section-2.3).

Talk of software statements profile has been started at the MODRNA WG at th

[2015-11-05 13:15] yurem opened #90 "Basic login promp"
oxAuth display Basic login prompt after logout from one application and attempt to log into another application.

Steps to reproduce:
1) Install CE with oxAuth + oxTrust + oxIdp
2) Open oxTrust URL. Example: https://c65.gluu.info/identity
3) Log in
4) Log out
5) Open https://c65.gluu.info/idp/Authn/RemoteUser
6) Browser display Basic login prompt

In oxAuth logs there are next messages:
2015-11-05

[2015-11-09 23:21] #88 closed

[2015-11-10 23:44] qbert2k opened #91 "Add support for encrypting Request Objects sent to the OP"
Client Metadata (OpenID Connect Dynamic Client Registration):
request_object_encryption_alg
request_object_encryption_enc

[2015-11-11 21:40] qbert2k opened #92 "Add support for token_endpoint_auth_signing_alg (OpenID Connect Dynamic Client Registration)"

[2015-11-12 22:29] yuriyz commented on #71
Done

[2015-11-12 22:29] #71 closed

[2015-11-16 18:28] yurem opened #93 "Update test jwks data to conform latest code"
In order to support old jwks I added method which try to load public key from jwks with old format and on null result it try load public key from jwks with new format: JwtUtil.getPublicKey

[2015-11-16 19:59] yuriyz opened #94 "Fix ClientAuthenticationFilterEmbeddedTest"
I've disabled this test before 2.4.0 release, since after security issue fix in oxauth it starts to fail. All other tests are passed.

https://github.com/GluuFederation/oxAuth/commit/55b5bbaeb6d134da2b7cde78c3aa81ea083c685d

[2015-11-16 20:13] yurem opened #95 "Review Jboss embedded in authentication filter"
In order to fix test Yuriy Z applied: https://github.com/GluuFederation/oxAuth/commit/a460c1dea462d3d44eddc23033c17f991032ae08
It's right approach.

We need to review this approach in 2.4.1. I also updated test profile:
https://github.com/GluuFederation/community-edition-setup/commit/100ea157af5280e3eb9488f2ee433b0031d35de5

[2015-11-23 17:09] yuriyz opened #96 "UMA Optimization : user JWT as RPT."
Use a signed JWT as the RPT token signed to enable the RS to avoid calling the introspection API.

There is an issue for this in UMA:  https://github.com/KantaraInitiative/wg-uma/issues/51

Eve pointed out  "that we’ve just been waiting for someone to want it badly enough to write a profile for us to consider. A locally inspectable token would be attractive for some IoT use cases (though maybe a J

[2015-11-23 17:17] nynymike opened #97 "RPT customization interception script"
Right now the RPT contains permissions, but if we are passing the RPT as a signed JWT, it may be convenient to enable an organization to extend the JWT schema to include other information. This enhancement would allow an organization to use an interception script to populate additional RPT values.

[2015-11-24 12:42] yurem commented on #97
Let me give you quick HOWTO add new custom script type. It's based on UMA authorization script type. Here are steps to update oxService (sub project of oxCore):
1. Add interface which you are planning to use in workflow:
https://github.com/GluuFederation/oxCore/blob/master/oxService/src/main/java/org/xdi/model/custom/script/type/uma/AuthorizationPolicyType.java
2. Add dummy implementation of inter

[2015-11-24 12:49] yurem commented on #97
Here are steps to update oxAuth (sub project of oxCore):
1. Notify oxAuth CustomScriptManager that it should load new script type. You should add your new script typy to array in method appInitializer.postInitialization: https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/service/AppInitializer.java#L122
2. Copy https://github.com/GluuFederation/oxAuth/blob/mas

[2015-11-24 13:29] yurem commented on #97
Here are steps to update oxTrust:
1. Add new script type to array in method ApplianceService.getCustomScriptTypes to allow edit script in GUI

[2015-11-24 13:33] yurem commented on #97
Using this new API it's it's possible to add new script quickly, withing few hours. The main problem is an interface. We need to prepare object which we should pass to script to allow custom changes. Example:
<code>
	public boolean authorize(Object authorizationContext, Map<String, SimpleCustomProperty> configurationAttributes);
</code>
We need to prepare something like authorizationContext for th

[2015-11-24 22:23] yuriyz opened #98 "Revisit dirty trick with identity.logout()"
https://github.com/GluuFederation/oxAuth/commit/f9f75573dc43ac9bc1ade8b413fbfe73117b2d9c

[2015-11-28 22:33] yuriyz opened #99 "Add browser-less support for user custom authentication scripts"
Add browser-less support for user custom authentication scripts

[2015-12-01 02:43] ganesh-at-wiw opened #100 "Deserialization vulnerability in commons-collections library version 3.2"
oxAuth application uses Mojarra 1.2_14 JSF library. Mojarra is configured to store the state in client side (https://github.com/GluuFederation/oxAuth/commit/c04c76d9a4bf9179abbd91cd27010c1a7aaa55a8#diff-8522b5ec6b3e9783a36cd8f70935bea4).
State is however not encrypted and therefore the javax.faces.ViewState parameter is vulnerable to the deserialization attack as defined in the CVE that dates back

[2015-12-01 02:50] ganesh-at-wiw opened #101 "Deserialization vulnerability in Richfaces JSF library version 3.3.3"
oxAuth-RP application uses Richfaces 3.3.3.Final JSF library. This implementation has a vulnerability related to deserialization that was reported in 2013 (http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2165).

Suggested measures to take care of vulnerability are:
1. Upgrade commons-collections library from version 3.2 to version 3.2.2.
2. Upgrade Richfaces libraries from 3.3.3.Final to 3.

[2015-12-01 03:01] ganesh-at-wiw commented on #101
Yure has already taken care of this.

[2015-12-01 03:01] #101 closed

[2015-12-01 03:01] ganesh-at-wiw commented on #100
Yure has already taken care of this.

[2015-12-01 03:01] #100 closed

[2015-12-01 16:12] yurem opened #102 "Generate password for jsf client state encryption per VM"
We need to generate password in next section per VM:
https://github.com/GluuFederation/oxAuth/commit/7641eb80ec847ab95eb60828a49a7bc4b4b5ee2a

[2015-12-01 16:13] yurem commented on #102
All our oxAuth pages contains one hidden property. Example:
<input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="H4sIAAAAAAAAAM1aWWwcSRkuj+3YcSLiHJsD5XDiEMfJZDz3kWvjI46HjB2v7dwsTk9PzUxne7o73TWecaysdh92keAB0AISUhArwRsb8bASDzzArnhYCWlBRIIHnhZeAIljhRZxSBxV1cd091TP6SzbktvdPVV//fX9//fXX8dbfwL9ZRXsvpu5z61xAZGTCoFr2fuQR+
...

I think I find good answer: http://stackoverflow

[2015-12-01 16:20] yurem commented on #102
But according to commons-collections 3.2.2 release notes it do secure serialization now. Hence web.xml env property "ClientStateSavingPassword" probably not needed.

We need to make sure that jsf 1.2.12 do secure serialization with commons-collections 3.2.2. if yes we can remove env section from web.xml

[2015-12-01 16:27] yuriyz commented on #102
See line 169 of ResponseStateManagerImpl. I assume we always need the password otherwise we will get simple input stream instead of encrypted one. (guard will be null if password is not specified in web.xml)
[code]

[2015-12-01 18:17] yurem commented on #102
yes, according to this example we have to set password
<code java>
package org.xdi.oxauth.dev;

import java.io.File;
import java.io.IOException;
import java.util.Arrays;
import java.util.zip.GZIPInputStream;

import javax.crypto.CipherInputStream;

import org.apache.commons.io.FileUtils;

public class TestViewState {

	private static void decode(String host, String viewString) throws IOException,

[2015-12-01 18:20] yurem commented on #102
It's not convinient to update web.xml in every VM to secure it...
Maybe it's possible to change WebConfiguration before JSF will get value from it... In this case we can generate password on the fly at startup.

[2015-12-01 18:51] yuriyz commented on #102
Isn't it easier to upgrade jsf, which already generates passwords on the fly.? Then we will also benefits from all other new stuff there.

[2015-12-01 18:55] nynymike commented on #102
Actually, we can generate web.xml during installation. So it doesn't seem like such a big deal to render a random password.

[2015-12-01 19:18] yurem commented on #102
In setup.py we have method which update oxCas.war during install. We can use this method as reference for oxath.war update: https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L999

[2015-12-01 20:16] nynymike commented on #102
ok, I changed my mind. Having to recreate the war is messy and might make upgrades harder.

[2015-12-08 19:33] yurem commented on #93
We need to remove this method:
private static org.xdi.oxauth.model.crypto.PublicKey getPublicKeyOldImpl(String jwksUri, String jwks, SignatureAlgorithm signatureAlgorithm, String keyId)

https://github.com/GluuFederation/oxAuth/blob/master/Model/src/main/java/org/xdi/oxauth/model/util/JwtUtil.java#L695

[2015-12-08 19:36] yurem commented on #93
We have to use old method because there are test data with old jwks:
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/test/resources/client/jwks.json

[2015-12-10 14:23] yurem commented on #102
I have tried to find solution for this today. 100% pure programmatic way is not possible because JNDI was developed for services integration. Also when I try to change JNDI context properties it throw exception that Context is read only.

I find another solution. It's not bed too: https://github.com/GluuFederation/community-edition-setup/commit/9d2f97d4f7448752cca6c04242aa81fd1029a262

Setup put f

[2015-12-10 14:24] #102 closed

[2015-12-10 14:29] mgrzybowski opened #103 "OpenID Connect session managmen, GLUU seems to be incompatible with draft"
Hi
  I performed some tests wth GLUU (2.4.0-2) as OpenID Connect OP and apache mod-auth-openidc (1.8.6-1ubuntu1~trusty+1) as client. It seems that session managment is not fully implemented.  Please find more details about this issue in https://github.com/pingidentity/mod_auth_openidc/issues/109 .

[2015-12-10 15:06] zandbelt commented on #103
it seems that the GLUU server is returning `session_id` as part of the authorization response, where it should be `session_state` according to the spec: http://openid.net/specs/openid-connect-session-1_0.html#CreatingUpdatingSessions

[2015-12-10 15:34] willow9886 opened #104 "Move to PKCS #11 for signing"
currently the private key is stored unencrypted in the oxauth config ldap entry. This should be two-way encrypted and decrypted once upon startup or key regeneration and kept in memory. @yurem perhaps you can assess this and determine whether you can take it or if we should assign it to someone else.

[2015-12-10 15:44] nynymike commented on #103
Yes, `session_state` is being returned with another parameter name, `session_id`  We will try to get this into 2.4.1 release (target release next week), but it may not make the deadline in which case it would be in 2.4.2 (year end).

[2015-12-14 16:38] iromli opened #105 "Failed to determine supportedLDAPVersion"
In Community Edition, there's new LDAP [config](https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L447) value to reject unauthenticated requests:

[code]

As the result, oxAuth throws error in startup process.

To reproduce this issue, one can use 2 scenarios:

#### 1) Deploy LDAP with `reject-unauthenticated-requests:true` config

Logs from `oxauth.log`:

[code]

####

[2015-12-14 16:43] iromli commented on #105
Anyway, I'm using latest oxAuth war (v2.4.1, built Dec 12th, 2015).

[2015-12-14 17:47] yurem commented on #105
Can you try to check this on latest v2.4.1 (built today - Dec 14th, 2015)

[2015-12-14 17:48] iromli commented on #105
Yes, I can do that. I will share the test result.

[2015-12-14 18:11] iromli commented on #105
@yurem Yes, it's fixed in latest build.

[code]

Thanks.

[2015-12-14 18:12] #105 closed

[2015-12-14 18:43] aliaksander-samuseu opened #106 "[Bug]"Double authentication" during OIDC workflow. Some legacy code's leftovers?"
I'm unsure what actually happens and how to describe this properly.

Preconditions:
1. Better use latest Firefox as browser. If you have used it to log in to ce-release before, open its "Clear history" tool, check "Active logins" option in the list, select "Everything" in the "Time range to clear" drop-down, click "Clear now"
2. Remove all ce-release cookies from browser's cookies jar
3. A test cl

[2015-12-14 20:21] mgrzybowski opened #107 "Claims from "memberOf" ldap atribute"
Hi
  Gluu-server24 (2.4.0-2) do not present "memberOf" user ldap attribute as claim ( or claims ) to RP.

Steps to reproduce:
 - add few "memberOf" attributes to user, Gluu gui do not support add or delete multiple attributes of the same name, so You need to add them by hand or import:
[code]
 - add "memberOf" to "profile" scope
 - log in to RP as user, request "profile" scope , check claims ( no

[2015-12-14 20:33] nynymike commented on #107
Please open this issue on https://support.gluu.org with more information on oxAuth configuration--did you register this attribute, did you add it to a scope? Was the the scope released to the client?

[2015-12-14 20:33] #107 closed

[2015-12-16 14:55] #103 closed

[2015-12-17 06:17] qbert2k opened #109 "JWT header typ must be JWT"
See tickets:

https://support.gluu.org/view/integrations/aspnet-error-jwt-header-type-specified-must-be-jwt-type-received-jws/2265

https://support.gluu.org/view/integrations/net-relying-party-receiving-invalid-jwt-header-typ-es/2261

[2015-12-17 09:24] yurem commented on #109
Can you merge this into master. I will update 2.4.1after that and rebuild it.

[2015-12-17 16:54] qbert2k commented on #109
There was merging issues, now they are fixed and merged into master branch.

[2015-12-17 16:54] #109 closed

[2015-12-17 16:59] ciaranj commented on #109
Thank you, I'll test as soon I see a package :)

[2015-12-17 18:06] yuriyz opened #111 "UMA 1.0.1 : use signed JWT RPT"
UMA 1.0.1 : use JWT RPT

[2015-12-17 18:07] yuriyz commented on #111
publish whether PAT/AAT are JWT on /.well-known/uma-configuration

[2015-12-17 18:14] yuriyz commented on #111
RPT can be both JWT or access_token. It should be configurable via oxauth configuration.

[2015-12-19 13:09] mzico commented on #90
+1

[2015-12-19 17:36] nynymike commented on #90
Was this issued resolved in 2.4.1 ?

[2015-12-19 21:34] yuriyz commented on #90
This issue was discussed in skype at 24-25 November and fixed with these commits in oxauth side

https://github.com/GluuFederation/oxAuth/commit/7b84eb54d32a400b30eea1c00b6d18f969d0eb20
https://github.com/GluuFederation/oxAuth/commit/f9f75573dc43ac9bc1ade8b413fbfe73117b2d9c

Also there were some commits from @yurem side. Yura, please post commits here so we have history for the issue.

[2015-12-19 21:34] #90 closed

[2015-12-20 17:03] aliaksander-samuseu opened #112 "Authentication against LDAP backend stops working properly when 2nd (failover) server is added and connection to the 1st one is lost."
Please refer to the picture for additional details:
![oxauth-2srvs 1](https://cloud.githubusercontent.com/assets/11802046/11959565/1988887a-a8df-11e5-9ba9-70c8267732e2.png)
1. Configure CR to pull user data from some LDAP backend and oxauth to authenticate against it
2. Try to log out/log in for several times in a row. It should work okay
3. On the "Manage authentication" page add 2nd LDAP server

[2015-12-20 18:42] aliaksander-samuseu opened #113 "[Manage authentication] A purpose of the "Activate/Deactivate" button and "Enabled" checkbox on the page needs to be clarified."
It seems that purpose of the feature to disable "something" on the "Manage Authentication" page needs clarification, or even new implementation. At the moment the feature doesn't work at all (throws an error). @yurem believes that this feature should switch off backend connection completely, reverting to auth against internal db. If I got him right, it should not remove the backend's configuration

[2015-12-20 19:47] yurem commented on #90
Yes Yuriy, we discussed it with you and Zico at 25 Nov.
2.4.0 doesn't contain these changes.
1) cat /opt/tomcat/webapps/identity/WEB-INF/components.xml |grep revisionDate
            <property name="revisionDate">17.11.2015 @ 13:56:11 EST</property>
2) cat /opt/tomcat/webapps/oxauth/META-INF/MANIFEST.MF | grep Implementation
Implementation-Title: oxAuth Server
Implementation-Version: 3.0.3-SNAPSHO

[2015-12-21 17:29] yurem opened #114 "Update oxAuth DUO integration"
We need to use DUO v2 JS library: https://github.com/duosecurity/duo_java/tree/master/js

[2015-12-21 17:32] yurem opened #115 "Separate code from customizations"
We should not use an exploded war file deployment--this makes it really hard to update the version of code. All customizations should be stored in LDAP, and rendered to the file system as necessary. We want to avoid file system customization in general, because they are hard to detect and replicate in the clustered deployment.

[2015-12-21 17:35] willow9886 commented on #115
@yurem Should we also move registration page customizations outside the war file as well?

[2015-12-21 18:42] yurem commented on #115
We can open similar oxTrust issue too. We can reuse oxAuth approach in oxTrust.

From: William Lowe [mailto:notifications@github.com]
Sent: Monday, December 21, 2015 7:36 PM
To: GluuFederation/oxAuth
Cc: Yuriy Movchan
Subject: Re: [oxAuth] Allow to put login page customizations to folder outside from exploded war (#115)

@yurem <https://github.com/yurem>  Should we also move registration page cust

[2015-12-21 21:25] nynymike opened #116 "Support OAuth2 Token Exchange Format"
I think it we should implement support for the OAuth 2.0 Token Exchange draft:

[https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-03](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-03)

The use case we're interested in is this:
1. a native app obtains an access_token & an id_token from an IdP
2. the native app passes the id_token to its own backend component
3. the backend

[2015-12-22 07:19] yurem commented on #114
it's quick update, for half an hour. v2 API the same. They only changed python and js library to allow use latest jquery 1.11.3

[2015-12-22 07:19] #114 closed

[2015-12-22 18:49] aliaksander-samuseu opened #118 "OIDC implicit flow doesn't seem to return requested claims in id token"
How it's mentioned in [this section](http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) of oidc specification, "The Claims requested by the profile, email, address, and phone scope values are returned from the UserInfo Endpoint, as described in Section 5.3.2, when a response_type value is used that results in an Access Token being issued. However, **when no Access Token is issued (w

[2015-12-22 20:27] nynymike commented on #118
I'm not sure this is a bug or a misunderstanding, but Javier can comment.

[2015-12-22 22:29] aliaksander-samuseu commented on #118
Just a note: it may be because of how authorization-related settings were set for client. I remember I was asked for my consent to release scopes only once, then it probably just were reusing it again and again. So after I've changed my set of claims later, this initial authorization could conflict with a new set. Please ignore this report for now, I'll retest again tomorrow and update it.

[2015-12-23 20:47] qbert2k opened #119 "Add an oxAuth config param for Pairwise ID Type"
Add an oxAuth config param for Pairwise ID Type:
- **algorithmic**. Calculate sub = SHA-256 ( sector_identifier || local_account_id || salt ). http://openid.net/specs/openid-connect-core-1_0.html#PairwiseAlg
- **persistent**. Ldap persistent.

[2015-12-24 14:29] yuriyz commented on #111
Support to issue RPT as JWT is added:
1) RPT manager issue JWT or generated string depending on oxauth configuration
2) publish rpt_as_jwt=true/false on /.well-known/uma-configuration
3) corrected oxtrust json schema https://github.com/GluuFederation/oxTrust/commit/9b482056b154664cbaac47413fead47da33f706e
4) decision is performed based on oxauth configuration

[2015-12-24 17:52] nynymike opened #120 "Pre-populate login form with login_hint"
If there is a login_hint, prepopulate the form with this username.

[2015-12-24 17:56] nynymike opened #121 "Add OpenID Connect session state for Authz"
I think we should be able to reproduce it in 2.4.1 too. We need to open issue about this in git. In our code once user log in we set session state to AUTHENTICATED. But in AuthenticationFilter if session state AUTHENTICATED we do session authentication. Hence their workflow is correct. I think we need to add third session state like AUTHORIZATION or add other flag to indicate that if we need to sh

[2015-12-24 18:06] yurem commented on #121
I prefer third session state "AUTHORIZATION". 2 sessions variable have many combinations which can led to errors

[2015-12-25 14:49] yurem opened #122 "Disable debug output in production profule by default"
We need to disable debug output in production builds.
Also we need to review log messages where we may log invalid password user to log. We should not log them because user can made typo.

[2015-12-28 18:37] nynymike opened #124 "id_generate_endpoint 404 / move to scim-configuration"
ID generation endpoint

    "id_generation_endpoint": "https://lake.gluu.info/oxauth/seam/resource/restv1/id"

1. This endpoint is returning 404 - I would expect 403 (unauthorized)
2. The discovery info should be moved to https://<host>/.well-known/scim-configuration

[2015-12-28 19:27] nynymike commented on #111
How is the RPT signed? Should the RPT signing algorithm also be specified in /.well-known/uma-configuration ?

[2015-12-28 19:41] yuriyz commented on #111
@nynymike it is signed based on client information for ID Token:
http://openid.net/specs/openid-connect-registration-1_0.html#RegistrationRequest
* id_token_signed_response_alg
* id_token_encrypted_response_alg
* id_token_encrypted_response_enc

I've stick to ID Token signing&encryption info. Do we want to keep that separately for RPT? If yes then we need to add it to dynamic client registration.

[2015-12-28 19:54] nynymike commented on #111
Let the client register specifying signing for the id_token--we can just re-use for the rpt. But I think we should explicitly list this in uma discovery so its clear.

[2015-12-28 21:22] yuriyz commented on #111
reopened the issue : we need to add signing&encryption info explicitly to uma discovery.

[2015-12-28 21:32] yuriyz commented on #111
We have to publish on uma discovery following:
* rpt_signing_alg_values_supported
* rpt_token_encryption_alg_values_supported
* rpt_encryption_enc_values_supported

[2015-12-29 08:01] yuriyz commented on #111
Done in https://github.com/GluuFederation/oxAuth/commit/cb5d08e451c92f9616bdc8ff3901cda68a581b8e

[2015-12-29 08:01] #111 closed

[2016-01-06 16:59] nynymike opened #125 "Update OpenID Connect Discovery for Claims"
### Add oxScopeType for OpenID and UMA scopes in oxTrust

When an OpenID scope is added through oxTrust, it should have the value "openid" for attribute

    oxScopeType: openid

UMA scopes should have

    oxScopeType: uma

###  Fix OpenID Connect Discovery

i.e. GET to `/.well-known/openid-configuration`,

The `claims_supported` values should only reference claims that are associated with a `oxS

[2016-01-06 21:52] nynymike opened #126 "Support PKCE to protect authorization code"
PKCE is defined in [RFC 7636](https://tools.ietf.org/html/rfc7636)

The Gluu Server should optionally support PKCE either on a per client basis.

This IETF Draft [OAuth 2.0 for Native Apps](https://tools.ietf.org/html/draft-wdenniss-oauth-native-apps-00) recommends that native apps register a custom URI schema, and use the system browser on the mobile device for authentication.

    6.2.  Protecti

[2016-01-07 15:56] heditr opened #127 "How to use gluu project to provide identities (OpenID connect) ?"
Can someone provides to me a simple Java example of how to use the gluu project for providing OpenID connect standard identities??

Is gluu implementation is an SDK jar that i can find it in maven repositories or its a deployable package that i must clone it from github and run it to provide identities?

[2016-01-11 22:11] yuriyz opened #128 "Connect client : validate the endpoints to avoid malicious endpoint attack"
I think it's about malicious endpoint attack, right?
http://web-in-security.blogspot.com/2015/10/attacking-openid-connect-10-malicious.html

No, we don't have such check. We can put this check inside authorization client, so it will automatically validate token endpoint against iss/aud returned with redirect_url.

[2016-01-11 22:23] nynymike commented on #128
Yes, another useful [link](http://self-issued.info/?p=1524)

[2016-01-13 19:56] willow9886 commented on #127
Hi, the best place to open support issues like this is on http://support.gluu.org.

Thanks.

[2016-01-13 19:56] #127 closed

[2016-01-13 20:05] willow9886 commented on #113
@nynymike has opened a new issue for this the oxTrust repo: https://github.com/GluuFederation/oxTrust/issues/190

[2016-01-13 20:05] #113 closed

[2016-01-13 20:13] willow9886 commented on #118
@aliaksander-samuseu I'm going to close this. Let's use gluu support app or trello to track internal support questions / issues.

[2016-01-13 20:13] #118 closed

[2016-01-13 20:17] willow9886 commented on #112
@aliaksander-samuseu What version is this? Has this issue been resolved?

[2016-01-13 20:19] willow9886 commented on #106
@aliaksander-samuseu do you know if this issue has been resolved?

[2016-01-13 20:20] #99 closed

[2016-01-13 20:22] willow9886 commented on #98
@yuriyz do we need to keep this open? Please don't reference customer accounts on Github.

[2016-01-13 20:25] willow9886 commented on #94
@yuriyz @yurem what is the impact of this test failing? can you add some more details?

[2016-01-13 20:36] willow9886 commented on #79
Postponed till a later date.

[2016-01-13 20:36] #79 closed

[2016-01-13 20:43] aliaksander-samuseu commented on #106
@willow9886, no, haven't heard anything about it from @yuriyz

[2016-01-13 20:44] willow9886 commented on #65
@qbert2k can you address this?

[2016-01-13 20:45] willow9886 commented on #63
@yurem can you provide a list of all the jar files so we can eliminate the unnecessary ones?

[2016-01-13 20:50] willow9886 commented on #56
We haven't heard any requests for this feature. Going to close until we see greater demand.

[2016-01-13 20:50] #56 closed

[2016-01-13 20:51] willow9886 commented on #54
@yurem if this still applies since we've moved to LDAP config, go ahead and reopen the issue.

[2016-01-13 20:53] willow9886 commented on #53
issue not needed due to creation of oxpush 2 repo.

[2016-01-13 20:53] #53 closed

[2016-01-13 20:56] willow9886 commented on #43
@yurem does this still need to be fixed or has it been addressed in a more recent version?

[2016-01-13 20:57] willow9886 commented on #39
this issue is covered in another github request: https://github.com/GluuFederation/oxAuth/issues/62

[2016-01-13 20:57] #39 closed

[2016-01-13 20:59] #30 closed

[2016-01-13 21:00] #27 closed

[2016-01-13 21:02] #10 closed

[2016-01-13 21:02] willow9886 commented on #9
@yurem do we need to keep this issue open?

[2016-01-13 21:50] yuriyz commented on #98
@willow9886 lets close it. We need wider refactoring and it has to be scheduled separately. Closing it.

[2016-01-13 21:50] #98 closed

[2016-01-13 21:53] yuriyz commented on #94
@willow9886 it's better to address this question to Javier but briefly we got regression with client authentication that uses custom attributes. @qbert2k is it correct?

[2016-01-13 22:02] yuriyz commented on #106
@aliaksander-samuseu @willow9886 issue was fixed as part of another issue here https://github.com/GluuFederation/oxAuth/commit/622a7a09ac6af920aad4281442ed3ff0c94cf158

[2016-01-13 22:02] #106 closed

[2016-01-13 22:08] yuriyz opened #129 "UMA 1.0.1 : update oxauth server and client to latest spec version"

[2016-01-13 22:08] yuriyz opened #130 "UMA like Gluu invented short workflow (GAT)"
OAuth2 access management

[2016-01-14 17:54] aliaksander-samuseu commented on #112
@willow9886 , that was for 2.4.0-x , can't quite remember (really should start to specify exact version for each report, it actually has to be this way, sorry). I know nothing about its status, will need to check.

[2016-01-16 23:51] nynymike opened #132 "Add Java Requirements for Twilio"
See [Twilio Instructions for Java](https://www.twilio.com/docs/java/install)

add to `pom.xml`
[code]

[2016-01-18 13:51] yurem commented on #132
I've updated pom.xml
But I specify to not include into final war this library by default.

If someone is planning to include it into oxauth.war he can run:
mvn -U -Dmaven.test.skip=true -Dtwilio-enabled clean package

I think we should not include 3rd party libraries into oxauth.war by default. This should minimize risk of bugs caused by these libraries. I've remember wikid client which override s

[2016-01-18 16:10] yurem commented on #132
Added supported auth scripts libraries by default

[2016-01-18 16:10] #132 closed

[2016-01-19 13:18] yuriyz opened #133 "Remove in-memory mode from oxauth"
Remove in-memory mode from oxauth

[2016-01-20 23:45] mzico commented on #90
@nynymike: It's resolved in 2.4.1.

[2016-01-21 03:37] qbert2k commented on #48
Added a new test to verify the encoding.
https://github.com/GluuFederation/oxAuth/blob/master/Client/src/test/java/org/xdi/oxauth/ws/rs/ClientSecretBasicTest.java
http://ox.gluu.org/hudson/job/oxAuth/736/testReport/org.xdi.oxauth.ws.rs/ClientSecretBasicTest/

[2016-01-21 03:37] #48 closed

[2016-01-21 18:00] nynymike opened #134 "Support for Encoding claims in the OAuth 2 state parameter using a JWT"
[https://tools.ietf.org/html/draft-bradley-oauth-jwt-encoded-state-05](https://tools.ietf.org/html/draft-bradley-oauth-jwt-encoded-state-05)

In the OAuth 2.0 Authorization protocol [RFC6749] , the Authorization
   server SHOULD perform an exact string comparison of the
   "redirect_uri" parameter with the "redirect_uri" parameter registered
   by by the client.  This is essential for preventing t

[2016-01-27 03:11] qbert2k opened #135 "Support POST requests for /oxauth/validate endpoint"

[2016-01-27 15:46] nynymike commented on #104
I think the answer to this is to add a [Soft HSM](https://www.opendnssec.org/softhsm) component to the Gluu Server, and update the OpenID Connect OP to use the PKCS #11 interface for signing operations.

[2016-01-28 04:25] #135 closed

[2016-01-28 09:10] yuriyz opened #137 "UMA : claims gathering fixation attack"
Session Fixation Attack on UMA Trust Elevation Protocol (UMA 1.0.1 Section 3.6.3) #239

https://github.com/KantaraInitiative/wg-uma/issues/239

[2016-01-28 15:19] dmogn opened #138 "oxAuth RP dependency warning: javaee-web-api dependency should not be included in the war."
Tomcat loading log:
INFO: validateJarFile(/opt/apache-tomcat-7.0.55/webapps/oxauth-rp/WEB-INF/lib/javaee-web-api-6.0.jar) - jar not loaded. See Servlet Spec 3.0, section 10.7.2. Offending class: javax/servlet/Servlet.class

javaee-web-api dependency should not be included in the war.

[2016-01-28 15:47] yuriyz commented on #124
@nynymike shifted it to 2.4.3, need to take care about #137 for 2.4.2

[2016-01-28 15:50] yuriyz commented on #96
This one is already implemented in uma2 branch and is duplicate of #111.

[2016-01-28 15:50] #96 closed

[2016-01-28 15:52] yuriyz commented on #96
One remark about this request that it makes perfect sense for Gluu invented OAuth2 access management using GAT. Since during token creation we also authorize the token, so GAT as JWT makes perfect sense. At the same time RPT as JWT is not really useful since during token creation RPT is not yet authorized and therefore JWT will not contain any useful information.

[2016-01-28 16:42] nynymike commented on #96
yes, I think it only makes sense in lieu of the final bearer token

[2016-01-28 16:57] dmogn commented on #138
Fixed. javaee-web-api dependency has been changed to <scope>provided</scope>.

[2016-01-28 16:57] #138 closed

[2016-01-28 17:00] nynymike opened #139 "Update httpclient on oxauth / oxtrust to at least 4.3.2 so that it properly supports Server Name Indication"
Affects: gluu-server-2.3.x - 2.4.1, Ubuntu / CentOS

Server Name Indication allows a server to present different SSL certificates depending on the server name requested by the client. It may be used in testing Gluu server on the same machine as other applications, which may have their own SSL certificates.

[Wikipedia Article on Server Name Indication](https://en.wikipedia.org/wiki/Server_Name_Ind

[2016-01-28 17:09] nynymike commented on #139
@madumlao Moved from [https://support.gluu.org/integrations/server-name-indication-support-in-oxauth-oxtrust-2378](Gluu Support)

[2016-01-28 17:38] nynymike commented on #137
As this effects the claims gathering endpoint, do we need to worry about it?

[2016-01-28 19:40] yuriyz commented on #137
Till now our main use case was to send RP claims in advance with RPT authorization call
[code]
But we still send needs_info without additional parameter to avoid vulnerability. Lets postpone the issue since it's not our main use case and also additional parameter actually breaks compatibility with current UMA 1.0.1 spec. I would expect to see it fixed first in specification.

[2016-01-29 15:22] yurem commented on #139
Now oxAuth/oxTrust/oxIdp uses:
httpcore-4.3.3.jar
httpclient-4.3.6.jar
resteasy-*-2.3.7.Final.jar

[2016-01-29 15:22] #139 closed

[2016-02-02 15:27] dollar007 opened #140 "Statistic : login and logout counters does not work correcly."
![2016-02-02_1922](https://cloud.githubusercontent.com/assets/10003469/12754009/edef62fe-c9e2-11e5-9594-d6653d1406ca.png)

[2016-02-02 20:57] nynymike opened #141 "Add Support for OAuth2 Device Flow"
For devices that don't have a keyboard, there is OAuth2 device flow will enable them to enter a code to approve pairing, and for the device to then obtain an access token.  See this article from Google:

https://developers.google.com/identity/protocols/OAuth2ForDevices?hl=en

There is an example project here https://github.com/aaronpk/TVAuthServer

[2016-02-03 13:01] yurem commented on #141
This is desired functionality which should help to popularize Gluu server and improve apps security.

[2016-02-03 13:06] yurem commented on #141
I can help Javier to add this authentication method to oxPush2 just for reference or prepare new simple one for demo.

I have one idea.
As far as I remember Android application can allow other applications to call it Intent to do same actions. We can improve oxPush2 to help to developer other application and popularize oxPush2.
Here is workflow:
User mobile application -> oxPush 2 oxAuh Intent ->

[2016-02-03 19:28] nynymike opened #142 "JWT Session Support"
Instead of storing sessions in LDAP, the OP passes all the session
information in an encrypted JWT. This way the server that receives the
token does not have to retrieve the session from LDAP, which can
reduce not only a lot of LDAP reads, but writes and replication
traffic.

Yura's comments:

I offer to split initial idea into 2 parts:
1) Persist session in similar to JSF way as JWT token in JSF

[2016-02-04 03:03] nynymike opened #143 "Client unable to validate signature of received JWT tokens"
Per Gluu Support issue [2402](https://support.gluu.org/integrations/net-relying-party-unable-to-validate-signature-of-received-jwt-tokens-2402)

It would seem as though the jwks endpoint is exposing non-optimally sized Modulus Parameters. According to ietf the represented sequence of bytes should be unsigned and big endian.

It appears that when decoded the 'n' parameter's first byte is a null cha

[2016-02-04 14:18] nynymike opened #144 "Interception script support for Groovy"
[Groovy](http://www.groovy-lang.org/semantics.html) support would be a good thing as an alternative to Jython. One advantage is native https support.

[2016-02-04 14:59] yuriyz commented on #137
Its not called a "Trust elevation" bug, its been re-named to a "claims gathering bug". We need solution in specification first to be fully compatible with it.

[2016-02-04 15:00] yuriyz commented on #129
both oxauth server and client are updated to UMA 1.0.1 in master branch.

[2016-02-04 15:00] #129 closed

[2016-02-04 15:02] yuriyz commented on #140
It's about counters, not login/logout functionality itself. I've renamed the issue. Problem is that at one login request both counters successful and failed are increased at the same time.

[2016-02-04 15:13] ciaranj commented on #143
Just in case you don't cross-reference, I've isolated where the 'potential problem' creeps in over in the original support forum: https://support.gluu.org/integrations/net-relying-party-unable-to-validate-signature-of-received-jwt-tokens-2402

[2016-02-04 15:24] nynymike commented on #143
Sure, the potential 'issue' is introduced in the [RSAPublicKey Class](https://github.com/GluuFederation/oxAuth/blob/e1198ff9e533be03ed87dda88adcef9e1816ce7c/Model/src/main/java/org/xdi/oxauth/model/crypto/signature/RSAPublicKey.java#L66)

[BigInteger.toByteArray()](http://docs.oracle.com/javase/6/docs/api/java/math/BigInteger.html#toByteArray()) returns a twos-complement encoded byte array that in

[2016-02-04 20:33] yuriyz opened #145 "Issue new RPT as JWT for each authorization request"
"If the client did present an RPT in the request, the authorization
server returns the RPT with which it associated the requested
authorization data, which MAY be either the RPT that was in the
request or a new one."

https://docs.kantarainitiative.org/uma/draft-uma-core.html#give-rpt

So idea is to issue each time RPT as JWT for each request.

[2016-02-07 09:53] yuriyz opened #147 "http based logout : provide JS redirect"
As pointed by Thomas Broyer : " "onload" in JS is supposed to fire *after* all iframes have loaded "

I propose to add js redirect to http based logout.

https://jsfiddle.net/1hLovbj1/

[code]
[code]

[2016-02-07 18:46] nynymike commented on #147
Totally agree

[2016-02-09 04:57] #143 closed

[2016-02-09 07:05] ciaranj commented on #143
Ty :)

[2016-02-09 14:55] yuriyz commented on #147
Done in master branch.

[2016-02-09 14:55] #147 closed

[2016-02-09 17:48] willow9886 opened #152 "Remove code that supported old authorize group feature"
Please see this ticket: https://github.com/GluuFederation/oxTrust/issues/68

We're removing the interfaces in oxTrust, now need to remove the relying code in oxAuth.

[2016-02-09 18:04] willow9886 commented on #112
@aliaksander-samuseu can we recheck this?

[2016-02-09 18:06] willow9886 commented on #95
@yurem is this going to make into 2.4.2 or should we push it into a later milestone?

[2016-02-09 18:07] willow9886 commented on #93
@yurem has this been resolved? If not, should we leave it in 2.4.2 or move it?

[2016-02-09 18:13] yuriyz opened #153 "added ablity to register multiple logout_uri for one client"
https://support.gluu.org/integrations/assistance-with-oxd-and-oxd-python-2391#at8103

https://github.com/GluuFederation/oxd/issues/22

[2016-02-09 23:17] aliaksander-samuseu commented on #112
@willow9886 Yes, it's still the case. After first server is taken out, there are huge problems with logging in to the web UI. Sometimes (under unclear circumstances) it allows to log in, but most times it does not. Restarting service doesn't help. After 1st server is added back to setup it starts to work normally again (after oxauth has detected that it's now available and switched back to using t

[2016-02-09 23:49] aliaksander-samuseu commented on #112
@willow9886 I even have got impression this switch from one server to another won't even happen correctly without a restart. In any case, this feature still needs some attention.

[2016-02-10 22:20] nynymike opened #155 "Erase OPBS cookie on logout"
Logging out from oxTrust (in 2.4.1) does not trigger erasure or replacement of the opbs cookie. You have to click "Sign in again" and be redirected to the oxauth login page before the cookie is replaced and triggers the "changed" action in the opiframe.

Ideally as soon as the logout page is rendered, the opiframe cookie should be cleared or replaced.

[2016-02-16 10:46] Fred2seul opened #160 "U2F: Add TLS Channel ID Binding"
TLS Channel ID support is missing (Channel Binding)

Channel Binding is a great protection against MITM attack.
Implemeting TLS Channel ID binding is an official recommendation inside FIDO specifications (but not mandatory).

On the client Side there is a built-in support inside Chrome browser.
It would be great if Gluu can implement this protection. (This would make Gluu as the most secure FIDO U

[2016-02-16 17:40] nynymike commented on #160
We put this in the queue for version 2.4.3 but it may slip to the version after that.

[2016-02-17 09:13] yurem commented on #122
Fixed

[2016-02-17 09:13] #122 closed

[2016-02-17 09:17] yurem commented on #65
I think we fixed it. We only need to recheck it in 2.4.2. We need to use any custom authentication method to verify it.

[2016-02-17 09:20] yuriyz commented on #130
done

[2016-02-17 09:20] #130 closed

[2016-02-17 15:21] #119 closed

[2016-02-17 18:57] nynymike commented on #112
Assigned to @shekhar16 to verify and fix if its a confirmed problem.

[2016-02-17 20:48] #93 closed

[2016-02-18 14:11] Fred2seul commented on #160
Updated issue description text to add the link to openssl patch

[2016-02-18 16:36] nynymike opened #163 "U2F authentication fails after restart"
U2F authentication works when I first enable it. But after a server restart, it fails.

The apache error log shows:

     [Thu Feb 18 10:36:25 2016] [warn] [client 192.168.88.1] incomplete redirection target of '/identity/' for URI '/' modified to 'https://bonefish.gluu.info/identity/'

Here is the apache httpd access log:

    192.168.88.1 - - [18/Feb/2016:10:28:28 +0000] "GET / HTTP/1.1" 302 289

[2016-02-18 16:54] nynymike opened #164 "Sector Identifiers does not pick up redirect_uri's for clients"
When you add a client, the sector identifier uri should publish all the respective redirect_uri's for that client. Right now, it only publishes redirect_uri's that are manually added.

[2016-02-18 18:41] yurem commented on #163
It's similar to #202 issue.

After server restart oxAuth recovers sessions from LDAP by browser cookie.

[2016-02-19 20:26] yurem commented on #163
Fixed:
https://github.com/GluuFederation/community-edition-setup/commit/3f25c2b1b273a7a4f015a9153e6cc6c8ba526127

[2016-02-19 20:26] #163 closed

[2016-02-19 20:35] yurem opened #165 "Server startup error after updating code wich contain jwks fixes"
Old 2.4.1 installations stop working after updating to latest coded which contains fix:
"Update test jwks data to conform latest code"

<code>
2016-02-18 14:17:19,674 INFO  [org.xdi.oxauth.model.util.JwtUtil] Adding Bouncy Castle Provider
2016-02-18 14:17:19,967 INFO  [org.xdi.oxauth.model.config.ConfigurationFactory] Loading configuration from LDAP...
2016-02-18 14:17:20,546 ERROR [org.xdi.oxauth

[2016-02-19 20:38] yurem commented on #165
There 2 approaches for migration to 2.4.2:
1) Full reinstall
2) Try to load data from old format
3) catch this exception, regenerate keys and persist to LDAP

I vote for approach 3. It will help us with future jwks updates too. But if it's easy to implement (no major changes in format) we can use seond approach.

[2016-02-19 20:55] nynymike commented on #165
Let's proceed with #3, and we can figure out in the next release if there is a better way to deal with this.

[2016-02-19 21:03] yurem opened #166 "Don't use uid attribute in oxU2fRequest OC"
We should use user inum instead of uid in oxU2fRequest OC:
https://github.com/GluuFederation/community-edition-setup/blob/master/static/opendj/101-ox.ldif#L2344

[2016-02-19 21:03] yurem commented on #166
@mike

[2016-02-19 21:03] yurem commented on #166
@nynymike

[2016-02-19 21:06] yurem opened #167 "Add filter to auth_ldap_server authentication method"
Now application can use any entry which contains uid attribute to authenticate user. We need to use entry with specific OC or which belong to specific base RDN

[2016-02-21 14:47] shekhar16 commented on #112
can u please share me the complete process to create Ldap server?

[2016-02-22 08:50] yuriyz commented on #133
done https://github.com/GluuFederation/oxAuth/pull/168

[2016-02-22 08:50] #133 closed

[2016-02-22 22:02] nynymike commented on #112
Its not cache refresh, its under manage authentication. Look in the first screenshot attached to this issue: you'll see that there are two servers.

[2016-02-23 09:12] yuriyz commented on #153
done in master branch

[2016-02-23 09:12] #153 closed

[2016-02-23 10:30] yurem commented on #166
Fixed

[2016-02-23 10:30] #166 closed

[2016-02-23 11:20] yurem commented on #65
Fixed. Can't reproduce in latest CE 2.4.2

[2016-02-23 11:20] #65 closed

[2016-02-24 14:26] #155 closed

[2016-02-24 16:01] yurem commented on #165
Fixed

[2016-02-24 16:02] #165 closed

[2016-02-24 18:20] shekhar16 commented on #164
Fixed and code is committed..

[2016-02-24 19:12] #164 closed

[2016-02-25 02:45] #76 closed

[2016-02-25 13:48] zamilskhan opened #171 "Unauthorized Client"
While testing version 2.4.2 Beta-3, the following error was faced testing with Apache OpenID Module.

` {"error":"unauthorized_client","error_description":"The client is not authorized to request an access token using this method.","state":"YzNNr34VNG7QscNJedYIlBb3i_w"}`

**Note:** The module is in a separate VM which was used to test against 2.4.2.Beta-2 successfully. The configuration in the OID

[2016-02-25 14:27] nynymike commented on #171
Its unclear this is a bug. I'm closing this issue. Please open it on support with the respective apache httpd.conf configuration, ldif for the client, and oxauth.og or wrapper.log snippet.

[2016-02-25 14:27] #171 closed

[2016-02-26 08:11] NazarYavornytskyy opened #172 "New user is not active"
When create new user using "https://ce-release.gluu.org/identity/register", new user is created but not active and I can't use his. What is correct behaviour in this case?

[2016-02-26 18:16] yurem commented on #172
It's normal behavior because admin should review user.
But in default CE installation there is script: https://github.com/GluuFederation/oxExternal/blob/master/user_registration/sample/SampleScript.py#L42 which allows to enable newly registered users by default.

[2016-02-26 18:16] #172 closed

[2016-02-27 09:05] yurem opened #173 "Swagger is part of the final war"
Why we put swagger and it's dependencies in final war?
Should we use it only and build time?

[2016-02-29 18:44] yurem opened #174 "Upgrade to Seam 2.3.1.Final"
oxAuth uses Seam 2.2.2.Final. It depends on jsf 1.2_12. It's old version which contains bug:
[The Encrypting client state feature does not work on cluster environment](https://java.net/jira/si/jira.issueviews:issue-html/JAVASERVERFACES-1013/JAVASERVERFACES-1013.html)

According to this issue [ViewState encryption: ByteArrayGuard is not thread safe / Does Not Take Into Account Session Failover](htt

[2016-02-29 18:46] yurem commented on #174
Hence for proper work session state encryption we need to upgrade to Seam 2.3.1.Final because it depends on JSF 2.1.7

[2016-02-29 18:46] yurem commented on #174
@mzico , @nynymike

[2016-02-29 19:06] yurem commented on #174
The upgrade process from Seam 2.2.2.Final to Seam 2.3.1.Final will be not hard process because oxAuth not uses richfaces. It have only few JSF pages which should work fine or just requires few small changes.

There is one big problem. These are our server side TestNG tests. Seam 2.3.1.Final requires to use Arquillian testing suite instead of TestNG. I don't offer to convert our TestNG tests to thi

[2016-02-29 19:09] mzico commented on #174
Comment test

[2016-02-29 19:10] yurem commented on #174
@nynymike

[2016-03-02 13:42] yuriyz commented on #173
swagger is used only for documentation. I don't see any reason why do we need it in final war.

[2016-03-02 13:45] yuriyz commented on #173
I would propose to declare only swagger-annotation which is the only lib we need to annotate our methods and rest of the libs split into separate  `documentation` profile.

[2016-03-02 15:39] yurem commented on #173
maybe we can play with maven scope of this dependencies to exclude it and dependencies from war.

[2016-03-02 17:38] aliaksander-samuseu commented on #112
@willow9886  @nynymike @shekhar16 I'm sorry, I was sure I commented there too, but instead my comment went to the 2nd ticket me and Shekhar work together on.
A quick updated: Shekhar is trying to configure Gluu for backend authentication atm, so he would become able to verify and start fixing it.
@nynymike , Shekhar needs to understand how to configure CR so he would be able to setup his Gluu CE i

[2016-03-04 21:28] aliaksander-samuseu opened #175 "Support CORS specification to allow clients that are subjects for same origin policy to access vital pages at OP"
The issue was first reported via [this ticket](https://support.gluu.org/customization/access-control-allow-origin-header-2490#at8802)
Environment: Ubuntu 64bit 14.04.4 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.4.1-1

Steps to reproduce:
1) Send some valid GET request containing "Origin: https://client.host.name" header for one of the listed urls and study headers of a response:
https:/

[2016-03-05 02:46] #94 closed

[2016-03-07 17:54] swapsheth opened #177 "Cannot get/read a custom claim(attribute) I created as part of the profile scope"
I added a custom attribute and added it to the profile scope. I see the new authorization in the UI screen, but when I parse the id_token I do not see the new attribute. I am sending openid and profile as scopes to the authorization URL. Is there anything else I am missing?

Thanks!

[2016-03-07 18:02] nynymike commented on #177
When you use the access token to retrieve the user claims from the user_info endpoint, do you see it there?

[2016-03-07 23:39] swapsheth commented on #177
Nope, don't see it there. I only see a vert few of the attributes that are part of the profile scope.

[2016-03-09 10:37] yurem opened #178 "Cover JwtUtil methods by tests"
We need to covert JwtUtil.getPublicKey and JwtUtil.getPrivateKey by tests. In tests we need to generate jwks.json and try to get public and private key from it.

Also we have 2 methods now. I think we need to use method without signatureAlgorithm algorithm if we pass keyId. We need to review places where we call this method.

    public static org.xdi.oxauth.model.crypto.PublicKey getPublicKey(Str

[2016-03-09 10:39] yurem commented on #178
Also we can use next pattern if method expects specified algorithm only but useskeyId to get key.
  PublicKey publicKey = JwtUtil.getPublicKey(jwksUri, jwks, keyId);
  if (publicKey.getSignatureAlgorithm != expectedSignatureAlgorithm) {
        throw ...
  }

[2016-03-09 15:23] nynymike commented on #178
I don't understand why these tests don't exist. This needs to be addressed asap.

[2016-03-10 10:11] uboznikov opened #179 "Persisting uma_resource_set_permission tickets successively with same DN"
Error was encountered using:
http://ox.gluu.org/maven/org/xdi/oxauth-server/2.4.2.Final/oxauth-server-2.4.2.Final.war

and also reported in ticket:
https://support.gluu.org/integrations/unexpected-200-behavior-for-scim-user-group-endpoints-2540

Please see attached screenshots:
![entryalreadyexists](https://cloud.githubusercontent.com/assets/16329085/13666115/de07bc4a-e6ea-11e5-87f2-bde57b8c04b6.p

[2016-03-10 12:17] yuriyz commented on #179
Fixed in version_2.4.2

[2016-03-10 12:17] #179 closed

[2016-03-10 14:20] jonathanleal opened #180 "username and password default"
installation put the password for the admin user, but can not enter the application. I've tried the user and without success. It has a default username and password?

![tela-login-gluupng](https://cloud.githubusercontent.com/assets/5817167/13672094/0963575c-e6b2-11e5-83a7-337595e2708f.png)

[2016-03-10 15:39] yuriyz opened #181 "UMA 1.0.1 : ticket invalidation"
2016-03-10 15:35:53,720 ERROR [org.gluu.site.ldap.OperationsFacade] Entry can't be modified
LDAPException(resultCode=67 (not allowed on RDN), errorMessage='Entry oxTicket=393df6bf-8ab5-49f4-a728-e25796a56850,ou=uma_resource_set_permission,inum=@!0E32.1CE6.78E1.1E46!0001!5D86.60DC!0008!1A4E.1FEE,ou=clients,o=@!0E32.1CE6.78E1.1E46!0001!5D86.60DC,o=gluu cannot be modified because the change to attrib

[2016-03-10 17:33] nynymike commented on #180
Default user is **admin**
Default password: **# grep ldapPass /install/community-edition-setup/*.last**

[2016-03-10 17:33] #180 closed

[2016-03-10 17:51] nynymike commented on #180
Deployment issues need to be raised on https://support.gluu.org
We use github for bug reports... i.e. once we have determined that a certain issue is related to a problem in the code.

[2016-03-14 13:35] yurem opened #182 "Cert authentication login page protection"
Should we use re-captcha on first login page?
After logout from application browser still remember that user used specified certificate. User should close the browser or clean up active login sessions to discard this.Without this once someone click Login button browser will send alredy selected certificate to do login.
re-captcha should slightly increase browser security to avoid automatic submitt

[2016-03-14 13:38] yurem opened #183 "Cert authentication should cache response from CRL endpoint"
Cert script should cache CRL responses. I think so because one response from GoDaddy can be 5Mb or more. Also these response probably are the same for all certs signed by same CA.

For example we can put response for specific CRL URL to cache with life time 1 hour.

[2016-03-15 14:09] yuriyz opened #184 "OAuth 2.0 for Native Apps (PKCE support )"
https://tools.ietf.org/html/rfc7636
https://tools.ietf.org/html/draft-wdenniss-oauth-native-apps-02

[2016-03-15 14:11] #184 closed

[2016-03-15 14:17] yuriyz commented on #142
as discussed with Mike, changing target to 2.4.4 for merging back to master

[2016-03-15 14:18] yuriyz commented on #184
duplicate of https://github.com/GluuFederation/oxAuth/issues/126

[2016-03-16 16:55] nynymike commented on #184
Also see new clients : [Android](http://gluu.co/app-auth-android) and [IOS](http://gluu.co/app-auth-ios)

[2016-03-18 01:11] JohnTheodore commented on #139
I have basically the same bug during my install. I followed this guide: https://www.gluu.org/docs/deployment/ubuntu/ .. and everything works fine. Once I replace httpd.cert and httpd.key with my own legitimate certificate, I have a redirect loop. I can load the login page, and my cert is working (the green lock shows, etc, so it's legit). Though after I click login.. I get a redirect loop.

Some o

[2016-03-18 07:39] madumlao commented on #139
@JohnTheodore

I think we're gonna need more than the apache_vhost_log as this only logs the results of the front webserver, not the oxtrust / oxauth itself.

You need to do a tail on the /opt/tomcat/logs/wrapper.log at the time of the oxtrust login so we can see where the error is coming from. It's possible the httpclient error was already resolved but that you're encountering something else.

[2016-03-18 19:58] willow9886 opened #185 "Pairwise ID: OpenID Scope should not release inum"
OpenID Scope should release the pairwise identifier not the inum, which could be correlated.

[2016-03-18 20:00] willow9886 opened #186 "Pairwise ID: Algorithm should use sector identifier not URI"
in the calculation of the pairwise identifier, the sector identifier not the sector identifier URI should be used. For sector identifiers that are managed in the Gluu Server the sector identifier should be the inum of the URI.

[2016-03-18 21:03] JohnTheodore commented on #139
@madumlao here is https://gist.github.com/JohnTheodore/ac138c62b2f5c151b466 with a full log loop cycle in /opt/tomcat/logs/wrapper.log. That pattern repeats for as long as my web browser is trying to login.

[2016-03-18 21:16] JohnTheodore commented on #139
I noticed here: https://github.com/GluuFederation/docs/issues/7 that it mentions the directory /etc/pki/java/. Do I need to modify certs in /etc/pki? I haven't done that.

Also this page is index by google, but gives me permission denied: https://www.gluu.org/docs/gluu-defaults/ .. it seems to have some documentation on keys/certificates.

[2016-03-18 21:27] JohnTheodore commented on #139
According to this post: http://stackoverflow.com/questions/9619030/resolving-javax-net-ssl-sslhandshakeexception-sun-security-validator-validatore

I have to update the java keystore. Which is here:

GLUU.root@gluu:/usr/java/latest/lib/security# ls -al cacerts
lrwxrwxrwx 1 root root 27 Jan 21 07:22 cacerts -> /etc/ssl/certs/java/cacerts
GLUU.root@gluu:/usr/java/latest/lib/security# file /etc/ssl/c

[2016-03-18 21:30] JohnTheodore commented on #139
hmm, I don't know the java keystore password. The admin password for the webui doesn't work.

GLUU.root@gluu:/usr/java/latest/bin# keytool -list -keystore /etc/ssl/certs/java/cacerts
Enter keystore password:
keytool error: java.io.IOException: Keystore was tampered with, or password was incorrect
GLUU.root@gluu:/usr/java/latest/bin#

[2016-03-18 22:08] JohnTheodore commented on #139
In /opt/apache-tomcat-7.0.55/conf/server.xml I discovered that tomcat is using it's own SSL I believe. A connector from that file here:

  <Connector port="8443" address="localhost"
        protocol="org.apache.coyote.http11.Http11Protocol" scheme="https" secure="true"
        clientAuth="false" sslProtocol="TLS" SSLEnabled="true"
        keystoreFile="/etc/certs/shibIDP.jks"
        keystoreType=

[2016-03-19 00:04] JohnTheodore commented on #139
Should I move this to it's own issue?

[2016-03-19 22:26] yuriyz opened #187 "Review Justin's UMA 1.0.1 issues workarounds"
On 2016-03-19 04:31, Justin Richer wrote:

[2016-03-20 11:25] shekhar16 commented on #125
Added oxScopeType for OpenID and UMA scopes in oxTrust and the code is commited.

[2016-03-21 07:43] yuriyz commented on #181
Fixed in https://github.com/GluuFederation/oxAuth/commit/b89ef83e90577eb3b89aa32628fcc54dac81b134

[2016-03-21 07:43] #181 closed

[2016-03-21 07:45] yuriyz commented on #142
we will merge it back to master in 2.4.4 but provide full test and release in 2.4.5.

[2016-03-21 16:21] yurem commented on #183
Fixed

[2016-03-21 16:21] #183 closed

[2016-03-22 09:37] yuriyz opened #188 "Unable to update scopes via client update"
It's not possible to update scopes via client update.

[2016-03-22 10:42] nynymike commented on #188
The client should only be able to add scopes if these scopes are "default". For example, if I have a scope called "dateOfBirth" that is not default, only the admin of the domain should be able to release the scope to a client.

[2016-03-22 11:03] yuriyz opened #189 "Update client expiration date via client update"
client has expiration time and is removed by timer once expired
[11:47:25] Yuriy Zabrovarnyy: should we allow to change client expiration time via client update ? Then Vlad will be able to change expiration time via plugin.
[12:31:28] Gluu - Michael Schwartz: yes, I think its fine.
[12:32:06] Gluu - Michael Schwartz: Client expiration is really housecleaning.
[12:32:20] Gluu - Michael Schwartz: It

[2016-03-22 14:04] yurem opened #190 "Support AD servers without anonymous bind"

[2016-03-22 14:06] #173 closed

[2016-03-22 14:12] yurem opened #191 "Support U2F cacncel request"
We need to add decline support request to allow cancel oxPush2 authentication request.

[2016-03-22 15:46] yuriyz commented on #173
Swagger libs are excluded from oxauth server (except annotations) with commit https://github.com/GluuFederation/oxAuth/commit/a20f51906c827b74d0e18d3d8187a08f0e26d23f

[2016-03-22 18:50] yurem commented on #191
Added support U2F navigator.id.cancelAssertion and navigator.id.cancelEnrollment types

[2016-03-22 18:50] #191 closed

[2016-03-22 18:56] yurem commented on #174
JSF 1.2_12 sometimes hangs for 10 minutes at startup:

http://markmail.org/thread/k34dib743meylowp#query:+page:1+mid:k34dib743meylowp+state:results

[2016-03-23 10:04] yuriyz opened #192 "Allow to change acr for authorization request and force user to re-authenticated with prompt=login (all issued tokens must be valid)"
1) app A - in request acr=basic - in session basic -  user have to authenticate
2) app B - in request acr=basic - in session basic -  skip authentication
3) app C - in request acr=duo   - in session duo   -  right now exception, but if we change behavior then user have to authenticate
4) app A - in request acr=duo   - in session duo   -  skip authentication - ??? - we will skip app A from duo beca

[2016-03-23 10:04] yuriyz commented on #192
#34

[2016-03-24 00:50] swapsheth opened #193 "Revoke token endpoint"
I do not see a revocation_endpoint for revoking refresh/access tokens - /.well-known/openid-configuration? Am I missing something?

[2016-03-24 10:34] yuriyz commented on #192
Done. Trust elevation for connect tested on ce-dev2.gluu.org. Logged in with internal acr. After that if hit authorization endpoint with acr_values=duo&prompt=login it redirect to login page and after login redirects to https://ce-dev2.gluu.org/oxauth/auth/duo/duo-login which means that re-authentication is triggered correctly. Added also test  case https://moztrap.gluu.org/manage/case/33/ . We ha

[2016-03-24 10:34] #192 closed

[2016-03-24 18:30] yurem commented on #182
Done

[2016-03-24 18:30] #182 closed

[2016-03-28 13:13] yurem opened #194 "Don't index binary tokens"
According to CE configuration there is index for attribute 'oxAuthTokenCode'

But not all 'oxAuthTokenCode' values are GUID or simple string. Exmple:

`
oxAuthTokenCode: eyJ0eXAiOiJKV1QiLCJhbGciOiJSU0ExXzUiLCJlbmMiOiJBMTI4Q0JDK0hTMjU2In0.CtyWJYmptQnJZ2xL_T1h4ClnlyEzsr_xYGsrLwfmVHW6-Uk7xrj4KbIa6-5IdCCTlce93FiYf5YhpxxKr5Umwc5W4Hnwn4mCMnizSyuQSINlS0VYhfUdN2iEgcCAH7LglyFfNSJFdYU_1BReauuTkU9L4KR0e-GpNO

[2016-03-28 13:25] yurem commented on #194
Also OpenDJ 3 PDB backend doesn't allow to insert such long values into index fields:
LDAP: error code 80 - Unchecked exception during database transaction: Maximum size=2047 original size=0

[2016-03-29 07:13] yuriyz commented on #126
Implemented

[2016-03-29 07:13] #126 closed

[2016-03-29 07:47] yuriyz commented on #194
our jwt are quite long. Indeed it's good idea to hash it. Also it may be good time to write index tests according to:
http://idmdude.com/2014/01/01/opendj-indexes-explained/

[2016-03-29 07:53] yuriyz commented on #193
There are no `revocation_endpoint` defined in [Discovery specification](http://openid.net/specs/openid-connect-discovery-1_0.html). Are you referring to [Session management](http://openid.net/specs/openid-connect-session-1_0.html)? If yes, then you should see end_session_endpoint. Closing issue as invalid.

[2016-03-29 07:53] #193 closed

[2016-03-29 08:57] yuriyz opened #195 "remove code duplication"
There are number of places where we have code duplication especially in tests. We have to avoid this error prone approach. 15 or 16 duplications indeed must be fixed.

![codeduplication](https://cloud.githubusercontent.com/assets/2013070/14102692/cb90dc0e-f5a4-11e5-867c-dee88c3bb0dd.png)

This can be the starting point.
https://github.com/GluuFederation/oxAuth/blob/18f314421cc62b85d0ce064fd0e8f5d8

[2016-03-29 21:10] willow9886 opened #196 "FIDO UAF Interception Script"
This would require that the developer has a FIDO UAF capable phone, preferably a Galaxy 5, 6, or 7. Also it requires that Nok Nok provides us with a test server.

[2016-03-30 08:09] yuriyz commented on #126
@nynymike  @qbert2k As part of "OAuth 2.0 for Native Apps" spec I've disabled checks on "http" and "localhost" for native apps redirect_uris.

https://github.com/GluuFederation/oxAuth/commit/ae3ebc3541bea29a08ed6b1b81fd91c21e968cd9

[2016-03-30 08:09] yuriyz commented on #126
@qbert2k is it possible that it breaks some conformance tests?

[2016-03-31 15:14] yurem opened #197 "Create sample script which shows all custom authenticator functionality"
We need to write script with many comments to allow answer on all generic question about authentication script.

[2016-04-01 20:18] yuriyz opened #198 "Introspection endpoint : added ablity to pass client authentication directly to endpoint."
https://support.gluu.org/integrations/introspection-incompatability-with-mod_auth_openidc-2597

[2016-04-01 21:20] nynymike commented on #198
I am not convinced we want this feature. OpenID Connect doesn't need token introspection. The use case for this feature is unclear to me.

[2016-04-01 21:20] #198 closed

[2016-04-04 09:36] yurem commented on #62
I think JSF isn't a problem for us now
I think so because:
1) We don't use HTTP session in oxAuth
2) We store JSF components tree on client
Point #2 is major here for JSF main issue
It's memory consumption.
If we don't store JSF state on server side we don't consume memory, also we can use it cluster
Right now it's possible to use both JSP and JSF
So, when someone is writing new custom authenticat

[2016-04-04 14:22] yurem opened #199 "Command line option to specify oxAuth/oxTrust log level"

[2016-04-05 11:49] yuriyz commented on #189
implemented

[2016-04-05 11:49] #189 closed

[2016-04-05 18:27] yurem opened #200 "oxPush2 script should not show Register button"

[2016-04-05 22:42] zamilskhan commented on #125
@shekhar16 is this done?

[2016-04-06 14:47] yurem commented on #115
Fixed

[2016-04-06 14:47] #115 closed

[2016-04-08 10:12] yurem opened #201 "Server should store origin_ip of authorization request originator"
We need to store origin_ip of user browser in session to allow put it into applications like oxPush2.

[2016-04-12 18:49] shekhar16 commented on #125
1st and 3rd points are done.
2nd is in progress.

[2016-04-13 17:15] yurem commented on #201
https://github.com/GluuFederation/super-gluu/issues/7

[2016-04-13 19:22] willow9886 commented on #140
@yuriyz @yurem I believe this has been fixed... can we close this issue?

[2016-04-13 21:33] yuriyz commented on #140
As far as I know @dollar007 said that it's fixed. Please reopen if reproducible on your side..

[2016-04-13 21:33] #140 closed

[2016-04-15 22:02] zamilskhan opened #202 "Logout URI not a JSON Array"
This error comes up in 2.4.3 wrapper log while testing against mod_auth_oidc

INFO   | jvm 1    | 2016/04/15 21:58:50 | org.codehaus.jettison.json.JSONException: JSONObject["logout_uri"] is not a JSONArray.
INFO   | jvm 1    | 2016/04/15 21:58:50 | 	at org.codehaus.jettison.json.JSONObject.getJSONArray(JSONObject.java:440)
INFO   | jvm 1    | 2016/04/15 21:58:50 | 	at org.xdi.oxauth.client.Registe

[2016-04-15 22:41] yuriyz commented on #202
logout_uri is now array. In 2.4.2 it's literal value but in 2.4.3 it is array, please pass json array.

[2016-04-15 23:07] zamilskhan commented on #202
@yuriyz how do I pass JSON array? I am sorry for the noob question. I want to know how to set up the vanilla openID because it seems we need to configure further after installation. We might have to update the docs based on what we have to do after installation to pass JSON Array.

[2016-04-16 08:42] yuriyz commented on #202
@zamilskhan lets keep it back-compatible, I will add parsing for both.

[2016-04-16 08:45] yuriyz commented on #202
fixed in both version_2.4.3 and master branches.

[2016-04-16 08:45] #202 closed

[2016-04-17 05:57] shekhar16 commented on #125
All are Fixed.

[2016-04-19 15:53] yurem commented on #200
Fixed

[2016-04-19 15:53] #200 closed

[2016-04-19 20:57] zamilskhan commented on #202
@yuriyz the problem is still there in http://repo.gluu.org/centos/testing/gluu-server-2.4.3-1-1.centos6.x86_64.rpm package.

[2016-04-19 21:02] zamilskhan commented on #202
@yuriyz the error is still there in the new package http://repo.gluu.org/centos/testing/gluu-server-2.4.3-1-1.centos6.x86_64.rpm

[2016-04-19 21:13] yuriyz commented on #202
@zamilskhan please post full stacktrace from log because I'm not able to reproduce this issue.

[2016-04-19 21:29] zamilskhan commented on #202
This shows up when I try to use dynamic registration with mod_auth_oidc.

INFO   | jvm 1    | 2016/04/19 20:58:33 | org.codehaus.jettison.json.JSONException: JSONObject["logout_uri"] is not a JSONArray.
INFO   | jvm 1    | 2016/04/19 20:58:33 | 	at org.codehaus.jettison.json.JSONObject.getJSONArray(JSONObject.java:440)
INFO   | jvm 1    | 2016/04/19 20:58:33 | 	at org.xdi.oxauth.client.RegisterReq

[2016-04-19 21:36] yuriyz commented on #202
@zamilskhan you are eithr testing on wrong version or fix somehow is not in that version. In RegisterRequest line 1083 from stacktrace you've provided there are no executable line.

https://github.com/GluuFederation/oxAuth/blob/version_2.4.3/Client/src/main/java/org/xdi/oxauth/client/RegisterRequest.java#L1083

[2016-04-19 21:36] yuriyz commented on #202
@yurem is fix really included in the version that @zamilskhan  is testing ?

[2016-04-19 22:57] zamilskhan commented on #202
@yuriyz I downloaded this [oxatuh war](https://ox.gluu.org/maven/org/xdi/oxauth-server/2.4.3.Final/oxauth-server-2.4.3.Final.war) and replaced in `/opt/tomcat/webapps` and it worked.

[2016-04-20 11:37] dmogn opened #203 "Every time I login to oxTrust, oxAuth asks me "Allow/Don't Allow""
I click "Allow" and it asks me again next time.

Ubuntu 14.04. v 2.4.3 1_1 Final

[2016-04-20 11:44] aveekbu commented on #203
experienced the same on centos/rhl 6.x as well with firefox n chrome.

[2016-04-20 21:00] mzico commented on #203
It's resolved... here is how you can disable that 'Popup'

- OpenID Connect --> Clients
- Pre-Authorization == Enabled
- Persist Client Authorizations == True

[2016-04-20 21:21] zamilskhan commented on #203
Changing label to enhancement. maybe change the defaults so that it doesn't ask every time to be put in the next release

[2016-04-23 07:18] yuriyz opened #204 "Update logout according to latest spec changes: logout_supported -> frontchannel_logout_supported"
Original catch here https://github.com/GluuFederation/oxTrust/issues/221

[2016-04-25 17:56] yurem opened #205 "Update bcprov library"
There is one problem with bcprov-jdk16-1.46.jar if both context are use this library. Only first context which initialized BC provider will work fine.
Example: indentity, oxauth.

For proper work in this case we need to put this library into:
tomcat_home/endorsed

But it's library is old and for jdk 1.6

I offer to upgrade to bcprov-jdk15on which supports JDK 1.5 - JDK 1.8.

[2016-04-25 17:56] yurem commented on #205
If it's not in the scope of 2.4.4 we need to update setup to put this library to right place during setup.

[2016-04-26 19:16] yurem commented on #125
Fixed

[2016-04-26 19:16] #125 closed

[2016-04-26 21:28] nynymike opened #206 "OpenID Connect Line Item Scope Approval"
It would be nice if the user could line item approve which scopes are released to an RP. This decision would also be persisted (if authorizations are being persisted).

[2016-04-26 21:30] nynymike opened #207 "User Review of Persistent Client Scope Authorizations"
An endpoint that enables a user to view which scopes she has released to which clients, and to revoke or change those releases.

[2016-04-27 06:19] yurem commented on #206
It will be very nice future. Now most applications requires all permissions (scopes) even if they not needed them, just to gather more information about user.

[2016-04-27 06:25] yurem opened #208 "New .well-known endpoint to publish acr configuration"
Delegate authentication method selection to RP is the good idea. But it requires additional resources to do that on RP side.

For me this issue requires changes on both sides: OP and RP.

1) There is one issue. According to the spec acr_values is an list. Now oxAuth uses first enabled method from this list. Why oxAuth can't handle this in better way? For example client specified acr_values=["duo",

[2016-04-27 07:04] yuriyz commented on #208
To keep what we've discussed in skype and mails:

Main concern is mostly about user experience. When user click on selector icon it is not clear what are next steps. Nice idea that comes from @willow9886 is to add additional component on web page which would show current step and also all further steps.

[2016-04-27 07:07] yuriyz commented on #208
As on image below, user on login page will see that next step is duo (or other possible many steps).
https://dailypost.files.wordpress.com/2013/06/2step.jpg

For this we would need to add additional method to custom authentication scripts to be able fetch description of step.

[2016-04-27 14:07] yurem commented on #199
Done.
New option
-Ddevelopment-build=true/false allow to override default profile properties and log level

[2016-04-27 14:07] #199 closed

[2016-04-27 14:33] yurem opened #209 "Google+ authentication method should support parameter to skip login page"
When RP request authorization with acr_values=gplus we need to support extra parameter to skip default login form. oxAuth should start Google+ authentication workflow immediately.

[2016-04-28 11:00] yuriyz opened #210 "oxauth login page is half rendered if client is not present in ldap (removed)"
SEVERE: JSF1054: (Phase ID: RENDER_RESPONSE 6, View ID: /login.xhtml) Exception thrown during phase execution: javax.faces.event.PhaseEvent[source=com.sun.faces.lifecycle.LifecycleImpl@4133ff2e]
 SEVERE: Error Rendering View[/login.xhtml]
javax.faces.FacesException: javax.el.ELException: //localhost/oxauth/login.xhtml @62,89 rendered="#{!empty client.getLogoUri()}": //localhost/oxauth/login.xhtml

[2016-04-28 11:00] yuriyz commented on #210
![ce-dev2](https://cloud.githubusercontent.com/assets/2013070/14883861/9024b35e-0d49-11e6-89ce-555b745fb2d3.png)

[2016-04-29 21:08] nynymike commented on #208
I think we should back-burner this issue. There is a WG at OIDF that will address some of these issues I think:  http://openid.net/wg/eap/

[2016-05-03 16:43] yurem opened #211 "Allow reset authentication workflow to specific step"

[2016-05-03 16:44] yurem commented on #211
Implemented: https://github.com/GluuFederation/oxAuth/commit/5e392d8198c5c9c695ce178f50701d4ba2097d9b

[2016-05-03 16:44] #211 closed

[2016-05-04 16:59] yurem opened #212 "Process prompt=consent authorization request"
I've tried to fix oxAuth tests and find 2 problems in AuthorizeAction. Now there are 4 errors related to prompt=consent. They are similar: https://ox.gluu.org/jenkins/job/oxAuth/500/

Old code which not allow to process this param properly is:

    if (if (clientAuthorizations != null && clientAuthorizations.getScopes() != null &&...) {
        ....
    } else if (ConfigurationFactory.instance().g

[2016-05-04 17:00] yurem commented on #212
Are there bugs in these tests? Can you explain how oxAuth should work if there is authorization parameter  prompt=consent ?

[2016-05-04 18:26] nynymike commented on #212
http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

"The Authorization Server SHOULD prompt the End-User for consent before returning
information to the Client. If it cannot obtain consent, it MUST return an error, typically
consent_required."

I see this like prompt=login... which forces re-authentication. If this is explicity requested by the client, I think the scope authorization

[2016-05-04 19:05] yurem commented on #212
I committed fix:
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/authorize/ws/rs/AuthorizeAction.java#L257

Lines: 257-278

Now if there is prompt=consent tit always shows Authorization dialog

All tests are fine now

@javier, please review these lines. It's not clear when we can use this method in AuthorizeAction: https://github.com/GluuFederation/oxAuth/b

[2016-05-04 19:05] #212 closed

[2016-05-06 11:37] yurem commented on #201
Fixed

[2016-05-06 11:37] #201 closed

[2016-05-06 12:59] nynymike commented on #205
Tomcat starts oxTrust before oxAuth.  As result oxAuth can't use Bouncy Castle becuase both applications have this library.  We need to use in oxAuth/oxTrust instance of BC provider to avoid this. There is quick fix without oxAuthoxTrust update

[code]

[2016-05-09 07:37] leponen commented on #120
Hello, I'm asking about the situation of this feature. It is marked low priority, but from user's point of view, especially in situations such as e-mail verification, makes a big difference. In our system, we currently have many places that could utilize this feature. Is there any hope on getting this to Gluu soon?

[2016-05-09 09:58] nynymike commented on #120
No ETA. If you want to get enhancement prioritization, you need a support contract. Gluu is **Free** Open Source. Enhancements are driven by customers that help fund development.

[2016-05-09 10:06] leponen commented on #120
Thanks, Mike, for the answer. I'll return to this with another media :)

[2016-05-11 06:44] uboznikov opened #213 "Keeps getting "HTTP 403 (Forbidden)" in oxTrust log even if UMA authentication seems to have succeeded?"
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/service/UmaProtectionService.java#L202

`Construct response: HTTP 403 (Forbidden), entity: '{"ticket":"037f9751-19c6-40ba-9697-d239dfdb1fee"}'`

[2016-05-11 07:57] yuriyz commented on #213
Please check oxTrust code.
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/service/UmaAuthenticationService.java#L78

There is wrong RPT permission validation. I've posted separate issue for it : https://github.com/GluuFederation/oxTrust/issues/250

oxTrust must check whether RPT has permissions for given resourceId with exact scope. If permission is abs

[2016-05-11 07:57] yuriyz commented on #213
check also our UMA docs to better understand UMA protocol https://gluu.org/docs/integrate/uma/

[2016-05-11 07:57] #213 closed

[2016-05-11 10:02] piphonom opened #214 "entityID of SP didn't process after specific RP configuration"
When I configure Trust Relationships for Salesforce SAML SSO this configuration doesn't apply totaly into _/opt/idp/conf/relying-party.xml_. For Relying Party configuration instead of _id="entityID of SP"_ I see _id="$trustRelationship.entityId"_. I have reinstalled Gluu server twice but result is the same.

I use Gluu 2.4.3 1-3 amd64. OS is Ubuntu 14.04.4 LTS (GNU/Linux 2.6.32-042stab113.11 x86_6

[2016-05-11 11:11] yurem opened #215 "Infinite browser loop when requested acr_values with unknown or inalid value"
![infinite_loop](https://cloud.githubusercontent.com/assets/6104200/15179083/571673f2-1782-11e6-9fe2-c3d49ccfe950.png)

Instead of redirect application should use DummyPersonAuthenticationType. This method not allows to to login, but it will show error message to user without cyclic redirect

[2016-05-12 11:47] aliaksander-samuseu commented on #214
Hi, @piphonom. I remember your ticket. Thank you for spending your time creating the report. I want to add that I've just encounter this very issue yesterday on one of client's instance of version 2.3.x. I also used a metadata file method when creating TR. I spent a lot of time trying to resolve it, but even removing this TR and recreating it gave the same result. I tried to deactivate/activate it

[2016-05-12 11:52] aliaksander-samuseu commented on #214
@piphonom , it seems it's a tricky one. Could you please write down all your configuration steps which lead to a guaranteed reproduction of this issue and post here?

[2016-05-13 07:49] yurem opened #217 "Client side method to load private key from JWKS"
In the latest code there is no method to load privateKey from JWKS. It's fine for oxAuth because it will store keys in oxEleven. But this raise few questions:

1. Is oxEleven open source or not?
2. Is oxAuth allows to work in 2 modes: oxEleven and JWKS (LDAP) store?
3. During setup we generate jwks for 2 UMA clients. And in order to obtain access_token client should know how to load private key fr

[2016-05-13 07:49] yurem commented on #217
@nynymike can you check this?

[2016-05-13 10:30] yurem opened #218 "Implement U2F attestation certificate validation"
Enrollment is most unsecured process. In order to protect enrollment response U2F uses attestation certificate to sign [enrollment request](https://fidoalliance.org/specs/fido-u2f-v1.0-nfc-bt-amendment-20150514/fido-u2f-raw-message-formats.html#registration-request-message---u2f_register) user public key, keyHandle, etc.

According to the spec U2F device put public attestation certificate into res

[2016-05-13 13:26] piphonom commented on #214
Hi, Aliksander!

No, I didn't use some custom attributes. Just attributes form [instruction](https://www.gluu.org/docs/integrate/salesforce-sso/)

I'm not sure that it will help you to reproduce this issue because I didn't do any special things. But there are steps that I did:

1. removed previous version of Gluu (2.4.2) (_apt-get remove ..._, then remove **/opt/gluu-server-2.4.2***)
2. apt-get in

[2016-05-13 13:56] piphonom commented on #214
Aliaksander,

if you want I can give you ssh access to my server. This is jsut test VM and there is nothing secret. If it is needed ping me by email. I will send you credentials.

[2016-05-13 15:17] aliaksander-samuseu commented on #214
@piphonom

Thank you, but not sure it will help in any way. From my experience with it, there are little clues when this already has happened, and little can be done. Just one request: could you run this command from within the container and provide us output: `/opt/opendj/bin/ldapsearch -h localhost -p 4444 -Z -X -T -D 'cn=directory manager' -w 'YOUR_LDAP_PASSWORD' -b 'ou=appliances,o=gluu' '(obj

[2016-05-13 16:07] piphonom commented on #214
Aliaksander,

this is output for your request

`dn: inum=@!5302.FE40.EA53.038F!0002!F1A2.32D7!0006!EA45.98E4,ou=trustRelationships,inum=@!5302.FE40.EA53.038F!0002!F1A2.32D7,ou=appliances,o=gluu
gluuEntityId: 5302FE40EA53038F0002F1A232D70006EA4598E4
displayName: gluu SP on appliance

dn: inum=@!5302.FE40.EA53.038F!0002!F1A2.32D7!0006!3B37.FDDE,ou=trustRelationships,inum=@!5302.FE40.EA53.038F!0002!F

[2016-05-13 16:34] nynymike commented on #214
Alex, can this issue be reproduced? I'm gathering from this thread that maybe it cannot...

[2016-05-13 16:44] nynymike commented on #217
Yes, we should support both modes: oxEleven and JWKS (LDAP) store

[2016-05-13 16:59] piphonom commented on #214
Mike,

I'm not sure because I don't know exactly steps how to reproduce it. But on my Gluu Server it was reproduced two times from two. First time I installed Gluu and configured Salesforce. And it was reproduced. Then I reinstalled Gluu and this issue reproduced again. Now any time I change one of RP I see  in _/opt/idp/conf/relying-party.xml_ that entityID for Salesforce has value _"$trustRelati

[2016-05-13 17:22] nynymike commented on #214
Yes, I asked Alex to try to reproduce. If cannot, I'm sending this back to https://support.gluu.org because it seems like it may be something with your deployment.

[2016-05-13 17:39] aliaksander-samuseu commented on #214
@nynymike

Mike, I've tried twice already, both with @piphonom 's metadata, and metadata of that SP I tried to configure, and couldn't.

[2016-05-13 18:02] nynymike commented on #214
We can't reproduce this issue. It must be something with his deployment.

[2016-05-13 18:02] #214 closed

[2016-05-13 20:03] qbert2k commented on #217
1. oxElevan has The MIT License (MIT)

2. Yes, you can change the mode in oxAuth configuration:
[code]

[code]

3. You cannot get the private key, instead you can call the sign function as follows:

[code]

will return an instance of OxAuthCryptoProvider or OxElevenCryptoProvider depending on the configuration.

Then call the functions:

[code]

[2016-05-16 21:25] nynymike commented on #175
Note: [5.3](http://openid.net/specs/openid-connect-core-1_0.html#UserInfo)  now says CORS support should be supported.

[2016-05-18 09:49] yurem opened #220 "Remove jettison resteasy provider"
In oxAuth code there are references to jackson and jettison resteasy providers.
I think we need to use only one to avoid conflicts

[2016-05-18 09:54] yurem opened #221 "Migration to Weld 3.0.0.CR2"
After migration to Seam 2.3.1.Final we need to think about next step.
The easier update is to migrate to weld 2.3.4.Final.

We need to investigate this and do migration if it's easy to do.

[2016-05-18 10:11] yuriyz commented on #220
+1 from me. I vote for jackson.

[2016-05-18 10:16] yuriyz commented on #221
One more option is to move to Spring. It will be harder to move to Spring then to Weld. But lets compare pros&cons. We can even move to pure Guice and add lib by lib that are really required instead of heavy tools. I propose to have small table of proposals and compare pros&cons each of the method before final decision.

[2016-05-18 10:32] yurem commented on #221
I vote for solution which easy to implement. Also current oxauth.war size is 50Mb. Hence Seam 2.3.1 is not very heavy.

[2016-05-19 15:08] nynymike opened #222 "Create Interception Script for AOL Multipass Server"
This server supports a number of social login providers:
  https://github.com/aol/node-multipass

It would be interesting if we could deploy this server, and then write a Gluu Server custom authentication script that calls these API's.

[2016-05-19 17:55] yurem opened #223 "Add postLogin method for authentication script"
An additional method in the authentication interception script would make make it easier to gather statistics or send notifications.

3rd party systems can use information about user location, statistics about user logins (time, etc)... to do additional user verification and record authentication activity.

[2016-05-20 05:39] uboznikov opened #224 "UMA authentication: "JWT authentication failed: Cannot verify the JWT""
Encountered in oxScimClient Jenkins build and encountered also in local. Local stacktrace follows:

`DEBUG [org.xdi.oxauth.service.ClientService] Found 1 entries for client id = @!D58A.A2C6.9B5E.11DA!0001!C69B.EF8E!0008!0E9E.8E41
DEBUG [org.xdi.oxauth.model.util.JwtUtil] Retrieving JWK Key...
INFO  [org.xdi.oxauth.auth.AuthenticationFilter] JWT authentication failed: Cannot verify the JWT
org.xdi.

[2016-05-20 06:31] yurem commented on #217
@qbert2k , thank you for clarifications
I've few new questions and ideas related to client applications:

1. In SCIM Client we uses CLIENT_CREDENTIALS grant with PRIVATE_KEY_JWT authentication method. This client code should know about key type, algorithm, etc
Can we simplify [this](https://github.com/GluuFederation/SCIM-Client/blob/master/src/main/java/gluu/scim2/client/auth/UmaScim2ClientImpl.ja

[2016-05-20 06:57] yurem commented on #217
It's related to point 3: https://github.com/GluuFederation/oxAuth/issues/224

[2016-05-20 16:09] #175 closed

[2016-05-20 16:41] nathanhokanson commented on #175
When will this fix be available for general consumption?

[2016-05-20 18:52] nynymike commented on #175
2.4.4 end of June.  But it's in progress right now, so it should be available on github if you are building oxAuth yourself.

[2016-05-23 17:01] nynymike opened #226 "API's for U2F device management"
Currently, U2F devices are stored as a subentry under the person entry, in the `u2f_devices` organizational unit. See this diagram:

![image](https://cloud.githubusercontent.com/assets/3717101/15478056/aa65733c-20dd-11e6-8d0d-f19318b04d19.png)

The problem is these entries can't be managed via the SCIM API (or can they?)

We are building a cred management app, and we'd prefer the app not use LDAP

[2016-05-23 18:14] nynymike opened #227 "Update OpenID Connect Discovery to publish Authentication Levels and Methods"
Each authentication script has an associated "Level".

![auth_level](https://cloud.githubusercontent.com/assets/3717101/15479809/b58e6278-20e7-11e6-976f-106ba3ff247d.png)

I want to publish this information in the OpenID Connect Discovery endpoint

    "auth_level_mapping": {1: ["password"], 2: ["sms", "reset_code"], 3: ["oxpush2", "u2f"]}

Where the key is an integer representing the auth_level a

[2016-05-23 18:42] yurem opened #228 "Add more fields to U2F device regitration entry"
We should add "nickname" and "description." This would really help if a person has more then one U2F device. DeviceID is not visible to the person.

[2016-05-25 02:16] #120 closed

[2016-05-25 02:27] #104 closed

[2016-05-25 08:55] yurem opened #230 "Resource Owner Password Credential Grant Interception Script"
This interception script would provide a way to customize back channel authentication.

[2016-05-25 12:41] nynymike commented on #230
This would be convenient.

[2016-05-29 06:19] shekhar16 opened #231 "Add version no in welcome message on home page."

[2016-05-29 06:22] shekhar16 commented on #231
![image](https://cloud.githubusercontent.com/assets/15937500/15631699/dfd0e85c-2593-11e6-9948-0111fd07aab9.png)

[2016-05-29 06:23] shekhar16 commented on #231
Fixed and code is committed.

[2016-05-29 06:25] shekhar16 commented on #231
![image](https://cloud.githubusercontent.com/assets/15937500/15631707/388c6368-2594-11e6-9cdb-c02164b65675.png)

[2016-05-29 07:31] shekhar16 commented on #227
@nynymike please check below response :
"auth_level_mapping": {
        "1": "[password]",
        "2": "[sms, reset_code]",
        "3": "[oxpush2, u2f]"
    },
Is it ok? or should i update to above json string.

[2016-05-29 15:18] shekhar16 commented on #227
Fixed and code is committed.

[2016-05-29 15:18] shekhar16 commented on #227
![image](https://cloud.githubusercontent.com/assets/15937500/15634325/aaae2022-25de-11e6-92a8-f59924a9a4e7.png)

[2016-05-29 15:29] shekhar16 commented on #227
Please add :
"authlevelmapping": {"1": ["password"],"2": ["sms","reset_code"],"3": ["oxpush2","u2f"]}
in attribute=oxAuthConfDynamic

[2016-05-30 02:27] nynymike commented on #227
Looks perfect! Nice work.

[2016-05-30 05:37] shekhar16 commented on #227
Thanx MIke :+1:

[2016-05-30 10:53] yuriyz opened #232 "Storing Client Authorization Fails when Duplicate Scope Provided"
https://support.gluu.org/integrations/storing-client-authorization-fails-when-duplicate-scope-provided-2800

1) Gluu authorization endpoint is requested with following kind of URL:

https://********/oxauth/seam/resource/restv1/oxauth/authorize?response_type=code&client_id=********&redirect_uri=********&scope=openid profile profile&state=test&nonce=9dcb5578-a806-4824-b3fe-19a580655843

2) User logs

[2016-05-30 11:08] yuriyz commented on #232
Fixed in https://github.com/GluuFederation/oxAuth/commit/c809a012c0172acb991e58ba02a26e3976834569

[2016-05-30 11:08] #232 closed

[2016-05-31 14:28] nynymike opened #233 "New iFrame implicit flow"
http://lists.openid.net/pipermail/openid-specs-ab/Week-of-Mon-20151116/005865.html

 In this document, we define a new architecture and flow for
   JavaScript clients on how to get access tokens and/or ID tokens from
   Identity providers (IDP).  Instead of getting these tokens from the
   IDP Authorization Endpoint (as defined in RFC 6749 [RFC6749] as the
   token flow), JavaScript clients now ge

[2016-05-31 14:45] yurem commented on #205
Also @dmogn told that there are problems related to this in other applications.

I think we should try to not use static library initialization:
https://github.com/GluuFederation/oxAuth/blob/master/Model/src/main/java/org/xdi/oxauth/model/util/SecurityProviderUtility.java#L26

Instead of this application should create BouncyCastleProvider() instance and pass reference to this object. Now we pass "

[2016-05-31 15:08] dmogn commented on #205
Shib IDP V3 has bcprov-jdk15on-1.53.jar dependencies. 1.53 conflicts with 1.46.
I cannot replace 1.53 with 1.46 because "class org.bouncycastle.asn1.ASN1Primitive not found".
I replaced v.1.46 with bcprov-jdk15on-1.53.jar in tomcat/endorsed and all work fine (at first look). No an exceptions in tomcat's logs.

[2016-05-31 15:58] willow9886 commented on #231
@yurem can you pull this update into our existing version?

[2016-05-31 17:56] dmogn commented on #205
bcprov-jdk15on-154.jar - works well in tomcat/endorsed (latest version)

[2016-06-08 07:36] yuriyz commented on #203
fixed. Tests are passed : https://ox.gluu.org/jenkins/job/oxAuth/589/
Now we need to test it manually.

[2016-06-08 07:36] #203 closed

[2016-06-13 07:55] yurem commented on #224
Resolved

[2016-06-13 07:55] #224 closed

[2016-06-13 07:56] yurem commented on #217
Fixed

[2016-06-13 07:56] #217 closed

[2016-06-13 08:05] yurem opened #234 "Add ability to return custom header with authorization response"
We need to allow custom script to store list of headers in LDAP session to return them as header with authorization response.

[2016-06-13 10:56] yurem commented on #215
Can't reproduce on latest code. I think it's fixed

[2016-06-13 10:56] #215 closed

[2016-06-13 11:21] yurem commented on #231
Fixed

[2016-06-13 11:21] #231 closed

[2016-06-13 11:24] yurem commented on #227
We need to recheck fix. On latest code:
URL: https://ce-dev.gluu.org/.well-known/openid-configuration
"auth_level_mapping": {},
But:
    "acr_values_supported": [
        "mt",
        "internal"
    ],

[2016-06-13 11:28] yurem commented on #174
Implemented

[2016-06-13 11:28] #174 closed

[2016-06-13 11:50] yurem commented on #63
Fixed

[2016-06-13 11:50] #63 closed

[2016-06-13 12:07] yurem commented on #95
Fixed

[2016-06-13 12:07] #95 closed

[2016-06-13 12:08] yurem commented on #62
Fixed

[2016-06-13 12:08] #62 closed

[2016-06-13 12:11] yurem commented on #38
I think it's fixed already. @nynymike Wthat do you think?

[2016-06-13 12:11] #38 closed

[2016-06-13 12:18] yurem opened #235 "Implement client JWKS key generator"
We need to implement client key generator which prepare 2 files:
1) JWKS with public keys to stoe in LDAP
2) JKS with private keys to use then in client code
3) Utility class to simplify key loading from JKS

[2016-06-14 04:34] shekhar16 commented on #227
Is above required modification present in ldap?

Please add :
"authLevelMapping":{"1":["password"],"2":["sms","reset_code"],"3":["oxpush2","u2f"]}
in attribute=oxAuthConfDynamic

[2016-06-14 18:54] yurem opened #236 "Review persist client authorizations"
Evey client can have 2 attributes:
oxAuthTrustedClient: false/true
oxPersistClientAuthorizations: false/true

If there is no specified attribute in client entry we need to take into consideration that default value is 'false'

oxAuthTrustedClient should have higher priority. Hence if  oxAuthTrustedClient=true oxAuth should not show consent dialog and do persistence of user authorization.

If there

[2016-06-15 11:08] yurem commented on #236
Fixed in master and 2.4.3

[2016-06-15 11:08] #236 closed

[2016-06-21 12:45] yurem opened #237 "Redirect to alternative acr_values if main acr_values can't be used in someconditions"
In custom authentication scripts it's possible to redirect user to alternative authentication method if specified script can't be used in some conditions. To cover  this there are 2 methods in this interface.

But current code https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/auth/Authenticator.java#L435 redirects user with deprecated "acr" parameter. We need

[2016-06-21 18:03] nynymike opened #238 "Return Authentication Level in amr response claim"

[2016-06-21 18:06] nynymike commented on #238
We need the "Authenticaiton Level" to be returned in the amr id_token claim. As its a JSON array of strings, it shoudl return something like ["1"].

[2016-06-21 20:33] yurem opened #239 "Allow to override default oxPush2 lable in QR code"

[2016-06-23 16:40] nynymike opened #244 "Update authentication interception script to enable setting additional AMRs"
It would be nice if the the interception script allowed the return of additional amr claims. For example, maybe the script runs fraud detection, and wants to return a score to the client. It would be nice if there was a method in the authentication interception script, something like:

amrs = context.getCurrentAmrs()
amrs.append("fraud-score:500")
context.set(amrs)

The first amr should always be

[2016-06-23 20:11] nynymike opened #245 "change ldap organizational unit to "ou=fido" from "ou=u2f_devices""
I think the ou should be more general. That way, we can store other fido creds in this ou.
![image](https://cloud.githubusercontent.com/assets/3717101/16314879/83a792ea-3945-11e6-8e71-557ca12bda33.png)

[2016-06-28 17:16] nynymike opened #247 "SuperGluu Interception Script Incorrectly Processess Registration"
There is a problem with the service that processes the QR code request from the phone.

Here is the scenario we tested in a two step authentication

1) User mike: enroll phone 1.... logout
2) Login user mike 2nd time
3) Push notification goes to mike, but Will uses his phone to scan QR code.
4) Will's phone gets "Authentication Success" and the authentication proceeds.

The problem is this: post e

[2016-07-04 11:16] yuriyz opened #249 "prompt=login leads to double authentication of the user"
1. Hit authorization endpoint
https://ce-dev2.gluu.org/oxauth/authorize?scope=openid+profile+email+address+clientinfo+mobile_phone+phone&response_type=code&nonce=n-0S6_WzA2Mj&redirect_uri=https%3A%2F%2Fgluu.loc%2Fwp-login.php%3Foption%3DoxdOpenId&state=af0ifjsldkj&client_id=%40%2140EA.D454.9D4F.E876%210001%21ECE8.BBEF%210008%216097.3FDC&acr_values=basic&prompt=login
2. Login
3. Consent page is sho

[2016-07-05 19:57] nynymike opened #250 "Default oxPush2 authn script should not allow enrollment after inital device is enrolled"
If a U2F device is enrolled against a cetain user, registration should be subsequently disabled for oxPush2 script.

[2016-07-05 19:58] nynymike commented on #250
This is needed for Super Gluu launch.

[2016-07-05 20:04] nynymike commented on #249
Javier, can you prioritize this bug?

[2016-07-12 15:34] nynymike opened #253 "oxauth-rp is war file is corrupt / broken"
oxauth-rp is not starting

[code]

[2016-07-13 03:28] qbert2k commented on #249
Hello Yuriy,

The right Authorization Endpoint URL is:
https://ce-dev2.gluu.org/oxauth/seam/resource/restv1/oxauth/authorize
See: https://ce-dev2.gluu.org/.well-known/openid-configuration

Instead of:
https://ce-dev2.gluu.org/oxauth/authorize
because it is not the Autorization Endpoint, it is the authorize page (with the allow button).

For example:

https://ce-dev2.gluu.org/oxauth/seam/resource/r

[2016-07-13 03:28] #249 closed

[2016-07-13 04:11] qbert2k commented on #235
The client generator is at:
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/util/KeyGenerator.java

usage: KeyGenerator -algorithms RS256 RS384 RS512 ES256 ES384 ES512
                    -keystore /path_to/mykeystore.jks -keypasswd secret
                    -dnname "CN=oxAuth CA Certificate" -expiration 365
                    -algorithms <arg>   Algorith

[2016-07-13 04:11] #235 closed

[2016-07-13 04:26] qbert2k commented on #253
I cannot reproduce the problem.
I have tried in my local env and in ce-dev2.gluu.org, both are working fine.

[2016-07-13 04:26] #253 closed

[2016-07-13 07:15] yuriyz commented on #249
@qbert2k right, authorization endpoint redirects you to login and after successful login to authorization page. Why is it redirect back to login after user is clicking "Allow" on authorization page? Did you test it with prompt=login?

[2016-07-13 10:53] yurem commented on #247
Now registration API not allow to start enrollment process if user has at least one device registered.
It's for case when application pass user_name and session-state only.

[2016-07-13 10:53] #247 closed

[2016-07-13 10:53] yurem commented on #250
It's related to https://github.com/GluuFederation/oxAuth/issues/247

[2016-07-13 10:53] #250 closed

[2016-07-13 20:26] #205 closed

[2016-07-14 09:08] yurem commented on #239
Implemented

[2016-07-14 09:08] #239 closed

[2016-07-14 09:11] yurem commented on #223
We can use existing authenticator script. We can add new method to this script like: postLogin to allow send notifications,

[2016-07-14 09:13] yurem opened #254 "oxauth-client can't sign token request using JKS generated by KeyGenerator"
On some server there is strange situation:
Valentino Pecaoco>> I'm getting this error:
Valentino Pecaoco>> ERROR [org.xdi.oxauth.client.TokenRequest] Could not sign data
java.security.SignatureException: Could not sign data
        at sun.security.ec.ECDSASignature.engineSign(ECDSASignature.java:297)
        at java.security.Signature$Delegate.engineSign(Signature.java:1205)
        at java.securi

[2016-07-14 19:14] yurem commented on #254
Fixed

[2016-07-14 19:14] #254 closed

[2016-07-14 19:18] yurem commented on #227
We need to back to this issue in next version

[2016-07-14 19:23] yurem commented on #188
Can we close this issue&

[2016-07-14 19:23] yuriyz commented on #238
https://github.com/GluuFederation/oxAuth/issues/227

[2016-07-14 19:30] yuriyz commented on #188
Lets move it to next release.
@nynymike do you mean that at initial registration we can register any scopes but during update can change only defalut one ?

[2016-07-14 19:31] nynymike opened #256 "Remove Federation API endpoints"
The federation endpoint will not be used, let's remove it, the tests, and the [docs](https://github.com/GluuFederation/docs/issues/105)

[2016-07-18 19:53] nynymike opened #257 "U2F Authn not working"
I successfully registered a device. But when I returned to reauthn, after putting in my PW creds, I was immediately redirected here:

![image](https://cloud.githubusercontent.com/assets/3717101/16928264/5973b24a-4cf7-11e6-8304-12afb586242a.png)

Message in the logs:

`wrapper.log`

[code]

`script log`

[code]

[2016-07-19 14:20] yurem opened #258 "Allow to customize QR code generation parameters"
We uses library to generate QR code. It have many configurable options. I can add one more property to script. In this property we can specify JSON or key=value pairs with list of custom properties values. Example:

JSON:
{
 // size in pixel
 size: 200,

 // size in pixel
 mSize: 0.05

...

}

or

size=200, mSize=0.05...

According to this library code it uses next formula to calculate size of fon

[2016-07-19 15:55] yurem commented on #257
Fixed: https://github.com/GluuFederation/oxAuth/commit/f5c67284bfaa4dbcd5b934789c5c3c3b2e6466e8
Also I've updated setup to include it into RC2

[2016-07-19 15:55] #257 closed

[2016-07-19 17:10] yurem commented on #210
Fixed. Now oxAuth redirect to redirect_uri with error in URI: ?error=access_denied&error_description=The+resource
+owner+or+authorization+server+denied+the+request.

[2016-07-19 17:10] #210 closed

[2016-07-19 17:24] yurem opened #259 "Attempt to connect to LDAP server at startup during 30 seconds"
We need this because OpenDJ requires more time to load than oxAuth. As result after server restart we get non working server.

[2016-07-20 11:48] yurem commented on #259
Now application tries to create LDAP connection pool withing 30 seconds.

It add to log next messages if application can't create LDAP connection pool after first attempt:
2016-07-20 11:17:07,518 INFO  [org.gluu.site.ldap.LDAPConnectionProvider] Attempting to create connection pool: 1
2016-07-20 11:17:12,527 INFO  [org.gluu.site.ldap.LDAPConnectionProvider] Attempting to create connection pool: 2

[2016-07-20 11:48] #259 closed

[2016-07-20 16:07] yurem commented on #258
Fixed

[2016-07-20 16:07] #258 closed

[2016-07-22 15:37] qbert2k commented on #186
More points to consider:

[7/21/16, 5:00:02 PM] Mike Schwartz: inum claim should not be released
[7/21/16, 5:00:17 PM] Mike Schwartz: if no pairwise id: the value of sub = value of inum
[7/21/16, 5:00:47 PM] Mike Schwartz: if pairwise id: sub value depends on mechanism (persistent or algorithm)

[2016-07-22 16:58] nynymike commented on #186
I upped the priority of this. The value of the sub identifier is really fundamental to our solution.

[2016-07-23 03:01] aveekbu opened #261 "does not validate Custom Attribute Data Type"
To see the problem login into gluu and go to:

[code]

![screenshot from 2016-07-23 08-55-07](https://cloud.githubusercontent.com/assets/641167/17075400/11916e34-50b4-11e6-881f-b98d95e7ff72.png)
![screenshot from 2016-07-23 08-55-56](https://cloud.githubusercontent.com/assets/641167/17075401/11985e4c-50b4-11e6-8077-684fa4ab2374.png)
![screenshot from 2016-07-23 08-56-20](https://cloud.githubuserco

[2016-07-23 03:05] aveekbu commented on #261
@shekhar16 can you take a look at this issue?

[2016-07-25 04:22] qbert2k commented on #186
Fixed.

[2016-07-25 04:22] #186 closed

[2016-07-25 14:36] #185 closed

[2016-07-25 16:52] yuriyz commented on #238
AMR is encoded into ID Token as array based on ACR value which is read from custom authentication script.

Right now we are always using one particular acr, so amr would look as ["3"] (or any other level set in script).

[2016-07-25 16:52] #238 closed

[2016-07-26 13:11] yuriyz commented on #227
Implemented.

[code]

[2016-07-26 13:11] #227 closed

[2016-07-26 13:33] yurem commented on #227
I'm merging it into 2.4.4. It looks fine now.

[2016-07-26 19:30] nynymike opened #266 "Move non-standard discovery parameters to .well-known/gluu-configuration"
We should move our non-standard OpenID Connect discovery metadata into
.well-known/gluu-configuration

Its hard for someone not familiar with the spec to realize they may be using a non-standard feature that may lead to Gluu Server lock-in.

A quick check, I see the following non-standard keys:
- id_generation_endpoint
- introspection_endpoint
- auth_level_mapping
- scope_to_claims_mapping

Perhap

[2016-07-27 01:09] nynymike opened #267 "IDP Initiated Authentication Script"
![image](https://cloud.githubusercontent.com/assets/3717101/17334198/f827312e-589a-11e6-8a61-aa9918ba7809.png)

It would be nice if oxAuth could act as a gateway for consolidating IDP-initiated authentication. The basic idea is that the Gluu Server would be the SP--i.e. the authentication is coming from an external organization's IDP. Gluu would consume the assertion, dynamically register the pers

[2016-07-27 19:37] #245 closed

[2016-07-28 20:34] yurem commented on #267
There are 3 oxAuth questions regarding this diagram:
1) In all our existing workflows we create session on authorization request. As result we can't just send SAML Request to existing endpoints. We need new endpoint which will create session and start authentication workflow.
2) How oxAuth should know which acr_values should use?
3) In last step there process to get user claims. Which authorizatio

[2016-07-29 14:06] nynymike opened #269 "End Session endpoint should not accept access token"
Calling the end_session endpoint using an access_token rather than an id_token for the id_token_hint appears to be working.

[2016-07-29 15:53] nynymike commented on #267
1.  I agree... I was saying the same.
 2.  I think the acr would be static. There can only be one script to process IDP iniitated authn.
 3.  The IDP will send user claims in the assertion, which are used for dynamic enrollment.  Post-enrollment, the interception script should redirect to the url speciifed in the relay_state. This application should be a normal OpenID Connect RP, and won't know an

[2016-07-29 15:53] yurem commented on #244
Yes, it's simple approach is very good one to provides additional information:

In custom scripts we implemeneted functionality to allow extend scripts without breaking old scripts.

Please use next pattern to call this new method:

[code]

Current apiLevel for perosn authentication scripts is 2. You can use 3 to call your new method.

[2016-07-30 21:18] yuriyz commented on #269
I will take over

[2016-07-30 21:26] yuriyz commented on #269
Fixed in master (2.4.5) and cherry-picked into 2.4.4.

[2016-07-30 21:26] #269 closed

[2016-08-01 14:43] yuriyz opened #271 "Update OP discovery JSON to latest claim for front channel logout"
Parameters are renames:
`logout_uri` -> `frontchannel_logout_uri`

http://openid.net/specs/openid-connect-frontchannel-1_0.html#History

Also, see client metadata `frontchannel_logout_session_required` and OP discovery info
`frontchannel_logout_supported`  and `frontchannel_logout_session_supported`

Also, oxAuthRP should be updated for new client registration metadata.

[2016-08-03 15:13] nynymike opened #272 "Mitigate potential Clickjacking attack"
The remote web server does not set an X-Frame-Options response header
or a Content-Security-Policy 'frame-ancestors' response header in all
content responses. This could potentially expose the site to a
clickjacking or UI redress attack, in which an attacker can trick a
user into clicking an area of the vulnerable page that is different
than what the user perceives the page to be. This can result

[2016-08-04 07:29] yurem opened #273 "RP-Demo configuration improvement"
RP-Demo gets initialization data from filter init parameters. It will be convenient if it will have functionality to loading data from properties file too.

For example:

[code]

If there is this property with non empty value it should try to loads setting from this file.

[2016-08-04 22:40] nynymike opened #274 "Create feature for access token logout"
A customer was relying on a bug to enable the access token to logout. Can we introduce that as a feature with a property file that controls it...

[2016-08-05 05:07] yurem commented on #274
I've created oxAuth branch "2.4.4_logout": https://github.com/GluuFederation/oxAuth/commits/2.4.4_logout
And reverted fix for logout

[2016-08-05 05:41] yurem commented on #274
This is result war: http://ox.gluu.org/maven/org/xdi/oxauth-server/2.4.4.logout/oxauth-server-2.4.4.logout.war

[2016-08-05 06:15] yuriyz commented on #274
Thanks @yurem

[2016-08-05 06:15] #274 closed

[2016-08-05 15:25] worm333 commented on #266
I created pull request (https://github.com/GluuFederation/oxAuth/pull/275) related with this issue. These params:
"clientinfo_endpoint",
"check_session_iframe",
"end_session_endpoint",
"validate_token_endpoint",
"federation_metadata_endpoint",
"federation_endpoint",
"id_generation_endpoint",
"introspection_endpoint",
"auth_level_mapping",
"scope_to_claims_mapping",
"http_logout_supported",
"logout

[2016-08-05 17:59] yurem commented on #266
I think these are standart endpoints:
"clientinfo_endpoint",
"check_session_iframe",
"end_session_endpoint",
"validate_token_endpoint",

[2016-08-05 20:16] worm333 commented on #266
I used this link https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata as a guide for standard parameters. Do you think we should leave these params in /.well-known/openid-configuration ?

[2016-08-05 20:55] nynymike commented on #266
Anything in the spec should stay!

[2016-08-05 21:18] worm333 commented on #266
I have not found any references in the specification for params: clientinfo_endpoint and validate_token_endpoint. Params: check_session_iframe and end_session_endpoint are mentioned in the specs but not presented in section https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata.

[2016-08-05 21:28] yuriyz commented on #266
@nynymike @yurem @worm333 Specification directly says that response can contain "additional parameters" including those mentioned by other specs.
`Additional OpenID Provider Metadata parameters MAY also be used. Some are defined by other specifications, such as OpenID Connect Session Management 1.0 [OpenID.Session]. `

Of course all session and logout stuff is "standard". New endpoint creation is

[2016-08-06 23:34] nynymike opened #276 "Change log level without restart"
Having to restart tomcat to change the log level is not good:

TRACE in <tomcat>/webapps/oxauth/WEB-INF/classes/log4j.xml (tomcat restart is required).

[2016-08-07 15:08] nynymike commented on #266
Can we quantify the impact? I'm troubled by the gluu proprietary parameters... and the longer we go, the greater the impact of the change will be in the future.

[2016-08-08 06:22] yuriyz commented on #266
It's very nice idea. It will help to avoid points 2, 3, 6 which is basically in two times less work and will not effect existing client/RP code.

[2016-08-08 08:05] yurem commented on #276
I think we need to try allow change log level from oxTrust GUI on the fly.

[2016-08-08 18:12] yurem opened #277 "Implement integration with oxEleven"

[2016-08-08 18:12] #277 closed

[2016-08-11 20:19] nynymike opened #278 "Add Support for TOTP/HOTP"
Similar to our passport deployment, we should also fork and deploy this:
  https://github.com/johnnymongiat/oath

Ideally these endpoints should be configurable, so customers who don't need this can turn off the endpoints.

Another library that was recently open sourced:
https://github.com/GSLabDev/OTPManager

[2016-08-15 14:57] yurem commented on #226
This is sample data:
[u2f_user_and_devices.zip](https://github.com/GluuFederation/oxAuth/files/418256/u2f_user_and_devices.zip)

[2016-08-15 16:17] mzico opened #280 "SAML script enrollment - check for duplicacy"
ATM, SAML script enrolling all users who are trying to use saml_script.
For this situation... user 'admin' or whoever is there in Gluu Server admin group is losing admin priviledge due to duplicate entries in LDAP ( one real entry, one enrollment entry ) [ adding entries below, here is how it looks like after enrollment for user 'admin' ]
It would be good check some unique entry among users and pe

[2016-08-17 06:32] uboznikov commented on #226
Initial design:

This will be a new resource type in SCIM 2.0 named `FidoDevice`. Defining new resource types is [permitted](https://tools.ietf.org/html/rfc7643#section-3.2). The endpoint will be `<domain root>/identity/seam/resource/restv1/scim/v2/FidoDevices`.

`GET` all devices of all users:
![scim-fido-alldevices](https://cloud.githubusercontent.com/assets/16329085/17726103/310d6f96-6483-11e6-

[2016-08-18 07:34] yurem opened #281 "UAF authentication script"
We need to write person authentication script for integration with Nok Nok UAF server

[2016-08-18 07:39] yurem opened #282 "Find in code places which works slowly"
We need to find in profiler slow places and optimize them

[2016-08-18 17:57] nynymike opened #283 "Update logs to support clustered deployments"
In a clustered deployment, with central collection of logs, it may be difficult to tell which server originated a transaction. It would be helpful if we added some identifier into the logs so that if we centrally collected logs, we could filter based on a certain server. One idea is perhaps to use the MAC address, or a hash of the MAC address. But that's not the only solution.

[2016-08-18 19:37] yurem opened #284 "Saml script improvements"
We need to do:
1) Rename saml_certificate_file to asimba_saml_certificate_file
2) eppn_uid property to allow map specific saml attribute to uid
3) Add new property: enforce_uniqueness_attr_list : mail, uid, eduPersonPrincipalName
4) Add new property user_object_classes to allow specify list of custom object classes

[2016-08-19 10:30] dollar007 opened #285 "Logout with 2 clients problem"
I have 2 test sites.
I am logining to first via gplus login, and second via basic.
When I am doing logout from gplus and logout from basic, from basic logout is doing, but from gplus it is showing error.

URL: https://ce-dev2.gluu.org/oxauth/seam/resource/restv1/oxauth/end_session?id_token_hint=eyJraWQiOiI0OWU5ZjVhYy03ZDNkLTRiY2EtYjQ3ZS1lM2U5MzU0ZjA0MjMiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3M

[2016-08-22 11:15] vlod88 opened #286 "Word changing in login page"
![bug](https://cloud.githubusercontent.com/assets/10656429/17852989/2acb9e54-687b-11e6-97ca-b1f19c69dfcc.png)

[2016-08-22 12:04] yurem commented on #284
5) Rename saml_issuer to asimba_entity_id

[2016-08-22 14:01] nynymike commented on #285
I noticed the same behavior in slightly different circumstances. In my case, I logged out of a basic site, and then tried to navigate back to oxTrust (which had U2F enabled), it threw an error, and I was not able to either login or even logout (if I had a session)--I had to clear the cookies in my broswer for the OP.

[2016-08-22 14:32] yuriyz commented on #285
@nynymike After first logout all tokens are revoked and second logout is unable to validate id_token provided to /end_token endpoint. I think we need to silently redirect to post_logout_redirect_uri.

[2016-08-22 17:49] yurem commented on #284
Done

[2016-08-22 17:49] #284 closed

[2016-08-22 17:55] yurem opened #287 "Application lost authentication error messages after redirect to error page"
This is sample scipt which add [messages ](https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/saml/SamlExternalAuthenticator.py#L306)to user.

It use JSF 2 Flash context:
[code]

Also we specify in redirect to error page parameter: [faces-redirect](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/webapp/postlogin.page.xml#L12)

[2016-08-22 17:57] yurem commented on #287
Accordign to [this](http://stackoverflow.com/questions/13685633/how-to-show-faces-message-in-the-redirected-page) it should works fine with JSF 2.1.27 We uses 2.1.28 in oxAuth

We need to try to find solution or try to upgrade JSF to 2.2.x. Upgrade is better than workaraunds

[2016-08-22 18:32] willow9886 commented on #286
Discussion ongoing here:

https://github.com/GluuFederation/oxTrust/issues/327#issuecomment-241263118

Please add any comments to this issue.

[2016-08-22 18:32] #286 closed

[2016-08-23 07:37] yurem commented on #280
Fixed in https://github.com/GluuFederation/oxAuth/issues/284

[2016-08-23 07:37] #280 closed

[2016-08-23 12:38] yurem opened #288 "New login form fixes"
New login form looks great.
But I've question. Register link is the next: https://ce-dev.gluu.org/identity/register?redirectUri=https://support.gluu.org

Hence after person registration we will redirect him to support.gluu.org Is this redirect URI configurable? Can we redirect person to host (hostname(client.redirect_uri))with redirect_uri after user registration?

Example:
https://ce-dev.gluu.org

[2016-08-23 12:50] yurem opened #289 "New login form fixes"
We need to display custom client logo and custom client policy now to fix test failures

[2016-08-23 16:21] nynymike commented on #285
Maybe we also need to clear the existing cookies in this case.

[2016-08-23 19:30] yuriyz commented on #285
@nynymike cookies are already cleared after first call (client A). So during client B call session is already killed and id_token is revoked (which is actually the reason of exception.) In normal flow both client A and B must implement front-channel logout which automatically logout client B (on client A logout). In @dollar007 case it seems to be wrong implementation. Anyway I think we need    to

[2016-08-24 14:06] yuriyz opened #290 "On acr changed authorization request oxauth returns not clear 500 error - we need redirect back to client to pass control back to client"
https://ce-dev2.gluu.org/oxauth/seam/resource/restv1/oxauth/authorize?response_type=code&client_id=@!40EA.D454.9D4F.E876!0001!ECE8.BBEF!0008!2D14.B75A&client_secret=8af95600-ca47-439d-a30f-1d4ca5aec2ce&redirect_uri=https://gluu.loc/wp-login.php?option=oxdOpenId&scope=openid+profile+email+address+clientinfo+mobile_phone+phone&state=af0ifjsldkj&nonce=n-0S6_WzA2Mj&acr_values=basic

2016-08-24 13:25:2

[2016-08-24 17:12] yuriyz opened #291 "smart authentication if acr is changed"
[6:38:06 PM] Gluu - Michael Schwartz: I would think that if acr changes...
[6:38:12 PM] Gluu - Michael Schwartz: but you go from stronger --> weaker.
[6:38:13 PM] Gluu - Michael Schwartz: that is ok
[6:38:22 PM] Gluu - Michael Schwartz: but if you go from weaker --> stronger, it's not ok
[6:38:29 PM] Gluu - Michael Schwartz: and you should be re-prompted for authn
[6:39:10 PM] Gluu - Michael Schwa

[2016-08-24 17:13] yuriyz commented on #291
@nynymike issue for your idea is opened

[2016-08-24 18:55] nynymike opened #292 "Remove MySQL properties"
![image](https://cloud.githubusercontent.com/assets/3717101/17943728/425594d4-6a02-11e6-8963-3a5dfb1952c4.png)
There are still mySQL properties visible in the oxauth-json properties. This should be removed, and we should search the project to make sure they are not required anywhere.

[2016-08-25 06:49] uboznikov commented on #226
Committed core endpoint to oxTrust: [Added SCIM 2.0 FidoDevices](https://github.com/GluuFederation/oxTrust/commit/229411475d5d5e10819d7aa359cfdfe7de3c124b) (sorry wrong issue id in commit).

Remaining: add to Bulk and Schemas enpoints.

[2016-08-25 13:34] yurem commented on #226
Hi Val,

New API looks fine. Even there are count limit in methods to get lists.

We only need methods to add/modify user devices.

It’s not related to this issue… User management application should knows how to do enrollment of new U2F user device. Probably this application should also support limited versions of custom script to avoid hardcoding this functionality in application.

Regards,

Yuri

[2016-08-25 13:46] uboznikov commented on #226
@yurem Thanks for the comment, creation on this resource has not been implemented; creation will be via the FIDO API (e.g., Super Gluu, etc.).

[2016-08-25 19:41] shekhar16 commented on #289
Fixed.

[2016-08-25 20:37] #178 closed

[2016-08-25 20:38] nynymike opened #294 "Disable subject-type claim for dynamic client reg / update client"
We need to enable a property in the oxauth-json to disable the selection of subject-type for dynamic client registration. If this property is set, the subject-type attribute should just be ignored for either registration or update of client metadata, and should default to pariwise.

[2016-08-25 20:42] qbert2k opened #295 "Enable the organization to force pairwise"
Mike Schwartz: One thing I don't understand about pairwise id is this:
why should the client get to decide?
Shouldn't the IDP set a default policy...
and even if the client registers public, if the default policy is pairwise, the client should get pairwise...

Javier Rojas: yes, pairwiseIdType (algorithmic/persistent) is selected in oxAuth config but subject type (pairwise/public) is selected by c

[2016-08-25 20:45] #295 closed

[2016-08-26 02:09] nynymike commented on #226
Delete is really needed.

Also edit for  description and displayname is needed.

[2016-08-26 07:04] uboznikov commented on #226
[Added FidoDevice to /Schemas endpoint](https://github.com/GluuFederation/oxTrust/commit/b6bb3a11a900847d68a8aaa29e1e2e356554d40d)

[2016-08-26 09:35] ObscurityThroughSecurity opened #296 "[Feature Request] Please add RADIUS as GLUU custom authentication script"
Hello!
RADIUS is a very common-used protocol to authenticate users in a corporate environment. However, GLUU currently doesn't support is natively or as a custom-interceptor-auth-script.

In our environment we have RADIUS server that authenticates users with 2FA bultin (LDAP creds at first, Google Authenticator at second).

So would be very nice to see RADIUS as a custom interceptor script in GLUU

[2016-08-26 12:13] nynymike commented on #296
We've considered it several times. No ETA.

[2016-08-26 21:59] benShoe12 opened #297 "Calling end_session endpoint before session expiration fails to render login page"
Given:
- User logged in to a OpenId Connect RP (or more) with a registered logout url at the OP
- Calling OpenID Connect end_session logout url with the id_token_hint BEFORE session timeout

Expected Result:
1. Each registered logout urls will be called by loading an iframe for each url
2. User is shown the login page

Actual Result:
1. Each registered logout urls will be called by loading an ifra

[2016-08-26 22:02] benShoe12 commented on #297
I just want to note that this is occurring on 2.4.4

[2016-08-26 22:05] benShoe12 opened #298 "Check session iframe page throws error due to dead source CryptoJS link"
In 2.4.4, the op iframe page tries to load the CryptoJS library via this link:
`<script type="text/javascript" src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/sha256.js"></script>`

The problem is that the link is now dead. Thus, check session functionality of OpenID Connect is broken as it throws undefined exception when using CryptoJS methods.

[2016-08-30 09:51] sahiliamsso opened #299 "Username not editable on Gluu login page for Dynamic OIDC"
When providing account name like this format admin@seed.gluu.org at mod_auth_opeind's page and submitting the request it takes to the Gluu server login form where username field is already populated with admin@seed.gluu.org and is not editable.  This gives error because admin@seed.gluu.org doesn't exist in LDAP. This [case](https://support.gluu.org/integrations/dynamic-registration-of-openidconnec

[2016-08-30 18:25] nynymike opened #300 "UMA 2: Implement Claims Gathering Endpoint"
The claims gathering endpoint should support multi-step authorizations.

For example:

[code]

Claims gathered can be stored in the PCT entry in LDAP.

Need to register a new client for the AS Client Claims Gathering endpoint.

TODO: Make sequence diagram!!!

[2016-08-30 18:55] nynymike opened #301 "WhiteList / Blacklist redirect_uri's"
It would be great if the Gluu Server could either whitelist or blacklist redirect_uri's that clients are allowed to register.  These lists can be stored as JSON configuration values as a list of regular expressions.

[code]

[2016-08-30 19:04] nynymike opened #302 "Client Registration: Validation user facing values"
It would be nice if we could enable rules that check against regular expressions to limit client fields that are presented to the user. For example, what's to stop a client from registering Google as a client name, and perhaps confusing the user when the authorization dialog is displayed.

[code]

Not sure if this is the best design. This feature is up for discussion.

[2016-08-30 19:35] nynymike opened #303 "OAuth2 Assertion Grant for SAML assertions and signed JWT's"
This is a placeholder for an idea. An OpenID Connect Access token in exchange for a SAML assertion? An RPT token based on the contents of the assertion or JWT ?

[2016-08-30 19:46] nynymike opened #304 "Duplicate id_tokens created on login"
I logged into oxauth. Previously, there were no sessions for this client. After login, I noticed four tokens created: access token, refresh token, and two id_tokens. See:

[code]

Apparently this is a result of the hybrid flow. These tokens are different--the id_token contains different claims. The first has c_hash because it was returned from the authorisation endpoint in conjunction with the cod

[2016-08-30 19:49] nynymike opened #305 "Confirm what happens for invalid scope: 400 or redirect to client?"
The AS should respond to an invalid scope with a 400 rather than a redirect back to the client. This is listed as a mitigation for the open redirector vulnerability in OAuth2.

[2016-08-30 19:50] nynymike opened #306 "Hash Token Values for Refresh Tokens"
We should create an oxAuth configuration option to store hashes of tokens rather then plain text tokens in ldap. No need for salt. In this way, if the LDAP server is hacked, the attacker would not have the tokens, just the hash values. Simlilar to the requirement not to store passwords. Also, you could search for the hash value just as easily as you could search for the access token value. The bes

[2016-08-30 19:51] nynymike opened #307 "Create OAuth2 Audit Log"
We need to improve auditing: which client, accessing which resource, for which scope, which resource owner, timestampt, network--this should be included in a special audit log.

Audit logging should be a configurable feature in oxauth json.

[2016-08-30 19:54] nynymike opened #308 "Support JWT Token Revocation"
If we issue JWT tokens, we need to create an endpoint to revoke them, and to check the status of a JWT. We should add the `active` claim to the token.

[2016-08-30 19:55] nynymike opened #309 "Add Software Version and Software ID to client metadata"
During client registration, allow the registration of "software_id" and "software_version"--this will provide a client controlled identifier (like SAML entityID) that could offer an alternative to redirect_uri as a way to identify clients.

[2016-08-30 19:56] nynymike opened #310 "Support OpenID Connect Scope Greylisting"
If a client requests a scope which is not explicitly released, ask the Resource Owner. I think we would have to add a field in the scope object to enable a Gluu Server admin to make a scope available for greylisting. This would need to be editable in the oxTrust scope form.

[2016-08-30 19:57] nynymike opened #311 "Scope Internationalization"
Support internationlization for certain client fields that might be displayed to the user. For example: {"client_name": "My client", "client_name#fr": "mon client", ...}

[2016-08-30 19:57] nynymike opened #312 "Conform Client Update to OAuth2 Dynamic Registration Mgt Protocol"
Conform client update API with [OAuth2 Dynamic Registration Management Protocol](https://tools.ietf.org/html/rfc7591), which introduces a registration access token and registration uri.

[2016-08-30 19:58] nynymike opened #313 "Support Proof of Possession Tokens"
When the spec is final

[2016-08-30 20:24] #297 closed

[2016-08-30 20:25] yuriyz commented on #297
@benShoe12 @nynymike closed issue. it's not bug, please provide post_logout_uri according to spec  .

[2016-08-30 20:27] yuriyz commented on #297
in future it would be nice if you provide full request and oxauth.log, so it will save time on investigation what was on not provided request.

[2016-08-30 20:29] yuriyz commented on #297
- http://openid.net/specs/openid-connect-session-1_0.html
- http://openid.net/specs/openid-connect-frontchannel-1_0.html

[2016-08-30 21:12] #289 closed

[2016-08-30 21:13] yurem commented on #287
Fixed

[2016-08-30 21:13] #287 closed

[2016-08-30 21:25] willow9886 commented on #299
@yuriyz maybe you can provide some guidance on this?

[2016-08-30 21:29] yuriyz commented on #299
@willow9886 not sure. @sahiliamsso  where do we have mod_auth_opeind's page ?

Would you please provide screenshot as well as steps to reproduce it on any of our test servers ?

[2016-08-30 21:30] willow9886 commented on #299
@yuriyz I think there's more information here: https://support.gluu.org/integrations/dynamic-registration-of-openidconnect-failing-3120/#at14162

This is a ticket from one of our partners...

But perhaps @sahiliamsso can also provide additional details.

[2016-08-31 12:53] sahiliamsso commented on #299
[openid_dynamic.docx](https://github.com/GluuFederation/oxAuth/files/447226/openid_dynamic.docx)
Please find attached steps to reproduce with screenshots. Let me know if you need additional info

[2016-08-31 15:30] yuriyz commented on #299
reassigning to @qbert2k since login_hint was introduced by him.

[2016-09-01 07:15] yuriyz commented on #285
fixed in master and version_2.4.4_sp1 branches

[2016-09-01 07:15] #285 closed

[2016-09-01 07:26] yuriyz commented on #256
removed in master branch

[2016-09-01 07:26] #256 closed

[2016-09-01 07:28] yuriyz commented on #124
this one is already done, endpoint is now presented by .well-known/gluu-configuration

[2016-09-01 07:28] #124 closed

[2016-09-01 07:35] yuriyz commented on #305
@nynymike for Authorization Code Flow RP sends redirect, it means that RP doesn't have any control on it. If we just show 400 then RP will not be able to handle it. The only way for RP to handle error is when OP sends back redirect with error. We have similar problem with 2 clients that hits OP with different acr and RP needs to decide whether to append prompt=login or not.

[2016-09-01 08:01] yuriyz commented on #290
added both : clear logs that prompt=login needs to be added in order to alter existing session and also redirect back to RP with clear error message and hint.

[2016-09-01 08:01] #290 closed

[2016-09-01 11:54] yurem opened #314 "Allow front channel logout request to remote system from authentication script"
On logout request oxAuth should allow custom script to prepare fronchannel logout reguest and send it as HTTP.

Here is workflow:
RP-> oxAuth: https://oxauth_server/oxauth/logout?id_token_hint=xyz&post_logout_redirect_uri=xyz
oxAuth->customScript: Restore custom script which user used to log in. Store logout request parameters in session
customScript->remoteSystem: Send redirect https://remote_sys

[2016-09-01 12:01] yurem commented on #314
Implemented

[2016-09-01 12:01] #314 closed

[2016-09-01 12:06] yurem opened #315 "Saml person authentication script should send SAML logout Request"
New person authentication API alows to do that.

Script should implemenet:
[code]

[2016-09-01 16:52] nynymike commented on #305
ok... we can revisit this later if it's a problem.

[2016-09-01 16:52] #305 closed

[2016-09-01 17:42] yurem commented on #315
Fixed

[2016-09-01 17:42] #315 closed

[2016-09-01 19:31] zamilskhan opened #316 "`&nonce=nonce` mandatory in OpenID Connect authorization code flow"
The `nonce` parameter is given to be `optional` in the Authorization Code Flow. It is mandatory now according to [this ticket](https://support.gluu.org/installation/getting-missing-required-parameter-when-trying-to-use-oxauth-rp-as-outlined-in-the-documentation-3125/). The [relative openID specification](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) is linked here.

[2016-09-01 20:48] aliaksander-samuseu commented on #316
@yuriyz , OIDC spec reads explicitly that in code flow the "nonce" parameter is optional, and in implicit flow it's required. But it's not perfectly clear how it is for hybrid flows. As Zamil noted, core spec's section on hybrid flow references [this section](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) (it's related to code flow) telling everything there applies, except for "

[2016-09-01 23:01] yuriyz commented on #316
@aliaksander-samuseu @zamilskhan there different hybrid flows. But general rule should be

[code]

If your hybrid flow contains id_token value in response_type then nonce is required otherwise it is optional.

[2016-09-01 23:01] #316 closed

[2016-09-01 23:07] zamilskhan commented on #316
@yuriyz thank you

[2016-09-02 00:23] nynymike opened #317 "Improve entropy of Session Cookie value"
Session State values should be based on a salted cryptographic hash of Client ID, origin URL, and OP browser state.

Furthermore, we should create a configuration option to enable hashing the value in LDAP, so an Admin or any person that has access to LDAP will not be able to replicate session_state.

[2016-09-06 00:36] qbert2k commented on #304
After review the code and specs I found It is not a good idea to store both id_tokens of an Hybrid flow in the same multivalued ldap entry. Although iss and sub are the same values in both id_tokens and all Claims about should be present in both id_tokens, the OP may choose to return fewer Claims about the End-User from the Authorization Endpoint and more claims from the Token Endpoint. Also it is

[2016-09-06 00:36] #304 closed

[2016-09-07 10:35] yurem opened #320 "Add Jetty support"
We need to update oxAuth to allow run it under jetty >= 9.3

[2016-09-07 10:37] yurem commented on #320
Fixed. It works fine under Jetty 9.3 now.
We only need to specify:
-Dgluu.conf.folder=path_to_ox_conf_folder
to inform oxAuth where it should find ox-ldap.properties.

[2016-09-07 10:38] yurem commented on #320
We also need to verify/update our customizations for: pages, resources, libs

[2016-09-07 10:39] yurem commented on #320
[code]

[2016-09-08 19:27] yuriyz opened #321 "Add HD to authorization request"
the hd param can be added to a Google OpenID Connect authorization request to provide a hint that this user is a member of a partiuclar hosted domain. Perhaps addtitional ad hoc request params can be specified somewhere in the config.

https://github.com/GluuFederation/oxd/issues/42

[2016-09-08 19:39] nynymike commented on #321
We don't want to support this feature in oxauth.

[2016-09-08 19:39] #321 closed

[2016-09-08 19:46] yurem opened #322 "Configure minimum username length"
We need to add "Minimum user name lenght" option to Configuration -> Manage Authentication -> Manage LDAP Authentication

[2016-09-08 20:43] nynymike commented on #322
Actually I don't think this is needed, as long as it's an equality search, even a short username shouldn't be a problem.

[2016-09-08 20:43] #322 closed

[2016-09-08 21:37] nynymike opened #323 "Create configuration option to allow end_session with access token"
Some RP's incorrectly implements end_session--they send the access token, not the id_token. We need a configuration property called "end_session_with_access_token" : true|false that enables us to support this wrong client behavior.

[2016-09-08 23:35] #298 closed

[2016-09-09 09:23] dollar007 opened #324 "Send verification link to mail for verification user."
![pr](https://cloud.githubusercontent.com/assets/10003469/18382080/86959fd2-7690-11e6-8ecf-b836509bc5e2.png)

[2016-09-09 12:27] nynymike commented on #324
This is not an oxAuth function... Its a feature of registration. Data integrity is the responsibility of the organization.

[2016-09-09 12:27] #324 closed

[2016-09-13 01:50] #294 closed

[2016-09-13 03:49] qbert2k commented on #121
The right link to support ticket:
https://support.gluu.org/other/possibility-to-circumvent-authorization-check-2255/

[2016-09-13 15:15] yurem opened #326 "Fix wrong session update on user authentication"
In some case application can set wrong information into user session.

[2016-09-13 15:16] #326 closed

[2016-09-13 15:17] yurem opened #327 "On authentication don't allow to search user when user_name is empty"
If user not enters any user name and hit enter application form LDAP request which led to high CPU load.

[2016-09-13 15:17] #327 closed

[2016-09-13 17:10] yurem commented on #256
We also need to remove federation settings from JSON schema file:
https://github.com/GluuFederation/oxTrust/blob/master/static/src/main/resources/META-INF/resources/schema/oxauth-config.xml.json

[2016-09-13 17:10] yurem commented on #323
Implemented

[2016-09-13 17:10] #323 closed

[2016-09-13 18:12] nynymike opened #328 "Only Display OpenID Connect Scopes in Discovery JSON"
I don't want to see uma_authorization or uma_protection scopes here...

[code]

[2016-09-13 18:29] qbert2k commented on #328
Related to https://github.com/GluuFederation/oxTrust/issues/35

[2016-09-13 20:28] yuriyz commented on #256
@yurem indeed, cleaned up oxTrust https://github.com/GluuFederation/oxTrust/commit/5b734244e1c5d88c209110ef9b885b8dc9e3a0b6

[2016-09-14 09:39] yurem commented on #121
We need to verify if issue described in customer report still exist. We changed this part some time ago, probably there is no this issue now.

[2016-09-14 15:37] qbert2k commented on #121
The bug can be reproduced in current version 2.4.5

[2016-09-15 15:31] nynymike opened #329 "acr name "internal" does not match Name"
As you can see in this screenshot, the name of the default password authn is "auth_ldap_sever"

![image](https://cloud.githubusercontent.com/assets/3717101/18555881/10bb3af8-7b2f-11e6-9075-b2300d2b63dd.png)

But the acr in the discovery metadata is showing "internal"

[code]

![image](https://cloud.githubusercontent.com/assets/3717101/18555953/558cfb3a-7b2f-11e6-843e-d8ecfe1ab2c1.png)

[2016-09-15 16:35] yuriyz opened #330 "acr check is messed in authorize endpoint"
in session attributes it is saved as 'acr' but authorize ws fetching it as 'acr_values'

[2016-09-15 21:17] qbert2k opened #331 "Add x5c parameter to provide X.509 representations of keys (JWKS Endpoint)"
See support ticket: https://support.gluu.org/other/x509-certificate-for-rs256-signature-verification-3242/#at14865

[2016-09-16 08:21] yurem commented on #291
I think it's good idea to force authentication on stronger acr_values in authorization request.

There is only one question about level. We need to decide if stronger has lower on higher level.
In OS architecture (core) lower level have higher priority. I mean:
0 -- is stronger;
100 -- weaker.

Which method we will use for acr?

[2016-09-16 08:31] yuriyz commented on #330
@nynymike fixed in both sp1 and master
@yurem we need rebuild for sp1